Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: /agent/check-catalog-info.sh, :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

/agent/check-catalog-info.sh:
  command: /agent/check-catalog-info.sh
  agents:
    image: docker.elastic.co/ci-agent-images/pipelib:0.13.0@sha256:190464950de81cb3390bd5e07bb1cc171dd4a765c1ce5de58ebca476f9a6839f

:pipeline: Upload beats-auditbeat:
  label: ':pipeline: Upload beats-auditbeat'
  command: buildkite-agent pipeline upload .buildkite/auditbeat/auditbeat-pipeline.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: Upload beats-heartbeat:
  label: ':pipeline: Upload beats-heartbeat'
  command: buildkite-agent pipeline upload .buildkite/heartbeat/heartbeat-pipeline.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: Upload beats-filebeat:
  label: ':pipeline: Upload beats-filebeat'
  command: buildkite-agent pipeline upload .buildkite/filebeat/filebeat-pipeline.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: Upload beats-xpack-filebeat:
  label: ':pipeline: Upload beats-xpack-filebeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.filebeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: beats-xpack-dockerlogbeat:
  label: ':pipeline: beats-xpack-dockerlogbeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: Upload beats-metricbeat:
  label: ':pipeline: Upload beats-metricbeat'
  command: buildkite-agent pipeline upload .buildkite/metricbeat/pipeline.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: Upload beats-xpack-metricbeat:
  label: ':pipeline: Upload beats-xpack-metricbeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.metricbeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: Upload beats-xpack-osquerybeat:
  label: ':pipeline: Upload beats-xpack-osquerybeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.osquerybeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

more small fixes
  filebeat/input/filestream/prospector.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Restore blank lines
  filebeat/input/filestream/prospector.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Update filebeat/input/filestream/fswatch_integration_test.go
  filebeat/input/filestream/fswatch_integration_test.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

resolve conflicts
  x-pack/filebeat/input/cel/input.go
  x-pack/filebeat/input/cel/input_manager.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

resolve conflicts
  x-pack/filebeat/input/cel/input.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

add applies_to to subfields
  docs/reference/metricbeat/exported-fields-gcp.md
  x-pack/metricbeat/module/gcp/billing/_meta/fields.yml
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

update x-pack/metricbeat/module/gcp/fields.go
  x-pack/metricbeat/module/gcp/fields.go
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Improve logging and fix tests
  filebeat/input/filestream/prospector_creator.go
  filebeat/tests/integration/filestream_test.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

[GCP Billing] Enrich with additional fields (#47059)
  changelog/fragments/1760362260-enhance-gcp-billing-with-additional-fields.yaml
  docs/reference/metricbeat/exported-fields-gcp.md
  x-pack/metricbeat/module/gcp/billing/_meta/fields.yml
  x-pack/metricbeat/module/gcp/billing/billing.go
  x-pack/metricbeat/module/gcp/billing/billing_test.go
  x-pack/metricbeat/module/gcp/fields.go
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Add PR link into changelog
  changelog/fragments/1761365767-include-file-owner-group.yaml
Due: none

feat: Adds file owner and group to the events' meta fields
  changelog/fragments/1761365767-include-file-owner-group.yaml
  libbeat/common/file/file_other.go
  libbeat/reader/readfile/fs_metafields_other.go
  libbeat/reader/readfile/metafields_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

[beatreceiver] only add default processors if running under agent (#47299)
  libbeat/beat/info.go
  libbeat/publisher/processing/default.go
  x-pack/filebeat/fbreceiver/factory.go
  x-pack/filebeat/fbreceiver/receiver_test.go
  x-pack/filebeat/tests/integration/otel_test.go
  x-pack/libbeat/cmd/instance/beat.go
  x-pack/libbeat/cmd/instance/beat_test.go
  x-pack/libbeat/outputs/otelconsumer/otelconsumer.go
  x-pack/libbeat/outputs/otelconsumer/otelconsumer_test.go
  x-pack/metricbeat/mbreceiver/factory.go
  x-pack/metricbeat/mbreceiver/receiver_test.go
  x-pack/metricbeat/tests/integration/otel_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

update fields
  x-pack/metricbeat/module/gcp/fields.go
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Fix typo in event.module example
  docs/reference/metricbeat/metricbeat-event-structure.md
Due: none

add driver_package table
  go.sum
  x-pack/osquerybeat/ext/osquery-extension/main_windows.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/registry/registry.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/registry/registry_test.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/state/state.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/state/state_test.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/tables/application.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/tables/application_file.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/tables/application_shortcut.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/tables/device_pnp.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/tables/driver_binary.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/tables/driver_package.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/tables/tables.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/tables/tables_test.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/testdata/registry.py
Due: :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-agentbeat

[elastic-agent-libs] Log the 'log.logger' key (#365)
  logp/logptest/logger.go
  logp/logptest/logger_test.go
Due: none

fix tests
  x-pack/osquerybeat/ext/osquery-extension/pkg/filters/filters.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/filters/filters_test.go
Due: :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-agentbeat

Refactor browser history extension to improve parser functions and enhance profile handling in safari
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/browserhistory.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/browserhistory_test.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/browsers.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/chromium.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/filters.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/firefox.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/parser.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/safari.go
Due: :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-agentbeat

linting and pr feedback
  x-pack/osquerybeat/ext/osquery-extension/pkg/filters/cast.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/filters/cast_test.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/filters/filters.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/filters/filters_test.go
Due: :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-agentbeat

Refactor browser history extension to improve parser functions and enhance profile handling in safari (#47415)
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/browserhistory.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/browserhistory_test.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/browsers.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/chromium.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/filters.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/firefox.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/parser.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/safari.go
Due: :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-agentbeat

[Osquerybeat] Add filtering functionality for osquery extension (#47396)
  changelog/fragments/1761768958-osquery-extension-filters.yaml
  x-pack/osquerybeat/ext/osquery-extension/pkg/filters/cast.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/filters/cast_test.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/filters/filters.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/filters/filters_test.go
Due: :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-agentbeat

filters from main
  x-pack/osquerybeat/ext/osquery-extension/pkg/filters/cast.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/filters/cast_test.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/filters/filters.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/filters/filters_test.go
Due: :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-agentbeat

Run Log input Python tests with Filestream
  .buildkite/filebeat/filebeat-pipeline.yml
Due: :pipeline: Upload beats-filebeat

Improve error handling
  filebeat/input/filestream/internal/input-logfile/harvester.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Add more integration tests
  filebeat/tests/integration/log_run_as_filestream_test.go
  filebeat/tests/integration/testdata/run_as_filestream/fingerprint.yml
  filebeat/tests/integration/testdata/run_as_filestream/run_as_filestream.yml
  filebeat/tests/integration/testdata/run_as_filestream/run_as_log.yml
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

[libbeat] Input reload: do not log error if error is nil
  libbeat/cfgfile/reload.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

update doc
  changelog/fragments/1761678237-feat-add-oauth2-for-azure-eventhub.yaml
  docs/reference/filebeat/filebeat-input-azure-eventhub.md
Due: none

refactor mage target name
  .buildkite/filebeat/filebeat-pipeline.yml
  filebeat/magefile.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

PR improvements
  filebeat/input/logv2/input.go
  filebeat/tests/system/test_harvester.py
  filebeat/tests/system/test_modules.py
  libbeat/cfgfile/reload.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

remove import
  filebeat/tests/system/test_harvester.py
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

fix(filebeat/httpjson): prevent retries on HTTP 429
  changelog/fragments/1761951578-fix-httpjson-429-rate-limit-retry.yaml
  x-pack/filebeat/input/httpjson/input.go
  x-pack/filebeat/input/httpjson/input_test.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

feat: Make opt-in with include_file_owner_name and include_file_owner_group_name
  filebeat/input/filestream/config.go
  filebeat/input/filestream/input.go
  libbeat/reader/readfile/fs_metafields_other.go
  libbeat/reader/readfile/fs_metafields_windows.go
  libbeat/reader/readfile/metafields.go
  libbeat/reader/readfile/metafields_other_test.go
  libbeat/reader/readfile/metafields_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

doc: Add new fields to filestream prospectors page
  docs/reference/filebeat/filebeat-input-filestream.md
  filebeat/_meta/config/filebeat.inputs.reference.yml.tmpl
  filebeat/filebeat.reference.yml
  filebeat/input/filestream/config.go
  libbeat/reader/readfile/fs_metafields_other.go
  x-pack/filebeat/filebeat.reference.yml
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Path conditions:
  /agent/check-catalog-info.sh: any of: catalog-info.yaml
  :pipeline: Upload beats-auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-filebeat: any of: filebeat/, .buildkite/pipeline.yml, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-filebeat: any of: filebeat/, x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/pipeline.yml, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-metricbeat: any of: metricbeat/, x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-winlogbeat: any of: winlogbeat/, x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  :pipeline: Upload deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/pipeline.yml, .buildkite/scripts, deploy/kubernetes/**, metricbeat/module/kubernetes/**, libbeat/docs/version.asciidoc
  :pipeline: Upload beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  :pipeline: Upload beats-xpack-libbeat: any of: libbeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-auditbeat: any of: auditbeat/, x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-xpack-heartbeat: any of: heartbeat/, x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: packetbeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-agentbeat: any of: auditbeat/, filebeat/, heartbeat/, metricbeat/, osquerybeat/, packetbeat/, x-pack/agentbeat/, x-pack/auditbeat/, x-pack/filebeat/, x-pack/heartbeat/, x-pack/metricbeat/, x-pack/osquerybeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.agentbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
