Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: /agent/check-catalog-info.sh, :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Path conditions:
  /agent/check-catalog-info.sh: any of: catalog-info.yaml
  :pipeline: Upload beats-auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-filebeat: any of: filebeat/, .buildkite/pipeline.yml, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-filebeat: any of: filebeat/, x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/pipeline.yml, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-metricbeat: any of: metricbeat/, x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-winlogbeat: any of: winlogbeat/, x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  :pipeline: Upload deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/pipeline.yml, .buildkite/scripts, deploy/kubernetes/**, metricbeat/module/kubernetes/**, libbeat/docs/version.asciidoc
  :pipeline: Upload beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  :pipeline: Upload beats-xpack-libbeat: any of: libbeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-auditbeat: any of: auditbeat/, x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-xpack-heartbeat: any of: heartbeat/, x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: packetbeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-agentbeat: any of: auditbeat/, filebeat/, heartbeat/, metricbeat/, osquerybeat/, packetbeat/, x-pack/agentbeat/, x-pack/auditbeat/, x-pack/filebeat/, x-pack/heartbeat/, x-pack/metricbeat/, x-pack/osquerybeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.agentbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/

filebeat/input/tcp: add fleet input status updating
  CHANGELOG.next.asciidoc
  filebeat/input/tcp/input.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

filebeat/input/udp: add fleet input status updating
  CHANGELOG.next.asciidoc
  filebeat/input/udp/input.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

changelog
  CHANGELOG.next.asciidoc
Due: none

address linter issues
  filebeat/input/tcp/input.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

fix linter issues
  filebeat/input/udp/input.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Capitalise Beat name on paths and docs and fix typos
  dev-tools/packaging/templates/windows/install-service.ps1.tmpl
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

[elastic-agent-libs] Add nop logger (#324)
  logp/logger.go
Due: none

[metricbeat] [mongodb] mssql: return error when supplied with cert and key (only CA supported)
  x-pack/metricbeat/module/sql/query/dsn.go
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Update docs/reference/filebeat/filebeat-input-filestream.md
  docs/reference/filebeat/filebeat-input-filestream.md
Due: none

add channel to wait for cleanup
  x-pack/heartbeat/monitors/browser/synthexec/synthexec.go
Due: :pipeline: Upload beats-xpack-heartbeat, :pipeline: Upload beats-xpack-agentbeat

add timeout on close
  heartbeat/beater/heartbeat.go
Due: :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-xpack-heartbeat, :pipeline: Upload beats-xpack-agentbeat

Review suggestions
  docs/reference/filebeat/filebeat-input-filestream.md
Due: none

Improve bold section
  docs/reference/filebeat/filebeat-input-filestream.md
Due: none

remove the sleep of shame
  heartbeat/beater/heartbeat.go
Due: :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-xpack-heartbeat, :pipeline: Upload beats-xpack-agentbeat

todo
  x-pack/libbeat/common/otelbeat/status/runner.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat

[Chore] Replace global logger with local loggers in mb modules #5 (#44107)
  x-pack/metricbeat/module/awsfargate/task_stats/task_stats.go
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

add back the sleep of shame
  heartbeat/beater/heartbeat.go
Due: :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-xpack-heartbeat, :pipeline: Upload beats-xpack-agentbeat

Update libbeat/tests/integration/framework.go
  libbeat/tests/integration/framework.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

increase timeout
  x-pack/filebeat/tests/integration/otel_test.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

logs around runCmd
  x-pack/heartbeat/monitors/browser/synthexec/synthexec.go
Due: :pipeline: Upload beats-xpack-heartbeat, :pipeline: Upload beats-xpack-agentbeat

[metricbeat/module/prometheus] [metricbeat/module/openmetrics] Keep histogram CumulativeCount and SampleCount as float64 internally to avoid undefined behavior when checking for NaN and Inf
  metricbeat/helper/openmetrics/metric.go
  metricbeat/helper/prometheus/metric.go
  metricbeat/helper/prometheus/textparse.go
  metricbeat/helper/prometheus/textparse_test.go
  metricbeat/module/openmetrics/collector/collector_test.go
  metricbeat/module/openmetrics/collector/data.go
  metricbeat/module/prometheus/collector/collector_test.go
  metricbeat/module/prometheus/collector/data.go
  x-pack/metricbeat/module/prometheus/collector/data.go
  x-pack/metricbeat/module/prometheus/collector/histogram.go
  x-pack/metricbeat/module/prometheus/collector/histogram_test.go
  x-pack/metricbeat/module/prometheus/remote_write/data.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

[metricbeat] add changelog
  CHANGELOG.next.asciidoc
Due: none

[metricbeat/module/openmetrics] Add openmetrics tests that include NaN, +Inf and -Inf values
  metricbeat/module/openmetrics/collector/_meta/testdata/openmetrics-with-naninf.plain
  metricbeat/module/openmetrics/collector/_meta/testdata/openmetrics-with-naninf.plain-expected.json
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

[metricbeat] move changelog to the bugs section
  CHANGELOG.next.asciidoc
Due: none

[metricbeat/module/prometheus] Add testcase for zero histogram bucket value back in since test should pass on arm64 and s390x again.
  metricbeat/module/prometheus/collector/collector_test.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

fix docs preview
  docs/reference/metricbeat/metricbeat-metricset-meraki-device_health.md
  docs/reference/toc.yml
Due: none

add meraki description
  docs/reference/metricbeat/exported-fields-meraki.md
  libbeat/scripts/generate_fields_docs.py
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Adding the now processor to avoid having to resort to scripts to add the current timestamp
  libbeat/processors/now/docs/now.asciidoc
  libbeat/processors/now/now.go
  libbeat/processors/now/now_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

[documentation] update autogeneration scripts to generate markdown (#44638)
  auditbeat/module/file_integrity/_meta/docs.md
  auditbeat/scripts/docs_collector.py
  auditbeat/scripts/mage/docs.go
  dev-tools/mage/common.go
  docs/reference/metricbeat/metricbeat-metricset-stan-channels.md
  docs/reference/metricbeat/metricbeat-metricset-stan-stats.md
  docs/reference/metricbeat/metricbeat-metricset-stan-subscriptions.md
  docs/reference/metricbeat/metricbeat-module-stan.md
  docs/reference/winlogbeat/winlogbeat-module-powershell.md
  filebeat/generator/module/module.go
  filebeat/module/system/_meta/docs.asciidoc
  filebeat/module/system/_meta/docs.md
  filebeat/scripts/docs_collector.py
  filebeat/scripts/module/_meta/docs.md
  filebeat/tests/system/input/template-test-module/_meta/docs.asciidoc
  filebeat/tests/system/input/template-test-module/_meta/docs.md
  filebeat/tests/system/test_generate.py
  libbeat/scripts/generate_fields_docs.py
  metricbeat/docs/modules/azure.asciidoc
  metricbeat/scripts/create_metricset.py
  metricbeat/scripts/mage/docs_collector.go
  metricbeat/scripts/mage/template/metricsetDoc.tmpl
  metricbeat/scripts/mage/template/moduleDoc.tmpl
  metricbeat/scripts/mage/template/moduleList.tmpl
  winlogbeat/scripts/mage/docs.go
  winlogbeat/scripts/mage/templates/moduleList.tmpl
  x-pack/metricbeat/module/stan/_meta/docs.asciidoc
  x-pack/metricbeat/module/stan/_meta/docs.md
  x-pack/metricbeat/module/stan/channels/_meta/docs.md
  x-pack/metricbeat/module/stan/stats/_meta/docs.md
  x-pack/metricbeat/module/stan/subscriptions/_meta/docs.md
  x-pack/osquerybeat/scripts/mage/update.go
  x-pack/winlogbeat/module/powershell/_meta/docs.md
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

emit the skipped event earlier
  x-pack/heartbeat/monitors/browser/synthexec/synthexec.go
Due: :pipeline: Upload beats-xpack-heartbeat, :pipeline: Upload beats-xpack-agentbeat

silence linter
  filebeat/input/udp/input.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

remove the sleep of shame (v2)
  heartbeat/beater/heartbeat.go
Due: :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-xpack-heartbeat, :pipeline: Upload beats-xpack-agentbeat

fix golangci-lint
  libbeat/common/backoff/retry_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Update to quark-0.4, get container_id, hackish
  go.mod
  go.sum
  x-pack/auditbeat/module/system/process/quark_provider_linux.go
  x-pack/auditbeat/module/system/process/quark_provider_linux_test.go
  x-pack/auditbeat/processors/sessionmd/provider/kerneltracingprovider/kerneltracingprovider_linux.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat
