Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Path conditions:
  Trigger Auditbeat: any of: auditbeat/**, .buildkite/auditbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Heartbeat: any of: heartbeat/**, .buildkite/heartbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Filebeat: any of: filebeat/**, .buildkite/filebeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/filebeat: any of: filebeat/**, x-pack/filebeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/dockerlogbeat: any of: x-pack/dockerlogbeat/**, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Metricbeat: any of: metricbeat/**, .buildkite/metricbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/metricbeat: any of: metricbeat/**, x-pack/metricbeat/**, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/winlogbeat: any of: winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Deploy/K8S: any of: deploy/kubernetes/**, metricbeat/module/kubernetes/**, .go-version, libbeat/docs/version.asciidoc, .buildkite/deploy/kubernetes/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Libbeat: any of: libbeat/**, .buildkite/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/libbeat: any of: x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .go-version, libbeat/**, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/otel: any of: x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .go-version, go.mod, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/auditbeat: any of: auditbeat/**, x-pack/auditbeat/**, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/heartbeat: any of: heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/packetbeat: any of: packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Winlogbeat: any of: winlogbeat/**, .buildkite/winlogbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Packetbeat: any of: packetbeat/**, .buildkite/packetbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**

auditbeat: pin go-quark to v0.8.0
  NOTICE.txt
  go.mod
  go.sum
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

packetbeat/beater: report degraded status for unknown protocol types
  packetbeat/beater/processor.go
  packetbeat/beater/processor_test.go
Due: Trigger x-pack/packetbeat, Trigger Packetbeat

packetbeat/config: route flow entries in the protocols list to flows
  packetbeat/config/config.go
  packetbeat/config/config_test.go
Due: Trigger x-pack/packetbeat, Trigger Packetbeat

changelog: add fragment for packetbeat flow collection fix
  changelog/fragments/1788187531-fix-otel-packetbeat-flows.yaml
Due: none

changelog: link packetbeat flow collection fragment to its PR
  changelog/fragments/1788187531-fix-otel-packetbeat-flows.yaml
Due: none

Apply batched suggestions from code review
  docs/release-notes/_snippets/9.4.6/index.md
Due: none

AGENTS.md: fix and shorten the changelog instructions (#52896)
  AGENTS.md
Due: none

go mod tidy
  NOTICE.txt
  go.mod
  go.sum
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix NOTICE file
  NOTICE.txt
Due: none

refactor to use downstream pipeline
  .buildkite/packaging.pipeline.yml
  .buildkite/scripts/dra-annotate.sh
  .buildkite/scripts/dra-generate.sh
  .buildkite/scripts/stage-dra-artifacts.sh
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Add dra-prep.pipeline.yml and resolve STACK_VERSION/DRA_UPLOAD in pre-command
  .buildkite/dra-prep.pipeline.yml
  .buildkite/hooks/pre-command
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

bump for agentbeat
  x-pack/agentbeat/docker-compose.yml
Due: none

Fix lint.
  filebeat/input/v2/input-cursor/manager_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

fix conflicts
  NOTICE.txt
  go.mod
  go.sum
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Register beats-dra-prep-pipeline in catalog-info.yaml
  catalog-info.yaml
Due: none

update comment
  catalog-info.yaml
Due: none

change description and team
  catalog-info.yaml
Due: none

Rename dra-prep.pipeline.yml to dra-prep-pipeline.yml
  .buildkite/dra-prep-pipeline.yml
  .buildkite/hooks/pre-command
  .buildkite/scripts/dra-annotate.sh
  .buildkite/scripts/stage-dra-artifacts.sh
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Update pipeline_file to dra-prep-pipeline.yml
  catalog-info.yaml
Due: none

[libbeat][pipeline][consumer] shutdown queueReader gracefully
  libbeat/publisher/pipeline/consumer.go
  libbeat/publisher/pipeline/consumer_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

[updatecli] update elastic stack version for testing 9.4.6-1b3044ba (#52864)
  testing/environments/snapshot.yml
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

x-pack/filebeat/input/entityanalytics: log cancelled syncs as interruptions, not errors
  changelog/fragments/1788204683-entityanalytics-canceled-sync-logging.yaml
  x-pack/filebeat/input/entityanalytics/minimal.go
  x-pack/filebeat/input/entityanalytics/provider/activedirectory/activedirectory.go
  x-pack/filebeat/input/entityanalytics/provider/azuread/azure.go
  x-pack/filebeat/input/entityanalytics/provider/interrupted.go
  x-pack/filebeat/input/entityanalytics/provider/interrupted_test.go
  x-pack/filebeat/input/entityanalytics/provider/jamf/jamf.go
  x-pack/filebeat/input/entityanalytics/provider/okta/okta.go
Due: Trigger x-pack/filebeat

feat(packetbeat): recognize additional MongoDB opcodes
  packetbeat/protos/mongodb/mongodb_parser.go
  packetbeat/protos/mongodb/mongodb_structs.go
Due: Trigger x-pack/packetbeat, Trigger Packetbeat

add changelog
  changelog/fragments/1788205995-52947-shutdown-queuereader-gracefully.yaml
Due: none

Add test to ensure autodiscover builders are recreated
  x-pack/filebeat/fbreceiver/receiver_test.go
Due: Trigger x-pack/filebeat

fix lint
  libbeat/publisher/pipeline/consumer.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Apply batched suggestions from code review
  changelog/8.19.21.asciidoc
Due: none

Improve error message
  filebeat/autodiscover/builder/hints/logs.go
  filebeat/tests/integration/autodiscover_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

x-pack/osquerybeat: stamp space_id on live query result and profile documents (#52915)
  changelog/fragments/1788155659-osquerybeat-live-query-space-id.yaml
  x-pack/osquerybeat/beater/action_handler.go
  x-pack/osquerybeat/beater/action_handler_test.go
  x-pack/osquerybeat/beater/osquerybeat.go
  x-pack/osquerybeat/beater/osquerybeat_publisher_test.go
  x-pack/osquerybeat/beater/recurrence_query_handler.go
  x-pack/osquerybeat/internal/action/action.go
  x-pack/osquerybeat/internal/action/action_test.go
  x-pack/osquerybeat/internal/pub/publisher.go
  x-pack/osquerybeat/internal/pub/publisher_test.go
Due: Trigger x-pack/osquerybeat

resolve conflicts
  x-pack/osquerybeat/beater/action_handler.go
  x-pack/osquerybeat/beater/action_handler_test.go
  x-pack/osquerybeat/beater/osquerybeat_publisher_test.go
  x-pack/osquerybeat/internal/pub/publisher.go
  x-pack/osquerybeat/internal/pub/publisher_test.go
Due: Trigger x-pack/osquerybeat

resolve conflicts
  x-pack/osquerybeat/beater/action_handler.go
  x-pack/osquerybeat/beater/action_handler_test.go
  x-pack/osquerybeat/beater/osquerybeat_publisher_test.go
  x-pack/osquerybeat/beater/recurrence_query_handler.go
  x-pack/osquerybeat/internal/pub/publisher.go
  x-pack/osquerybeat/internal/pub/publisher_test.go
Due: Trigger x-pack/osquerybeat

packetbeat/protos/sip: remove debugging change (#52755)
  packetbeat/protos/sip/plugin_test.go
Due: Trigger x-pack/packetbeat, Trigger Packetbeat

packetbeat/protos/{cassandra/internal/gocql,tls}: fix bounds panics in parsers (#52870)
  changelog/fragments/1787808118-fix-packetbeat-tls-cassandra-parser-panics.yaml
  packetbeat/protos/cassandra/internal/gocql/array_decoder.go
  packetbeat/protos/cassandra/internal/gocql/array_decoder_test.go
  packetbeat/protos/tls/tls.go
  packetbeat/protos/tls/tls_test.go
Due: Trigger x-pack/packetbeat, Trigger Packetbeat

Check closed on acquireLease
  filebeat/input/v2/input-cursor/manager.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Route OTel registry bridge logs to component streams
  x-pack/libbeat/cmd/instance/receiver.go
Due: Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat

packetbeat: make HTTP hide_keywords matching case-insensitive (#52650)
  changelog/fragments/1786714344-packetbeat-http-hide-keywords-case-insensitive.yaml
  docs/reference/packetbeat/packetbeat-http-options.md
  packetbeat/protos/http/http.go
  packetbeat/protos/http/http_test.go
Due: Trigger x-pack/packetbeat, Trigger Packetbeat
