Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

auditbeat:
  trigger: auditbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

heartbeat:
  trigger: heartbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

filebeat:
  trigger: filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: Upload beats-xpack-filebeat:
  label: ':pipeline: Upload beats-xpack-filebeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.filebeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: beats-xpack-dockerlogbeat:
  label: ':pipeline: beats-xpack-dockerlogbeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: beats-metricbeat:
  label: ':pipeline: beats-metricbeat'
  command: buildkite-agent pipeline upload .buildkite/metricbeat/pipeline.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: beats-xpack-metricbeat:
  label: ':pipeline: beats-xpack-metricbeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.metricbeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: beats-xpack-osquerybeat:
  label: ':pipeline: beats-xpack-osquerybeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.winlogbeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: beats-xpack-winlogbeat:
  label: ':pipeline: beats-xpack-winlogbeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.winlogbeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

feat: bump go to 1.23.8
  .go-version
  CHANGELOG.asciidoc
  auditbeat/Dockerfile
  dev-tools/kubernetes/filebeat/Dockerfile.debug
  dev-tools/kubernetes/heartbeat/Dockerfile.debug
  dev-tools/kubernetes/metricbeat/Dockerfile.debug
  go.mod
  heartbeat/Dockerfile
  libbeat/docs/version.asciidoc
  metricbeat/Dockerfile
  metricbeat/module/http/_meta/Dockerfile
  metricbeat/module/nats/_meta/Dockerfile
  metricbeat/module/vsphere/_meta/Dockerfile
  packetbeat/Dockerfile
  x-pack/metricbeat/module/stan/_meta/Dockerfile
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

update docs
  x-pack/metricbeat/module/gcp/_meta/config.yml
  x-pack/metricbeat/modules.d/gcp.yml.disabled
Due: :pipeline: beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

make update
  x-pack/metricbeat/metricbeat.reference.yml
Due: :pipeline: beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Fix paths for macOS GH Workflows (#43774)
  .github/workflows/auditbeat-macos-unit-tests.yml
  .github/workflows/filebeat-macos-unit-tests.yml
  .github/workflows/heartbeat-macos-unit-tests.yml
  .github/workflows/metricbeat-macos-unit-tests.yml
  .github/workflows/packetbeat-macos-unit-tests.yml
  .github/workflows/xpack-auditbeat-macos-unit-tests.yml
  .github/workflows/xpack-filebeat-macos-unit-tests.yml
  .github/workflows/xpack-heartbeat-macos-unit-tests.yml
  .github/workflows/xpack-metricbeat-macos-unit-tests.yml
  .github/workflows/xpack-osquerybeat-macos-unit-tests.yml
  .github/workflows/xpack-packetbeat-macos-unit-tests.yml
Due: none

Update the `log` to `filestream` migration guide (#43641)
  docs/reference/filebeat/_debugging_on_kibana.md
  docs/reference/filebeat/_step_1_set_an_identifier_for_each_filestream_input.md
  docs/reference/filebeat/_step_2_enable_the_take_over_mode.md
  docs/reference/filebeat/_step_3_use_new_option_names.md
  docs/reference/filebeat/_step_4.md
  docs/reference/filebeat/configuration-autodiscover-advanced.md
  docs/reference/filebeat/configuration-autodiscover-hints.md
  docs/reference/filebeat/configuration-autodiscover.md
  docs/reference/filebeat/filebeat-input-container.md
  docs/reference/filebeat/filebeat-input-log.md
  docs/reference/filebeat/howto-guides.md
  docs/reference/filebeat/migrate-to-filestream.md
  docs/reference/toc.yml
Due: none

Update the `log` to `filestream` migration guide (#43641)
  docs/reference/filebeat/configuration-autodiscover-advanced.md
  docs/reference/filebeat/configuration-autodiscover-hints.md
  docs/reference/filebeat/configuration-autodiscover.md
  docs/reference/filebeat/filebeat-input-container.md
  docs/reference/filebeat/filebeat-input-log.md
  docs/reference/filebeat/howto-guides.md
  docs/reference/filebeat/migrate-to-filestream.md
  docs/reference/toc.yml
Due: none

Resolve conflict
  docs/reference/filebeat/howto-guides.md
Due: none

Resolve conflict
  docs/reference/toc.yml
Due: none

skip failing test for now
  filebeat/tests/system/test_modules.py
Due: filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

update stack
  testing/environments/snapshot.yml
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

improve docs on how to run integration tests
  docs/extend/testing.md
Due: none

clarify changelog
  CHANGELOG.next.asciidoc
Due: none

address reviews
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/gcp/_meta/config.yml
  x-pack/metricbeat/modules.d/gcp.yml.disabled
Due: :pipeline: beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Fix links to the former 'Beats Developer Guide'
  docs/reference/auditbeat/command-line-options.md
  docs/reference/auditbeat/contributing-to-beats.md
  docs/reference/filebeat/command-line-options.md
  docs/reference/filebeat/contributing-to-beats.md
  docs/reference/heartbeat/contributing-to-beats.md
  docs/reference/index.md
  docs/reference/libbeat/contributing-to-beats.md
  docs/reference/loggingplugin/log-driver-installation.md
  docs/reference/metricbeat/command-line-options.md
  docs/reference/metricbeat/contributing-to-beats.md
  docs/reference/packetbeat/command-line-options.md
  docs/reference/packetbeat/contributing-to-beats.md
  docs/reference/winlogbeat/command-line-options.md
  docs/reference/winlogbeat/contributing-to-beats.md
Due: none

bk(crosscompile): packaging already runs in the CI (#43406)
  .buildkite/auditbeat/auditbeat-pipeline.yml
  .buildkite/libbeat/pipeline.libbeat.yml
  .buildkite/metricbeat/pipeline.yml
  .buildkite/winlogbeat/pipeline.winlogbeat.yml
Due: auditbeat, :pipeline: beats-metricbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-winlogbeat

merge
  .buildkite/auditbeat/auditbeat-pipeline.yml
Due: auditbeat

Split up root_test for FIPS TLS changes
  libbeat/cmd/root_fips_test.go
  libbeat/cmd/root_nofips_test.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Fix merge conflicts
  .golangci.yml
Due: none

Fix merge conflicts
  .github/workflows/golangci-lint.yml
  .golangci.yml
Due: none

Revert "docs: test automation (#43781)" (#43783)
  docs/extend/community-beats.md
Due: none

Add buildkite step to run unit tests with GODEBUG=fips140=only
  .buildkite/auditbeat/auditbeat-pipeline.yml
  .buildkite/filebeat/filebeat-pipeline.yml
  .buildkite/libbeat/pipeline.libbeat.yml
  .buildkite/metricbeat/pipeline.yml
  .buildkite/x-pack/pipeline.xpack.auditbeat.yml
  .buildkite/x-pack/pipeline.xpack.filebeat.yml
  .buildkite/x-pack/pipeline.xpack.libbeat.yml
  .buildkite/x-pack/pipeline.xpack.metricbeat.yml
  dev-tools/mage/gotest.go
  dev-tools/mage/target/unittest/unittest.go
  testing/testutils/skipFIPS140.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Fix 'Documentation' section in contributer guide
  docs/extend/index.md
Due: none

Fix tests that fail or add skips
  auditbeat/module/file_integrity/exeobjparser_test.go
  libbeat/processors/communityid/communityid_test.go
  metricbeat/autodiscover/builder/hints/metrics_test.go
  x-pack/filebeat/input/cel/input_test.go
  x-pack/filebeat/input/http_endpoint/handler_test.go
  x-pack/filebeat/input/httpjson/value_tpl_test.go
  x-pack/filebeat/input/lumberjack/generate_certs_test.go
  x-pack/filebeat/input/streaming/input_test.go
  x-pack/filebeat/module/cisco/ios/pipeline_test.go
  x-pack/libbeat/common/cloudfoundry/cache_test.go
  x-pack/metricbeat/magefile.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

[WIP] Check EOF before removing and restart harvester if inactive
  filebeat/input/filestream/config.go
  filebeat/input/filestream/fswatch.go
  filebeat/input/filestream/fswatch_test.go
  filebeat/input/filestream/input.go
  filebeat/input/filestream/internal/input-logfile/fswatch.go
  filebeat/input/filestream/internal/input-logfile/harvester.go
  filebeat/input/filestream/prospector.go
  filebeat/input/filestream/prospector_creator.go
  filebeat/tests/integration/filestream_test.go
Due: filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Remove unnecessary conversion
  libbeat/common/schema/mapstriface/mapstriface.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Assert no errors in integration tests
  metricbeat/module/nats/connection/connection_integration_test.go
  metricbeat/module/nats/jetstream/jetstream_integration_test.go
Due: :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Attempt to address linter regarding import order
  metricbeat/module/nats/connection/connection_integration_test.go
  metricbeat/module/nats/jetstream/jetstream_integration_test.go
Due: :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Attempt to address linter error
  libbeat/common/schema/mapstriface/mapstriface.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

lint: fix linter issues
  libbeat/asset/gen/asset.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Fix test skip for communityid
  libbeat/processors/communityid/communityid_test.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Update OTel version
  go.mod
  go.sum
  libbeat/otelbeat/beatconverter/beatconverter_test.go
  libbeat/otelbeat/oteltest/oteltest.go
  libbeat/otelbeat/oteltranslate/outputs/elasticsearch/config_otel.go
  libbeat/otelbeat/oteltranslate/outputs/elasticsearch/config_otel_test.go
  x-pack/filebeat/fbreceiver/receiver_test.go
  x-pack/libbeat/common/otelbeat/otel.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

add notice
  NOTICE.txt
  go.mod
  libbeat/otelbeat/oteltranslate/outputs/elasticsearch/config_otel.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

add require import
  libbeat/autodiscover/builder_test.go
  libbeat/publisher/pipeline/stress/stress_test.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Port documentation from Asciidoc to Markdown
  metricbeat/module/windows/wmi/_meta/docs.asciidoc
  metricbeat/module/windows/wmi/_meta/docs.md
Due: :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Path conditions:
  auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  filebeat: any of: filebeat/, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-filebeat: any of: filebeat/, x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-metricbeat: any of: metricbeat/, x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-winlogbeat: any of: winlogbeat/, x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  :pipeline: Upload deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/scripts, deploy/kubernetes/**, metricbeat/module/kubernetes/**, libbeat/docs/version.asciidoc
  :pipeline: Upload beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  :pipeline: Upload beats-xpack-libbeat: any of: libbeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-auditbeat: any of: auditbeat/, x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-xpack-heartbeat: any of: heartbeat/, x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: packetbeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-agentbeat: any of: auditbeat/, filebeat/, heartbeat/, metricbeat/, osquerybeat/, packetbeat/, x-pack/agentbeat/, x-pack/auditbeat/, x-pack/filebeat/, x-pack/heartbeat/, x-pack/metricbeat/, x-pack/osquerybeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.agentbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
