Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Trigger Auditbeat:
  if: build.pull_request.id != null
  trigger: auditbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
      GITHUB_PR_LABELS: ${GITHUB_PR_LABELS}

Trigger Heartbeat:
  if: build.pull_request.id != null
  trigger: heartbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
      GITHUB_PR_LABELS: ${GITHUB_PR_LABELS}

Trigger Filebeat:
  if: build.pull_request.id != null
  trigger: filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
      GITHUB_PR_LABELS: ${GITHUB_PR_LABELS}

Trigger x-pack/filebeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/dockerlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-dockerlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger Metricbeat:
  if: build.pull_request.id != null
  trigger: beats-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/metricbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/osquerybeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-osquerybeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/winlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-winlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

add atomic int instead of mutex
  x-pack/filebeat/tests/integration/otel_test.go
Due: Trigger x-pack/filebeat

Fix param evaluation at browser runtime and config unnesting
  heartbeat/monitors/factory.go
  x-pack/heartbeat/monitors/browser/sourcejob.go
  x-pack/heartbeat/monitors/browser/synthexec/synthexec.go
Due: Trigger Heartbeat, Trigger x-pack/heartbeat

fbreceiver: stabilize TestConsumeContract startup timing (#49238)
  x-pack/filebeat/fbreceiver/receiver_test.go
Due: Trigger x-pack/filebeat

terraform: ephemeral tag to help with automated teardown (#48336)
  x-pack/metricbeat/module/aws/terraform.tf
Due: Trigger x-pack/metricbeat

add auth_type to config
  changelog/fragments/1771338300-app_insights_oauth2.yaml
  docs/reference/metricbeat/metricbeat-metricset-azure-app_insights.md
  docs/reference/metricbeat/metricbeat-module-azure.md
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/azure/_meta/config.reference.yml
  x-pack/metricbeat/module/azure/_meta/config.yml
  x-pack/metricbeat/module/azure/app_insights/_meta/docs.md
  x-pack/metricbeat/module/azure/app_insights/app_insights.go
  x-pack/metricbeat/module/azure/app_insights/client_test.go
  x-pack/metricbeat/module/azure/app_insights/service.go
  x-pack/metricbeat/module/azure/app_insights/service_test.go
  x-pack/metricbeat/modules.d/azure.yml.disabled
Due: Trigger x-pack/metricbeat

unit tests
  x-pack/heartbeat/monitors/browser/sourcejob_test.go
Due: Trigger x-pack/heartbeat

unit test
  x-pack/heartbeat/monitors/browser/browser.go
  x-pack/heartbeat/monitors/browser/config.go
  x-pack/heartbeat/monitors/browser/config_test.go
Due: Trigger x-pack/heartbeat

add nolint
  x-pack/metricbeat/module/panw/interfaces/ifnet_interfaces.go
Due: Trigger x-pack/metricbeat

remove sensitive data from debug log
  x-pack/metricbeat/module/azure/app_insights/service.go
Due: Trigger x-pack/metricbeat

Apply suggestions
  docs/reference/metricbeat/exported-fields-system.md
  metricbeat/module/system/fields.go
  metricbeat/module/system/memory/_meta/fields.yml
  metricbeat/module/system/process/_meta/fields.yml
Due: Trigger Metricbeat, Trigger x-pack/metricbeat

add nolint
  x-pack/metricbeat/module/panw/system/fans.go
  x-pack/metricbeat/module/panw/system/power.go
  x-pack/metricbeat/module/panw/system/thermal.go
Due: Trigger x-pack/metricbeat

remove redundant log msg
  x-pack/metricbeat/module/azure/app_insights/service.go
Due: Trigger x-pack/metricbeat

add required roles
  docs/reference/metricbeat/metricbeat-metricset-azure-app_insights.md
  x-pack/metricbeat/module/azure/app_insights/_meta/docs.md
Due: Trigger x-pack/metricbeat

Revert "fix: pull vcs information from go binary (#48577)"
  libbeat/version/helper.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

feat: reenable buildvcs
  dev-tools/mage/crossbuild.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

add nolint comments
  x-pack/metricbeat/module/panw/system/fans.go
  x-pack/metricbeat/module/panw/system/power.go
  x-pack/metricbeat/module/panw/system/thermal.go
Due: Trigger x-pack/metricbeat

Add locking and test to check for race.
  x-pack/otel/telemetry/bridge.go
  x-pack/otel/telemetry/bridge_test.go
Due: Trigger x-pack/otel

Fix coderabbit suggestion.
  x-pack/otel/telemetry/bridge.go
Due: Trigger x-pack/otel

NewFactory for beatreceivers takes default home and data dirs
  changelog/fragments/1773087971-change-beat-receiver-factory-to-have-default-home-and-path-directories.yaml
  x-pack/filebeat/fbreceiver/config.go
  x-pack/filebeat/fbreceiver/config_test.go
  x-pack/filebeat/fbreceiver/factory.go
  x-pack/filebeat/fbreceiver/receiver_leak_test.go
  x-pack/filebeat/fbreceiver/receiver_test.go
  x-pack/libbeat/cmd/instance/config.go
  x-pack/metricbeat/mbreceiver/config.go
  x-pack/metricbeat/mbreceiver/config_test.go
  x-pack/metricbeat/mbreceiver/factory.go
  x-pack/metricbeat/mbreceiver/receiver_leak_test.go
  x-pack/metricbeat/mbreceiver/receiver_test.go
  x-pack/otel/oteltestcol/collector.go
Due: Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat

Doc: Kafka timestamp behavior change for filebeat (#49178)
  docs/reference/filebeat/kafka-output.md
Due: none

Add timestamp info to auditbeat
  docs/reference/auditbeat/kafka-output.md
Due: none

Add timestamp info to remaining beats
  docs/reference/heartbeat/kafka-output.md
  docs/reference/metricbeat/kafka-output.md
  docs/reference/packetbeat/kafka-output.md
  docs/reference/winlogbeat/kafka-output.md
Due: none

docs: add azure-eventhub processor v2 migration guide and update deprecation notes
  docs/reference/filebeat/filebeat-input-azure-eventhub.md
  docs/release-notes/_snippets/9.3.0/deprecations.md
Due: none

Add system bridge.
  x-pack/libbeat/cmd/instance/receiver.go
  x-pack/otel/telemetry/system_bridge.go
  x-pack/otel/telemetry/system_bridge_test.go
Due: Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat

Fix coderabbit review.
  x-pack/otel/telemetry/bridge.go
  x-pack/otel/telemetry/bridge_test.go
Due: Trigger x-pack/otel

make kafka config global variable (#49347)
  libbeat/outputs/kafka/config.go
  libbeat/outputs/kafka/config_nofips_test.go
  libbeat/outputs/kafka/config_test.go
  libbeat/outputs/kafka/kafka.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

make check
  x-pack/metricbeat/module/panw/interfaces/interface_types.go
Due: Trigger x-pack/metricbeat

remove found
  x-pack/otel/extension/elasticsearchstorage/store.go
Due: Trigger x-pack/otel

github-actions: golangci-lint.yml fail-fast=false
  .github/workflows/golangci-lint.yml
Due: none

remove logger and ctx nil check
  x-pack/metricbeat/module/azure/app_insights/service.go
  x-pack/metricbeat/module/azure/app_insights/service_test.go
Due: Trigger x-pack/metricbeat

Fix heading structure in configuration-monitor.md
  docs/reference/filebeat/configuration-monitor.md
Due: none

Address Vale comment
  docs/reference/filebeat/configuration-monitor.md
Due: none

address reviews
  x-pack/metricbeat/module/panw/interfaces/tunnels.go
  x-pack/metricbeat/module/panw/interfaces/tunnels_test.go
Due: Trigger x-pack/metricbeat

Path conditions:
  Trigger Auditbeat: any of: auditbeat/**, .buildkite/auditbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Heartbeat: any of: heartbeat/**, .buildkite/heartbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Filebeat: any of: filebeat/**, .buildkite/filebeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/filebeat: any of: filebeat/**, x-pack/filebeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/dockerlogbeat: any of: x-pack/dockerlogbeat/**, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Metricbeat: any of: metricbeat/**, .buildkite/metricbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/metricbeat: any of: metricbeat/**, x-pack/metricbeat/**, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/winlogbeat: any of: winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Deploy/K8S: any of: deploy/kubernetes/**, metricbeat/module/kubernetes/**, .go-version, libbeat/docs/version.asciidoc, .buildkite/deploy/kubernetes/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Libbeat: any of: libbeat/**, .buildkite/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/libbeat: any of: x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .go-version, libbeat/**, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/otel: any of: x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .go-version, go.mod, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/auditbeat: any of: auditbeat/**, x-pack/auditbeat/**, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/heartbeat: any of: heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/packetbeat: any of: packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Winlogbeat: any of: winlogbeat/**, .buildkite/winlogbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Packetbeat: any of: packetbeat/**, .buildkite/packetbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
