Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: /agent/check-catalog-info.sh, :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

/agent/check-catalog-info.sh:
  command: /agent/check-catalog-info.sh
  agents:
    image: docker.elastic.co/ci-agent-images/pipelib:0.13.0@sha256:190464950de81cb3390bd5e07bb1cc171dd4a765c1ce5de58ebca476f9a6839f

:pipeline: Upload beats-auditbeat:
  label: ':pipeline: Upload beats-auditbeat'
  command: buildkite-agent pipeline upload .buildkite/auditbeat/auditbeat-pipeline.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: Upload beats-heartbeat:
  label: ':pipeline: Upload beats-heartbeat'
  command: buildkite-agent pipeline upload .buildkite/heartbeat/heartbeat-pipeline.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: Upload beats-filebeat:
  label: ':pipeline: Upload beats-filebeat'
  command: buildkite-agent pipeline upload .buildkite/filebeat/filebeat-pipeline.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: Upload beats-xpack-filebeat:
  label: ':pipeline: Upload beats-xpack-filebeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.filebeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: beats-xpack-dockerlogbeat:
  label: ':pipeline: beats-xpack-dockerlogbeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: Upload beats-metricbeat:
  label: ':pipeline: Upload beats-metricbeat'
  command: buildkite-agent pipeline upload .buildkite/metricbeat/pipeline.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: Upload beats-xpack-metricbeat:
  label: ':pipeline: Upload beats-xpack-metricbeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.metricbeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: Upload beats-xpack-osquerybeat:
  label: ':pipeline: Upload beats-xpack-osquerybeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.osquerybeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Key input matching on raw id, not sanitized
  libbeat/monitoring/inputmon/input.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Remove CHANGELOG entries
  CHANGELOG.next.asciidoc
Due: none

Remove FIPS-related CHANGELOG entries
  CHANGELOG.next.asciidoc
Due: none

Disable Metricbeat `mssql` module in FIPS builds (#44890)
  x-pack/metricbeat/module/mssql/_meta/docs.asciidoc
  x-pack/metricbeat/module/mssql/connection.go
  x-pack/metricbeat/module/mssql/mssql.go
  x-pack/metricbeat/module/mssql/performance/data.go
  x-pack/metricbeat/module/mssql/performance/data_integration_test.go
  x-pack/metricbeat/module/mssql/performance/doc.go
  x-pack/metricbeat/module/mssql/performance/performance.go
  x-pack/metricbeat/module/mssql/performance/performance_integration_test.go
  x-pack/metricbeat/module/mssql/testing/mssql.go
  x-pack/metricbeat/module/mssql/transaction_log/data_integration_test.go
  x-pack/metricbeat/module/mssql/transaction_log/doc.go
  x-pack/metricbeat/module/mssql/transaction_log/transaction_log.go
  x-pack/metricbeat/module/mssql/transaction_log/transaction_log_integration_test.go
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

[elastic-agent-libs] Skip one caller to show the correct file/line that issued the log (#325)
  logp/logger.go
Due: none

Running mage update
  metricbeat/docs/modules/mssql.asciidoc
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Disable azure-eventhub Filebeat input in FIPS builds
  x-pack/filebeat/input/azureeventhub/azureeventhub_integration_test.go
  x-pack/filebeat/input/azureeventhub/config.go
  x-pack/filebeat/input/azureeventhub/config_test.go
  x-pack/filebeat/input/azureeventhub/decoder.go
  x-pack/filebeat/input/azureeventhub/decoder_test.go
  x-pack/filebeat/input/azureeventhub/file_persister_test.go
  x-pack/filebeat/input/azureeventhub/input.go
  x-pack/filebeat/input/azureeventhub/input_test.go
  x-pack/filebeat/input/azureeventhub/metrics.go
  x-pack/filebeat/input/azureeventhub/metrics_test.go
  x-pack/filebeat/input/azureeventhub/sanitizers.go
  x-pack/filebeat/input/azureeventhub/sanitizers_legacy.go
  x-pack/filebeat/input/azureeventhub/sanitizers_test.go
  x-pack/filebeat/input/azureeventhub/tracer.go
  x-pack/filebeat/input/azureeventhub/v1_input.go
  x-pack/filebeat/input/azureeventhub/v1_input_test.go
  x-pack/filebeat/input/azureeventhub/v2_input.go
  x-pack/filebeat/input/azureeventhub/v2_migration.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Generate FIPS and non-FIPS include lists
  x-pack/filebeat/include/list_fips.go
  x-pack/filebeat/magefile.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Make plugin initialization FIPS-aware
  x-pack/filebeat/input/default-inputs/inputs_aix.go
  x-pack/filebeat/input/default-inputs/inputs_darwin.go
  x-pack/filebeat/input/default-inputs/inputs_fips.go
  x-pack/filebeat/input/default-inputs/inputs_nofips.go
  x-pack/filebeat/input/default-inputs/inputs_other.go
  x-pack/filebeat/input/default-inputs/inputs_windows.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Remove FIPS-related CHANGELOG entries (#44904)
  CHANGELOG.next.asciidoc
Due: none

Add doc about module availability
  x-pack/filebeat/module/azure/_meta/docs.asciidoc
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

docs: update docs
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Exclude Azure VM provider in `add_cloud_metadata` processor in FIPS builds (#44891)
  libbeat/processors/add_cloud_metadata/docs/add_cloud_metadata.asciidoc
  libbeat/processors/add_cloud_metadata/provider_azure_vm.go
  libbeat/processors/add_cloud_metadata/provider_azure_vm_test.go
  libbeat/processors/add_cloud_metadata/providers.go
  libbeat/processors/add_cloud_metadata/providers_nofips.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

[Release] update version
  libbeat/version/version.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

[Release] update test environment
  metricbeat/docker-compose.yml
  testing/environments/latest.yml
  x-pack/metricbeat/docker-compose.yml
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

fix: make update changes
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  deploy/kubernetes/heartbeat-kubernetes.yaml
Due: :pipeline: Upload deploy-k8s

[Release] update test environment
  metricbeat/docker-compose.yml
  metricbeat/module/logstash/docker-compose.yml
  testing/environments/latest.yml
  x-pack/metricbeat/docker-compose.yml
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Provide a consistent non-global metrics API to beats and beat receivers (#44452)
  filebeat/beater/filebeat.go
  filebeat/input/filestream/environment_test.go
  filebeat/input/filestream/internal/input-logfile/metrics.go
  filebeat/input/filestream/metrics_integration_test.go
  filebeat/input/journald/environment_test.go
  filebeat/input/v2/compat/compat.go
  filebeat/input/v2/compat/compat_test.go
  filebeat/input/v2/input-cursor/input.go
  filebeat/input/v2/input-cursor/manager_test.go
  heartbeat/monitors/mocks_test.go
  libbeat/api/routes.go
  libbeat/beat/beat.go
  libbeat/beat/info.go
  libbeat/beat/monitoring.go
  libbeat/cmd/instance/beat.go
  libbeat/monitoring/inputmon/httphandler.go
  libbeat/monitoring/inputmon/input.go
  libbeat/monitoring/inputmon/input_test.go
  libbeat/monitoring/report/elasticsearch/elasticsearch.go
  libbeat/monitoring/report/elasticsearch/elasticsearch_test.go
  libbeat/monitoring/report/report.go
  libbeat/outputs/elasticsearch/client_integration_test.go
  metricbeat/beater/metricbeat.go
  metricbeat/mb/module/configuration.go
  metricbeat/mb/module/example_test.go
  metricbeat/mb/module/factory.go
  metricbeat/mb/module/runner_test.go
  metricbeat/mb/module/wrapper.go
  metricbeat/mb/module/wrapper_internal_test.go
  metricbeat/mb/module/wrapper_test.go
  packetbeat/beater/packetbeat.go
  winlogbeat/beater/winlogbeat.go
  x-pack/filebeat/input/benchmark/input.go
  x-pack/heartbeat/scenarios/framework/framework.go
  x-pack/libbeat/cmd/instance/beat.go
  x-pack/libbeat/cmd/instance/receiver.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

[AutoOps] Register CCM at Startup
  x-pack/metricbeat/module/autoops_es/cat_shards/cat_shards_test.go
  x-pack/metricbeat/module/autoops_es/ccm/register.go
  x-pack/metricbeat/module/autoops_es/ccm/register_test.go
  x-pack/metricbeat/module/autoops_es/ccm/request.go
  x-pack/metricbeat/module/autoops_es/ccm/request_test.go
  x-pack/metricbeat/module/autoops_es/events/error_event.go
  x-pack/metricbeat/module/autoops_es/events/error_event_test.go
  x-pack/metricbeat/module/autoops_es/events/events.go
  x-pack/metricbeat/module/autoops_es/metricset/cluster_info.go
  x-pack/metricbeat/module/autoops_es/metricset/cluster_info_test.go
  x-pack/metricbeat/module/autoops_es/metricset/metricset.go
  x-pack/metricbeat/module/autoops_es/templates/templates_test.go
  x-pack/metricbeat/module/autoops_es/utils/env.go
  x-pack/metricbeat/module/autoops_es/utils/http.go
  x-pack/metricbeat/module/autoops_es/utils/resource.go
  x-pack/metricbeat/module/autoops_es/utils/resource_test.go
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Pass response directly to handler to avoid linter
  x-pack/metricbeat/module/autoops_es/utils/http.go
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Fix default inputs selection
  x-pack/filebeat/input/default-inputs/inputs.go
  x-pack/filebeat/input/default-inputs/inputs_aix.go
  x-pack/filebeat/input/default-inputs/inputs_aix_fips.go
  x-pack/filebeat/input/default-inputs/inputs_aix_nofips.go
  x-pack/filebeat/input/default-inputs/inputs_darwin.go
  x-pack/filebeat/input/default-inputs/inputs_darwin_fips.go
  x-pack/filebeat/input/default-inputs/inputs_darwin_nofips.go
  x-pack/filebeat/input/default-inputs/inputs_other.go
  x-pack/filebeat/input/default-inputs/inputs_other_fips.go
  x-pack/filebeat/input/default-inputs/inputs_other_nofips.go
  x-pack/filebeat/input/default-inputs/inputs_windows.go
  x-pack/filebeat/input/default-inputs/inputs_windows_fips.go
  x-pack/filebeat/input/default-inputs/inputs_windows_nofips.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Help linter
  x-pack/metricbeat/module/autoops_es/ccm/register.go
  x-pack/metricbeat/module/autoops_es/ccm/register_test.go
  x-pack/metricbeat/module/autoops_es/utils/http.go
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Add comments for linter
  x-pack/metricbeat/module/autoops_es/ccm/register.go
  x-pack/metricbeat/module/autoops_es/utils/http.go
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Remove need for linter by just adding an empty context
  x-pack/metricbeat/module/autoops_es/ccm/register.go
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Disable Filebeat's o365audit input and o365 module in FIPS-capable builds
  x-pack/filebeat/include/list_fips.go
  x-pack/filebeat/input/default-inputs/inputs_aix.go
  x-pack/filebeat/input/default-inputs/inputs_aix_nofips.go
  x-pack/filebeat/input/default-inputs/inputs_darwin.go
  x-pack/filebeat/input/default-inputs/inputs_darwin_nofips.go
  x-pack/filebeat/input/default-inputs/inputs_other.go
  x-pack/filebeat/input/default-inputs/inputs_other_nofips.go
  x-pack/filebeat/input/default-inputs/inputs_windows.go
  x-pack/filebeat/input/default-inputs/inputs_windows_nofips.go
  x-pack/filebeat/input/o365audit/auth/auth.go
  x-pack/filebeat/input/o365audit/auth/cert.go
  x-pack/filebeat/input/o365audit/auth/secret.go
  x-pack/filebeat/input/o365audit/config.go
  x-pack/filebeat/input/o365audit/contentblob.go
  x-pack/filebeat/input/o365audit/contentblob_test.go
  x-pack/filebeat/input/o365audit/dates.go
  x-pack/filebeat/input/o365audit/input.go
  x-pack/filebeat/input/o365audit/input_test.go
  x-pack/filebeat/input/o365audit/listblobs.go
  x-pack/filebeat/input/o365audit/listblobs_test.go
  x-pack/filebeat/input/o365audit/pagination.go
  x-pack/filebeat/input/o365audit/poll/poll.go
  x-pack/filebeat/input/o365audit/schema.go
  x-pack/filebeat/input/o365audit/state.go
  x-pack/filebeat/input/o365audit/subscribe.go
  x-pack/filebeat/magefile.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Add doc about module availability
  x-pack/filebeat/module/o365/_meta/docs.asciidoc
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Generating doc
  metricbeat/docs/modules/azure.asciidoc
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Path conditions:
  /agent/check-catalog-info.sh: any of: catalog-info.yaml
  :pipeline: Upload beats-auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-filebeat: any of: filebeat/, .buildkite/pipeline.yml, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-filebeat: any of: filebeat/, x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/pipeline.yml, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-metricbeat: any of: metricbeat/, x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-winlogbeat: any of: winlogbeat/, x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  :pipeline: Upload deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/pipeline.yml, .buildkite/scripts, deploy/kubernetes/**, metricbeat/module/kubernetes/**, libbeat/docs/version.asciidoc
  :pipeline: Upload beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  :pipeline: Upload beats-xpack-libbeat: any of: libbeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-auditbeat: any of: auditbeat/, x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-xpack-heartbeat: any of: heartbeat/, x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: packetbeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-agentbeat: any of: auditbeat/, filebeat/, heartbeat/, metricbeat/, osquerybeat/, packetbeat/, x-pack/agentbeat/, x-pack/auditbeat/, x-pack/filebeat/, x-pack/heartbeat/, x-pack/metricbeat/, x-pack/osquerybeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.agentbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
