Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: /agent/check-catalog-info.sh, :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

/agent/check-catalog-info.sh:
  command: /agent/check-catalog-info.sh
  agents:
    image: docker.elastic.co/ci-agent-images/pipelib:0.13.0@sha256:190464950de81cb3390bd5e07bb1cc171dd4a765c1ce5de58ebca476f9a6839f

:pipeline: Upload beats-auditbeat:
  label: ':pipeline: Upload beats-auditbeat'
  command: buildkite-agent pipeline upload .buildkite/auditbeat/auditbeat-pipeline.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: Upload beats-heartbeat:
  label: ':pipeline: Upload beats-heartbeat'
  command: buildkite-agent pipeline upload .buildkite/heartbeat/heartbeat-pipeline.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: Upload beats-filebeat:
  label: ':pipeline: Upload beats-filebeat'
  command: buildkite-agent pipeline upload .buildkite/filebeat/filebeat-pipeline.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: Upload beats-xpack-filebeat:
  label: ':pipeline: Upload beats-xpack-filebeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.filebeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: beats-xpack-dockerlogbeat:
  label: ':pipeline: beats-xpack-dockerlogbeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: Upload beats-metricbeat:
  label: ':pipeline: Upload beats-metricbeat'
  command: buildkite-agent pipeline upload .buildkite/metricbeat/pipeline.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: Upload beats-xpack-metricbeat:
  label: ':pipeline: Upload beats-xpack-metricbeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.metricbeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: Upload beats-xpack-osquerybeat:
  label: ':pipeline: Upload beats-xpack-osquerybeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.osquerybeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Bump version to 9.0.3
  x-pack/metricbeat/modules.d/activemq.yml.disabled
  x-pack/metricbeat/modules.d/airflow.yml.disabled
  x-pack/metricbeat/modules.d/aws.yml.disabled
  x-pack/metricbeat/modules.d/awsfargate.yml.disabled
  x-pack/metricbeat/modules.d/azure.yml.disabled
  x-pack/metricbeat/modules.d/benchmark.yml.disabled
  x-pack/metricbeat/modules.d/cloudfoundry.yml.disabled
  x-pack/metricbeat/modules.d/cockroachdb.yml.disabled
  x-pack/metricbeat/modules.d/containerd.yml.disabled
  x-pack/metricbeat/modules.d/coredns.yml.disabled
  x-pack/metricbeat/modules.d/gcp.yml.disabled
  x-pack/metricbeat/modules.d/ibmmq.yml.disabled
  x-pack/metricbeat/modules.d/iis.yml.disabled
  x-pack/metricbeat/modules.d/istio.yml.disabled
  x-pack/metricbeat/modules.d/meraki.yml.disabled
  x-pack/metricbeat/modules.d/mssql.yml.disabled
  x-pack/metricbeat/modules.d/openai.yml.disabled
  x-pack/metricbeat/modules.d/oracle.yml.disabled
  x-pack/metricbeat/modules.d/panw.yml.disabled
  x-pack/metricbeat/modules.d/prometheus.yml.disabled
  x-pack/metricbeat/modules.d/redisenterprise.yml.disabled
  x-pack/metricbeat/modules.d/sql.yml.disabled
  x-pack/metricbeat/modules.d/stan.yml.disabled
  x-pack/metricbeat/modules.d/statsd.yml.disabled
  x-pack/metricbeat/modules.d/syncgateway.yml.disabled
  x-pack/metricbeat/modules.d/tomcat.yml.disabled
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Bump version
  x-pack/filebeat/modules.d/activemq.yml.disabled
  x-pack/filebeat/modules.d/aws.yml.disabled
  x-pack/filebeat/modules.d/awsfargate.yml.disabled
  x-pack/filebeat/modules.d/azure.yml.disabled
  x-pack/filebeat/modules.d/cef.yml.disabled
  x-pack/filebeat/modules.d/checkpoint.yml.disabled
  x-pack/filebeat/modules.d/cisco.yml.disabled
  x-pack/filebeat/modules.d/coredns.yml.disabled
  x-pack/filebeat/modules.d/crowdstrike.yml.disabled
  x-pack/filebeat/modules.d/cyberarkpas.yml.disabled
  x-pack/filebeat/modules.d/envoyproxy.yml.disabled
  x-pack/filebeat/modules.d/fortinet.yml.disabled
  x-pack/filebeat/modules.d/gcp.yml.disabled
  x-pack/filebeat/modules.d/google_workspace.yml.disabled
  x-pack/filebeat/modules.d/ibmmq.yml.disabled
  x-pack/filebeat/modules.d/iptables.yml.disabled
  x-pack/filebeat/modules.d/juniper.yml.disabled
  x-pack/filebeat/modules.d/microsoft.yml.disabled
  x-pack/filebeat/modules.d/misp.yml.disabled
  x-pack/filebeat/modules.d/mssql.yml.disabled
  x-pack/filebeat/modules.d/mysqlenterprise.yml.disabled
  x-pack/filebeat/modules.d/netflow.yml.disabled
  x-pack/filebeat/modules.d/o365.yml.disabled
  x-pack/filebeat/modules.d/okta.yml.disabled
  x-pack/filebeat/modules.d/oracle.yml.disabled
  x-pack/filebeat/modules.d/panw.yml.disabled
  x-pack/filebeat/modules.d/rabbitmq.yml.disabled
  x-pack/filebeat/modules.d/salesforce.yml.disabled
  x-pack/filebeat/modules.d/snyk.yml.disabled
  x-pack/filebeat/modules.d/sophos.yml.disabled
  x-pack/filebeat/modules.d/suricata.yml.disabled
  x-pack/filebeat/modules.d/threatintel.yml.disabled
  x-pack/filebeat/modules.d/zeek.yml.disabled
  x-pack/filebeat/modules.d/zookeeper.yml.disabled
  x-pack/filebeat/modules.d/zoom.yml.disabled
  x-pack/metricbeat/docker-compose.yml
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Bump version
  filebeat/modules.d/apache.yml.disabled
  filebeat/modules.d/auditd.yml.disabled
  filebeat/modules.d/elasticsearch.yml.disabled
  filebeat/modules.d/haproxy.yml.disabled
  filebeat/modules.d/icinga.yml.disabled
  filebeat/modules.d/iis.yml.disabled
  filebeat/modules.d/kafka.yml.disabled
  filebeat/modules.d/kibana.yml.disabled
  filebeat/modules.d/logstash.yml.disabled
  filebeat/modules.d/mongodb.yml.disabled
  filebeat/modules.d/mysql.yml.disabled
  filebeat/modules.d/nats.yml.disabled
  filebeat/modules.d/nginx.yml.disabled
  filebeat/modules.d/osquery.yml.disabled
  filebeat/modules.d/pensando.yml.disabled
  filebeat/modules.d/postgresql.yml.disabled
  filebeat/modules.d/redis.yml.disabled
  filebeat/modules.d/santa.yml.disabled
  filebeat/modules.d/system.yml.disabled
  filebeat/modules.d/traefik.yml.disabled
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Bump version
  filebeat/docs/modules/apache.asciidoc
  filebeat/docs/modules/auditd.asciidoc
  filebeat/docs/modules/elasticsearch.asciidoc
  filebeat/docs/modules/haproxy.asciidoc
  filebeat/docs/modules/icinga.asciidoc
  filebeat/docs/modules/iis.asciidoc
  filebeat/docs/modules/kafka.asciidoc
  filebeat/docs/modules/kibana.asciidoc
  filebeat/docs/modules/logstash.asciidoc
  filebeat/docs/modules/mongodb.asciidoc
  filebeat/docs/modules/mysql.asciidoc
  filebeat/docs/modules/nats.asciidoc
  filebeat/docs/modules/nginx.asciidoc
  filebeat/docs/modules/osquery.asciidoc
  filebeat/docs/modules/pensando.asciidoc
  filebeat/docs/modules/postgresql.asciidoc
  filebeat/docs/modules/redis.asciidoc
  filebeat/docs/modules/santa.asciidoc
  filebeat/docs/modules/system.asciidoc
  filebeat/docs/modules/traefik.asciidoc
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Bump version
  docs/extend/contributing-docs.md
  docs/extend/creating-metricsets.md
  filebeat/_meta/test/docs/testing.md
  libbeat/docs/version.asciidoc
  libbeat/testing/integration/README.md
  libbeat/version/version.go
  metricbeat/docker-compose.yml
  metricbeat/module/elasticsearch/_meta/README.md
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Commenting the asciidoc generation as we switched to markdown format
  auditbeat/magefile.go
  filebeat/magefile.go
  metricbeat/magefile.go
  winlogbeat/magefile.go
  winlogbeat/scripts/mage/update.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-xpack-agentbeat

Bringing back unwanted removal
  metricbeat/magefile.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Update magefile.go
  metricbeat/magefile.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

x-pack/filebeat/input/netflow/decoder/...: move testing helpers out of exported package
  x-pack/filebeat/input/netflow/decoder/ipfix/decoder_test.go
  x-pack/filebeat/input/netflow/decoder/template/template_test.go
  x-pack/filebeat/input/netflow/decoder/template/tmpltest/test_helpers.go
  x-pack/filebeat/input/netflow/decoder/v1/v1_test.go
  x-pack/filebeat/input/netflow/decoder/v5/v5_test.go
  x-pack/filebeat/input/netflow/decoder/v6/v6_test.go
  x-pack/filebeat/input/netflow/decoder/v7/v7_test.go
  x-pack/filebeat/input/netflow/decoder/v8/v8_test.go
  x-pack/filebeat/input/netflow/decoder/v9/decoder_test.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

copy over asciidoc content
  docs/release-notes/index.md
Due: none

transform manually to markdown
  docs/release-notes/index.md
Due: none

x-pack/filebeat/input/entityanalytics/provider/okta: fix publication of roles and factors
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/entityanalytics/provider/okta/okta.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

comments
  metricbeat/scripts/mage/docs_collector.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

updated spread value as per Dan's suggestions
  x-pack/filebeat/input/streaming/websocket.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

chore: update badger package to 4.6.0 (#43321)
  CHANGELOG-developer.next.asciidoc
  NOTICE.txt
  go.mod
  go.sum
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Add changelog entry
  CHANGELOG.next.asciidoc
Due: none

capture extra vsphere metrics (cpu %, disk average, disk rate, disk n… (#44205)
  CHANGELOG.next.asciidoc
  metricbeat/module/vsphere/client/mock_performance.go
  metricbeat/module/vsphere/client/performance.go
  metricbeat/module/vsphere/client/performance_test.go
  metricbeat/module/vsphere/datastore/datastore.go
  metricbeat/module/vsphere/fields.go
  metricbeat/module/vsphere/host/host.go
  metricbeat/module/vsphere/virtualmachine/_meta/fields.yml
  metricbeat/module/vsphere/virtualmachine/data.go
  metricbeat/module/vsphere/virtualmachine/virtualmachine.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

remove compare.sh
  filebeat/local/compare.sh
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

rename udp loggeR
  filebeat/input/syslog/config.go
  filebeat/inputsource/udp/server.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

change udp server logger
  filebeat/inputsource/udp/server.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Update input.go
  x-pack/filebeat/input/cel/input.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

[filebeat][streaming] - Improved websocket exponential backoff logic to produce a smoother backoff curve (#44069)
  CHANGELOG-developer.next.asciidoc
  x-pack/filebeat/input/streaming/websocket.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Review release notes
  docs/release-notes/index.md
Due: none

chore(metricbeat): refresh kubernetes docs and metric tests
  metricbeat/helper/kubernetes/ktest/ktest.go
  metricbeat/module/kubernetes/apiserver/README.md
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.28
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.28.expected
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.29
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.29.expected
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.30
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.30.expected
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.31
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.31.expected
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.32
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.32.expected
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.33
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.33.expected
  metricbeat/module/kubernetes/apiserver/apiserver_test.go
  metricbeat/module/kubernetes/controllermanager/README.md
  metricbeat/module/kubernetes/controllermanager/controllermanager_test.go
  metricbeat/module/kubernetes/proxy/README.md
  metricbeat/module/kubernetes/proxy/proxy_test.go
  metricbeat/module/kubernetes/scheduler/README.md
  metricbeat/module/kubernetes/scheduler/scheduler_test.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-xpack-agentbeat

Fix WebSocket spelling
  docs/release-notes/index.md
Due: none

[docs] Add Beats 9.0.2 Release Notes (#44482)
  docs/release-notes/index.md
Due: none

[prometheus] query.go: check error response codes
  metricbeat/module/prometheus/query/query.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

capture extra vsphere metrics (cpu %, disk average, disk rate, disk n… (#44205)
  CHANGELOG.next.asciidoc
  auditbeat/module/file_integrity/mock_performance.go
  auditbeat/module/file_integrity/performance.go
  auditbeat/module/file_integrity/performance_test.go
  metricbeat/module/vsphere/datastore/datastore.go
  metricbeat/module/vsphere/fields.go
  metricbeat/module/vsphere/host/host.go
  metricbeat/module/vsphere/virtualmachine/_meta/fields.yml
  metricbeat/module/vsphere/virtualmachine/data.go
  metricbeat/module/vsphere/virtualmachine/virtualmachine.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-agentbeat

[prometheus] query.go: log error response body to debug log instead of repoter
  metricbeat/module/prometheus/query/query.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

add entry to the changelog
  CHANGELOG.next.asciidoc
Due: none

Path conditions:
  /agent/check-catalog-info.sh: any of: catalog-info.yaml
  :pipeline: Upload beats-auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-filebeat: any of: filebeat/, .buildkite/pipeline.yml, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-filebeat: any of: filebeat/, x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/pipeline.yml, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-metricbeat: any of: metricbeat/, x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-winlogbeat: any of: winlogbeat/, x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  :pipeline: Upload deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/pipeline.yml, .buildkite/scripts, deploy/kubernetes/**, metricbeat/module/kubernetes/**, libbeat/docs/version.asciidoc
  :pipeline: Upload beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  :pipeline: Upload beats-xpack-libbeat: any of: libbeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-auditbeat: any of: auditbeat/, x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-xpack-heartbeat: any of: heartbeat/, x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: packetbeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-agentbeat: any of: auditbeat/, filebeat/, heartbeat/, metricbeat/, osquerybeat/, packetbeat/, x-pack/agentbeat/, x-pack/auditbeat/, x-pack/filebeat/, x-pack/heartbeat/, x-pack/metricbeat/, x-pack/osquerybeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.agentbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
