Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: /agent/check-catalog-info.sh, :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Path conditions:
  /agent/check-catalog-info.sh: any of: catalog-info.yaml
  :pipeline: Upload beats-auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-filebeat: any of: filebeat/, .buildkite/pipeline.yml, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-filebeat: any of: filebeat/, x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/pipeline.yml, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-metricbeat: any of: metricbeat/, x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-winlogbeat: any of: winlogbeat/, x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  :pipeline: Upload deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/pipeline.yml, .buildkite/scripts, deploy/kubernetes/**, metricbeat/module/kubernetes/**, libbeat/docs/version.asciidoc
  :pipeline: Upload beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  :pipeline: Upload beats-xpack-libbeat: any of: libbeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-auditbeat: any of: auditbeat/, x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-xpack-heartbeat: any of: heartbeat/, x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: packetbeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-agentbeat: any of: auditbeat/, filebeat/, heartbeat/, metricbeat/, osquerybeat/, packetbeat/, x-pack/agentbeat/, x-pack/auditbeat/, x-pack/filebeat/, x-pack/heartbeat/, x-pack/metricbeat/, x-pack/osquerybeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.agentbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/

commit
  libbeat/otelbeat/oteltest/oteltest.go
  x-pack/filebeat/fbreceiver/receiver_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

chore(kubernetes): optimize kubelet cache
  metricbeat/module/kubernetes/container/container.go
  metricbeat/module/kubernetes/container/data.go
  metricbeat/module/kubernetes/kubernetes.go
  metricbeat/module/kubernetes/node/data.go
  metricbeat/module/kubernetes/node/node.go
  metricbeat/module/kubernetes/pod/data.go
  metricbeat/module/kubernetes/pod/pod.go
  metricbeat/module/kubernetes/system/data.go
  metricbeat/module/kubernetes/system/system.go
  metricbeat/module/kubernetes/volume/data.go
  metricbeat/module/kubernetes/volume/volume.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-xpack-agentbeat

chore(kubernetes): update workload name pattern of Deployment
  metricbeat/module/kubernetes/util/pod_prefix_extractor.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-xpack-agentbeat

replace require.EventuallyWithT
  libbeat/otelbeat/oteltest/oteltest.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

otel: allow filebeat otel to load otel config files (#45093)
  NOTICE.txt
  go.mod
  libbeat/otelbeat/beatconverter/beatconverter.go
  x-pack/filebeat/tests/integration/otel_test.go
  x-pack/libbeat/common/otelbeat/otel.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

[oteltest][fbreceiver] Fix flaky test (#45127)
  libbeat/otelbeat/oteltest/oteltest.go
  x-pack/filebeat/fbreceiver/receiver_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Bump up github.com/go-viper/mapstructure/v2 dependency (#45129)
  NOTICE.txt
  go.mod
  go.sum
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

fix conflicts
  NOTICE.txt
  go.mod
  libbeat/tests/integration/framework.go
  x-pack/filebeat/tests/integration/otel_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Add build to fips integ test
  filebeat/magefile.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

fix import order
  libbeat/tests/integration/framework.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Fixing conflicts
  go.mod
  go.sum
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Fixing conflicts
  NOTICE.txt
  go.mod
  go.sum
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Update dependabot.yml with new dependencies
  .github/dependabot.yml
Due: none

Refactor input to access beat.PipelineConnector
  filebeat/input/tcp/input.go
  filebeat/input/tcp/input_test.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Add concurrency for publishing
  filebeat/input/tcp/input.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

fix linter issue
  libbeat/otelbeat/beatconverter/beatconverter.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

fix linter error
  libbeat/otelbeat/beatconverter/beatconverter.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Implement review comments and fix lint warnings
  docs/reference/filebeat/delete-file-guide.md
  filebeat/tests/integration/filestream_delete_scale_test.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

address pr comment
  docs/reference/filebeat/filebeat-input-cel.md
Due: none

Update dependabot.yml with grouping
  .github/dependabot.yml
Due: none

[beatreceivers] Introduce otel mode for metricbeat
  libbeat/otelbeat/beatconverter/beatconverter.go
  libbeat/otelbeat/providers/common_provider.go
  libbeat/otelbeat/providers/mbprovider/mbprovider.go
  libbeat/otelbeat/providers/mbprovider/mbprovider_test.go
  libbeat/publisher/processing/processors.go
  x-pack/libbeat/common/otelbeat/otel.go
  x-pack/metricbeat/cmd/otelcmd_disabled.go
  x-pack/metricbeat/cmd/otelcmd_enabled.go
  x-pack/metricbeat/cmd/root.go
  x-pack/metricbeat/magefile.go
  x-pack/metricbeat/metricbeat-otel.yml
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

fix test
  libbeat/otelbeat/providers/mbprovider/mbprovider_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

nit
  libbeat/otelbeat/providers/common_provider.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

remove processor
  libbeat/publisher/processing/processors.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Update dependabot.yml
  .github/dependabot.yml
Due: none

Delete spaces
  .github/dependabot.yml
Due: none

make check
  libbeat/otelbeat/providers/common_provider.go
  libbeat/otelbeat/providers/fbprovider/fbprovider.go
  libbeat/otelbeat/providers/mbprovider/mbprovider.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat
