Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Path conditions:
  Trigger Auditbeat: any of: auditbeat/**, .buildkite/auditbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Heartbeat: any of: heartbeat/**, .buildkite/heartbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Filebeat: any of: filebeat/**, .buildkite/filebeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/filebeat: any of: filebeat/**, x-pack/filebeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/dockerlogbeat: any of: x-pack/dockerlogbeat/**, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Metricbeat: any of: metricbeat/**, .buildkite/metricbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/metricbeat: any of: metricbeat/**, x-pack/metricbeat/**, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/winlogbeat: any of: winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Deploy/K8S: any of: deploy/kubernetes/**, metricbeat/module/kubernetes/**, .go-version, libbeat/docs/version.asciidoc, .buildkite/deploy/kubernetes/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Libbeat: any of: libbeat/**, .buildkite/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/libbeat: any of: x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .go-version, libbeat/**, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/otel: any of: x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .go-version, go.mod, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/auditbeat: any of: auditbeat/**, x-pack/auditbeat/**, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/heartbeat: any of: heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/packetbeat: any of: packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Winlogbeat: any of: winlogbeat/**, .buildkite/winlogbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Packetbeat: any of: packetbeat/**, .buildkite/packetbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**

Apply batched suggestions from code review
  docs/release-notes/_snippets/9.4.8/index.md
Due: none

add NOTICE changes
  NOTICE.txt
Due: none

Simplify the scan loop.
  filebeat/input/filestream/copytruncate_prospector.go
  filebeat/input/filestream/copytruncate_prospector_test.go
  filebeat/input/filestream/fswatch.go
  filebeat/input/filestream/fswatch_helpers_test.go
  filebeat/input/filestream/fswatch_integration_test.go
  filebeat/input/filestream/fswatch_race_test.go
  filebeat/input/filestream/fswatch_test.go
  filebeat/input/filestream/internal/input-logfile/fswatch.go
  filebeat/input/filestream/internal/input-logfile/harvester.go
  filebeat/input/filestream/internal/input-logfile/harvester_runner.go
  filebeat/input/filestream/internal/input-logfile/harvester_runner_test.go
  filebeat/input/filestream/prospector.go
  filebeat/input/filestream/prospector_creator.go
  filebeat/input/filestream/prospector_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Add changelog.
  changelog/fragments/1791229884-filestream-fewer-goroutines-per-input.yaml
Due: none

Apply suggestion from @belimawr
  changelog/fragments/1790719831-log-input-shared-registrar.yaml
Due: none

Apply suggestion from @belimawr
  filebeat/registrar/shared_behavior_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Apply suggestion from @belimawr
  filebeat/registrar/shared_store_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Apply suggestion from @belimawr
  x-pack/filebeat/fbreceiver/registry_shared_test.go
Due: Trigger x-pack/filebeat

fix rename
  x-pack/filebeat/fbreceiver/registry_shared_test.go
Due: Trigger x-pack/filebeat

x-pack/osquerybeat: fix watcher Close deadlock and busy loop
  x-pack/osquerybeat/beater/osquerybeat.go
  x-pack/osquerybeat/beater/watcher.go
  x-pack/osquerybeat/beater/watcher_test.go
Due: Trigger x-pack/osquerybeat

address pr comment
  docs/reference/filebeat/filebeat-input-azure-eventhub.md
  x-pack/filebeat/input/azureeventhub/config.go
  x-pack/filebeat/input/azureeventhub/config_test.go
Due: Trigger x-pack/filebeat

fix test
  x-pack/libbeat/cmd/instance/receiver_test.go
Due: Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat

[Heartbeat] fix printf-style log calls (#53593)
  changelog/fragments/1791207256-fix-malformed-synthetics-runner-log-messages.yaml
  x-pack/heartbeat/monitors/browser/synthexec/synthexec.go
Due: Trigger x-pack/heartbeat

fix conflicts
  x-pack/heartbeat/monitors/browser/synthexec/synthexec.go
Due: Trigger x-pack/heartbeat

Update applies_to tag for backported functionality
  docs/reference/filebeat/add-kubernetes-metadata.md
  docs/reference/filebeat/running-on-kubernetes.md
Due: none

filestream: compare colliding paths without allocating (#53591)
  filebeat/input/filestream/fscanner.go
  filebeat/input/filestream/fswatch_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

metricbeat/vsphere: exclude test mocks from the binary
  metricbeat/module/vsphere/client/logout_test.go
  metricbeat/module/vsphere/client/mock_logout_test.go
  metricbeat/module/vsphere/client/mock_performance_test.go
  metricbeat/module/vsphere/client/performance_test.go
Due: Trigger Metricbeat, Trigger x-pack/metricbeat

chore: Update Version in x-pack/packetbeat/npcap/installer/LICENSE
  x-pack/packetbeat/npcap/installer/LICENSE
Due: Trigger x-pack/packetbeat

chore: Update NpcapVersion in x-pack/packetbeat/scripts/mage/pcap.go
  x-pack/packetbeat/scripts/mage/pcap.go
Due: Trigger x-pack/packetbeat

chore: Create changelog fragment for npcap 1.88
  changelog/fragments/1791286205-bump-npcap-1.88.yaml
Due: none

filestream: let the prospector own the scan loop (#53603)
  changelog/fragments/1791229884-filestream-fewer-goroutines-per-input.yaml
  filebeat/input/filestream/copytruncate_prospector.go
  filebeat/input/filestream/copytruncate_prospector_test.go
  filebeat/input/filestream/fswatch.go
  filebeat/input/filestream/fswatch_helpers_test.go
  filebeat/input/filestream/fswatch_integration_test.go
  filebeat/input/filestream/fswatch_race_test.go
  filebeat/input/filestream/fswatch_test.go
  filebeat/input/filestream/internal/input-logfile/fswatch.go
  filebeat/input/filestream/internal/input-logfile/harvester.go
  filebeat/input/filestream/internal/input-logfile/harvester_runner.go
  filebeat/input/filestream/internal/input-logfile/harvester_runner_test.go
  filebeat/input/filestream/prospector.go
  filebeat/input/filestream/prospector_creator.go
  filebeat/input/filestream/prospector_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

auditbeat: update for quark 0.9 changes (#53284)
  NOTICE.txt
  changelog/fragments/1789463004-auditbeat-quark-0.9-boottime.yaml
  go.mod
  go.sum
  x-pack/auditbeat/module/system/process/quark_provider_linux.go
  x-pack/auditbeat/module/system/process/quark_provider_linux_test.go
  x-pack/auditbeat/processors/sessionmd/provider/kerneltracingprovider/kerneltracingprovider_linux.go
  x-pack/auditbeat/processors/sessionmd/provider/kerneltracingprovider/metrics.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

metricbeat/vsphere: exclude test mocks from the binary (#53616)
  metricbeat/module/vsphere/client/logout_test.go
  metricbeat/module/vsphere/client/mock_logout_test.go
  metricbeat/module/vsphere/client/mock_performance_test.go
  metricbeat/module/vsphere/client/performance_test.go
Due: Trigger Metricbeat, Trigger x-pack/metricbeat

filebeat/kibana: regenerate exported-fields docs with applies_to tags
  docs/reference/filebeat/exported-fields-kibana.md
Due: none

metricbeat/vsphere: drop logout tests from the 8.19 backport
  metricbeat/module/vsphere/client/logout_test.go
  metricbeat/module/vsphere/client/mock_logout_test.go
Due: Trigger Metricbeat, Trigger x-pack/metricbeat

docs: update docs
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

[Release] update version
  libbeat/version/version.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat
