Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Path conditions:
  auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  filebeat: any of: filebeat/, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  beats-xpack-filebeat: any of: x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-metricbeat: any of: x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-winlogbeat: any of: x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/scripts, deploy/kubernetes/**, libbeat/docs/version.asciidoc
  beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  beats-xpack-libbeat: any of: x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-xpack-auditbeat: any of: x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-heartbeat: any of: x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/

mod: update elastic/mito to version v1.12.2
  CHANGELOG.next.asciidoc
  NOTICE.txt
  go.mod
  go.sum
  x-pack/filebeat/docs/inputs/input-cel.asciidoc
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

clean up shipper metric hooks
  libbeat/publisher/queue/memqueue/broker.go
  libbeat/publisher/queue/memqueue/internal_api.go
  libbeat/publisher/queue/memqueue/runloop.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

use the metrics observer from the memqueue
  libbeat/publisher/queue/memqueue/runloop.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

mod: update elastic/mito to version v1.12.2 (#39755)
  CHANGELOG.next.asciidoc
  NOTICE.txt
  go.mod
  go.sum
  x-pack/filebeat/docs/inputs/input-cel.asciidoc
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

updated pipeline to match steps from 7.17 (#39740)
  .buildkite/x-pack/pipeline.xpack.winlogbeat.yml
Due: beats-xpack-winlogbeat

updated step namings (#39741)
  .buildkite/x-pack/pipeline.xpack.winlogbeat.yml
Due: beats-xpack-winlogbeat

Add entry for salesforce input in agentbeat spec
  x-pack/agentbeat/agentbeat.spec.yml
Due: none

enabled win tests
  .buildkite/x-pack/pipeline.xpack.packetbeat.yml
  x-pack/packetbeat/magefile.go
  x-pack/packetbeat/tests/system/app_test.go
Due: beats-xpack-packetbeat

[Metricbeat] [Statsd] Add support for Graphite series 1.1.0+ tags (#39619)
  CHANGELOG.next.asciidoc
  metricbeat/docs/modules/statsd.asciidoc
  x-pack/metricbeat/module/statsd/_meta/docs.asciidoc
  x-pack/metricbeat/module/statsd/server/data.go
  x-pack/metricbeat/module/statsd/server/data_test.go
Due: beats-metricbeat, beats-xpack-metricbeat

Update filebeat-pipeline.yml
  .buildkite/filebeat/filebeat-pipeline.yml
Due: filebeat

[elastic-agent-libs] Fix data race (#209)
  logp/core.go
Due: none

Revert "Update elastic-agent-client and rename control proto package to cprot…"
  NOTICE.txt
  go.mod
  go.sum
  x-pack/elastic-agent/control.proto
  x-pack/elastic-agent/magefile.go
  x-pack/elastic-agent/pkg/agent/cmd/enroll_cmd.go
  x-pack/elastic-agent/pkg/agent/control/client/client.go
  x-pack/elastic-agent/pkg/agent/control/proto/control.pb.go
  x-pack/elastic-agent/pkg/agent/control/proto/control_grpc.pb.go
  x-pack/elastic-agent/pkg/agent/control/server/server.go
  x-pack/elastic-agent/pkg/core/server/server.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Add entry for salesforce input in agentbeat spec (#39770)
  x-pack/agentbeat/agentbeat.spec.yml
Due: none

Revert "Update elastic-agent-client and rename control proto package to cprot…" (#39772)
  NOTICE.txt
  go.mod
  go.sum
  x-pack/elastic-agent/control.proto
  x-pack/elastic-agent/magefile.go
  x-pack/elastic-agent/pkg/agent/cmd/enroll_cmd.go
  x-pack/elastic-agent/pkg/agent/control/client/client.go
  x-pack/elastic-agent/pkg/agent/control/proto/control.pb.go
  x-pack/elastic-agent/pkg/agent/control/proto/control_grpc.pb.go
  x-pack/elastic-agent/pkg/agent/control/server/server.go
  x-pack/elastic-agent/pkg/core/server/server.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Make logging fields consistent for Filestream input
  filebeat/beater/crawler.go
  filebeat/input/filestream/fswatch.go
  filebeat/input/filestream/identifier.go
  filebeat/input/filestream/input.go
  filebeat/input/filestream/internal/input-logfile/harvester.go
  filebeat/input/filestream/internal/input-logfile/manager.go
  filebeat/input/filestream/logger.go
  filebeat/input/filestream/prospector.go
  filebeat/input/filestream/prospector_creator.go
Due: filebeat

configure gauges
  libbeat/monitoring/report/log/log.go
  libbeat/publisher/pipeline/monitoring.go
  libbeat/publisher/queue/memqueue/broker.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

report queue metrics from the disk queue
  libbeat/publisher/queue/diskqueue/consumer.go
  libbeat/publisher/queue/diskqueue/core_loop.go
  libbeat/publisher/queue/diskqueue/queue.go
  libbeat/publisher/queue/diskqueue/segments.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

fix disk queue initialization
  libbeat/publisher/queue/diskqueue/queue.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

outputObserver -> retryObserver
  libbeat/publisher/pipeline/consumer.go
  libbeat/publisher/pipeline/controller.go
  libbeat/publisher/pipeline/controller_test.go
  libbeat/publisher/pipeline/monitoring.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

move queue draining logic into the queue
  libbeat/publisher/pipeline/controller.go
  libbeat/publisher/pipeline/pipeline.go
  libbeat/publisher/pipeline/pipeline_test.go
  libbeat/publisher/queue/diskqueue/core_loop.go
  libbeat/publisher/queue/diskqueue/producer.go
  libbeat/publisher/queue/diskqueue/queue.go
  libbeat/publisher/queue/memqueue/broker.go
  libbeat/publisher/queue/memqueue/runloop.go
  libbeat/publisher/queue/queue.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Run integration tests on additional Linux systems
  .buildkite/auditbeat/auditbeat-pipeline.yml
Due: auditbeat

shadow acked var the simple way
  libbeat/publisher/queue/monitoring.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Update image names
  .buildkite/auditbeat/auditbeat-pipeline.yml
  .buildkite/auditbeat/scripts/integ-tests.sh
Due: auditbeat

Group image types with machine types
  .buildkite/auditbeat/auditbeat-pipeline.yml
Due: auditbeat

fix templates
  .buildkite/auditbeat/auditbeat-pipeline.yml
Due: auditbeat

memqueue uses event or byte limits, not both
  libbeat/publisher/queue/memqueue/broker.go
  libbeat/publisher/queue/memqueue/runloop.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

fix byte vs event logic
  libbeat/publisher/queue/memqueue/config.go
  libbeat/publisher/queue/memqueue/runloop.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

clean up FIFO handling
  libbeat/common/fifo/fifo.go
  libbeat/publisher/queue/memqueue/circular_buffer.go
  libbeat/publisher/queue/memqueue/runloop.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Remove VM images that don't actually exist from tests
  .buildkite/auditbeat/auditbeat-pipeline.yml
Due: auditbeat

replace batchList implementation with FIFO helper
  libbeat/common/fifo/fifo.go
  libbeat/publisher/queue/memqueue/ackloop.go
  libbeat/publisher/queue/memqueue/broker.go
  libbeat/publisher/queue/memqueue/internal_api.go
  libbeat/publisher/queue/memqueue/runloop.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

x-pack/filebeat/input/http_endpoint: add support for base64-encoded HMAC headers
  CHANGELOG.next.asciidoc
  x-pack/filebeat/docs/inputs/input-http-endpoint.asciidoc
  x-pack/filebeat/input/http_endpoint/validate.go
Due: beats-xpack-filebeat

Consistent ID propagated from runner and EA
  filebeat/input/filestream/fswatch.go
  filebeat/input/filestream/prospector_creator.go
  filebeat/input/v2/compat/compat.go
  libbeat/cfgfile/list.go
  libbeat/monitoring/inputmon/input.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

remove unrelated test change
  x-pack/filebeat/input/awss3/input_test.go
Due: beats-xpack-filebeat

address pr comment
  x-pack/filebeat/input/http_endpoint/handler_test.go
Due: beats-xpack-filebeat

remove unused error
  libbeat/common/fifo/fifo.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Add a note when using `expand_event_list_from_field`
  x-pack/filebeat/docs/inputs/input-aws-s3.asciidoc
Due: beats-xpack-filebeat
