Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Path conditions:
  auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  filebeat: any of: filebeat/, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  beats-xpack-filebeat: any of: x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-metricbeat: any of: x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-winlogbeat: any of: x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/scripts, deploy/kubernetes/**, libbeat/docs/version.asciidoc
  beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  beats-xpack-libbeat: any of: x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-xpack-auditbeat: any of: x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-heartbeat: any of: x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/

update notice and lint changes
  NOTICE.txt
  libbeat/cmd/instance/beat.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Add NewBeatReceiver function for beats as otel receivers
  filebeat/cmd/root.go
  filebeat/input/input.go
  go.mod
  go.sum
  libbeat/beat/info.go
  libbeat/cmd/instance/beat.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Osquerybeat: Upgrade to osquery 5.13.1
  CHANGELOG.next.asciidoc
  libbeat/version/version.go
  x-pack/osquerybeat/internal/distro/distro.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

address feedback
  NOTICE.txt
  filebeat/input/input.go
  go.mod
  go.sum
  libbeat/cmd/instance/beat.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Update CHANGELOG with PR number
  CHANGELOG.next.asciidoc
Due: none

Revert version.go checked in by mistake
  libbeat/version/version.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

add release tag to fields.yml, update docs
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules_list.asciidoc
  x-pack/metricbeat/module/meraki/device_health/_meta/fields.yml
  x-pack/metricbeat/module/meraki/fields.go
Due: beats-metricbeat, beats-xpack-metricbeat

review feedback: keyword -> dat
  metricbeat/docs/fields.asciidoc
  x-pack/metricbeat/module/meraki/device_health/_meta/fields.yml
  x-pack/metricbeat/module/meraki/fields.go
Due: beats-metricbeat, beats-xpack-metricbeat

commit results of 'make update' in x-pack metricbeat for CI
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/meraki/device_health/switchports.go
  x-pack/metricbeat/module/meraki/device_health/uplinks.go
Due: beats-xpack-metricbeat

Fixes for PR comments
  x-pack/metricbeat/module/panw/interfaces/ha_interfaces.go
  x-pack/metricbeat/module/panw/interfaces/ifnet_interfaces.go
  x-pack/metricbeat/module/panw/interfaces/tunnels.go
  x-pack/metricbeat/module/panw/routing/_meta/fields.yml
  x-pack/metricbeat/module/panw/routing/bgp_peers.go
  x-pack/metricbeat/module/panw/system/_meta/fields.yml
  x-pack/metricbeat/module/panw/system/certificates.go
  x-pack/metricbeat/module/panw/system/fans.go
  x-pack/metricbeat/module/panw/system/filesystem.go
  x-pack/metricbeat/module/panw/system/license.go
  x-pack/metricbeat/module/panw/system/power.go
  x-pack/metricbeat/module/panw/system/resources.go
  x-pack/metricbeat/module/panw/system/system.go
  x-pack/metricbeat/module/panw/system/thermal.go
  x-pack/metricbeat/module/panw/util.go
  x-pack/metricbeat/module/panw/vpn/_meta/fields.yml
  x-pack/metricbeat/module/panw/vpn/gp_sessions.go
  x-pack/metricbeat/module/panw/vpn/gp_stats.go
  x-pack/metricbeat/modules.d/panw.yml.disabled
Due: beats-xpack-metricbeat

Update sanitize_options option deprecation notice
  x-pack/filebeat/input/azureeventhub/README.md
  x-pack/filebeat/input/azureeventhub/config.go
  x-pack/filebeat/input/azureeventhub/sanitizers_legacy.go
Due: beats-xpack-filebeat

add license header
  x-pack/metricbeat/module/panw/util.go
Due: beats-xpack-metricbeat

add pango package
  go.mod
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

libbeat/cfgfile: remove futile errors.Is call
  libbeat/cfgfile/list.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Address linter complaints
  x-pack/filebeat/input/azureeventhub/sanitizers_legacy.go
Due: beats-xpack-filebeat

Update metricset.go
  x-pack/metricbeat/module/gcp/metrics/metricset.go
Due: beats-xpack-metricbeat

change.log
  CHANGELOG.asciidoc
Due: none

remove mappings to avoid hitting field limits in global metricbeat index template
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/meraki.asciidoc
  metricbeat/docs/modules/meraki/device_health.asciidoc
  x-pack/metricbeat/module/meraki/device_health/_meta/fields.yml
  x-pack/metricbeat/module/meraki/fields.go
Due: beats-metricbeat, beats-xpack-metricbeat

Add test for mixed legacy and new sanitizers setup
  x-pack/filebeat/input/azureeventhub/sanitizers_test.go
Due: beats-xpack-filebeat

mage check && mage update
  go.sum
  x-pack/metricbeat/module/panw/fields.go
  x-pack/metricbeat/modules.d/panw.yml.disabled
Due: beats-xpack-metricbeat

add one field back to please the docs CI
  metricbeat/docs/fields.asciidoc
  x-pack/metricbeat/module/meraki/device_health/_meta/fields.yml
  x-pack/metricbeat/module/meraki/fields.go
Due: beats-metricbeat, beats-xpack-metricbeat

remove mappings & make update
  NOTICE.txt
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules_list.asciidoc
  x-pack/metricbeat/module/panw/_meta/fields.yml
  x-pack/metricbeat/module/panw/fields.go
  x-pack/metricbeat/module/panw/interfaces/_meta/fields.yml
  x-pack/metricbeat/module/panw/routing/_meta/fields.yml
  x-pack/metricbeat/module/panw/system/_meta/fields.yml
  x-pack/metricbeat/module/panw/vpn/_meta/fields.yml
Due: beats-metricbeat, beats-xpack-metricbeat

azure-eventhub: expand input sanitizer's invalid JSON coverage (#40742)
  x-pack/filebeat/input/azureeventhub/README.md
  x-pack/filebeat/input/azureeventhub/config.go
  x-pack/filebeat/input/azureeventhub/decoder.go
  x-pack/filebeat/input/azureeventhub/decoder_test.go
  x-pack/filebeat/input/azureeventhub/metrics.go
  x-pack/filebeat/input/azureeventhub/metrics_test.go
  x-pack/filebeat/input/azureeventhub/sanitization.go
  x-pack/filebeat/input/azureeventhub/sanitization_test.go
  x-pack/filebeat/input/azureeventhub/sanitizers.go
  x-pack/filebeat/input/azureeventhub/sanitizers_legacy.go
  x-pack/filebeat/input/azureeventhub/sanitizers_test.go
  x-pack/filebeat/input/azureeventhub/v1_input.go
  x-pack/filebeat/input/azureeventhub/v2_input.go
Due: beats-xpack-filebeat

more linter errors guarding against shared loop var pointers
  x-pack/metricbeat/module/meraki/device_health/switchports.go
  x-pack/metricbeat/module/meraki/device_health/uplinks.go
Due: beats-xpack-metricbeat

Update winlogbeat/sys/strings.go
  winlogbeat/sys/strings.go
Due: beats-winlogbeat

Add godoc
  winlogbeat/sys/strings.go
Due: beats-winlogbeat

fix error introduced in previous commit
  x-pack/metricbeat/module/meraki/device_health/uplinks.go
Due: beats-xpack-metricbeat

make linter happy
  x-pack/metricbeat/module/panw/client.go
Due: beats-xpack-metricbeat

add exception for golangci-lint G601 which is no longer required in go1.22+
  .golangci.yml
Due: none

remove the guards against taking addresses of loop vars
  x-pack/metricbeat/module/meraki/device_health/_meta/fields.yml
  x-pack/metricbeat/module/meraki/device_health/devices.go
  x-pack/metricbeat/module/meraki/device_health/switchports.go
  x-pack/metricbeat/module/meraki/device_health/uplinks.go
Due: beats-xpack-metricbeat

Osquerybeat: Upgrade to osquery 5.13.1 (#40849)
  CHANGELOG.next.asciidoc
  x-pack/osquerybeat/internal/distro/distro.go
Due: beats-xpack-osquerybeat

i can't get the golanglint-ci config to get picked up, so i'm reverting that change and putting back the annoying index loop code
  .golangci.yml
  x-pack/metricbeat/module/meraki/device_health/devices.go
  x-pack/metricbeat/module/meraki/device_health/switchports.go
  x-pack/metricbeat/module/meraki/device_health/uplinks.go
Due: beats-xpack-metricbeat
