Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Path conditions:
  Trigger Auditbeat: any of: auditbeat/**, .buildkite/auditbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Heartbeat: any of: heartbeat/**, .buildkite/heartbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Filebeat: any of: filebeat/**, .buildkite/filebeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/filebeat: any of: filebeat/**, x-pack/filebeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/dockerlogbeat: any of: x-pack/dockerlogbeat/**, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Metricbeat: any of: metricbeat/**, .buildkite/metricbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/metricbeat: any of: metricbeat/**, x-pack/metricbeat/**, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/winlogbeat: any of: winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Deploy/K8S: any of: deploy/kubernetes/**, metricbeat/module/kubernetes/**, .go-version, libbeat/docs/version.asciidoc, .buildkite/deploy/kubernetes/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Libbeat: any of: libbeat/**, .buildkite/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/libbeat: any of: x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .go-version, libbeat/**, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/otel: any of: x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .go-version, go.mod, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/auditbeat: any of: auditbeat/**, x-pack/auditbeat/**, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/heartbeat: any of: heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/packetbeat: any of: packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Winlogbeat: any of: winlogbeat/**, .buildkite/winlogbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Packetbeat: any of: packetbeat/**, .buildkite/packetbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**

Add changelog.
  changelog/fragments/1780929136-upgrade-to-go-1.26.4.yaml
Due: none

FIx shutdown in filebeat.
  filebeat/beater/filebeat.go
  libbeat/beat/beat.go
  libbeat/cmd/instance/beat.go
  libbeat/publisher/pipeline/client_test.go
  libbeat/publisher/pipeline/pipeline_test.go
  libbeat/publisher/queue/memqueue/broker.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

feat: implement native global processors
  libbeat/otel/otelmap/otelmap.go
  libbeat/processors/actions/addfields/add_fields.go
  libbeat/processors/add_cloud_metadata/add_cloud_metadata.go
  libbeat/processors/add_docker_metadata/add_docker_metadata.go
  libbeat/processors/add_host_metadata/add_host_metadata.go
  libbeat/processors/add_kubernetes_metadata/kubernetes.go
  libbeat/processors/add_kubernetes_metadata/matchers.go
  libbeat/processors/conditionals.go
  x-pack/otel/processor/beatprocessor/benchmark_test.go
  x-pack/otel/processor/beatprocessor/processor.go
  x-pack/otel/processor/beatprocessor/processor_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Fix --once in filebeat
  filebeat/beater/filebeat.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Fix conflict
  libbeat/docs/version.asciidoc
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Add dynamic sizing to slabqueue and masked based slot assignment.
  libbeat/publisher/pipeline/output_otel.go
  libbeat/publisher/pipeline/output_otel_test.go
  libbeat/publisher/queue/slabqueue/batch.go
  libbeat/publisher/queue/slabqueue/freelist.go
  libbeat/publisher/queue/slabqueue/pool.go
  libbeat/publisher/queue/slabqueue/producer.go
  libbeat/publisher/queue/slabqueue/queue.go
  libbeat/publisher/queue/slabqueue/slabqueue.go
  libbeat/publisher/queue/slabqueue/slabqueue_test.go
  libbeat/publisher/queue/slabqueue/storage.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Fix lint.
  libbeat/publisher/queue/slabqueue/queue.go
  libbeat/publisher/queue/slabqueue/slabqueue_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

First mask used should be 0, not 1.
  libbeat/publisher/queue/slabqueue/queue.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix(metricbeat): improve input validation in graphite, prometheus and zookeeper metricsets
  metricbeat/helper/prometheus/metric.go
  metricbeat/helper/prometheus/metric_test.go
  metricbeat/module/graphite/server/data.go
  metricbeat/module/graphite/server/data_test.go
Due: Trigger Metricbeat, Trigger x-pack/metricbeat

fix linter issue
  metricbeat/module/graphite/server/data.go
Due: Trigger Metricbeat, Trigger x-pack/metricbeat

metricbeat/mongodb/collstats: harden mongos fallback, sharded merge, and tests
  changelog/fragments/1781012000-metricbeat-mongodb-collstats-aggregation.yaml
  docs/reference/metricbeat/exported-fields-mongodb.md
  metricbeat/module/mongodb/collstats/collstats.go
  metricbeat/module/mongodb/collstats/collstats_integration_test.go
  metricbeat/module/mongodb/collstats/collstats_test.go
  metricbeat/module/mongodb/collstats/data_test.go
  metricbeat/module/mongodb/collstats/testing/mongodb/sharded/docker-compose.yml
  metricbeat/module/mongodb/collstats/testing/mongodb/sharded/init-sharded-cluster.sh
  metricbeat/module/mongodb/fields.go
Due: Trigger Metricbeat, Trigger x-pack/metricbeat

[filebeat] Add consumer-group and network timeout options to the Kafka input
  changelog/fragments/1781034715-filebeat-kafka-input-consumer-timeouts.yaml
  docs/reference/filebeat/filebeat-input-kafka.md
  docs/reference/filebeat/filebeat-reference-yml.md
  filebeat/_meta/config/filebeat.inputs.reference.yml.tmpl
  filebeat/filebeat.reference.yml
  filebeat/input/kafka/config.go
  filebeat/input/kafka/config_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

fix(metricbeat): improve input validation in graphite, prometheus and zookeeper metricsets (#51167)
  metricbeat/helper/prometheus/metric.go
  metricbeat/helper/prometheus/metric_test.go
  metricbeat/module/graphite/server/data.go
  metricbeat/module/graphite/server/data_test.go
Due: Trigger Metricbeat, Trigger x-pack/metricbeat

Add queuetest to slabqueue.
  libbeat/publisher/queue/queuetest/queuetest.go
  libbeat/publisher/queue/slabqueue/queuetest_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

osquerybeat e2e test of process and otel runtimes
  x-pack/osquerybeat/beater/osquery_runner.go
  x-pack/osquerybeat/beater/osquerybeat.go
  x-pack/osquerybeat/docker-compose.yml
  x-pack/osquerybeat/internal/distro/distro.go
  x-pack/osquerybeat/internal/install/bundled/install.go
  x-pack/osquerybeat/internal/install/bundled/install_test.go
  x-pack/osquerybeat/internal/osqd/osqueryd.go
  x-pack/osquerybeat/internal/osqdcli/client.go
  x-pack/osquerybeat/magefile.go
  x-pack/osquerybeat/osqreceiver/receiver_test.go
  x-pack/osquerybeat/tests/integration/integration_test.go
  x-pack/osquerybeat/tests/integration/otel_test.go
  x-pack/otel/oteltest/oteltest.go
Due: Trigger x-pack/osquerybeat, Trigger x-pack/otel

x-pack/filebeat/input/{cel,httpjson}: cache Okta OAuth2 token to avoid unnecessary JWT regeneration (#51080)
  changelog/fragments/1780465909-okta-oauth2-token-cache.yaml
  x-pack/filebeat/input/cel/config_okta_auth.go
  x-pack/filebeat/input/httpjson/config_okta_auth.go
Due: Trigger x-pack/filebeat

x-pack/filebeat/input/entityanalytics/provider/okta: fix OAuth2 jwk_json token refresh (#51079)
  changelog/fragments/1780465416-fix-okta-jwk-json-refresh.yaml
  x-pack/filebeat/input/entityanalytics/provider/okta/oauth2.go
  x-pack/filebeat/input/entityanalytics/provider/okta/oauth2_test.go
Due: Trigger x-pack/filebeat
