Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Path conditions:
  Trigger Auditbeat: any of: auditbeat/**, .buildkite/auditbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Heartbeat: any of: heartbeat/**, .buildkite/heartbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Filebeat: any of: filebeat/**, .buildkite/filebeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/filebeat: any of: filebeat/**, x-pack/filebeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/dockerlogbeat: any of: x-pack/dockerlogbeat/**, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Metricbeat: any of: metricbeat/**, .buildkite/metricbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/metricbeat: any of: metricbeat/**, x-pack/metricbeat/**, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/winlogbeat: any of: winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Deploy/K8S: any of: deploy/kubernetes/**, metricbeat/module/kubernetes/**, .go-version, libbeat/docs/version.asciidoc, .buildkite/deploy/kubernetes/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Libbeat: any of: libbeat/**, .buildkite/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/libbeat: any of: x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .go-version, libbeat/**, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/otel: any of: x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .go-version, go.mod, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/auditbeat: any of: auditbeat/**, x-pack/auditbeat/**, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/heartbeat: any of: heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/packetbeat: any of: packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Winlogbeat: any of: winlogbeat/**, .buildkite/winlogbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Packetbeat: any of: packetbeat/**, .buildkite/packetbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**

[libbeat] Make queue interfaces a generic with an explicit entry type (#49954)
  libbeat/outputs/elasticsearch/client_integration_test.go
  libbeat/outputs/elasticsearch/event_encoder.go
  libbeat/outputs/elasticsearch/event_encoder_test.go
  libbeat/outputs/logstash/logstash_integration_test.go
  libbeat/outputs/output_reg.go
  libbeat/outputs/util.go
  libbeat/publisher/pipeline/client.go
  libbeat/publisher/pipeline/client_test.go
  libbeat/publisher/pipeline/consumer.go
  libbeat/publisher/pipeline/controller.go
  libbeat/publisher/pipeline/controller_test.go
  libbeat/publisher/pipeline/pipeline.go
  libbeat/publisher/pipeline/pipeline_test.go
  libbeat/publisher/pipeline/queue_reader.go
  libbeat/publisher/pipeline/ttl_batch.go
  libbeat/publisher/pipeline/ttl_batch_test.go
  libbeat/publisher/queue/diskqueue/benchmark_test.go
  libbeat/publisher/queue/diskqueue/consumer.go
  libbeat/publisher/queue/diskqueue/frames.go
  libbeat/publisher/queue/diskqueue/producer.go
  libbeat/publisher/queue/diskqueue/queue.go
  libbeat/publisher/queue/diskqueue/queue_test.go
  libbeat/publisher/queue/diskqueue/reader_loop.go
  libbeat/publisher/queue/diskqueue/serialize.go
  libbeat/publisher/queue/memqueue/ackloop.go
  libbeat/publisher/queue/memqueue/broker.go
  libbeat/publisher/queue/memqueue/internal_api.go
  libbeat/publisher/queue/memqueue/produce.go
  libbeat/publisher/queue/memqueue/queue_test.go
  libbeat/publisher/queue/memqueue/runloop.go
  libbeat/publisher/queue/memqueue/runloop_test.go
  libbeat/publisher/queue/queue.go
  libbeat/publisher/queue/queuetest/queuetest.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

apply suggestion from code review
  filebeat/input/filestream/input_delete_integration_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

[8.19] Backport AWS cloud connectors credential helper (#48956)
  x-pack/libbeat/common/aws/cloud_connectors.go
  x-pack/libbeat/common/aws/cloud_connectors_test.go
  x-pack/libbeat/common/aws/credentials.go
  x-pack/libbeat/common/aws/credentials_test.go
Due: Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat

Backport: add auth.aws SigV4 support to httpjson input (#47260)
  changelog/fragments/1761377900-input-auth-method-aws.yaml
  x-pack/filebeat/input/httpjson/config_auth.go
  x-pack/filebeat/input/httpjson/input.go
  x-pack/filebeat/input/httpjson/input_test.go
  x-pack/libbeat/common/aws/signer.go
  x-pack/libbeat/common/aws/signer_test.go
Due: Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat

Backport: fix aws auth method service name and region overwrite (#47712)
  x-pack/libbeat/common/aws/signer.go
  x-pack/libbeat/common/aws/signer_test.go
Due: Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat

Fix golangci-lint issues in httpjson and aws signer (whole-files mode)
  x-pack/filebeat/input/httpjson/config_auth.go
  x-pack/filebeat/input/httpjson/input.go
  x-pack/filebeat/input/httpjson/input_test.go
  x-pack/libbeat/common/aws/signer_test.go
Due: Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat

perf: pre-compute dissect prefix keys and skip map conversion
  libbeat/processors/dissect/dissect_bench_test.go
  libbeat/processors/dissect/processor.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Add debug logging to trace auth.aws config and SigV4 signing path
  x-pack/filebeat/input/httpjson/input.go
  x-pack/libbeat/common/aws/credentials.go
  x-pack/libbeat/common/aws/signer.go
Due: Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat

fix: update azeventhubs v2 import in v2_input_test.go
  x-pack/filebeat/input/azureeventhub/v2_input_test.go
Due: Trigger x-pack/filebeat

Update changelog
  changelog/fragments/1775803962-fix-azeventhub-v2-tests.yaml
Due: none

fix: update azeventhubs v2 import in v2_input_test.go (#50051)
  x-pack/filebeat/input/azureeventhub/v2_input_test.go
Due: Trigger x-pack/filebeat

[metricbeat] Collect init container metrics in state_container metricset
  changelog/fragments/1775801591-add-init-container-metrics-state-container.yaml
  docs/reference/metricbeat/exported-fields-kubernetes.md
  docs/reference/metricbeat/metricbeat-metricset-kubernetes-state_container.md
  metricbeat/module/kubernetes/_meta/test/KSM/docs.plain
  metricbeat/module/kubernetes/_meta/test/KSM/ksm.v2.10.0.plain
  metricbeat/module/kubernetes/_meta/test/KSM/ksm.v2.11.0.plain
  metricbeat/module/kubernetes/_meta/test/KSM/ksm.v2.12.0.plain
  metricbeat/module/kubernetes/_meta/test/KSM/ksm.v2.15.0.plain
  metricbeat/module/kubernetes/fields.go
  metricbeat/module/kubernetes/state_container/_meta/data.json
  metricbeat/module/kubernetes/state_container/_meta/fields.yml
  metricbeat/module/kubernetes/state_container/_meta/test/ksm.v2.10.0.plain.expected
  metricbeat/module/kubernetes/state_container/_meta/test/ksm.v2.11.0.plain.expected
  metricbeat/module/kubernetes/state_container/_meta/test/ksm.v2.12.0.plain.expected
  metricbeat/module/kubernetes/state_container/_meta/test/ksm.v2.15.0.plain.expected
  metricbeat/module/kubernetes/state_container/_meta/testdata/docs.plain-expected.json
  metricbeat/module/kubernetes/state_container/_meta/testdata/ksm.v2.10.0.plain-expected.json
  metricbeat/module/kubernetes/state_container/_meta/testdata/ksm.v2.11.0.plain-expected.json
  metricbeat/module/kubernetes/state_container/_meta/testdata/ksm.v2.12.0.plain-expected.json
  metricbeat/module/kubernetes/state_container/_meta/testdata/ksm.v2.15.0.plain-expected.json
  metricbeat/module/kubernetes/state_container/state_container.go
Due: Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger Deploy/K8S

Add kube_pod_init_container_status_last_terminated_exitcode mapping
  metricbeat/module/kubernetes/_meta/test/KSM/docs.plain
  metricbeat/module/kubernetes/_meta/test/KSM/ksm.v2.10.0.plain
  metricbeat/module/kubernetes/_meta/test/KSM/ksm.v2.11.0.plain
  metricbeat/module/kubernetes/_meta/test/KSM/ksm.v2.12.0.plain
  metricbeat/module/kubernetes/_meta/test/KSM/ksm.v2.15.0.plain
  metricbeat/module/kubernetes/state_container/_meta/test/ksm.v2.10.0.plain.expected
  metricbeat/module/kubernetes/state_container/_meta/test/ksm.v2.11.0.plain.expected
  metricbeat/module/kubernetes/state_container/_meta/test/ksm.v2.12.0.plain.expected
  metricbeat/module/kubernetes/state_container/_meta/test/ksm.v2.15.0.plain.expected
  metricbeat/module/kubernetes/state_container/_meta/testdata/docs.plain-expected.json
  metricbeat/module/kubernetes/state_container/_meta/testdata/ksm.v2.10.0.plain-expected.json
  metricbeat/module/kubernetes/state_container/_meta/testdata/ksm.v2.11.0.plain-expected.json
  metricbeat/module/kubernetes/state_container/_meta/testdata/ksm.v2.12.0.plain-expected.json
  metricbeat/module/kubernetes/state_container/_meta/testdata/ksm.v2.15.0.plain-expected.json
  metricbeat/module/kubernetes/state_container/state_container.go
Due: Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger Deploy/K8S

Fix goimports alignment in init container metrics block
  metricbeat/module/kubernetes/state_container/state_container.go
Due: Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger Deploy/K8S

fix(libbeat): address Windows golangci and LDAP CBT test PEM
  libbeat/processors/translate_ldap_attribute/ldap_sspi_cbt_windows.go
  libbeat/processors/translate_ldap_attribute/ldap_sspi_cbt_windows_test.go
  libbeat/processors/translate_ldap_attribute/ldap_windows.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Fix conflicts
  filebeat/autodiscover/builder/hints/logs_test.go
  libbeat/autodiscover/autodiscover_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

perf: pre-allocate bulkItems slice in Elasticsearch output (#50022)
  libbeat/outputs/elasticsearch/client.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix: correct goimports formatting in dissect_bench_test.go
  libbeat/processors/dissect/dissect_bench_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix mage package to work from git worktrees
  dev-tools/mage/common.go
  dev-tools/mage/crossbuild.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

build tag: pr-49956 2026-04-10T14:21:47Z
  x-pack/libbeat/common/aws/build_tag.go
Due: Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat

Bump the beats distro manifest
  x-pack/otel/distributions/beats-otel-collector/manifest.yaml
Due: Trigger x-pack/otel

fix: remove redundant err check (#49760)
  filebeat/beater/diagnostics.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Bugfix: Safely Handle Malformed UAC events (#49869)
  changelog/fragments/1775088009-sdh6727.yaml
  x-pack/winlogbeat/module/security/ingest/security_standard.yml
Due: Trigger x-pack/winlogbeat

workaround for FIPS ESS testing
  .buildkite/scripts/custom_fips_ech_test.sh
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix build tag: use init() to prevent dead-code elimination
  x-pack/libbeat/common/aws/build_tag.go
Due: Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat

Remove debug logging added for AWS SigV4 auth tracing
  x-pack/filebeat/input/httpjson/input.go
  x-pack/libbeat/common/aws/build_tag.go
  x-pack/libbeat/common/aws/credentials.go
  x-pack/libbeat/common/aws/signer.go
Due: Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat

Add third party derivitave comment
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/registry/low_level_file_read.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/registry/low_level_file_read_test.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/registry/registry.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/registry/registry_test.go
Due: Trigger x-pack/osquerybeat

Backport: add auth.aws SigV4 support to cel input (#47260)
  x-pack/filebeat/input/cel/config_auth.go
  x-pack/filebeat/input/cel/input.go
  x-pack/filebeat/input/cel/input_test.go
Due: Trigger x-pack/filebeat

Fix golangci-lint issues in cel and httpjson (nolintlint explanations)
  x-pack/filebeat/input/cel/config_auth.go
  x-pack/filebeat/input/httpjson/config_auth.go
  x-pack/filebeat/input/httpjson/input.go
  x-pack/filebeat/input/httpjson/input_test.go
Due: Trigger x-pack/filebeat

re-apply changes to fresh baseline
  libbeat/otel/otelconsumer/otelconsumer.go
  libbeat/publisher/includes/includes.go
  libbeat/publisher/pipeline/output_otel.go
  libbeat/publisher/pipeline/output_otel_test.go
  libbeat/publisher/pipeline/output_process.go
  libbeat/publisher/pipeline/output_process_test.go
  libbeat/publisher/pipeline/pipeline.go
  x-pack/libbeat/cmd/instance/beat.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Fix golangci-lint issues in cel/input.go and cel/input_test.go
  x-pack/filebeat/input/cel/input.go
  x-pack/filebeat/input/cel/input_test.go
Due: Trigger x-pack/filebeat

[AutoOps] Use UUIDv7 in place of UUIDv4 and drop dashes
  changelog/fragments/1775859655-autoops-uuid-v7.yaml
  x-pack/metricbeat/module/autoops_es/auto_ops_testing/testing.go
  x-pack/metricbeat/module/autoops_es/cat_shards/data.go
  x-pack/metricbeat/module/autoops_es/cat_template/data.go
  x-pack/metricbeat/module/autoops_es/cat_template/data_test.go
  x-pack/metricbeat/module/autoops_es/cluster_health/data.go
  x-pack/metricbeat/module/autoops_es/cluster_health/data_test.go
  x-pack/metricbeat/module/autoops_es/cluster_settings/data.go
  x-pack/metricbeat/module/autoops_es/cluster_settings/data_test.go
  x-pack/metricbeat/module/autoops_es/component_template/data.go
  x-pack/metricbeat/module/autoops_es/component_template/data_test.go
  x-pack/metricbeat/module/autoops_es/events/error_event.go
  x-pack/metricbeat/module/autoops_es/events/error_event_test.go
  x-pack/metricbeat/module/autoops_es/events/events.go
  x-pack/metricbeat/module/autoops_es/events/events_test.go
  x-pack/metricbeat/module/autoops_es/index_template/data.go
  x-pack/metricbeat/module/autoops_es/index_template/data_test.go
  x-pack/metricbeat/module/autoops_es/license/data.go
  x-pack/metricbeat/module/autoops_es/metricset/metricset_nested_test.go
  x-pack/metricbeat/module/autoops_es/metricset/metricset_test.go
  x-pack/metricbeat/module/autoops_es/node_stats/data.go
  x-pack/metricbeat/module/autoops_es/tasks_management/data.go
  x-pack/metricbeat/module/autoops_es/tasks_management/data_test.go
  x-pack/metricbeat/module/autoops_es/templates/templates.go
  x-pack/metricbeat/module/autoops_es/utils/uuid.go
  x-pack/metricbeat/module/autoops_es/utils/uuid_test.go
Due: Trigger x-pack/metricbeat
