Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Path conditions:
  Trigger Auditbeat: any of: auditbeat/**, .buildkite/auditbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Heartbeat: any of: heartbeat/**, .buildkite/heartbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Filebeat: any of: filebeat/**, .buildkite/filebeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/filebeat: any of: filebeat/**, x-pack/filebeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/dockerlogbeat: any of: x-pack/dockerlogbeat/**, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Metricbeat: any of: metricbeat/**, .buildkite/metricbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/metricbeat: any of: metricbeat/**, x-pack/metricbeat/**, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/winlogbeat: any of: winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Deploy/K8S: any of: deploy/kubernetes/**, metricbeat/module/kubernetes/**, .go-version, libbeat/docs/version.asciidoc, .buildkite/deploy/kubernetes/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Libbeat: any of: libbeat/**, .buildkite/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/libbeat: any of: x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .go-version, libbeat/**, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/otel: any of: x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .go-version, go.mod, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/auditbeat: any of: auditbeat/**, x-pack/auditbeat/**, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/heartbeat: any of: heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/packetbeat: any of: packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Winlogbeat: any of: winlogbeat/**, .buildkite/winlogbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Packetbeat: any of: packetbeat/**, .buildkite/packetbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**

test: fix integration test build
  pkg/autodiscover/docker/client_test.go
Due: none

docs: update docs
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

[Release] update test environment
  metricbeat/docker-compose.yml
  testing/environments/latest.yml
  x-pack/metricbeat/docker-compose.yml
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix: make update changes
  deploy/kubernetes/heartbeat-kubernetes.yaml
Due: Trigger Deploy/K8S

[Release] update version
  libbeat/version/version.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Apply docs suggestions
  docs/reference/filebeat/filebeat-input-entity-analytics.md
Due: none

Apply suggestions from code review
  docs/reference/filebeat/filebeat-input-entity-analytics.md
Due: none

Apply suggestion from @bmorelli25
  docs/reference/filebeat/filebeat-input-entity-analytics.md
Due: none

Add add_observer_metadata processor to otel beatsprocessor
  x-pack/otel/processor/beatprocessor/processor.go
  x-pack/otel/processor/beatprocessor/processor_test.go
Due: Trigger x-pack/otel

add the 9.3.7 Beats release notes
  changelog/9.3.7.yaml
  changelog/fragments/1781012000-metricbeat-mongodb-collstats-aggregation.yaml
  changelog/fragments/1781135498-fix-websocket-reconnect-context-cancellation.yaml
  changelog/fragments/1781492627-fix-websocket-shutdown-read-hang.yaml
  changelog/fragments/1781494902-50867-cel.yaml
  changelog/fragments/1781605073-fix-filestream-cursormeta-data-race.yaml
  changelog/fragments/1781772093-heartbeat-http-tls-with-redirects.yaml
  changelog/fragments/1782163090-strip-sensitive-headers-cross-origin-redirect.yaml
  changelog/fragments/1782231377-fix-panic-with-logging.metrics.period-is-0.yaml
  changelog/fragments/1782276173-fix-tracer-path-validation.yaml
  changelog/fragments/1782287808-fix-kafka-output-publish-close-race.yaml
  docs/release-notes/_snippets/9.3.7/breaking-changes.md
  docs/release-notes/_snippets/9.3.7/deprecations.md
  docs/release-notes/_snippets/9.3.7/index.md
  docs/release-notes/_snippets/breaking-changes/9.3.md
  docs/release-notes/_snippets/deprecations/9.3.md
  docs/release-notes/_snippets/index/9.3.md
Due: none

remove duplicate entries
  changelog/9.3.7.yaml
  docs/release-notes/_snippets/9.3.7/index.md
Due: none

remove global paths from metricbeat
  changelog/fragments/1782499306-remove-global-paths-from-metricbeat.yaml
  metricbeat/mb/builders.go
  metricbeat/mb/lightmetricset.go
  metricbeat/mb/lightmetricset_test.go
  metricbeat/mb/mb.go
  metricbeat/mb/mb_test.go
  x-pack/libbeat/cmd/instance/beat.go
  x-pack/metricbeat/module/sql/module.go
  x-pack/metricbeat/module/sql/module_test.go
Due: Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat

update changelog
  changelog/fragments/1782499306-remove-global-paths-from-metricbeat.yaml
Due: none

fix linter issues
  x-pack/metricbeat/module/sql/module.go
  x-pack/metricbeat/module/sql/module_test.go
Due: Trigger x-pack/metricbeat

Add unit test proving auditbeat status reporting works.
  x-pack/auditbeat/abreceiver/receiver_test.go
Due: Trigger x-pack/auditbeat

osquerybeat e2e test of process and otel runtimes
  x-pack/osquerybeat/beater/osquery_runner.go
  x-pack/osquerybeat/beater/osquerybeat.go
  x-pack/osquerybeat/beater/otel_status.go
  x-pack/osquerybeat/docker-compose.yml
  x-pack/osquerybeat/internal/config/config.go
  x-pack/osquerybeat/internal/distro/distro.go
  x-pack/osquerybeat/internal/install/bundled/install.go
  x-pack/osquerybeat/internal/install/bundled/install_test.go
  x-pack/osquerybeat/internal/osqd/osqueryd.go
  x-pack/osquerybeat/internal/osqdcli/client.go
  x-pack/osquerybeat/internal/zip/zip.go
  x-pack/osquerybeat/magefile.go
  x-pack/osquerybeat/osqreceiver/receiver_test.go
  x-pack/osquerybeat/tests/integration/integration_test.go
  x-pack/osquerybeat/tests/integration/otel_test.go
  x-pack/osquerybeat/tests/integration/receiver_test.go
  x-pack/otel/oteltest/oteltest.go
  x-pack/otel/status/reporter_test.go
Due: Trigger x-pack/osquerybeat, Trigger x-pack/otel

resolve conflicts
  x-pack/filebeat/input/httpjson/config_test.go
  x-pack/filebeat/input/httpjson/request_test.go
Due: Trigger x-pack/filebeat

x-pack/filebeat/input/httpjson: ensure response body is mapstr.M in template values
  changelog/fragments/1782697626-i19811-httpjson.yaml
  x-pack/filebeat/input/httpjson/response.go
  x-pack/filebeat/input/httpjson/response_test.go
Due: Trigger x-pack/filebeat

[bugfix] worker is not respected when loadbalance:false (#51041)
  changelog/fragments/1780315938-fix-loadbalance-bug.yaml
  docs/reference/auditbeat/elasticsearch-output.md
  docs/reference/auditbeat/logstash-output.md
  docs/reference/auditbeat/redis-output.md
  docs/reference/filebeat/elasticsearch-output.md
  docs/reference/filebeat/logstash-output.md
  docs/reference/filebeat/redis-output.md
  docs/reference/heartbeat/elasticsearch-output.md
  docs/reference/heartbeat/logstash-output.md
  docs/reference/heartbeat/redis-output.md
  docs/reference/metricbeat/elasticsearch-output.md
  docs/reference/metricbeat/logstash-output.md
  docs/reference/metricbeat/redis-output.md
  docs/reference/packetbeat/elasticsearch-output.md
  docs/reference/packetbeat/logstash-output.md
  docs/reference/packetbeat/redis-output.md
  docs/reference/winlogbeat/elasticsearch-output.md
  docs/reference/winlogbeat/logstash-output.md
  docs/reference/winlogbeat/redis-output.md
  libbeat/outputs/elasticsearch/elasticsearch.go
  libbeat/outputs/failover.go
  libbeat/outputs/hosts.go
  libbeat/outputs/logstash/logstash.go
  libbeat/outputs/redis/redis.go
  libbeat/outputs/util.go
  libbeat/outputs/util_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

x-pack/filebeat/input/awss3: add V2 object processing pipeline
  x-pack/filebeat/input/awss3/v2_processor.go
  x-pack/filebeat/input/awss3/v2_processor_test.go
Due: Trigger x-pack/filebeat

x-pack/filebeat/input/awss3: add V2 unified state registry
  x-pack/filebeat/input/awss3/v2_state.go
  x-pack/filebeat/input/awss3/v2_state_test.go
Due: Trigger x-pack/filebeat

libbeat/features,x-pack/filebeat/input/awss3: add AwsS3V2 feature flag and input skeleton
  libbeat/features/features.go
  x-pack/filebeat/input/awss3/input.go
  x-pack/filebeat/input/awss3/v2_input.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix make check
  heartbeat/config/config_test.go
  heartbeat/monitors/active/http/checkjson_test.go
  heartbeat/monitors/active/tcp/tls_test.go
  heartbeat/monitors/wrappers/monitorstate/tracker_test.go
  heartbeat/tracer/tracer_test.go
  x-pack/heartbeat/monitors/browser/browser.go
  x-pack/heartbeat/scenarios/framework/framework.go
Due: Trigger Heartbeat, Trigger x-pack/heartbeat

add redis to x-pack docker compose
  x-pack/filebeat/docker-compose.yml
Due: Trigger x-pack/filebeat

fix kafka test
  filebeat/input/kafka/kafka_integration_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

update redis docker
  filebeat/docker-compose.yml
  filebeat/input/redis/_meta/Dockerfile
  filebeat/input/redis/redis_integration_test.go
  filebeat/input/redis/testutil/testutil.go
  testing/environments/docker/redis/Dockerfile
  testing/environments/docker/redis/Dockerfile-tls
  testing/environments/docker/redis/certs/root-ca.pem
  testing/environments/docker/redis/certs/server-cert.pem
  testing/environments/docker/redis/certs/server-key.pem
  testing/environments/docker/redis/env
  testing/environments/docker/redis/redis.conf
  x-pack/filebeat/docker-compose.yml
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix heartbeat cmd failure
  heartbeat/monitors/wrappers/monitorstate/esloader_test.go
Due: Trigger Heartbeat, Trigger x-pack/heartbeat

x-pack/filebeat/entityanalytics/azuread: add sign-in activity enrichment for users (#51390)
  changelog/fragments/1781889080-azuread-sign-in-activity-enrichment.yaml
  docs/reference/filebeat/filebeat-input-entity-analytics.md
  x-pack/filebeat/input/entityanalytics/provider/azuread/azure.go
  x-pack/filebeat/input/entityanalytics/provider/azuread/azure_test.go
  x-pack/filebeat/input/entityanalytics/provider/azuread/conf.go
  x-pack/filebeat/input/entityanalytics/provider/azuread/conf_test.go
  x-pack/filebeat/input/entityanalytics/provider/azuread/fetcher/fetcher.go
  x-pack/filebeat/input/entityanalytics/provider/azuread/fetcher/graph/graph.go
  x-pack/filebeat/input/entityanalytics/provider/azuread/fetcher/graph/graph_test.go
  x-pack/filebeat/input/entityanalytics/provider/azuread/fetcher/mock/mock.go
  x-pack/filebeat/input/entityanalytics/provider/azuread/fetcher/user.go
Due: Trigger x-pack/filebeat

filestream: Fix date sorter short path panic (#51570)
  changelog/fragments/1782459050-fix-filestream-copytruncate-date-sorter-panic.yaml
  filebeat/input/filestream/copytruncate_prospector.go
  filebeat/input/filestream/copytruncate_prospector_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat
