Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: /agent/check-catalog-info.sh, :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Path conditions:
  /agent/check-catalog-info.sh: any of: catalog-info.yaml
  :pipeline: Upload beats-auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-filebeat: any of: filebeat/, .buildkite/pipeline.yml, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-filebeat: any of: filebeat/, x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/pipeline.yml, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-metricbeat: any of: metricbeat/, x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-winlogbeat: any of: winlogbeat/, x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  :pipeline: Upload deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/pipeline.yml, .buildkite/scripts, deploy/kubernetes/**, metricbeat/module/kubernetes/**, libbeat/docs/version.asciidoc
  :pipeline: Upload beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  :pipeline: Upload beats-xpack-libbeat: any of: libbeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-auditbeat: any of: auditbeat/, x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-xpack-heartbeat: any of: heartbeat/, x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: packetbeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-agentbeat: any of: auditbeat/, filebeat/, heartbeat/, metricbeat/, osquerybeat/, packetbeat/, x-pack/agentbeat/, x-pack/auditbeat/, x-pack/filebeat/, x-pack/heartbeat/, x-pack/metricbeat/, x-pack/osquerybeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.agentbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/

add asciidoc documentation
  x-pack/filebeat/docs/inputs/input-gcp-pubsub.asciidoc
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

x-pack/filebeat/input/gcppubsub: add support for proxy configuration (#44892)
  CHANGELOG.next.asciidoc
  docs/reference/filebeat/filebeat-input-gcp-pubsub.md
  x-pack/filebeat/input/gcppubsub/config.go
  x-pack/filebeat/input/gcppubsub/input.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

remove incorrectly cherry-picked markdown documentation
  docs/reference/filebeat/filebeat-input-gcp-pubsub.md
Due: none

do not report -1 of offset(wrong data)
  metricbeat/module/kafka/consumergroup/query.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

add apache and K8's
  metricbeat/module/apache/status/status_test.go
  metricbeat/module/kubernetes/volume/volume_integration_test.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-xpack-agentbeat

CHANGELOG: fix gcs health status change entry (#44956)
  CHANGELOG.next.asciidoc
Due: none

remove K8's
  metricbeat/module/kubernetes/event/event_test.go
  metricbeat/module/kubernetes/util/kubernetes.go
  metricbeat/module/kubernetes/util/kubernetes_test.go
  metricbeat/module/kubernetes/volume/volume.go
  metricbeat/module/kubernetes/volume/volume_integration_test.go
  metricbeat/module/kubernetes/volume/volume_test.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-xpack-agentbeat

x-pack/filebeat/input/cel: document surprising number behaviours
  docs/reference/filebeat/filebeat-input-cel.md
Due: none

docs: remove incorrect sentence (#44772)
  docs/reference/filebeat/filebeat-input-filestream.md
Due: none

add comment
  x-pack/metricbeat/module/sql/query/dsn.go
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

revert hierarchy change for "Scanner options" header
  docs/reference/filebeat/filebeat-input-filestream.md
Due: none

add example of passing SSL parameters manually
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/sql/_meta/config.yml
  x-pack/metricbeat/modules.d/sql.yml.disabled
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

fix typo in changelog
  CHANGELOG.next.asciidoc
Due: none

do not log API key after config validation
  x-pack/metricbeat/module/meraki/device_health/device_health.go
  x-pack/metricbeat/module/meraki/network_health/network_health.go
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

formatting
  x-pack/metricbeat/module/meraki/network_health/networks.go
  x-pack/metricbeat/module/meraki/reporter.go
  x-pack/metricbeat/module/meraki/reporter_test.go
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

use 'bytes' instead of 'kb'
  x-pack/metricbeat/module/meraki/network_health/networks.go
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

add missing reference config entries
  docs/reference/metricbeat/metricbeat-module-meraki.md
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/meraki/_meta/config.yml
  x-pack/metricbeat/modules.d/meraki.yml.disabled
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

fix benchmark and tests
  x-pack/filebeat/fbreceiver/receiver_test.go
  x-pack/libbeat/common/otelbeat/status/reporter.go
  x-pack/libbeat/common/otelbeat/status/reporter_test.go
  x-pack/metricbeat/mbreceiver/receiver_test.go
  x-pack/metricbeat/module/benchmark/benchmark.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-xpack-agentbeat

fix build
  libbeat/tests/integration/framework.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Update metricbeat/module/elasticsearch/cluster_stats/data.go
  metricbeat/module/elasticsearch/cluster_stats/data.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

make check
  filebeat/input/filestream/fswatch.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

remove docker
  metricbeat/module/docker/diskio/diskio.go
  metricbeat/module/docker/diskio/diskio_integration_test.go
  metricbeat/module/docker/event/event.go
  metricbeat/module/docker/memory/memory.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

comment fix as per pr comment
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/sql/_meta/config.yml
  x-pack/metricbeat/modules.d/sql.yml.disabled
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

log a warning for unsupported params
  libbeat/otelbeat/oteltranslate/outputs/elasticsearch/config_otel.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

add etcd
  metricbeat/module/etcd/leader/leader.go
  metricbeat/module/etcd/leader/leader_integration_test.go
  metricbeat/module/etcd/metrics/metrics_integration_test.go
  metricbeat/module/etcd/store/store_integration_test.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

remove jetstream
  metricbeat/module/nats/jetstream/jetstream.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

resolve merge conflict
  libbeat/autodiscover/autodiscover_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

missing fields/docs files
  docs/reference/metricbeat/exported-fields-meraki.md
  x-pack/metricbeat/module/meraki/fields.go
  x-pack/metricbeat/module/meraki/network_health/_meta/docs.asciidoc
  x-pack/metricbeat/module/meraki/network_health/_meta/fields.yml
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

make check
  metricbeat/include/list_init.go
  metricbeat/module/system/process/process.go
  metricbeat/module/system/process/process_test.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

add golang module
  metricbeat/module/golang/expvar/expvar.go
  metricbeat/module/golang/heap/data.go
  metricbeat/module/golang/heap/heap.go
  metricbeat/module/golang/util.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

[elastic-agent-system-metrics] perf(cgroupreporter): move invariant outside of callback (#239)
  report/report.go
Due: none

make update
  metricbeat/include/list_init.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

add kafka module
  metricbeat/module/kafka/broker.go
  metricbeat/module/kafka/broker_test.go
  metricbeat/module/kafka/consumergroup/consumergroup.go
  metricbeat/module/kafka/consumergroup/query.go
  metricbeat/module/kafka/consumergroup/query_test.go
  metricbeat/module/kafka/kafka.go
  metricbeat/module/kafka/metricset.go
  metricbeat/module/kafka/partition/partition.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Update docs/reference/auditbeat/now.md
  docs/reference/auditbeat/now.md
Due: none

Added changelog entry
  CHANGELOG.next.asciidoc
Due: none

Improve cursor tests
  filebeat/input/filestream/internal/input-logfile/harvester_test.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Add test to validate context cancellation on waitGracePeriod
  filebeat/input/filestream/input_delete_integration_test.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat
