Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: /agent/check-catalog-info.sh, :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

/agent/check-catalog-info.sh:
  command: /agent/check-catalog-info.sh
  agents:
    image: docker.elastic.co/ci-agent-images/pipelib:0.13.0@sha256:190464950de81cb3390bd5e07bb1cc171dd4a765c1ce5de58ebca476f9a6839f

:pipeline: Upload beats-auditbeat:
  label: ':pipeline: Upload beats-auditbeat'
  command: buildkite-agent pipeline upload .buildkite/auditbeat/auditbeat-pipeline.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: Upload beats-heartbeat:
  label: ':pipeline: Upload beats-heartbeat'
  command: buildkite-agent pipeline upload .buildkite/heartbeat/heartbeat-pipeline.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: Upload beats-filebeat:
  label: ':pipeline: Upload beats-filebeat'
  command: buildkite-agent pipeline upload .buildkite/filebeat/filebeat-pipeline.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: Upload beats-xpack-filebeat:
  label: ':pipeline: Upload beats-xpack-filebeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.filebeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: beats-xpack-dockerlogbeat:
  label: ':pipeline: beats-xpack-dockerlogbeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: Upload beats-metricbeat:
  label: ':pipeline: Upload beats-metricbeat'
  command: buildkite-agent pipeline upload .buildkite/metricbeat/pipeline.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: Upload beats-xpack-metricbeat:
  label: ':pipeline: Upload beats-xpack-metricbeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.metricbeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: Upload beats-xpack-osquerybeat:
  label: ':pipeline: Upload beats-xpack-osquerybeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.osquerybeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Remove pre-download of Go modules
  dev-tools/mage/target/unittest/unittest.go
  filebeat/magefile.go
  metricbeat/magefile.go
  x-pack/metricbeat/magefile.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Set GODEBUG=tlsmlkem=0 for tests
  dev-tools/mage/gotest.go
  libbeat/esleg/eslegclient/connection_test.go
  metricbeat/magefile.go
  testing/testutils/skipFIPS140.go
  x-pack/filebeat/input/entityanalytics/provider/jamf/jamf_test.go
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/okta_test.go
  x-pack/filebeat/input/entityanalytics/provider/okta/okta_test.go
  x-pack/filebeat/input/lumberjack/server_test.go
  x-pack/metricbeat/magefile.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Fixing IPv6 address
  metricbeat/module/apache/status/status_test.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

[Filebeat/Filestream] Prevent modified files close due to inactivity
  changelog/fragments/1760488402-Prevent-modified-files-close-due-to-inactivity.yaml
  filebeat/input/filestream/filestream.go
  filebeat/input/filestream/filestream_test.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

make check
  x-pack/libbeat/common/otelbeat/otel.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat

Add unit tests for a set of possible media types and logging for error
  metricbeat/helper/prometheus/textparse.go
  metricbeat/helper/prometheus/textparse_test.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Add changelog fragment for the content type handling change
  changelog/fragments/1760507204-bugfix-add-a-fix-to-handle-multiple-content-types-including-blank-and-invalid-headers.yaml
Due: none

Add a test case for text plain version 1.0.0
  metricbeat/helper/prometheus/textparse_test.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

comment
  libbeat/processors/add_cloud_metadata/add_cloud_metadata.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

use debian bookworm
  auditbeat/Dockerfile
  dev-tools/kubernetes/filebeat/Dockerfile.debug
  dev-tools/kubernetes/heartbeat/Dockerfile.debug
  dev-tools/kubernetes/metricbeat/Dockerfile.debug
  heartbeat/Dockerfile
  metricbeat/Dockerfile
  metricbeat/module/http/_meta/Dockerfile
  metricbeat/module/vsphere/_meta/Dockerfile
  packetbeat/Dockerfile
  x-pack/metricbeat/module/stan/_meta/Dockerfile
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

adjust changelog
  changelog/fragments/1760423464-bump-Golang-version-to-1.24.9.yaml
Due: none

call String directly()
  libbeat/processors/add_cloud_metadata/add_cloud_metadata.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Revert "call String directly()"
  libbeat/processors/add_cloud_metadata/add_cloud_metadata.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

metricbeat: adjust IPv6 on apache module TestHostParser
  metricbeat/module/apache/status/status_test.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Update CHANGELOG.next.asciidoc
  CHANGELOG-developer.next.asciidoc
Due: none

[9.1] Sync mock-es library with main (#47089)
  NOTICE.txt
  go.mod
  go.sum
  libbeat/tests/integration/elasticsearch_test.go
  libbeat/tests/integration/framework.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Improve error handling for parser initialisation
  metricbeat/helper/prometheus/textparse.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Remove error from string formatting
  metricbeat/helper/prometheus/textparse.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

fix merge conflict
  libbeat/cmd/instance/beat.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Add browser history functionality to osquery extension
  go.mod
  go.sum
  x-pack/osquerybeat/ext/osquery-extension/main.go
  x-pack/osquerybeat/ext/osquery-extension/main_darwin.go
  x-pack/osquerybeat/ext/osquery-extension/main_linux.go
  x-pack/osquerybeat/ext/osquery-extension/main_windows.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/browserhistory.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/browsers.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/chromium.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/users.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/browser_history.go
  x-pack/osquerybeat/magefile.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Refactor browser history extension for improved parsing and structure
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/browserhistory.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/browsers.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/chromium.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/firefox.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/null_helpers.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/types.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/browser_history.go
Due: :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-agentbeat

Enhance browser history extension with Safari support and refactor parser functions
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/browserhistory.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/browsers.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/chromium.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/firefox.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/safari.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/types.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/browser_history.go
Due: :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-agentbeat

Refactor browser history parsers to enhance filtering capabilities and streamline entry creation
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/browserhistory.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/chromium.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/firefox.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/safari.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/types.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/users.go
Due: :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-agentbeat

Add timestamp filtering and enhance browser history data structure across extensions
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/browserhistory.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/chromium.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/firefox.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/safari.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/types.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/browser_history.go
Due: :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-agentbeat

Refactor browser history extension to enhance parsing and filtering capabilities
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/browserhistory.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/chromium.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/filters.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/firefox.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/null_helpers.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/parser.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/safari.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/users.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/visit.go
Due: :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-agentbeat

Refactor browser history extension to standardize profile path handling and improve database connection strings
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/browsers.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/chromium.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/firefox.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/parser.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/safari.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/visit.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/browser_history.go
Due: :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-agentbeat

Enhance Firefox profile handling by adding fallback mechanism for profile discovery when profiles.ini is missing
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/firefox.go
Due: :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-agentbeat

Refactor browser history extension to standardize search location handling and enhance data retrieval across multiple browsers
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/browserhistory.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/chromium.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/filters.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/firefox.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/parser.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/safari.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/visit.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/browser_history.go
Due: :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-agentbeat

Refactor browser history extension to unify filter handling and enhance parsing across all browsers
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/browserhistory.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/chromium.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/filters.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/firefox.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/parser.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/safari.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/users.go
Due: :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-agentbeat

Path conditions:
  /agent/check-catalog-info.sh: any of: catalog-info.yaml
  :pipeline: Upload beats-auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-filebeat: any of: filebeat/, .buildkite/pipeline.yml, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-filebeat: any of: filebeat/, x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/pipeline.yml, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-metricbeat: any of: metricbeat/, x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-winlogbeat: any of: winlogbeat/, x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  :pipeline: Upload deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/pipeline.yml, .buildkite/scripts, deploy/kubernetes/**, metricbeat/module/kubernetes/**, libbeat/docs/version.asciidoc
  :pipeline: Upload beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  :pipeline: Upload beats-xpack-libbeat: any of: libbeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-auditbeat: any of: auditbeat/, x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-xpack-heartbeat: any of: heartbeat/, x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: packetbeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-agentbeat: any of: auditbeat/, filebeat/, heartbeat/, metricbeat/, osquerybeat/, packetbeat/, x-pack/agentbeat/, x-pack/auditbeat/, x-pack/filebeat/, x-pack/heartbeat/, x-pack/metricbeat/, x-pack/osquerybeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.agentbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
