Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat, Trigger Agentbeat

Trigger Auditbeat:
  if: build.pull_request.id != null
  trigger: auditbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger Heartbeat:
  if: build.pull_request.id != null
  trigger: heartbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger Filebeat:
  if: build.pull_request.id != null
  trigger: filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger x-pack/filebeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger x-pack/dockerlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-dockerlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
  ...

Trigger Metricbeat:
  if: build.pull_request.id != null
  trigger: beats-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger x-pack/metricbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger x-pack/osquerybeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-osquerybeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger x-pack/winlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-winlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Fix conflicts
  .go-version
  auditbeat/Dockerfile
  dev-tools/kubernetes/filebeat/Dockerfile.debug
  dev-tools/kubernetes/heartbeat/Dockerfile.debug
  dev-tools/kubernetes/metricbeat/Dockerfile.debug
  go.mod
  heartbeat/Dockerfile
  libbeat/docs/version.asciidoc
  metricbeat/Dockerfile
  metricbeat/module/http/_meta/Dockerfile
  metricbeat/module/vsphere/_meta/Dockerfile
  packetbeat/Dockerfile
  x-pack/metricbeat/module/stan/_meta/Dockerfile
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat, Trigger Agentbeat

Update metricbeat/module/vsphere/cluster/_meta/fields.yml
  metricbeat/module/vsphere/cluster/_meta/fields.yml
Due: Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger Agentbeat

make update
  docs/reference/metricbeat/exported-fields-vsphere.md
  metricbeat/module/vsphere/fields.go
Due: Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger Agentbeat

[elastic-agent-libs] Add TempDir and NewLogFile test utilities (#369)
  testing/fs/fs.go
  testing/fs/fs_test.go
  testing/fs/logfile.go
  testing/fs/logfile_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

metricbeat: Remove global paths (#47921)
  metricbeat/beater/metricbeat.go
Due: Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger Agentbeat

fix(add_kubernetes_metadata): wait for init to complete during close (#47662)
  libbeat/processors/add_kubernetes_metadata/kubernetes.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Fix integration test
  libbeat/tests/integration/dashboard_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

feat: add `add_kubernetes_metadata` processor to OTel Beat processor
  x-pack/otel/processor/beatprocessor/README.md
  x-pack/otel/processor/beatprocessor/processor.go
  x-pack/otel/processor/beatprocessor/processor_test.go
Due: Trigger x-pack/otel

Bump Windows Npcap version to v1.83. (#46809)
  CHANGELOG.next.asciidoc
  x-pack/packetbeat/npcap/installer/LICENSE
  x-pack/packetbeat/scripts/mage/pcap.go
  x-pack/packetbeat/tests/system/app_test.go
Due: Trigger x-pack/packetbeat, Trigger Agentbeat

Extend max fragments to 1024
  packetbeat/protos/memcache/plugin_udp.go
Due: Trigger x-pack/packetbeat, Trigger Packetbeat, Trigger Agentbeat

Skip flaky test TestNetFlow/ipfix_cisco.reversed
  x-pack/filebeat/input/netflow/netflow_test.go
Due: Trigger Agentbeat

saving work on automatic jumplists
  x-pack/osquerybeat/ext/osquery-extension/pkg/jumplists/automatic.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/jumplists/dest_list.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/jumplists/guid.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/jumplists/jumplists.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/jumplists/jumplists_test.go
Due: Trigger x-pack/osquerybeat, Trigger Agentbeat

pull in some changes from automatic_jumplist branch
  x-pack/osquerybeat/ext/osquery-extension/pkg/jumplists/application_id.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/jumplists/custom.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/jumplists/generate/main.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/jumplists/generate/scrape_app_ids.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/jumplists/generate/scrape_guid_mappings.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/jumplists/generated_app_ids.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/jumplists/jumplists.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/jumplists/lnk.go
Due: Trigger x-pack/osquerybeat, Trigger Agentbeat

Update tests to accept any state
  filebeat/input/filestream/internal/input-logfile/harvester.go
  x-pack/filebeat/tests/integration/managerV2_test.go
Due: Trigger Agentbeat

filebeat: make GZIP GA and enabled by default
  changelog/fragments/1764777232-ingest-GZIP-logs-is-GA-and-enabled-by-default.yaml
  docs/reference/filebeat/filebeat-input-filestream.md
  filebeat/_meta/config/filebeat.inputs.reference.yml.tmpl
  filebeat/_meta/config/filebeat.inputs.yml.tmpl
  filebeat/filebeat.reference.yml
  filebeat/filebeat.yml
  filebeat/input/filestream/config.go
  filebeat/input/filestream/config_test.go
  filebeat/input/filestream/filestream_test.go
  filebeat/input/filestream/input.go
  filebeat/input/filestream/input_test.go
  filebeat/input/filestream/prospector_creator.go
  filebeat/input/filestream/prospector_creator_test.go
  filebeat/input/logv2/convert.go
  filebeat/input/logv2/convert_test.go
  filebeat/input/logv2/testdata/filestream-all.json
  filebeat/testing/integration/container_test.go
  filebeat/testing/integration/fields_test.go
  filebeat/testing/integration/filestream_gzip_test.go
  filebeat/testing/integration/sample_test.go
  filebeat/tests/integration/crawler_test.go
  filebeat/tests/integration/event_log_file_test.go
  filebeat/tests/integration/filestream_gzip_test.go
  filebeat/tests/integration/filestream_test.go
  filebeat/tests/integration/filestream_truncation_test.go
  filebeat/tests/integration/input_reload_test.go
  filebeat/tests/integration/store_test.go
  filebeat/tests/integration/translate_ldap_attribute_test.go
  filebeat/tests/system/config/filestream-fixup-id.yml.j2
  filebeat/tests/system/test_input.py
  x-pack/filebeat/fbreceiver/receiver_test.go
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/filebeat.yml
  x-pack/filebeat/tests/integration/otel_lsexporter_test.go
  x-pack/filebeat/tests/integration/otel_test.go
Due: Trigger Agentbeat

Report all errors at a higher level
  filebeat/input/net/manager.go
  filebeat/input/v2/compat/compat.go
  filebeat/input/v2/input-cursor/input.go
  x-pack/filebeat/tests/integration/managerV2_test.go
Due: Trigger Agentbeat

Add the Filestream ID to the error message
  filebeat/input/filestream/internal/input-logfile/harvester.go
  filebeat/input/filestream/internal/input-logfile/input.go
  x-pack/filebeat/tests/integration/managerV2_test.go
Due: Trigger Agentbeat

Add more inputs to the test
  changelog/fragments/1764798615-Update-input-status-when-pipeline-fails-to-connect.yaml
  x-pack/filebeat/tests/integration/managerV2_test.go
Due: Trigger Agentbeat

Update harvester tests
  filebeat/input/filestream/internal/input-logfile/harvester_test.go
Due: Trigger Agentbeat

check if device exists in the map
  x-pack/metricbeat/module/meraki/device_health/switchports.go
Due: Trigger x-pack/metricbeat, Trigger Agentbeat

add fragment
  changelog/fragments/1765018492-fix-meraki-switchports-panic.yaml
Due: none

add more safety checks
  x-pack/metricbeat/module/meraki/device_health/device_health_test.go
  x-pack/metricbeat/module/meraki/device_health/switchports.go
  x-pack/metricbeat/module/meraki/device_health/uplinks.go
Due: Trigger x-pack/metricbeat, Trigger Agentbeat

Fix more potential nil panic(s)
  x-pack/metricbeat/module/meraki/device_health/uplinks.go
Due: Trigger x-pack/metricbeat, Trigger Agentbeat

Fix more potential nil panic(s)
  x-pack/metricbeat/module/meraki/device_health/devices.go
Due: Trigger x-pack/metricbeat, Trigger Agentbeat

update fragment
  changelog/fragments/1765018492-improve-meraki-defensive-checks.yaml
Due: none

[meraki] improve defensive checks to prevent panics (#47950)
  changelog/fragments/1765018492-improve-meraki-defensive-checks.yaml
  x-pack/metricbeat/module/meraki/device_health/device_health_test.go
  x-pack/metricbeat/module/meraki/device_health/devices.go
  x-pack/metricbeat/module/meraki/device_health/switchports.go
  x-pack/metricbeat/module/meraki/device_health/uplinks.go
Due: Trigger x-pack/metricbeat, Trigger Agentbeat

Add CL
  changelog/fragments/1765138168-salesforce-jwt-custom-endpoint.yaml
Due: none

Typo, removed duplicate "includes" (#43868)
  x-pack/filebeat/docs/inputs/input-cel.asciidoc
Due: Trigger Agentbeat

Upgrade github.com/eclipse/paho.mqtt.golang module dependency (#47920)
  NOTICE.txt
  dev-tools/notice/rules.json
  go.mod
  go.sum
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

skip caller by 1 in beats auth extension (#47931)
  x-pack/libbeat/outputs/otelconsumer/otelconsumer.go
  x-pack/otel/extension/beatsauthextension/authenticator.go
Due: Trigger x-pack/filebeat, Trigger x-pack/osquerybeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat

Path conditions:
  Trigger Auditbeat: any of: .go-version, auditbeat/**, .buildkite/auditbeat/**, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Heartbeat: any of: .go-version, heartbeat/**, .buildkite/heartbeat/**, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Filebeat: any of: .go-version, filebeat/, .buildkite/filebeat/, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  Trigger x-pack/filebeat: any of: .go-version, filebeat/, x-pack/filebeat/, x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger x-pack/dockerlogbeat: any of: .go-version, x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/**, .buildkite/scripts/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Metricbeat: any of: .go-version, metricbeat/**, .buildkite/metricbeat/, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger x-pack/metricbeat: any of: .go-version, metricbeat/**, x-pack/metricbeat/**, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger x-pack/osquerybeat: any of: .go-version, x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger x-pack/winlogbeat: any of: .go-version, winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Deploy/K8S: any of: .go-version, .buildkite/deploy/kubernetes/**, .buildkite/hooks/**, .buildkite/scripts/**, deploy/kubernetes/**, metricbeat/module/kubernetes/**, libbeat/docs/version.asciidoc
  Trigger Libbeat: any of: .go-version, libbeat/**, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, testing/**
  Trigger x-pack/libbeat: any of: .go-version, libbeat/**, x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger x-pack/otel: any of: .go-version, x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, dev-tools/**, testing/**
  Trigger x-pack/auditbeat: any of: .go-version, auditbeat/**, x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, x-pack/libbeat/**
  Trigger x-pack/heartbeat: any of: .go-version, heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, x-pack/libbeat/**
  Trigger x-pack/packetbeat: any of: .go-version, packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, x-pack/libbeat/**
  Trigger Winlogbeat: any of: .go-version, winlogbeat/**, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Packetbeat: any of: .go-version, packetbeat/**, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Agentbeat: any of: .go-version, auditbeat/**, filebeat/**, heartbeat/**, metricbeat/**, osquerybeat/**, packetbeat/**, x-pack/agentbeat/**, x-pack/auditbeat/**, x-pack/filebeat/**, x-pack/heartbeat/**, x-pack/metricbeat/**, x-pack/osquerybeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.agentbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**
