Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat, Trigger Agentbeat

Trigger Auditbeat:
  if: build.pull_request.id != null
  trigger: auditbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger Heartbeat:
  if: build.pull_request.id != null
  trigger: heartbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger Filebeat:
  if: build.pull_request.id != null
  trigger: filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger x-pack/filebeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger x-pack/dockerlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-dockerlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
  ...

Trigger Metricbeat:
  if: build.pull_request.id != null
  trigger: beats-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger x-pack/metricbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger x-pack/osquerybeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-osquerybeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger x-pack/winlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-winlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

skip caller by 1 in beats auth extension (#47931)
  x-pack/libbeat/outputs/otelconsumer/otelconsumer.go
  x-pack/otel/extension/beatsauthextension/authenticator.go
Due: Trigger x-pack/filebeat, Trigger x-pack/osquerybeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat

remove timestamp micro functions
  x-pack/metricbeat/module/gcp/billing/billing.go
Due: Trigger x-pack/metricbeat, Trigger Agentbeat

add fragment
  changelog/fragments/1765186407-remove-gcp-billing-timestamp-functions.yaml
Due: none

[filebeat][ABS] - Relax content-type restrictions along with some basic cleanup and refactor (#44583)
  CHANGELOG.next.asciidoc
  docs/reference/filebeat/filebeat-input-azure-blob-storage.md
  x-pack/filebeat/input/azureblobstorage/config.go
  x-pack/filebeat/input/azureblobstorage/input.go
  x-pack/filebeat/input/azureblobstorage/input_test.go
  x-pack/filebeat/input/azureblobstorage/mock/mock.go
  x-pack/filebeat/input/azureblobstorage/scheduler.go
  x-pack/filebeat/input/azureblobstorage/testdata/array-at-root.json
  x-pack/filebeat/input/azureblobstorage/testdata/events-array.json
  x-pack/filebeat/input/azureblobstorage/testdata/log.json
  x-pack/filebeat/input/azureblobstorage/testdata/log.ndjson
  x-pack/filebeat/input/azureblobstorage/testdata/multiline.json
  x-pack/filebeat/input/azureblobstorage/testdata/multiline.json.gz
  x-pack/filebeat/input/azureblobstorage/testdata/nested-arrays.json
  x-pack/filebeat/input/azureblobstorage/testdata/txn1.csv
Due: Trigger Agentbeat

[filebeat][GCS] - Relax content-type restrictions along with some basic cleanup and refactor (#45088)
  CHANGELOG.next.asciidoc
  docs/reference/filebeat/filebeat-input-gcs.md
  x-pack/filebeat/include/list.go
  x-pack/filebeat/input/gcs/config.go
  x-pack/filebeat/input/gcs/input.go
  x-pack/filebeat/input/gcs/input_test.go
  x-pack/filebeat/input/gcs/mock/mock.go
  x-pack/filebeat/input/gcs/scheduler.go
  x-pack/filebeat/input/gcs/testdata/array-at-root.json
  x-pack/filebeat/input/gcs/testdata/events-array.json
  x-pack/filebeat/input/gcs/testdata/log.json
  x-pack/filebeat/input/gcs/testdata/log.ndjson
  x-pack/filebeat/input/gcs/testdata/multiline.json
  x-pack/filebeat/input/gcs/testdata/multiline.json.gz
  x-pack/filebeat/input/gcs/testdata/nested-arrays.json
  x-pack/filebeat/input/gcs/testdata/txn1.csv
Due: Trigger Agentbeat

Add status.last_terminated_exitcode field in state_container metricset
  docs/reference/metricbeat/exported-fields-kubernetes.md
  docs/reference/metricbeat/metricbeat-metricset-kubernetes-state_container.md
  docs/reference/metricbeat/metricbeat-metricset-kubernetes-state_pod.md
  metricbeat/module/kubernetes/_meta/test/KSM/ksm.v2.10.0.plain
  metricbeat/module/kubernetes/_meta/test/KSM/ksm.v2.11.0.plain
  metricbeat/module/kubernetes/fields.go
  metricbeat/module/kubernetes/state_container/_meta/data.json
  metricbeat/module/kubernetes/state_container/_meta/fields.yml
  metricbeat/module/kubernetes/state_container/_meta/test/ksm.v2.10.0.plain.expected
  metricbeat/module/kubernetes/state_container/_meta/test/ksm.v2.11.0.plain.expected
  metricbeat/module/kubernetes/state_container/_meta/test/ksm.v2.12.0.plain.expected
  metricbeat/module/kubernetes/state_container/_meta/test/ksm.v2.15.0.plain.expected
  metricbeat/module/kubernetes/state_container/_meta/testdata/docs.plain-expected.json
  metricbeat/module/kubernetes/state_container/_meta/testdata/ksm.v2.10.0.plain-expected.json
  metricbeat/module/kubernetes/state_container/_meta/testdata/ksm.v2.11.0.plain-expected.json
  metricbeat/module/kubernetes/state_container/_meta/testdata/ksm.v2.12.0.plain-expected.json
  metricbeat/module/kubernetes/state_container/_meta/testdata/ksm.v2.15.0.plain-expected.json
  metricbeat/module/kubernetes/state_container/state_container.go
  metricbeat/module/kubernetes/state_pod/_meta/data.json
Due: Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger Deploy/K8S, Trigger Agentbeat

fbreceiver: refactor receiver tests for maintainability
  x-pack/filebeat/fbreceiver/receiver_leak_test.go
  x-pack/filebeat/fbreceiver/receiver_test.go
Due: Trigger Agentbeat

resolved merge conflicts
  x-pack/filebeat/input/azureblobstorage/input_test.go
Due: Trigger Agentbeat

pr changes
  changelog/fragments/1761365767-include-file-owner-group.yaml
  docs/reference/filebeat/filebeat-input-filestream.md
Due: none

Update CHANGELOG.next.asciidoc
  CHANGELOG.next.asciidoc
Due: none

fix macos test
  x-pack/filebeat/fbreceiver/receiver_test.go
Due: Trigger Agentbeat

Apply suggestion from @belimawr
  filebeat/tests/integration/filestream_other_test.go
Due: Trigger Agentbeat

add support reporting subexpiry field in newer redis versions (>=7.x)
  metricbeat/module/redis/_meta/supported-versions.yml
  metricbeat/module/redis/keyspace/_meta/data.json
  metricbeat/module/redis/keyspace/_meta/fields.yml
  metricbeat/module/redis/keyspace/data.go
  metricbeat/module/redis/keyspace/keyspace_integration_test.go
Due: Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger Agentbeat

Switch logging to debug on invalid packets
  packetbeat/protos/mongodb/mongodb_parser.go
Due: Trigger x-pack/packetbeat, Trigger Packetbeat, Trigger Agentbeat

updated tests
  x-pack/filebeat/input/azureblobstorage/input_test.go
Due: Trigger Agentbeat

test: use test Logger in tests
  x-pack/otel/processor/beatprocessor/processor_test.go
Due: Trigger x-pack/otel

refactor: fix typo in function name
  x-pack/otel/processor/beatprocessor/processor.go
Due: Trigger x-pack/otel

Add changelog
  changelog/fragments/1765204121-Correctly-report-V2-inputs-as-failed-to-the-Manager.yaml
Due: none

fix lint issues
  filebeat/input/filestream/internal/input-logfile/harvester_test.go
Due: Trigger Agentbeat

Moving warning messages to debug
  packetbeat/protos/memcache/plugin_udp.go
Due: Trigger x-pack/packetbeat, Trigger Packetbeat, Trigger Agentbeat

Fix typos
  changelog/fragments/1765204121-Correctly-report-V2-inputs-as-failed-to-the-Manager.yaml
  x-pack/filebeat/tests/integration/managerV2_test.go
Due: Trigger Agentbeat

Fix changelog
  changelog/fragments/1764798615-Update-input-status-when-pipeline-fails-to-connect.yaml
  changelog/fragments/1765204121-Correctly-report-V2-inputs-as-failed-to-the-Manager.yaml
Due: none

[filebeat][ABS] - Fixed issue for "Root level readerConfig no longer respected" (#44873)
  CHANGELOG.next.asciidoc
  x-pack/filebeat/include/list.go
  x-pack/filebeat/input/azureblobstorage/config.go
  x-pack/filebeat/input/azureblobstorage/input.go
  x-pack/filebeat/input/azureblobstorage/input_test.go
Due: Trigger Agentbeat

Remove x-pack/metricbeat/module/openai (OpenAI) module and related links (#47840)
  .github/CODEOWNERS
  docs/redirects.yml
  docs/reference/metricbeat/exported-fields-openai.md
  docs/reference/metricbeat/exported-fields.md
  docs/reference/metricbeat/metricbeat-metricset-openai-usage.md
  docs/reference/metricbeat/metricbeat-module-openai.md
  docs/reference/metricbeat/metricbeat-modules.md
  docs/reference/toc.yml
  x-pack/agentbeat/agentbeat.spec.yml
  x-pack/metricbeat/include/list.go
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/openai/_meta/config.yml
  x-pack/metricbeat/module/openai/_meta/docs.md
  x-pack/metricbeat/module/openai/_meta/fields.yml
  x-pack/metricbeat/module/openai/doc.go
  x-pack/metricbeat/module/openai/fields.go
  x-pack/metricbeat/module/openai/usage/_meta/data.json
  x-pack/metricbeat/module/openai/usage/_meta/docs.md
  x-pack/metricbeat/module/openai/usage/_meta/fields.yml
  x-pack/metricbeat/module/openai/usage/client.go
  x-pack/metricbeat/module/openai/usage/config.go
  x-pack/metricbeat/module/openai/usage/errors.go
  x-pack/metricbeat/module/openai/usage/helper.go
  x-pack/metricbeat/module/openai/usage/persistcache.go
  x-pack/metricbeat/module/openai/usage/schema.go
  x-pack/metricbeat/module/openai/usage/usage.go
  x-pack/metricbeat/module/openai/usage/usage_integration_test.go
  x-pack/metricbeat/modules.d/openai.yml.disabled
Due: Trigger x-pack/metricbeat, Trigger Agentbeat

filebeat/input/v2: improve context cancelation documentation (#47906)
  filebeat/input/v2/input.go
Due: Trigger Agentbeat

move to GetFullyQualifiedEventHubNamespace function
  x-pack/filebeat/input/azureeventhub/config.go
  x-pack/filebeat/input/azureeventhub/config_test.go
  x-pack/filebeat/input/azureeventhub/v2_migration.go
Due: Trigger Agentbeat

refactor authenticator
  x-pack/filebeat/input/azureeventhub/authenticator.go
  x-pack/filebeat/input/azureeventhub/config.go
  x-pack/filebeat/input/azureeventhub/v2_input.go
Due: Trigger Agentbeat

remove unused code
  docs/reference/filebeat/filebeat-input-azure-eventhub.md
  x-pack/filebeat/input/azureeventhub/auth.go
  x-pack/filebeat/input/azureeventhub/authenticator.go
  x-pack/filebeat/input/azureeventhub/clients.go
Due: Trigger Agentbeat

Fix conflicts
  NOTICE.txt
  go.mod
  go.sum
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

use azureInputConfig instead of authConfig
  docs/reference/filebeat/filebeat-input-azure-eventhub.md
  x-pack/filebeat/input/azureeventhub/auth.go
  x-pack/filebeat/input/azureeventhub/client_secret.go
  x-pack/filebeat/input/azureeventhub/config_test.go
Due: Trigger Agentbeat

test: revert to no-op logger
  x-pack/otel/processor/beatprocessor/processor_test.go
Due: Trigger x-pack/otel

Apply suggestions
  docs/reference/auditbeat/processor-translate-guid.md
  docs/reference/filebeat/processor-translate-guid.md
  docs/reference/heartbeat/processor-translate-guid.md
  docs/reference/metricbeat/processor-translate-guid.md
  docs/reference/packetbeat/processor-translate-guid.md
  docs/reference/winlogbeat/processor-translate-guid.md
  libbeat/processors/translate_ldap_attribute/discovery.go
  libbeat/processors/translate_ldap_attribute/discovery_other.go
  libbeat/processors/translate_ldap_attribute/docs/translate_ldap_attribute.asciidoc
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Defer client initialization to fail safely when ignore_failure is set
  libbeat/processors/translate_ldap_attribute/translate_ldap_attribute.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Path conditions:
  Trigger Auditbeat: any of: .go-version, auditbeat/**, .buildkite/auditbeat/**, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Heartbeat: any of: .go-version, heartbeat/**, .buildkite/heartbeat/**, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Filebeat: any of: .go-version, filebeat/, .buildkite/filebeat/, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  Trigger x-pack/filebeat: any of: .go-version, filebeat/, x-pack/filebeat/, x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger x-pack/dockerlogbeat: any of: .go-version, x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/**, .buildkite/scripts/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Metricbeat: any of: .go-version, metricbeat/**, .buildkite/metricbeat/, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger x-pack/metricbeat: any of: .go-version, metricbeat/**, x-pack/metricbeat/**, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger x-pack/osquerybeat: any of: .go-version, x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger x-pack/winlogbeat: any of: .go-version, winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Deploy/K8S: any of: .go-version, .buildkite/deploy/kubernetes/**, .buildkite/hooks/**, .buildkite/scripts/**, deploy/kubernetes/**, metricbeat/module/kubernetes/**, libbeat/docs/version.asciidoc
  Trigger Libbeat: any of: .go-version, libbeat/**, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, testing/**
  Trigger x-pack/libbeat: any of: .go-version, libbeat/**, x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger x-pack/otel: any of: .go-version, x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, dev-tools/**, testing/**
  Trigger x-pack/auditbeat: any of: .go-version, auditbeat/**, x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, x-pack/libbeat/**
  Trigger x-pack/heartbeat: any of: .go-version, heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, x-pack/libbeat/**
  Trigger x-pack/packetbeat: any of: .go-version, packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, x-pack/libbeat/**
  Trigger Winlogbeat: any of: .go-version, winlogbeat/**, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Packetbeat: any of: .go-version, packetbeat/**, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Agentbeat: any of: .go-version, auditbeat/**, filebeat/**, heartbeat/**, metricbeat/**, osquerybeat/**, packetbeat/**, x-pack/agentbeat/**, x-pack/auditbeat/**, x-pack/filebeat/**, x-pack/heartbeat/**, x-pack/metricbeat/**, x-pack/osquerybeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.agentbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**
