Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Path conditions:
  Trigger Auditbeat: any of: auditbeat/**, .buildkite/auditbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Heartbeat: any of: heartbeat/**, .buildkite/heartbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Filebeat: any of: filebeat/**, .buildkite/filebeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/filebeat: any of: filebeat/**, x-pack/filebeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/dockerlogbeat: any of: x-pack/dockerlogbeat/**, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Metricbeat: any of: metricbeat/**, .buildkite/metricbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/metricbeat: any of: metricbeat/**, x-pack/metricbeat/**, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/winlogbeat: any of: winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Deploy/K8S: any of: deploy/kubernetes/**, metricbeat/module/kubernetes/**, .go-version, libbeat/docs/version.asciidoc, .buildkite/deploy/kubernetes/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Libbeat: any of: libbeat/**, .buildkite/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/libbeat: any of: x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .go-version, libbeat/**, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/otel: any of: x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .go-version, go.mod, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/auditbeat: any of: auditbeat/**, x-pack/auditbeat/**, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/heartbeat: any of: heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/packetbeat: any of: packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Winlogbeat: any of: winlogbeat/**, .buildkite/winlogbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Packetbeat: any of: packetbeat/**, .buildkite/packetbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**

fix conflicts
  NOTICE.txt
  go.mod
  go.sum
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Remove the changelog fragment now that skip-changelog is set.
  changelog/fragments/1786875657-fix-user-facing-typos-52449.yaml
Due: none

Fix merge conflicts
  filebeat/input/filestream/input_test.go
  filebeat/input/filestream/internal/input-logfile/manager_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

convert network & registry tests to go
  filebeat/input/net/udp/input_test.go
  filebeat/testing/integration/config.go
  filebeat/testing/integration/helper.go
  filebeat/testing/integration/helpers_test.go
  filebeat/testing/integration/integration.go
  filebeat/testing/integration/network.go
  filebeat/testing/integration/registrar_test.go
  filebeat/testing/integration/stdin_test.go
  filebeat/testing/integration/syslog_test.go
  filebeat/testing/integration/tcp_test.go
  filebeat/testing/integration/tcp_tls_test.go
  filebeat/testing/integration/tls_helpers.go
  filebeat/testing/integration/udp_test.go
  filebeat/testing/integration/unix_test.go
  filebeat/tests/system/test_base.py
  filebeat/tests/system/test_crawler.py
  filebeat/tests/system/test_input.py
  filebeat/tests/system/test_json.py
  filebeat/tests/system/test_processors.py
  filebeat/tests/system/test_registrar.py
  filebeat/tests/system/test_stdin.py
  filebeat/tests/system/test_syslog.py
  filebeat/tests/system/test_tcp.py
  filebeat/tests/system/test_tcp_tls.py
  filebeat/tests/system/test_udp.py
  filebeat/tests/system/test_unix.py
  libbeat/testing/integration/integration.go
  libbeat/testing/integration/run_beat.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Fix lint warnings
  docs/release-notes/known-issues.md
  libbeat/publisher/queue/diskqueue/core_loop_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Adjust what is included in agentbeat and securityonly builds.
  filebeat/autodiscover/defaults.go
  filebeat/autodiscover/imports.go
  filebeat/beater/filebeat.go
  filebeat/beater/imports_autodiscover.go
  filebeat/beater/imports_processors.go
  filebeat/include/list.go
  filebeat/include/list_agentbeat.go
  filebeat/include/list_inputs_securityonly.go
  filebeat/input/default-inputs/inputs.go
  filebeat/input/default-inputs/inputs_linux.go
  filebeat/input/default-inputs/inputs_securityonly.go
  filebeat/input/default-inputs/inputs_windows.go
  libbeat/cmd/instance/imports_common_autodiscover.go
  libbeat/cmd/instance/imports_common_securityonly.go
  libbeat/cmd/instance/imports_docker.go
  metricbeat/beater/imports_autodiscover.go
  metricbeat/beater/imports_processors.go
  metricbeat/beater/metricbeat.go
  metricbeat/include/list_common.go
  metricbeat/include/list_common_securityonly.go
  metricbeat/include/list_docker.go
  metricbeat/include/list_init.go
  metricbeat/include/list_init_agentbeat.go
  x-pack/filebeat/include/list.go
  x-pack/filebeat/include/list_securityonly.go
  x-pack/filebeat/input/default-inputs/inputs_aix.go
  x-pack/filebeat/input/default-inputs/inputs_aix_securityonly.go
  x-pack/filebeat/input/default-inputs/inputs_darwin.go
  x-pack/filebeat/input/default-inputs/inputs_darwin_securityonly.go
  x-pack/filebeat/input/default-inputs/inputs_other.go
  x-pack/filebeat/input/default-inputs/inputs_other_securityonly.go
  x-pack/filebeat/input/default-inputs/inputs_windows.go
  x-pack/filebeat/input/default-inputs/inputs_windows_securityonly.go
  x-pack/libbeat/include/include_autodiscover.go
  x-pack/libbeat/include/include_securityonly.go
  x-pack/metricbeat/include/list.go
  x-pack/metricbeat/include/list_securityonly.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

packetbeat/protos/icmp: improve ICMP tuple hash performance
  packetbeat/protos/icmp/tuple.go
Due: Trigger x-pack/packetbeat, Trigger Packetbeat

[filebeat][azureblobstorage] - Add managed identity authentication (#52635)
  changelog/fragments/1786707450-abs-managed-identity.yaml
  docs/reference/filebeat/filebeat-input-azure-blob-storage.md
  x-pack/filebeat/input/azureblobstorage/auth_test.go
  x-pack/filebeat/input/azureblobstorage/client.go
  x-pack/filebeat/input/azureblobstorage/config.go
  x-pack/filebeat/input/azureblobstorage/config_test.go
  x-pack/filebeat/input/azureblobstorage/scheduler.go
  x-pack/filebeat/input/azureblobstorage/types.go
Due: Trigger x-pack/filebeat

fix docker-compose
  testing/environments/docker/kafka/run.sh
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

remove extra docker files
  testing/environments/docker/elasticsearch_kerberos/init.sh
  testing/environments/docker/kerberos_kdc/Dockerfile
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

address pr comment
  x-pack/auditbeat/module/system/package/package_homebrew.go
  x-pack/auditbeat/module/system/package/package_homebrew_test.go
  x-pack/auditbeat/module/system/package/testdata/homebrew3/missing-rb-package/1.0.0/INSTALL_RECEIPT.json
Due: Trigger x-pack/auditbeat

x-pack/filebeat/input/cel: fix nil rate-limit panic and 429 retry hot-loop (#52684)
  changelog/fragments/1787090989-cel-rate-limit-budget.yaml
  x-pack/filebeat/input/cel/input.go
Due: Trigger x-pack/filebeat

packetbeat/protos: fix panics in SIP, TLS JA3, MySQL execute, and HTTP chunked parsers (#52686)
  changelog/fragments/1787107546-fix-packetbeat-parser-panics.yaml
  packetbeat/protos/http/http_parser.go
  packetbeat/protos/http/http_test.go
  packetbeat/protos/mysql/mysql.go
  packetbeat/protos/mysql/mysql_test.go
  packetbeat/protos/sip/plugin.go
  packetbeat/protos/sip/plugin_test.go
  packetbeat/protos/tls/ja3.go
  packetbeat/protos/tls/ja3_test.go
Due: Trigger x-pack/packetbeat, Trigger Packetbeat

x-pack/auditbeat/module/system/package: skip non-.rb formula paths (#52685)
  changelog/fragments/1787104949-fix-homebrew-jws-formula-scanner.yaml
  x-pack/auditbeat/module/system/package/package_homebrew.go
  x-pack/auditbeat/module/system/package/package_homebrew_test.go
  x-pack/auditbeat/module/system/package/testdata/formula.jws.json
  x-pack/auditbeat/module/system/package/testdata/homebrew2/jws-package/1.0.0/INSTALL_RECEIPT.json
  x-pack/auditbeat/module/system/package/testdata/homebrew3/missing-rb-package/1.0.0/INSTALL_RECEIPT.json
Due: Trigger x-pack/auditbeat

libbeat/reader/auditd: emit "unset" for unset auid and ses fields (#52614)
  changelog/fragments/1786601758-fix-auditd-parser-unset-auid-ses.yaml
  libbeat/reader/auditd/auditd.go
  libbeat/reader/auditd/testdata/audit-cent7-node.log-expected.json
  libbeat/reader/auditd/testdata/audit-rhel6.log-expected.json
  libbeat/reader/auditd/testdata/audit-ubuntu1604.log-expected.json
  libbeat/reader/auditd/testdata/test.log-expected.json
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix: make Azure billing usage and forecast windows configurable (#52209)
  changelog/fragments/1784719246-azure-billing-configurable-lookback-window.yaml
  docs/reference/metricbeat/metricbeat-metricset-azure-billing.md
  docs/reference/metricbeat/metricbeat-module-azure.md
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/azure/_meta/config.reference.yml
  x-pack/metricbeat/module/azure/_meta/config.yml
  x-pack/metricbeat/module/azure/azure.go
  x-pack/metricbeat/module/azure/azure_test.go
  x-pack/metricbeat/module/azure/billing/_meta/docs.md
  x-pack/metricbeat/module/azure/billing/billing.go
  x-pack/metricbeat/module/azure/billing/billing_test.go
  x-pack/metricbeat/module/azure/billing/client.go
  x-pack/metricbeat/module/azure/billing/client_test.go
  x-pack/metricbeat/module/azure/billing/data_test.go
  x-pack/metricbeat/module/azure/cloud_config_test.go
  x-pack/metricbeat/module/azure/config.go
  x-pack/metricbeat/modules.d/azure.yml.disabled
Due: Trigger x-pack/metricbeat

Enable OAUTHBEARER on the Kafka integration test broker (#52691)
  testing/environments/docker/elasticsearch_kerberos/init.sh
  testing/environments/docker/kafka/README.md
  testing/environments/docker/kafka/run.sh
  testing/environments/docker/kerberos_kdc/Dockerfile
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

x-pack/filebeat/input/awss3: scope polling state registry to the input's bucket
  changelog/fragments/1787214552-awss3-bucket-scoped-state-registry.yaml
  x-pack/filebeat/input/awss3/contract_test.go
  x-pack/filebeat/input/awss3/input_benchmark_test.go
  x-pack/filebeat/input/awss3/polling_strategy_test.go
  x-pack/filebeat/input/awss3/s3_input.go
  x-pack/filebeat/input/awss3/s3_test.go
  x-pack/filebeat/input/awss3/states.go
  x-pack/filebeat/input/awss3/states_bucket_scoping_test.go
  x-pack/filebeat/input/awss3/states_test.go
  x-pack/filebeat/input/awss3/v2_input.go
  x-pack/filebeat/input/awss3/v2_state.go
Due: Trigger x-pack/filebeat

Update 1787214552-awss3-bucket-scoped-state-registry.yaml
  changelog/fragments/1787214552-awss3-bucket-scoped-state-registry.yaml
Due: none

fix linter violations
  filebeat/inputsource/common/streaming/conn_test.go
  filebeat/scripts/tester/main.go
  heartbeat/monitors/active/http/task.go
  libbeat/internal/testutil/util.go
  libbeat/processors/add_process_metadata/add_process_metadata.go
  libbeat/processors/add_process_metadata/add_process_metadata_test.go
  libbeat/tests/integration/mockserver.go
  metricbeat/module/linux/iostat/iostat.go
  metricbeat/module/linux/ksm/ksm.go
  metricbeat/module/linux/memory/memory.go
  metricbeat/module/linux/memory/memory_linux_test.go
  metricbeat/module/linux/pageinfo/pageinfo.go
  metricbeat/module/linux/pressure/pressure.go
  metricbeat/module/linux/rapl/rapl.go
  metricbeat/module/system/diskio/diskio.go
  metricbeat/module/system/entropy/entropy.go
  metricbeat/module/system/filesystem/filesystem.go
  metricbeat/module/system/fsstat/fsstat.go
  metricbeat/module/system/load/load.go
  metricbeat/module/system/memory/memory.go
  metricbeat/module/system/network_summary/network_summary.go
  metricbeat/module/system/process_summary/process_summary.go
  metricbeat/module/system/process_summary/process_summary_test.go
  metricbeat/module/system/socket/socket.go
  winlogbeat/sys/winevent/event_test.go
  x-pack/filebeat/input/azureblobstorage/mock/data_random.go
  x-pack/filebeat/input/o365audit/poll/poll.go
  x-pack/otel/telemetry/system_bridge.go
  x-pack/otel/telemetry/system_bridge_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

libbeat/reader/auditd: add multi-record coalescing mode
  changelog/fragments/1786921095-auditd-coalescing-mode.yaml
  docs/reference/filebeat/filebeat-input-filestream.md
  libbeat/reader/auditd/auditd.go
  libbeat/reader/auditd/auditd_other.go
  libbeat/reader/auditd/coalesce.go
  libbeat/reader/auditd/coalesce_test.go
  libbeat/reader/auditd/config.go
  libbeat/reader/auditd/doc.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

address pr comments
  docs/reference/filebeat/filebeat-input-filestream.md
Due: none

ci: filter new lint issues with --new-from-merge-base
  .github/workflows/golangci-lint.yml
Due: none

chore(deps): update OTel Collector dependencies to `v0.159.0`/`v1.65.0`
  NOTICE.txt
  go.mod
  go.sum
  x-pack/otel/Makefile
  x-pack/otel/distributions/beats-otel-collector/manifest.yaml
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Fix includes
  filebeat/magefile.go
  metricbeat/scripts/mage/fields.go
  x-pack/filebeat/magefile.go
  x-pack/metricbeat/magefile.go
Due: Trigger Filebeat, Trigger x-pack/filebeat, Trigger Metricbeat, Trigger x-pack/metricbeat

Add Close to InputManager
  filebeat/beater/filebeat.go
  filebeat/input/filestream/internal/input-logfile/manager.go
  filebeat/input/logv2/input.go
  filebeat/input/net/manager.go
  filebeat/input/v2/input-cursor/manager.go
  filebeat/input/v2/input-cursor/manager_test.go
  filebeat/input/v2/input-stateless/stateless.go
  filebeat/input/v2/input.go
  filebeat/input/v2/internal/inputest/inputest.go
  filebeat/input/v2/loader.go
  filebeat/input/v2/loader_test.go
  filebeat/input/v2/simplemanager.go
  filebeat/input/v2/util_test.go
  x-pack/filebeat/input/awscloudwatch/input.go
  x-pack/filebeat/input/awss3/input.go
  x-pack/filebeat/input/azureeventhub/input.go
  x-pack/filebeat/input/cel/input_manager.go
  x-pack/filebeat/input/entityanalytics/input.go
  x-pack/filebeat/input/entityanalytics/input_test.go
  x-pack/filebeat/input/entityanalytics/internal/kvstore/manager.go
  x-pack/filebeat/input/httpjson/input_manager.go
  x-pack/filebeat/input/netflow/input.go
  x-pack/filebeat/input/salesforce/input_manager.go
  x-pack/filebeat/input/streaming/input_manager.go
Due: Trigger Filebeat, Trigger x-pack/filebeat
