Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Path conditions:
  Trigger Auditbeat: any of: auditbeat/**, .buildkite/auditbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Heartbeat: any of: heartbeat/**, .buildkite/heartbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Filebeat: any of: filebeat/**, .buildkite/filebeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/filebeat: any of: filebeat/**, x-pack/filebeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/dockerlogbeat: any of: x-pack/dockerlogbeat/**, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Metricbeat: any of: metricbeat/**, .buildkite/metricbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/metricbeat: any of: metricbeat/**, x-pack/metricbeat/**, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/winlogbeat: any of: winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Deploy/K8S: any of: deploy/kubernetes/**, metricbeat/module/kubernetes/**, .go-version, libbeat/docs/version.asciidoc, .buildkite/deploy/kubernetes/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Libbeat: any of: libbeat/**, .buildkite/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/libbeat: any of: x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .go-version, libbeat/**, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/otel: any of: x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .go-version, go.mod, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/auditbeat: any of: auditbeat/**, x-pack/auditbeat/**, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/heartbeat: any of: heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/packetbeat: any of: packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Winlogbeat: any of: winlogbeat/**, .buildkite/winlogbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Packetbeat: any of: packetbeat/**, .buildkite/packetbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**

second iteration, remove harvester-level mutex
  .tmp-ai-io/filestream-harvester-metrics-36653-implementation-plan.md
Due: none

otel: document and test cert reload in beatsauthextension (#50576)
  x-pack/otel/extension/beatsauthextension/authenticator.go
  x-pack/otel/extension/beatsauthextension/authenticator_test.go
  x-pack/otel/oteltranslate/tls_otel.go
  x-pack/otel/oteltranslate/tls_otel_test.go
Due: Trigger x-pack/otel

small refactoring/rename
  .tmp-ai-io/filestream-harvester-metrics-36653-implementation-plan.md
Due: none

Add commit message
  .tmp-ai-io/filestream-harvester-metrics-36653-implementation-plan.md
Due: none

Update risks
  .tmp-ai-io/filestream-harvester-metrics-36653-implementation-plan.md
Due: none

filebeat: own per-input shared processors in the runner, not a wrapper
  filebeat/channel/runner.go
  filebeat/channel/runner_mock_test.go
  filebeat/channel/runner_test.go
  filebeat/input/input.go
  filebeat/input/input_test.go
  filebeat/input/runnerfactory.go
  filebeat/input/v2/compat/compat.go
  filebeat/input/v2/compat/compat_test.go
  filebeat/input/v2/compat/composed.go
  filebeat/input/v2/compat/composed_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Revert OnceSetter
  filebeat/beater/crawler.go
  filebeat/channel/runner.go
  filebeat/input/input.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Implement fist phase
  .tmp-ai-io/filestream-harvester-metrics-36653-implementation-plan.md
  filebeat/input/filestream/internal/input-logfile/metrics.go
  filebeat/input/filestream/internal/input-logfile/metrics_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Fix testing.
  libbeat/publisher/pipeline/output_otel.go
  libbeat/publisher/pipeline/output_otel_test.go
  libbeat/publisher/pipeline/pipeline.go
  libbeat/publisher/queue/otelqueue/benchmark_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Add changelog.
  changelog/fragments/1780408365-otelqueue-multi-receiver.yaml
Due: none

Implement phase 3
  .tmp-ai-io/filestream-harvester-metrics-36653-implementation-plan.md
  filebeat/input/filestream/fswatch.go
  filebeat/input/filestream/fswatch_test.go
  filebeat/input/filestream/internal/input-logfile/metrics.go
  filebeat/input/filestream/internal/input-logfile/metrics_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

fix: correct typos in kubernetes README and extend docs
  dev-tools/kubernetes/README.md
  docs/extend/index.md
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Implement phase 4
  filebeat/input/filestream/input.go
  filebeat/input/filestream/input_test.go
  filebeat/input/filestream/internal/input-logfile/harvester.go
  filebeat/input/filestream/internal/input-logfile/harvester_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

replace docker package with moby package
  changelog/fragments/1779394853-change-docker-package-to-moby.yaml
  dev-tools/packaging/package_docker_test.go
  go.mod
  go.sum
  x-pack/dockerlogbeat/handlers.go
  x-pack/dockerlogbeat/logdriver/entry.pb.go
  x-pack/dockerlogbeat/pipelinemanager/clientLogReader.go
  x-pack/dockerlogbeat/pipelinemanager/clientLogReader_test.go
  x-pack/dockerlogbeat/pipelinemanager/pipelineManager.go
  x-pack/dockerlogbeat/pipelinemock/reader.go
  x-pack/dockerlogbeat/pipereader/reader.go
  x-pack/dockerlogbeat/pipereader/reader_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix formatting and license
  x-pack/dockerlogbeat/logdriver/entry.pb.go
  x-pack/dockerlogbeat/pipelinemanager/clientLogReader.go
  x-pack/dockerlogbeat/pipelinemanager/pipelineManager.go
  x-pack/dockerlogbeat/pipelinemock/reader.go
  x-pack/dockerlogbeat/pipereader/reader.go
  x-pack/dockerlogbeat/pipereader/reader_test.go
Due: Trigger x-pack/dockerlogbeat

fix linter issues
  x-pack/dockerlogbeat/handlers.go
  x-pack/dockerlogbeat/main.go
  x-pack/dockerlogbeat/pipelinemanager/clientLogReader.go
  x-pack/dockerlogbeat/pipelinemanager/clientLogReader_test.go
  x-pack/dockerlogbeat/pipelinemanager/pipelineManager.go
  x-pack/dockerlogbeat/pipelinemock/reader.go
Due: Trigger x-pack/dockerlogbeat

fix linter issues
  x-pack/dockerlogbeat/pipelinemanager/pipelineManager.go
Due: Trigger x-pack/dockerlogbeat

remove getClient function, remove changelog, upgrade containerd
  changelog/fragments/1779394853-change-docker-package-to-moby.yaml
  go.mod
  go.sum
  x-pack/dockerlogbeat/pipelinemanager/pipelineManager.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Implement phase 6
  filebeat/input/filestream/fswatch.go
  filebeat/input/filestream/fswatch_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

PR review feedback applied
  x-pack/osquerybeat/ext/osquery-extension/pkg/ntfs/file.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/ntfs/parser.go
  x-pack/osquerybeat/ext/osquery-extension/specs/elastic_ntfs_file.yaml
Due: Trigger x-pack/osquerybeat

implement 7. Cleanup on input shutdown.
  filebeat/input/filestream/fswatch.go
  filebeat/input/filestream/fswatch_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

remove unneeded method
  filebeat/input/filestream/internal/input-logfile/metrics.go
  filebeat/input/filestream/internal/input-logfile/metrics_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

consolidate metrics cleanup
  filebeat/input/filestream/fswatch.go
  filebeat/input/filestream/internal/input-logfile/metrics.go
  filebeat/input/filestream/internal/input-logfile/metrics_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Small refactor, docs and changelog
  changelog/fragments/1780448515-add-filestream-harvester-ingestion-progress-metrics.yaml
  docs/reference/filebeat/filebeat-input-filestream.md
  filebeat/input/filestream/input_delete_integration_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Rename to pooledqueue. Fix leak on shutdown with added test.
  changelog/fragments/1780408365-otelqueue-multi-receiver.yaml
  changelog/fragments/1780408365-pooledqueue-multi-pipeline.yaml
  libbeat/publisher/pipeline/consumer.go
  libbeat/publisher/pipeline/consumer_test.go
  libbeat/publisher/pipeline/output_otel.go
  libbeat/publisher/pipeline/output_otel_test.go
  libbeat/publisher/pipeline/pipeline.go
  libbeat/publisher/pipeline/queue_reader.go
  libbeat/publisher/pipeline/stress/configs/pipeline/default_pooled.yml
  libbeat/publisher/pipeline/stress/out.go
  libbeat/publisher/pipeline/stress/stress_test.go
  libbeat/publisher/pipeline/ttl_batch_test.go
  libbeat/publisher/queue/otelqueue/otelqueue.go
  libbeat/publisher/queue/pooledqueue/batch.go
  libbeat/publisher/queue/pooledqueue/benchmark_test.go
  libbeat/publisher/queue/pooledqueue/pool.go
  libbeat/publisher/queue/pooledqueue/pooledqueue.go
  libbeat/publisher/queue/pooledqueue/pooledqueue_test.go
  libbeat/publisher/queue/pooledqueue/producer.go
  libbeat/publisher/queue/pooledqueue/queue.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Code review fixes.
  libbeat/publisher/queue/pooledqueue/batch.go
  libbeat/publisher/queue/pooledqueue/pool.go
  libbeat/publisher/queue/pooledqueue/pooledqueue_test.go
  libbeat/publisher/queue/pooledqueue/queue.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Update libbeat/publisher/pipeline/client_test.go
  libbeat/publisher/pipeline/client_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Update x-pack/osquerybeat/beater/osquerybeat.go
  x-pack/osquerybeat/beater/osquerybeat.go
Due: Trigger x-pack/osquerybeat

Update libbeat/processors/add_kubernetes_metadata/config.go
  libbeat/processors/add_kubernetes_metadata/config.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat
