Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Path conditions:
  auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  filebeat: any of: filebeat/, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  beats-xpack-filebeat: any of: x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-metricbeat: any of: x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-winlogbeat: any of: x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/scripts, deploy/kubernetes/**, libbeat/docs/version.asciidoc
  beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  beats-xpack-libbeat: any of: x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-xpack-auditbeat: any of: x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-heartbeat: any of: x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/

Fix changelog merge issue
  CHANGELOG.next.asciidoc
Due: none

Switch to base 16 for TLS serial number in packetbeat in line with ECS changes (#41542)
  CHANGELOG.next.asciidoc
  packetbeat/protos/tls/parse.go
  packetbeat/protos/tls/parse_test.go
  packetbeat/protos/tls/tls_test.go
  packetbeat/tests/system/golden/established_tls-expected.json
  packetbeat/tests/system/golden/tls_all_options-expected.json
Due: beats-packetbeat

[elastic-agent-libs] [chore][windows/perf] Add methods for fetching raw counter values (#252)
  helpers/windows/pdh/pdh_query_windows.go
  helpers/windows/pdh/pdh_query_windows_test.go
  helpers/windows/pdh/pdh_windows.go
  helpers/windows/pdh/zpdh_windows.go
Due: none

added retry config, refactored the defauyltConfig() and updated docs
  x-pack/filebeat/docs/inputs/input-gcs.asciidoc
  x-pack/filebeat/input/gcs/client.go
  x-pack/filebeat/input/gcs/config.go
  x-pack/filebeat/input/gcs/input.go
  x-pack/filebeat/input/gcs/input_stateless.go
  x-pack/filebeat/input/gcs/input_test.go
  x-pack/filebeat/input/gcs/mock/mock.go
  x-pack/filebeat/input/gcs/types.go
Due: beats-xpack-filebeat

updated changelog
  CHANGELOG.next.asciidoc
Due: none

metricbeat: add integration TestIndexTotalFieldsLimitNotReached
  x-pack/metricbeat/tests/integration/setup_integration_test.go
Due: beats-xpack-metricbeat

[vSphere] Add id field to all the metricsets (#41097)
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/module/vsphere/cluster/_meta/data.json
  metricbeat/module/vsphere/cluster/_meta/fields.yml
  metricbeat/module/vsphere/cluster/cluster_test.go
  metricbeat/module/vsphere/cluster/data.go
  metricbeat/module/vsphere/cluster/data_test.go
  metricbeat/module/vsphere/datastore/_meta/data.json
  metricbeat/module/vsphere/datastore/_meta/fields.yml
  metricbeat/module/vsphere/datastore/data.go
  metricbeat/module/vsphere/datastore/data_test.go
  metricbeat/module/vsphere/datastorecluster/_meta/data.json
  metricbeat/module/vsphere/datastorecluster/_meta/fields.yml
  metricbeat/module/vsphere/datastorecluster/data.go
  metricbeat/module/vsphere/datastorecluster/data_test.go
  metricbeat/module/vsphere/fields.go
  metricbeat/module/vsphere/host/_meta/data.json
  metricbeat/module/vsphere/host/_meta/fields.yml
  metricbeat/module/vsphere/host/data.go
  metricbeat/module/vsphere/host/data_test.go
  metricbeat/module/vsphere/network/_meta/data.json
  metricbeat/module/vsphere/network/_meta/fields.yml
  metricbeat/module/vsphere/network/data.go
  metricbeat/module/vsphere/network/data_test.go
  metricbeat/module/vsphere/resourcepool/_meta/data.json
  metricbeat/module/vsphere/resourcepool/_meta/fields.yml
  metricbeat/module/vsphere/resourcepool/data.go
  metricbeat/module/vsphere/resourcepool/data_test.go
  metricbeat/module/vsphere/virtualmachine/_meta/data.json
  metricbeat/module/vsphere/virtualmachine/_meta/fields.yml
  metricbeat/module/vsphere/virtualmachine/data.go
  metricbeat/module/vsphere/virtualmachine/data_test.go
Due: beats-metricbeat

[elastic-agent-system-metrics] [system/process] Fix windows protected process data collection (#191)
  metric/system/process/process.go
  metric/system/process/process_windows.go
  metric/system/process/zsyscall_windows.go
Due: none

fix changelog
  CHANGELOG.next.asciidoc
Due: none

add test cleanup
  x-pack/metricbeat/tests/integration/setup_integration_test.go
Due: beats-xpack-metricbeat

set default value of kafka version to 2.1.0 (#41662)
  CHANGELOG.next.asciidoc
  filebeat/docs/inputs/input-kafka.asciidoc
  filebeat/input/kafka/config.go
  libbeat/outputs/kafka/config.go
  libbeat/outputs/kafka/docs/kafka.asciidoc
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

point to elastic sarama fork directly
  filebeat/input/kafka/config.go
  filebeat/input/kafka/input.go
  filebeat/input/kafka/kafka_integration_test.go
  go.mod
  go.sum
  libbeat/common/kafka/sasl.go
  libbeat/common/kafka/version.go
  libbeat/common/kafka/version_test.go
  libbeat/outputs/kafka/client.go
  libbeat/outputs/kafka/config.go
  libbeat/outputs/kafka/kafka.go
  libbeat/outputs/kafka/kafka_integration_test.go
  libbeat/outputs/kafka/log.go
  libbeat/outputs/kafka/message.go
  libbeat/outputs/kafka/partition.go
  libbeat/outputs/kafka/partition_test.go
  metricbeat/include/list_init.go
  metricbeat/module/kafka/broker.go
  metricbeat/module/kafka/consumergroup/mock_test.go
  metricbeat/module/kafka/consumergroup/query.go
  metricbeat/module/kafka/partition/partition.go
  metricbeat/module/kafka/partition/partition_integration_test.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

remove dependency on shopify
  NOTICE.txt
  go.mod
  go.sum
  metricbeat/include/list_init.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

linting issues
  filebeat/input/kafka/config.go
  libbeat/outputs/kafka/client.go
  metricbeat/module/kafka/partition/partition_integration_test.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

linint issues 2
  libbeat/common/kafka/scram.go
  libbeat/outputs/kafka/config.go
  metricbeat/module/kafka/consumergroup/consumergroup_integration_test.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

[Release] update test environment
  testing/environments/latest.yml
  x-pack/metricbeat/docker-compose.yml
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

docs: update docs
  libbeat/docs/version.asciidoc
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

[Release] add-backport-next
  .mergify.yml
Due: none

[Release] update version
  libbeat/version/version.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

[Release] update test environment
  metricbeat/docker-compose.yml
  testing/environments/latest.yml
  x-pack/metricbeat/docker-compose.yml
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

docs: update docs
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

docs: Close changelog for 8.16.1
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Update CHANGELOG.asciidoc
  CHANGELOG.asciidoc
Due: none

Add breaking change for Filebeat removed 'docker' input
  CHANGELOG.asciidoc
Due: none

Metricbeat: add configurable failure threshold before reporting streams as degraded (#41570)
  metricbeat/mb/module/wrapper.go
  metricbeat/mb/module/wrapper_internal_test.go
Due: beats-metricbeat

Updated README.md, fix typo(s)
  README.md
Due: none

Osquerybeat: Upgrade to osquery 5.13.1 (#40849)
  CHANGELOG.next.asciidoc
  x-pack/osquerybeat/internal/distro/distro.go
Due: beats-xpack-osquerybeat

mod: update elastic/mito to version v1.16.0
  CHANGELOG.next.asciidoc
  NOTICE.txt
  go.mod
  go.sum
  x-pack/filebeat/docs/inputs/input-cel.asciidoc
  x-pack/filebeat/input/cel/input.go
  x-pack/filebeat/input/cel/input_test.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

fixed wrapped errors lining
  filebeat/input/kafka/kafka_integration_test.go
  libbeat/outputs/kafka/client.go
  libbeat/outputs/kafka/message.go
  libbeat/outputs/kafka/partition.go
  metricbeat/module/kafka/broker.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

CI failures
  libbeat/outputs/kafka/partition.go
  metricbeat/module/kafka/consumergroup/mock_test.go
  metricbeat/module/kafka/partition/partition.go
  metricbeat/module/kafka/partition/partition_integration_test.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

ignore error messages in integration tests
  filebeat/input/kafka/kafka_integration_test.go
  libbeat/outputs/kafka/client.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat
