Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Path conditions:
  Trigger Auditbeat: any of: auditbeat/**, .buildkite/auditbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Heartbeat: any of: heartbeat/**, .buildkite/heartbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Filebeat: any of: filebeat/**, .buildkite/filebeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/filebeat: any of: filebeat/**, x-pack/filebeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/dockerlogbeat: any of: x-pack/dockerlogbeat/**, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Metricbeat: any of: metricbeat/**, .buildkite/metricbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/metricbeat: any of: metricbeat/**, x-pack/metricbeat/**, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/winlogbeat: any of: winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Deploy/K8S: any of: deploy/kubernetes/**, metricbeat/module/kubernetes/**, .go-version, libbeat/docs/version.asciidoc, .buildkite/deploy/kubernetes/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Libbeat: any of: libbeat/**, .buildkite/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/libbeat: any of: x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .go-version, libbeat/**, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/otel: any of: x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .go-version, go.mod, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/auditbeat: any of: auditbeat/**, x-pack/auditbeat/**, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/heartbeat: any of: heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/packetbeat: any of: packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Winlogbeat: any of: winlogbeat/**, .buildkite/winlogbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Packetbeat: any of: packetbeat/**, .buildkite/packetbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**

[heartbeat] Shorten Kerberos and NTLM comments
  heartbeat/_meta/config/beat.reference.yml.tmpl
  heartbeat/heartbeat.reference.yml
  heartbeat/monitors/active/http/auth_test.go
  heartbeat/monitors/active/http/auth_unpack.go
  heartbeat/monitors/active/http/auth_unpack_nofips_test.go
  heartbeat/monitors/active/http/config.go
  heartbeat/monitors/active/http/http.go
  heartbeat/monitors/active/http/kerberos_integration_test.go
  heartbeat/monitors/active/http/ntlm_fips.go
  heartbeat/monitors/active/http/ntlm_fips_test.go
  heartbeat/monitors/active/http/ntlm_handshake_test.go
  heartbeat/monitors/active/http/ntlm_nofips.go
  heartbeat/monitors/active/http/task.go
  heartbeat/monitors/active/http/task_test.go
  libbeat/common/transport/kerberos/config.go
  x-pack/heartbeat/heartbeat.reference.yml
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

[heartbeat] Trim Kerberos/NTLM changelog description
  changelog/fragments/1781303454-heartbeat-http-kerberos-ntlm.yaml
Due: none

[Kafka] Disable `OAUTHBEARER` if specified with `username`/`password` (#53215)
  filebeat/input/kafka/config.go
  filebeat/input/kafka/config_test.go
  libbeat/common/kafka/sasl.go
  libbeat/common/kafka/sasl_test.go
  libbeat/outputs/kafka/config.go
  libbeat/outputs/kafka/config_test.go
  metricbeat/module/kafka/config.go
  metricbeat/module/kafka/config_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

[docs] Mark krb5_conf as available from 9.6.0
  docs/reference/auditbeat/configuration-kerberos.md
  docs/reference/filebeat/configuration-kerberos.md
  docs/reference/heartbeat/configuration-kerberos.md
  docs/reference/metricbeat/configuration-kerberos.md
  docs/reference/packetbeat/configuration-kerberos.md
  docs/reference/winlogbeat/configuration-kerberos.md
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Update CODEOWNERS (#53372)
  .github/CODEOWNERS
Due: none

[Release] update version
  libbeat/version/version.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

docs: update docs
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix: make update changes
  deploy/kubernetes/heartbeat-kubernetes.yaml
Due: Trigger Deploy/K8S

[Release] update test environment
  metricbeat/docker-compose.yml
  testing/environments/latest.yml
  x-pack/metricbeat/docker-compose.yml
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

[Heartbeat] Add Kerberos and NTLM authentication to HTTP monitors (#51223)
  NOTICE.txt
  changelog/fragments/1781303454-heartbeat-http-kerberos-ntlm.yaml
  docs/reference/auditbeat/configuration-kerberos.md
  docs/reference/filebeat/configuration-kerberos.md
  docs/reference/heartbeat/configuration-kerberos.md
  docs/reference/metricbeat/configuration-kerberos.md
  docs/reference/packetbeat/configuration-kerberos.md
  docs/reference/winlogbeat/configuration-kerberos.md
  go.mod
  heartbeat/_meta/config/beat.reference.yml.tmpl
  heartbeat/docker-compose.yml
  heartbeat/heartbeat.reference.yml
  heartbeat/monitors/active/http/auth_test.go
  heartbeat/monitors/active/http/auth_unpack.go
  heartbeat/monitors/active/http/auth_unpack_nofips_test.go
  heartbeat/monitors/active/http/config.go
  heartbeat/monitors/active/http/http.go
  heartbeat/monitors/active/http/kerberos_integration_test.go
  heartbeat/monitors/active/http/ntlm_fips.go
  heartbeat/monitors/active/http/ntlm_fips_test.go
  heartbeat/monitors/active/http/ntlm_handshake_test.go
  heartbeat/monitors/active/http/ntlm_nofips.go
  heartbeat/monitors/active/http/task.go
  heartbeat/monitors/active/http/task_test.go
  heartbeat/monitors/active/http/testdata/krb5.conf
  libbeat/common/transport/kerberos/client_nofips.go
  libbeat/common/transport/kerberos/client_nofips_test.go
  libbeat/common/transport/kerberos/config.go
  libbeat/common/transport/kerberos/config_nofips_test.go
  testing/environments/docker/heartbeat_kerberos/Dockerfile
  testing/environments/docker/heartbeat_kerberos/setup.sh
  testing/environments/docker/heartbeat_kerberos/spnego-server/go.mod
  testing/environments/docker/heartbeat_kerberos/spnego-server/go.sum
  testing/environments/docker/heartbeat_kerberos/spnego-server/main.go
  x-pack/heartbeat/heartbeat.reference.yml
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

docs: address reviewer feedback on docs and add .gz changelog entry
  changelog/fragments/1758038403-add-kubernetes-metadata-gz-rotated-log-enrichment.yaml
  docs/reference/filebeat/add-kubernetes-metadata.md
  docs/reference/filebeat/running-on-kubernetes.md
Due: none

filebeat/tests/integration: fix flaky TestTranslateGUIDWithLDAP (#53364)
  filebeat/tests/integration/translate_ldap_attribute_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

fix(add_kubernetes_metadata): atomically swap cache entries in addPod
  libbeat/processors/add_kubernetes_metadata/cache.go
  libbeat/processors/add_kubernetes_metadata/kubernetes.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

[beatreceivers][chore] Remove global logger from auditbeat, winlogbeat
  auditbeat/datastore/datastore.go
  auditbeat/datastore/datastore_test.go
  auditbeat/datastore/registry.go
  auditbeat/datastore/registry_test.go
  auditbeat/helper/hasher/cached_hasher.go
  auditbeat/module/auditd/audit_linux.go
  auditbeat/module/file_integrity/eventreader_etw.go
  auditbeat/module/file_integrity/eventreader_fsnotify.go
  auditbeat/module/file_integrity/metricset.go
  auditbeat/module/file_integrity/metricset_test.go
  auditbeat/module/file_integrity/monitor/monitor.go
  auditbeat/module/file_integrity/monitor/monitor_test.go
  auditbeat/module/file_integrity/monitor/recursive.go
  auditbeat/module/file_integrity/scanner.go
  auditbeat/module/file_integrity/scanner_nofips_test.go
  auditbeat/module/file_integrity/scanner_test.go
  filebeat/input/winlog/input.go
  heartbeat/monitors/active/dialchain/tls.go
  heartbeat/monitors/active/http/http.go
  heartbeat/monitors/active/http/task.go
  heartbeat/monitors/active/tcp/tcp.go
  libbeat/reader/etw/session.go
  libbeat/reader/etw/session_integration_test.go
  libbeat/reader/etw/session_test.go
  winlogbeat/beater/winlogbeat.go
  winlogbeat/eventlog/factory_other.go
  winlogbeat/eventlog/factory_windows.go
  winlogbeat/eventlog/wineventlog.go
  winlogbeat/module/pipeline.go
  winlogbeat/sys/wineventlog/iterator.go
  winlogbeat/sys/wineventlog/metadata_store_test.go
  winlogbeat/sys/wineventlog/renderer_test.go
  x-pack/auditbeat/module/system/host/host.go
  x-pack/auditbeat/module/system/package/package.go
  x-pack/auditbeat/module/system/process/quark_provider_linux.go
  x-pack/filebeat/input/etw/input.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix cli
  x-pack/auditbeat/module/system/process/gosysinfo_provider.go
Due: Trigger x-pack/auditbeat

docs: apply review feedback on add_cloud_metadata Azure section
  docs/reference/auditbeat/add-cloud-metadata.md
  docs/reference/filebeat/add-cloud-metadata.md
  docs/reference/heartbeat/add-cloud-metadata.md
  docs/reference/metricbeat/add-cloud-metadata.md
  docs/reference/packetbeat/add-cloud-metadata.md
  docs/reference/winlogbeat/add-cloud-metadata.md
Due: none

fix backport: resolve conflicts and adapt to the 9.5 input manager
  filebeat/input/filestream/environment_test.go
  filebeat/input/filestream/internal/input-logfile/manager.go
  filebeat/input/filestream/internal/input-logfile/manager_test.go
  filebeat/input/filestream/internal/input-logfile/store_cache.go
  filebeat/input/filestream/internal/input-logfile/store_cache_test.go
  filebeat/input/journald/input_filtering_test.go
  filebeat/input/v2/input-cursor/input.go
  filebeat/input/v2/input-cursor/manager.go
  filebeat/input/v2/input-cursor/manager_test.go
  filebeat/input/v2/input-cursor/store.go
  filebeat/input/v2/input-cursor/store_test.go
  x-pack/filebeat/input/httpjson/redirect_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

go mod tidy
  go.mod
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix conflict
  go.mod
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix conflicts
  NOTICE.txt
  go.mod
  go.sum
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

winlogbeat: fix flaky wait-for-event-log by querying both event log APIs
  winlogbeat/tests/testscript/commands_windows.go
  winlogbeat/tests/testscript/testdata/eventlog/query_level_single.txtar
  winlogbeat/tests/testscript/testscript_test.go
Due: Trigger x-pack/winlogbeat, Trigger Winlogbeat

Update filebeat-input-azure-blob-storage.md
  docs/reference/filebeat/filebeat-input-azure-blob-storage.md
Due: none

docs/reference/filebeat: correct azure-blob-storage retry request scope (#53347)
  docs/reference/filebeat/filebeat-input-azure-blob-storage.md
Due: none

FIx ci
  auditbeat/datastore/registry_test.go
  auditbeat/helper/hasher/cached_hasher_test.go
  auditbeat/module/file_integrity/monitor/monitor.go
  auditbeat/module/file_integrity/monitor/monitor_test.go
  auditbeat/module/file_integrity/scanner_nofips_test.go
  auditbeat/module/file_integrity/scanner_test.go
  libbeat/reader/etw/session_test.go
  winlogbeat/eventlog/wineventlog_test.go
  winlogbeat/sys/wineventlog/iterator_test.go
  x-pack/auditbeat/module/system/login/login.go
  x-pack/auditbeat/module/system/package/package_test.go
  x-pack/auditbeat/module/system/user/user.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

systemmetrics: report cgroup v1 CPU throttling time in microseconds (#53312)
  changelog/fragments/1789727873-cgroup-v1-throttled-time-units.yaml
  docs/reference/metricbeat/exported-fields-system.md
  metricbeat/module/system/fields.go
  metricbeat/module/system/process/_meta/fields.yml
  pkg/systemmetrics/metric/system/cgroup/cgv1/cpu.go
  pkg/systemmetrics/metric/system/cgroup/cgv1/cpu_test.go
  pkg/systemmetrics/report/report.go
  pkg/systemmetrics/report/report_cgroup_test.go
Due: Trigger Metricbeat, Trigger x-pack/metricbeat

fix dra annotate step key
  .buildkite/scripts/dra-annotate.sh
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat
