Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: /agent/check-catalog-info.sh, :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Path conditions:
  /agent/check-catalog-info.sh: any of: catalog-info.yaml
  :pipeline: Upload beats-auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-filebeat: any of: filebeat/, .buildkite/pipeline.yml, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-filebeat: any of: filebeat/, x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/pipeline.yml, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-metricbeat: any of: metricbeat/, x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-winlogbeat: any of: winlogbeat/, x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  :pipeline: Upload deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/pipeline.yml, .buildkite/scripts, deploy/kubernetes/**, metricbeat/module/kubernetes/**, libbeat/docs/version.asciidoc
  :pipeline: Upload beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  :pipeline: Upload beats-xpack-libbeat: any of: libbeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-auditbeat: any of: auditbeat/, x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-xpack-heartbeat: any of: heartbeat/, x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: packetbeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-agentbeat: any of: auditbeat/, filebeat/, heartbeat/, metricbeat/, osquerybeat/, packetbeat/, x-pack/agentbeat/, x-pack/auditbeat/, x-pack/filebeat/, x-pack/heartbeat/, x-pack/metricbeat/, x-pack/osquerybeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.agentbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/

golangci-lint
  libbeat/processors/add_cloud_metadata/add_cloud_metadata_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

fix: typo docs winlogbeat
  docs/reference/winlogbeat/add-nomad-metadata.md
  docs/reference/winlogbeat/configuration-ssl.md
  docs/reference/winlogbeat/exported-fields-security.md
Due: none

fix: typo docs notes
  docs/release-notes/index.md
Due: none

Fix typo in metricbeat-module-iis.md (#47025)
  docs/reference/metricbeat/metricbeat-module-iis.md
  x-pack/metricbeat/module/iis/_meta/docs.md
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

add release notes for 9.0.8 and 9.1.5
  docs/release-notes/_snippets/9.0.8/breaking-changes.md
  docs/release-notes/_snippets/9.0.8/index.md
  docs/release-notes/_snippets/9.1.5/breaking-changes.md
  docs/release-notes/_snippets/9.1.5/index.md
Due: none

add config.changelog.yaml
  config.changelog.yaml
Due: none

fix conflicts
  libbeat/autodiscover/autodiscover_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Fix typo in metricbeat-module-iis.md (#47026)
  metricbeat/docs/modules/iis.asciidoc
  x-pack/metricbeat/module/iis/_meta/docs.asciidoc
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

add missing breaking changes
  docs/release-notes/_snippets/9.1.3/breaking-changes.md
Due: none

Revert "Temporarily have FIPS integration tests spin up deployments in Produc…"
  .buildkite/x-pack/pipeline.xpack.filebeat.yml
  .buildkite/x-pack/pipeline.xpack.metricbeat.yml
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-metricbeat

Rename the fallbackContentType constant to textMediaType
  metricbeat/helper/prometheus/textparse.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

use golang:1.24.8-bookworm to use python 3.11
  auditbeat/Dockerfile
  dev-tools/kubernetes/filebeat/Dockerfile.debug
  dev-tools/kubernetes/heartbeat/Dockerfile.debug
  dev-tools/kubernetes/metricbeat/Dockerfile.debug
  heartbeat/Dockerfile
  metricbeat/Dockerfile
  metricbeat/module/http/_meta/Dockerfile
  metricbeat/module/vsphere/_meta/Dockerfile
  packetbeat/Dockerfile
  x-pack/metricbeat/module/stan/_meta/Dockerfile
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Update the comment to clarify the use of text/plain as fallback
  metricbeat/helper/prometheus/textparse.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

add changelog fragment
  changelog/fragments/1760423464-bump-Golang-version-to-1.24.8.yaml
Due: none

Bump custom_fips_ech_test version to the last SNAPSHOT
  .buildkite/scripts/custom_fips_ech_test.sh
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

metricbeat: adjust IPv6 on apache module TestHostParser
  metricbeat/module/apache/status/status_test.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

[prometheus] Add a fix to handle blank content type (#47027)
  changelog/fragments/1760103378-bugfix-add-a-fix-to-handle-blank-content-typ.yaml
  metricbeat/helper/prometheus/textparse.go
  metricbeat/helper/prometheus/textparse_test.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Bump custom_fips_ech_test version to the last SNAPSHOT (#47081)
  .buildkite/scripts/custom_fips_ech_test.sh
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

update gcp tests
  x-pack/metricbeat/module/gcp/billing/billing_test.go
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

individual tables
  x-pack/osquerybeat/ext/osquery-extension/main_windows.go
  x-pack/osquerybeat/ext/osquery-extension/notes.md
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/amcache.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/amcache_test.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/interfaces/interfaces.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/tables/application/application.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/tables/application_file/application_file.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/tables/application_shortcut/application_shortcut.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/tables/application_shortcut/application_shortcut_test.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/tables/device_pnp/device_pnp.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/tables/device_pnp/device_pnp_test.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/tables/driver_binary/driver_binary.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/tables/driver_binary/driver_binary_test.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/testdata/amcache.sqlite
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/testdata/registry.py
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/utilities/utilities.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/amcache/utilities/utilities_test.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/amcache.go
Due: :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-agentbeat

beat logger
  libbeat/publisher/pipeline/controller_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Update the error check to handle invalid and empty content header
  metricbeat/helper/prometheus/textparse.go
  metricbeat/helper/prometheus/textparse_test.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

fix libbeat check
  libbeat/otelbeat/oteltranslate/outputs/elasticsearch/config_otel.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

trim tests from otel_test.go
  x-pack/filebeat/tests/integration/otel_test.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

[elastic-agent-system-metrics] Remove "Accurate CPU counts not available on platform" log spam on MacOS at the debug level (#266)
  NOTICE.txt
  metric/system/numcpu/numcpu.go
Due: none
