Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Trigger Auditbeat:
  if: build.pull_request.id != null
  trigger: auditbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
      GITHUB_PR_LABELS: ${GITHUB_PR_LABELS}

Trigger Heartbeat:
  if: build.pull_request.id != null
  trigger: heartbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
      GITHUB_PR_LABELS: ${GITHUB_PR_LABELS}

Trigger Filebeat:
  if: build.pull_request.id != null
  trigger: filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
      GITHUB_PR_LABELS: ${GITHUB_PR_LABELS}

Trigger x-pack/filebeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/dockerlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-dockerlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger Metricbeat:
  if: build.pull_request.id != null
  trigger: beats-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/metricbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/osquerybeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-osquerybeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/winlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-winlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Fix backport compile error: 8.19 journalctl.New has no merge flag param
  filebeat/input/journald/pkg/journalctl/reader_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Fix factory constructor
  x-pack/filebeat/fbreceiver/receiver_test.go
Due: Trigger x-pack/filebeat

fix(heartbeat): satisfy modernize linter on api monitor PR files
  heartbeat/monitors/factory.go
  heartbeat/monitors/logger/logger.go
  heartbeat/monitors/wrappers/wrappers.go
  x-pack/heartbeat/monitors/browser/config.go
  x-pack/heartbeat/monitors/browser/sourcejob.go
  x-pack/heartbeat/monitors/browser/sourcejob_test.go
  x-pack/heartbeat/monitors/browser/synthexec/synthtypes_test.go
Due: Trigger Heartbeat, Trigger x-pack/heartbeat

test(heartbeat): cover api plugin registration and capability gate
  x-pack/heartbeat/monitors/api/api_test.go
Due: Trigger x-pack/heartbeat

test(heartbeat): add real apiJourney e2e scenario (pinned agent)
  .buildkite/x-pack/pipeline.xpack.heartbeat.yml
  x-pack/heartbeat/scenarios/apibasics_test.go
  x-pack/heartbeat/scenarios/apiscenarios_test.go
  x-pack/heartbeat/scenarios/framework/framework.go
Due: Trigger x-pack/heartbeat

ci(heartbeat): run api journey e2e in the existing unit-test step
  .buildkite/x-pack/pipeline.xpack.heartbeat.yml
Due: Trigger x-pack/heartbeat

test(heartbeat): add failing api journey down-path scenario
  x-pack/heartbeat/scenarios/apiscenarios_test.go
Due: Trigger x-pack/heartbeat

fix(heartbeat): replace remaining interface{} with any in api PR tests
  x-pack/heartbeat/monitors/browser/sourcejob_test.go
  x-pack/heartbeat/monitors/browser/synthexec/enrich_test.go
Due: Trigger x-pack/heartbeat

ci(heartbeat): make pinned synthetics install robust against ENOTDIR
  .buildkite/x-pack/pipeline.xpack.heartbeat.yml
Due: Trigger x-pack/heartbeat

ci(heartbeat): install pinned synthetics into a private npm prefix
  .buildkite/x-pack/pipeline.xpack.heartbeat.yml
Due: Trigger x-pack/heartbeat

ci(heartbeat): escape shell vars from Buildkite interpolation
  .buildkite/x-pack/pipeline.xpack.heartbeat.yml
Due: Trigger x-pack/heartbeat

ci(heartbeat): build pinned synthetics from source instead of git dep
  .buildkite/x-pack/pipeline.xpack.heartbeat.yml
Due: Trigger x-pack/heartbeat

ci(heartbeat): extract synthetics agent install into a mage goal
  .buildkite/x-pack/pipeline.xpack.heartbeat.yml
  x-pack/heartbeat/magefile.go
Due: Trigger x-pack/heartbeat

ci(heartbeat): install pinned synthetics into a private npm prefix from the mage goal
  .buildkite/x-pack/pipeline.xpack.heartbeat.yml
  x-pack/heartbeat/magefile.go
Due: Trigger x-pack/heartbeat

resolve conflicts
  x-pack/filebeat/input/httpjson/input_test.go
Due: Trigger x-pack/filebeat

Fix typo in GCP BigQuery client error messages
  x-pack/metricbeat/module/gcp/billing/billing.go
  x-pack/metricbeat/module/gcp/carbon/carbon.go
Due: Trigger x-pack/metricbeat

[metricbeat] Guard all bare evt["system"] accesses in test_system.py (#52187)
  metricbeat/module/system/test_system.py
Due: Trigger Metricbeat, Trigger x-pack/metricbeat

add skip-changelog label (#52248)
  .github/workflows/updatecli.d/bump-elastic-stack-snapshot.yml
Due: none

ci(heartbeat): keep pinned synthetics checkout on disk in the mage goal
  x-pack/heartbeat/magefile.go
Due: Trigger x-pack/heartbeat

[beatreceiver][packetbeat] Delegate shutdown_timeout logic to libbeat (#52005)
  packetbeat/beater/packetbeat.go
  packetbeat/beater/processor.go
  packetbeat/config/config.go
  packetbeat/tests/system/config/packetbeat.yml.j2
  packetbeat/tests/system/test_0060_flows.py
Due: Trigger x-pack/packetbeat, Trigger Packetbeat

Resolve merge conflicts in packetbeat global logger backport
  packetbeat/beater/packetbeat.go
  packetbeat/beater/processor.go
  packetbeat/protos/dns/dns.go
  packetbeat/protos/protos.go
  packetbeat/sniffer/decoders.go
  packetbeat/sniffer/sniffer.go
Due: Trigger x-pack/packetbeat, Trigger Packetbeat

Resolve merge conflicts in shutdown_timeout backport for 9.3
  libbeat/beat/beat.go
  packetbeat/beater/packetbeat.go
  packetbeat/beater/processor.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Resolve merge conflicts in shutdown_timeout backport for 9.4
  libbeat/beat/beat.go
  packetbeat/beater/packetbeat.go
  packetbeat/beater/processor.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Resolve merge conflicts in packetbeat logger 2/2 backport
  packetbeat/protos/pgsql/pgsql.go
  packetbeat/protos/tcp/tcp.go
  packetbeat/publish/publish.go
  packetbeat/publish/publish_test.go
Due: Trigger x-pack/packetbeat, Trigger Packetbeat

Pass ingest-dev trigger params via build.env instead of meta_data.
  .buildkite/version-bump-pipeline.yml
Due: none

Drop TestStopWaitsForWorkers from 8.19 logger backport
  packetbeat/publish/publish.go
  packetbeat/publish/publish_test.go
Due: Trigger x-pack/packetbeat, Trigger Packetbeat

Drop depends_on from version-bump block after ingest-dev triggers.
  .buildkite/version-bump-pipeline.yml
Due: none

Path conditions:
  Trigger Auditbeat: any of: auditbeat/**, .buildkite/auditbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Heartbeat: any of: heartbeat/**, .buildkite/heartbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Filebeat: any of: filebeat/**, .buildkite/filebeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/filebeat: any of: filebeat/**, x-pack/filebeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/dockerlogbeat: any of: x-pack/dockerlogbeat/**, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Metricbeat: any of: metricbeat/**, .buildkite/metricbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/metricbeat: any of: metricbeat/**, x-pack/metricbeat/**, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/winlogbeat: any of: winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Deploy/K8S: any of: deploy/kubernetes/**, metricbeat/module/kubernetes/**, .go-version, libbeat/docs/version.asciidoc, .buildkite/deploy/kubernetes/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Libbeat: any of: libbeat/**, .buildkite/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/libbeat: any of: x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .go-version, libbeat/**, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/otel: any of: x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .go-version, go.mod, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/auditbeat: any of: auditbeat/**, x-pack/auditbeat/**, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/heartbeat: any of: heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/packetbeat: any of: packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Winlogbeat: any of: winlogbeat/**, .buildkite/winlogbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Packetbeat: any of: packetbeat/**, .buildkite/packetbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
