Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Path conditions:
  auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  filebeat: any of: filebeat/, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  beats-xpack-filebeat: any of: x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-metricbeat: any of: x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-winlogbeat: any of: x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/scripts, deploy/kubernetes/**, libbeat/docs/version.asciidoc
  beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  beats-xpack-libbeat: any of: x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-xpack-auditbeat: any of: x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-heartbeat: any of: x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/

Add read-only filesystem option for Beats on Docker (#40092)
  libbeat/docs/shared-docker.asciidoc
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

[filebeat][filestream] Enable status reporter for filestream input (#40121)
  CHANGELOG.next.asciidoc
  filebeat/input/filestream/input.go
  filebeat/input/filestream/internal/input-logfile/harvester.go
  filebeat/input/filestream/internal/input-logfile/input.go
Due: filebeat

[filebeat][winlog] implement status reporter for winlog input (#40163)
  CHANGELOG.next.asciidoc
  filebeat/input/winlog/input.go
Due: filebeat

Fix integration tests TestRecoverFromInvalidOutputConfiguration
  x-pack/filebeat/tests/integration/managerV2_test.go
Due: beats-xpack-filebeat

updated changesets for x-packs
  .buildkite/pipeline.yml
Due: none

Default to Area:"Data Plane" when issues are added to Platform Ingest project board (#40193)
  .github/workflows/platform-ingest-project-board.yml
Due: none

add integration test
  filebeat/input/redis/_meta/Dockerfile-tls
  filebeat/input/redis/_meta/certs/root-ca.pem
  filebeat/input/redis/_meta/certs/server-cert.pem
  filebeat/input/redis/_meta/certs/server-key.pem
  filebeat/input/redis/_meta/redis.conf
  filebeat/input/redis/redis_integration_test.go
Due: filebeat

fix: fix some comments
  x-pack/filebeat/tests/integration/status_reporter_test.go
Due: beats-xpack-filebeat

chore: add starting state in NewInput
  filebeat/input/log/input.go
Due: filebeat

Postmigration script cleanup 7.17 (#40052)
  .buildkite/deploy/kubernetes/scripts/setup-k8s-env.sh
  .buildkite/env-scripts/env.sh
  .buildkite/env-scripts/macos-env.sh
  .buildkite/env-scripts/util.sh
  .buildkite/env-scripts/win-env.sh
  .buildkite/heartbeat/scripts/package-step.sh
  .buildkite/hooks/pre-command
  .buildkite/hooks/pre-exit
  .buildkite/hooks/scripts/util.sh
  .buildkite/scripts/generate_libbeat_pipeline.sh
  .buildkite/scripts/generate_pipeline.sh
  .buildkite/scripts/go_int_tests.sh
  .buildkite/scripts/initCloudEnv.sh
  .buildkite/scripts/packaging/package-step.sh
  .buildkite/scripts/packaging/package-util.sh
  .buildkite/scripts/packaging/package.sh
  .buildkite/scripts/py_int_tests.sh
  .buildkite/scripts/win_unit_tests.ps1
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

replaced deprecated no-ansi opt
  .buildkite/x-pack/pipeline.xpack.metricbeat.yml
  libbeat/tests/compose/wrapper.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

docker-compose problem debugging
  .buildkite/x-pack/pipeline.xpack.metricbeat.yml
  libbeat/tests/compose/wrapper.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

restored libbeat/tests/compose/wrapper.go
  libbeat/tests/compose/wrapper.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

removed repo env var and commented TEST_TAGS
  .buildkite/x-pack/pipeline.xpack.metricbeat.yml
Due: beats-xpack-metricbeat

updated region
  .buildkite/x-pack/pipeline.xpack.metricbeat.yml
Due: beats-xpack-metricbeat

replaced deprecated no-ansi opt
  libbeat/tests/compose/wrapper.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

moved test tags var to pipleine
  .buildkite/x-pack/pipeline.xpack.metricbeat.yml
Due: beats-xpack-metricbeat

goimports
  filebeat/input/redis/redis_integration_test.go
Due: filebeat

update docker compose redis service
  filebeat/docker-compose.yml
Due: filebeat

updated pipelines and removed setenv script
  .buildkite/auditbeat/auditbeat-pipeline.yml
  .buildkite/deploy/kubernetes/scripts/setup-k8s-env.sh
  .buildkite/filebeat/filebeat-pipeline.yml
  .buildkite/heartbeat/heartbeat-pipeline.yml
  .buildkite/hooks/pre-command
  .buildkite/metricbeat/pipeline.yml
  .buildkite/packetbeat/pipeline.packetbeat.yml
  .buildkite/scripts/common.sh
  .buildkite/scripts/initCloudEnv.sh
  .buildkite/scripts/install_macos_tools.sh
  .buildkite/scripts/setenv.sh
  .buildkite/winlogbeat/pipeline.winlogbeat.yml
  .buildkite/x-pack/elastic-agent/scripts/steps/setenv.sh
  libbeat/tests/compose/wrapper.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Fix integration tests TestRecoverFromInvalidOutputConfiguration (#40195)
  x-pack/filebeat/tests/integration/managerV2_test.go
Due: beats-xpack-filebeat

improve integration test
  filebeat/docker-compose.yml
  filebeat/input/redis/_meta/redis.conf
  filebeat/input/redis/redis_integration_test.go
Due: filebeat

Prevent race condition on TestRecoverFromInvalidOutputConfiguration
  x-pack/filebeat/tests/integration/managerV2_test.go
Due: beats-xpack-filebeat

Update CHANGELOG.asciidoc
  CHANGELOG.asciidoc
Due: none

Update release.asciidoc
  libbeat/docs/release.asciidoc
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Prevent race condition on TestRecoverFromInvalidOutputConfiguration (#40199)
  x-pack/filebeat/tests/integration/managerV2_test.go
Due: beats-xpack-filebeat

fix: add sample output to verify the status
  x-pack/filebeat/tests/integration/status_reporter_test.go
Due: beats-xpack-filebeat

fix: remove println
  x-pack/filebeat/tests/integration/status_reporter_test.go
Due: beats-xpack-filebeat

keep old redis service
  filebeat/docker-compose.yml
  filebeat/input/redis/redis_integration_test.go
Due: filebeat

[elastic-agent-libs] Fix download serialization to JSON to be a float in bps instead of a string with unit (#216)
  NOTICE.txt
  go.mod
  go.sum
  upgrade/details/details.go
  upgrade/details/details_test.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Add multifragment rpc support
  packetbeat/protos/nfs/rpc.go
Due: beats-packetbeat

lint: fix more linting errors
  x-pack/filebeat/input/entityanalytics/provider/jamf/internal/jamf/jamf_test.go
  x-pack/filebeat/input/entityanalytics/provider/jamf/jamf_test.go
Due: beats-xpack-filebeat

Update CHANGELOG.next.asciidoc
  CHANGELOG.next.asciidoc
Due: none

fix: replace uuid.MustParse with uuid.Must(uuid.FromString())
  x-pack/filebeat/input/entityanalytics/internal/collections/uuid_set_test.go
  x-pack/filebeat/input/entityanalytics/provider/azuread/fetcher/device_test.go
  x-pack/filebeat/input/entityanalytics/provider/azuread/fetcher/graph/graph_test.go
  x-pack/filebeat/input/entityanalytics/provider/azuread/fetcher/group_test.go
  x-pack/filebeat/input/entityanalytics/provider/azuread/fetcher/mock/mock.go
  x-pack/filebeat/input/entityanalytics/provider/azuread/fetcher/user_test.go
  x-pack/filebeat/input/entityanalytics/provider/azuread/statestore_test.go
Due: beats-xpack-filebeat

address review
  filebeat/input/redis/redis_integration_test.go
Due: filebeat

refactor: update uuid.Parse to uuid.FromString
  x-pack/filebeat/input/entityanalytics/provider/azuread/fetcher/graph/graph.go
Due: beats-xpack-filebeat
