Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

auditbeat:
  trigger: auditbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

heartbeat:
  trigger: heartbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

filebeat:
  trigger: filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-filebeat:
  trigger: beats-xpack-filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-dockerlogbeat:
  trigger: beats-xpack-dockerlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-metricbeat:
  trigger: beats-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-metricbeat:
  trigger: beats-xpack-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-osquerybeat:
  trigger: beats-xpack-osquerybeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-winlogbeat:
  trigger: beats-xpack-winlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Fix metricbeat monitoring module elasticsearch-xpack error when Machine Learning is explicitly disabled
  metricbeat/module/elasticsearch/elasticsearch.go
  metricbeat/module/elasticsearch/ml_job/ml_job.go
  metricbeat/module/elasticsearch/ml_job/ml_job_test.go
Due: beats-metricbeat

[elastic-agent-libs] feat: replace custom atomic types with stdlib atomic (#214)
  atomic/atomic.go
  atomic/atomic32.go
  atomic/atomic64.go
  atomic/atomic_test.go
  monitoring/metrics.go
Due: none

CR changes
  metricbeat/module/elasticsearch/ml_job/ml_job.go
Due: beats-metricbeat

[elastic-agent-system-metrics] Upgrading certain dependencies (#157)
  NOTICE.txt
  go.mod
  go.sum
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

formatting changes
  metricbeat/module/elasticsearch/ml_job/data_test.go
  metricbeat/module/elasticsearch/ml_job/ml_job.go
  metricbeat/module/elasticsearch/ml_job/ml_job_test.go
Due: beats-metricbeat

libbeat: add Offset to libbeat/reader.Message (#39873)
  CHANGELOG-developer.next.asciidoc
  CHANGELOG.next.asciidoc
  filebeat/input/filestream/environment_test.go
  filebeat/input/filestream/input.go
  filebeat/input/filestream/parsers_integration_test.go
  libbeat/reader/filter/filter.go
  libbeat/reader/message.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

change test
  libbeat/esleg/eslegclient/connection_test.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

fix notice
  NOTICE.txt
  go.mod
  go.sum
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

linter
  libbeat/esleg/eslegclient/connection_test.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Fix test
  metricbeat/module/elasticsearch/ml_job/ml_job_test.go
Due: beats-metricbeat

x-pack/filebeat/input/httpjson: allow elision of set and append failure logging (#39929)
  CHANGELOG.next.asciidoc
  x-pack/filebeat/docs/inputs/input-httpjson.asciidoc
  x-pack/filebeat/input/httpjson/input_test.go
  x-pack/filebeat/input/httpjson/request.go
  x-pack/filebeat/input/httpjson/transform_append.go
  x-pack/filebeat/input/httpjson/transform_set.go
Due: beats-xpack-filebeat

x-pack/filebeat/input/cel: add ability to remove request trace logs
  CHANGELOG.next.asciidoc
  x-pack/filebeat/docs/inputs/input-cel.asciidoc
  x-pack/filebeat/input/cel/config.go
  x-pack/filebeat/input/cel/input.go
  x-pack/filebeat/input/cel/input_test.go
Due: beats-xpack-filebeat

address pr comments
  x-pack/filebeat/input/cel/input.go
Due: beats-xpack-filebeat

x-pack/filebeat/input/cel: add ability to remove request trace logs (#39969)
  CHANGELOG.next.asciidoc
  x-pack/filebeat/docs/inputs/input-cel.asciidoc
  x-pack/filebeat/input/cel/config.go
  x-pack/filebeat/input/cel/input.go
  x-pack/filebeat/input/cel/input_test.go
Due: beats-xpack-filebeat

Fixing conflicts
  filebeat/input/filestream/environment_test.go
Due: filebeat

feat: 新增kafka采集功能
  filebeat/input/kafka/config.go
  filebeat/input/kafka/input.go
  filebeat/input/kafka/kafka_integration_test.go
  filebeat/input/syslog/input.go
  libbeat/common/kafka/sasl.go
  libbeat/common/kafka/scram.go
  libbeat/common/kafka/version.go
  libbeat/common/kafka/version_test.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

refactor: replace gotest.tools assertions with testify
  NOTICE.txt
  filebeat/input/syslog/format_check_test.go
  go.mod
  go.sum
  metricbeat/module/beat/beat_test.go
  packetbeat/flows/worker_test.go
  x-pack/metricbeat/module/gcp/metrics/cloudsql/metadata_test.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

lint: reorder import
  packetbeat/flows/worker_test.go
Due: beats-packetbeat

lint: reorder import
  x-pack/metricbeat/module/gcp/metrics/cloudsql/metadata_test.go
Due: beats-xpack-metricbeat

x-pack/filebeat/input/entityanalytics/provider/okta: fix typo
  x-pack/filebeat/input/entityanalytics/provider/okta/okta_test.go
Due: beats-xpack-filebeat

test: replace go-test/deep with google/go-cmp (#39902)
  NOTICE.txt
  go.mod
  go.sum
  x-pack/heartbeat/monitors/browser/synthexec/synthexec_test.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

added support for input init program and added tests and doc updates
  x-pack/filebeat/docs/inputs/input-websocket.asciidoc
  x-pack/filebeat/filebeat.yml
  x-pack/filebeat/input/websocket/config.go
  x-pack/filebeat/input/websocket/input.go
  x-pack/filebeat/input/websocket/input_test.go
Due: beats-xpack-filebeat

updated docs
  x-pack/filebeat/docs/inputs/input-websocket.asciidoc
  x-pack/filebeat/input/websocket/input_test.go
Due: beats-xpack-filebeat

updated changelog
  CHANGELOG.next.asciidoc
Due: none

reverted filebeat.yml change
  x-pack/filebeat/filebeat.yml
Due: beats-xpack-filebeat

Add syncpool
  x-pack/filebeat/input/gcppubsub/input.go
Due: beats-xpack-filebeat

Add multiple outlets
  x-pack/filebeat/input/gcppubsub/config.go
  x-pack/filebeat/input/gcppubsub/input.go
Due: beats-xpack-filebeat

Added x-pack/agentbeat to watch list
  .buildkite/pipeline.yml
Due: none

supressed golint credentials lint error since they are test tokens
  x-pack/filebeat/input/websocket/input_test.go
Due: beats-xpack-filebeat

added more tests
  x-pack/filebeat/docs/inputs/input-websocket.asciidoc
  x-pack/filebeat/input/websocket/input_test.go
Due: beats-xpack-filebeat

refactor: replace custom go-concert atomic types with stdlib atomic (#39980)
  libbeat/statestore/store.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

x-pack/filebeat/input/salesforce: Use `github.com/elastic/go-sfdc` dependency directly (#39840)
  NOTICE.txt
  go.mod
  go.sum
  x-pack/filebeat/input/salesforce/input.go
  x-pack/filebeat/input/salesforce/input_test.go
  x-pack/filebeat/input/salesforce/soql.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Fix pagetypeinfo behavior (#39985)
  CHANGELOG.next.asciidoc
  metricbeat/module/linux/pageinfo/_meta/docs.asciidoc
  metricbeat/module/linux/pageinfo/pageinfo.go
  metricbeat/module/linux/pageinfo/pageinfo_test.go
  metricbeat/module/linux/pageinfo/reader.go
  metricbeat/module/linux/pageinfo/testdata/pagetypeinfo
Due: beats-metricbeat

Update .buildkite/x-pack/pipeline.xpack.agentbeat.yml
  .buildkite/x-pack/pipeline.xpack.agentbeat.yml
Due: none

restore struct field
  x-pack/filebeat/input/awss3/sqs_input.go
Due: beats-xpack-filebeat

Initialize SQS timeout in keepalive routine
  x-pack/filebeat/input/awss3/sqs_s3_event.go
Due: beats-xpack-filebeat

add debug logs
  x-pack/filebeat/input/awss3/sqs_s3_event.go
Due: beats-xpack-filebeat

Path conditions:
  auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  filebeat: any of: filebeat/, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  beats-xpack-filebeat: any of: x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-metricbeat: any of: x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-winlogbeat: any of: x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/scripts, deploy/kubernetes/**, libbeat/docs/version.asciidoc
  beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  beats-xpack-libbeat: any of: x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-xpack-auditbeat: any of: x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-heartbeat: any of: x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
