Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Path conditions:
  Trigger Auditbeat: any of: auditbeat/**, .buildkite/auditbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Heartbeat: any of: heartbeat/**, .buildkite/heartbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Filebeat: any of: filebeat/**, .buildkite/filebeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/filebeat: any of: filebeat/**, x-pack/filebeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/dockerlogbeat: any of: x-pack/dockerlogbeat/**, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Metricbeat: any of: metricbeat/**, .buildkite/metricbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/metricbeat: any of: metricbeat/**, x-pack/metricbeat/**, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/winlogbeat: any of: winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Deploy/K8S: any of: deploy/kubernetes/**, metricbeat/module/kubernetes/**, .go-version, libbeat/docs/version.asciidoc, .buildkite/deploy/kubernetes/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Libbeat: any of: libbeat/**, .buildkite/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/libbeat: any of: x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .go-version, libbeat/**, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/otel: any of: x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .go-version, go.mod, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/auditbeat: any of: auditbeat/**, x-pack/auditbeat/**, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/heartbeat: any of: heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/packetbeat: any of: packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Winlogbeat: any of: winlogbeat/**, .buildkite/winlogbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Packetbeat: any of: packetbeat/**, .buildkite/packetbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**

Update changelog/fragments/1768219693-add-ipsec-tunnel-state.yaml
  changelog/fragments/1768219693-add-ipsec-tunnel-state.yaml
Due: none

address reviews
  x-pack/metricbeat/module/panw/interfaces/ifnet_interfaces.go
  x-pack/metricbeat/module/panw/sysinfo_test.go
  x-pack/metricbeat/module/panw/util.go
Due: Trigger x-pack/metricbeat

Bump npcap version to 1.87 (#49167)
  changelog/fragments/1772188176-bump-npcap-1.87.yaml
  x-pack/packetbeat/npcap/installer/LICENSE
Due: Trigger x-pack/packetbeat

docs: note that Winlogbeat system tests use Go, not Python (#49193)
  docs/extend/testing.md
Due: none

Enhance osquerybeat installation configuration to support per-platform and per-architecture custom artifact handling.
  x-pack/osquerybeat/.gitignore
  x-pack/osquerybeat/_meta/config/beat.reference.yml.tmpl
  x-pack/osquerybeat/beater/osquerybeat.go
  x-pack/osquerybeat/beater/osquerybeat_runtime_test.go
  x-pack/osquerybeat/beater/osquerybeat_status_test.go
  x-pack/osquerybeat/internal/config/config.go
  x-pack/osquerybeat/internal/config/config_test.go
  x-pack/osquerybeat/internal/install/artifact/artifact.go
  x-pack/osquerybeat/internal/install/artifact/artifact_test.go
  x-pack/osquerybeat/internal/install/artifactformat/format.go
  x-pack/osquerybeat/internal/install/artifactformat/format_test.go
  x-pack/osquerybeat/internal/install/bundled/install.go
  x-pack/osquerybeat/internal/install/bundled/install_test.go
  x-pack/osquerybeat/internal/osqd/osqueryd.go
  x-pack/osquerybeat/internal/tar/tar.go
  x-pack/osquerybeat/internal/tar/tar_test.go
  x-pack/osquerybeat/osquerybeat.reference.yml
  x-pack/osquerybeat/scripts/mage/distro.go
Due: Trigger x-pack/osquerybeat

implify config
  x-pack/osquerybeat/_meta/config/beat.reference.yml.tmpl
  x-pack/osquerybeat/beater/osquerybeat_runtime_test.go
  x-pack/osquerybeat/beater/osquerybeat_status_test.go
  x-pack/osquerybeat/internal/config/config.go
  x-pack/osquerybeat/internal/config/config_test.go
  x-pack/osquerybeat/internal/install/artifact/artifact_test.go
  x-pack/osquerybeat/osquerybeat.reference.yml
Due: Trigger x-pack/osquerybeat

[beatreceiver] add remote state store extension and integrate it into fbreceiver (#49191)
  filebeat/beater/filebeat.go
  filebeat/beater/store.go
  filebeat/config/config.go
  libbeat/statestore/backend/backend.go
  x-pack/filebeat/tests/integration/otel_test.go
  x-pack/libbeat/cmd/instance/receiver.go
  x-pack/otel/extension/elasticsearchstorage/config.go
  x-pack/otel/extension/elasticsearchstorage/extension.go
  x-pack/otel/extension/elasticsearchstorage/extension_test.go
  x-pack/otel/extension/elasticsearchstorage/factory.go
  x-pack/otel/extension/elasticsearchstorage/internal/metadata/generated_status.go
  x-pack/otel/extension/elasticsearchstorage/store.go
  x-pack/otel/oteltestcol/collector.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

rename to DeDotKeys and add test cases
  x-pack/filebeat/fbreceiver/config.go
  x-pack/libbeat/cmd/instance/config.go
  x-pack/libbeat/cmd/instance/config_test.go
  x-pack/metricbeat/mbreceiver/config.go
Due: Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat

docs: note that Winlogbeat system tests use Go, not Python (#49193) (#49375)
  docs/extend/testing.md
Due: none

Cleanup testing, pass receiver.Settings instead.
  x-pack/filebeat/fbreceiver/factory.go
  x-pack/libbeat/cmd/instance/receiver.go
  x-pack/metricbeat/mbreceiver/factory.go
  x-pack/otel/telemetry/bridge_test.go
  x-pack/otel/telemetry/system_bridge_test.go
Due: Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat

github-actions: golangci-lint.yml fail-fast=false (#49370)
  .github/workflows/golangci-lint.yml
Due: none

Fix 8.19 backport: remove markdown docs and regenerate asciidoc fields
  docs/reference/metricbeat/exported-fields-elasticsearch.md
  docs/reference/metricbeat/metricbeat-metricset-elasticsearch-index.md
  metricbeat/docs/fields.asciidoc
Due: Trigger Metricbeat, Trigger x-pack/metricbeat

fix policy transform
  x-pack/heartbeat/cmd/root.go
Due: Trigger x-pack/heartbeat

Fix 9.3 backport: remove stray CHANGELOG.asciidoc from cherry-pick
  CHANGELOG.asciidoc
Due: none

add logs
  heartbeat/monitors/factory.go
  heartbeat/reload/list.go
Due: Trigger Heartbeat, Trigger x-pack/heartbeat

github-actions: gate pr actions detective on failed runs
  .github/workflows/trigger-pr-actions-detective.yml
Due: none

github-actions: gate PR Actions Detective on failed workflow runs (#49386)
  .github/workflows/trigger-pr-actions-detective.yml
Due: none

Add beatreceiver OTEL telemetry (#49300)
  changelog/fragments/1772811667-beat-metrics-to-otel-telemetry.yaml
  libbeat/monitoring/report/log/log.go
  x-pack/filebeat/fbreceiver/factory.go
  x-pack/libbeat/cmd/instance/receiver.go
  x-pack/metricbeat/mbreceiver/factory.go
  x-pack/otel/telemetry/bridge.go
  x-pack/otel/telemetry/bridge_test.go
  x-pack/otel/telemetry/system_bridge.go
  x-pack/otel/telemetry/system_bridge_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

[8.19](backport #49237) ES index mode & codec in metricbeat (#49384)
  CHANGELOG.asciidoc
  changelog/fragments/1772635870-es-index-mode-&-codec-in-metricbeat.yaml
  metricbeat/docs/fields.asciidoc
  metricbeat/module/elasticsearch/fields.go
  metricbeat/module/elasticsearch/index/_meta/data.json
  metricbeat/module/elasticsearch/index/_meta/fields.yml
  metricbeat/module/elasticsearch/index/data.go
Due: Trigger Metricbeat, Trigger x-pack/metricbeat

Update Vagrant file
  Vagrant-systemd
Due: none

add script to generate journal files from export
  filebeat/input/journald/testdata/convert_export_to_journal.sh
Due: Trigger Filebeat, Trigger x-pack/filebeat

add missing export files
  filebeat/input/journald/testdata/input-multiline-parser.export
  filebeat/input/journald/testdata/matchers.export
Due: Trigger Filebeat, Trigger x-pack/filebeat

migrate libbeat keystore integ test to go
  libbeat/tests/integration/keystore_test.go
  libbeat/tests/system/keystore.py
  libbeat/tests/system/test_keystore.py
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Test to ensure all boots are read
  .tmp-ai-io/journald-integration-test-plan.md
  filebeat/tests/integration/journald_test.go
  filebeat/tests/integration/testdata/filebeat_journald_all_boots.yml
Due: Trigger Filebeat, Trigger x-pack/filebeat

simplify countBootEntries
  filebeat/tests/integration/journald_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Add logs and fix list boots
  filebeat/tests/integration/journald_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Move config unnest to v2 interface
  heartbeat/monitors/factory.go
  x-pack/heartbeat/cmd/root.go
  x-pack/heartbeat/monitors/browser/sourcejob.go
Due: Trigger Heartbeat, Trigger x-pack/heartbeat

filebeat: reduce noisy x-pack reference diff
  x-pack/filebeat/filebeat.reference.yml
Due: Trigger x-pack/filebeat

x-pack/filebeat/input/httpjson: allow string and number arrays in chained responses
  changelog/fragments/1773196999-allow-string-number-array-in-httpjson-chain.yaml
  docs/reference/filebeat/filebeat-input-httpjson.md
  x-pack/filebeat/input/httpjson/input_test.go
  x-pack/filebeat/input/httpjson/request.go
  x-pack/filebeat/input/httpjson/response.go
  x-pack/filebeat/input/httpjson/response_test.go
Due: Trigger x-pack/filebeat

fix(syslog): fix EOF error parsing RFC 5424 structured data with backslashes
  libbeat/reader/syslog/parser/rfc5424.rl
  libbeat/reader/syslog/rfc5424_gen.go
  libbeat/reader/syslog/rfc5424_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

github-action: include the dependabot section for pre-commit
  .github/dependabot.yml
Due: none

Apply suggestion from @v1v
  .github/dependabot.yml
Due: none

add deprecation message and remove active_directory_endpoint
  docs/reference/metricbeat/metricbeat-metricset-azure-app_insights.md
  docs/reference/metricbeat/metricbeat-module-azure.md
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/azure/_meta/config.reference.yml
  x-pack/metricbeat/module/azure/_meta/config.yml
  x-pack/metricbeat/module/azure/app_insights/_meta/docs.md
  x-pack/metricbeat/module/azure/app_insights/app_insights.go
  x-pack/metricbeat/module/azure/app_insights/client_test.go
  x-pack/metricbeat/module/azure/app_insights/service.go
  x-pack/metricbeat/module/azure/app_insights/service_test.go
  x-pack/metricbeat/modules.d/azure.yml.disabled
Due: Trigger x-pack/metricbeat
