Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Trigger Auditbeat:
  if: build.pull_request.id != null
  trigger: auditbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
      GITHUB_PR_LABELS: ${GITHUB_PR_LABELS}

Trigger Heartbeat:
  if: build.pull_request.id != null
  trigger: heartbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
      GITHUB_PR_LABELS: ${GITHUB_PR_LABELS}

Trigger Filebeat:
  if: build.pull_request.id != null
  trigger: filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
      GITHUB_PR_LABELS: ${GITHUB_PR_LABELS}

Trigger x-pack/filebeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/dockerlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-dockerlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger Metricbeat:
  if: build.pull_request.id != null
  trigger: beats-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/metricbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/osquerybeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-osquerybeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/winlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-winlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Make the storage extension support generic
  filebeat/beater/filebeat.go
  filebeat/beater/store.go
  filebeat/config/config.go
  go.mod
  go.sum
  libbeat/statestore/backend/backend.go
  libbeat/statestore/backend/es/base.go
  x-pack/libbeat/cmd/instance/receiver.go
  x-pack/otel/extension/elasticsearchstorage/extension.go
  x-pack/otel/oteltestcol/collector.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

[elastic-agent-libs] fix(tlscommon): restore empty Certificates slice for backward compat (#421)
  transport/tlscommon/config.go
  transport/tlscommon/server_config.go
Due: none

Fix CRI max_bytes truncation for oversized first chunks (#50552)
  changelog/fragments/1778172750-fix-cri-max-bytes-first-chunk.yaml
  libbeat/reader/readjson/docker_json.go
  libbeat/reader/readjson/docker_json_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Simplified
  x-pack/heartbeat/monitors/browser/source/project.go
  x-pack/heartbeat/monitors/browser/source/project_test.go
Due: Trigger x-pack/heartbeat

support native beats events for processors
  libbeat/beat/info.go
  libbeat/otel/eventcache/cache.go
  libbeat/otel/otelconsumer/otelconsumer.go
  libbeat/otel/otelconsumer/otelconsumer_test.go
  libbeat/otel/otelmap/otelmap.go
  x-pack/filebeat/tests/integration/otel_test.go
  x-pack/libbeat/cmd/instance/beat.go
  x-pack/otel/processor/beatprocessor/processor.go
  x-pack/otel/processor/beatprocessor/processor_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

bk(google bucket): use a different storage for the packaging only (#50783)
  .buildkite/hooks/pre-artifact
  .buildkite/packaging.pipeline.yml
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Fix kafka integration test hang on publish failure
  libbeat/outputs/kafka/kafka_integration_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Update catalog-info.yaml (#50706)
  catalog-info.yaml
Due: none

feat(heartbeat): add `api` monitor type for synthetics API journeys
  changelog/fragments/1779225000-heartbeat-api-monitor-type.yaml
  heartbeat/config/config.go
  heartbeat/monitors/factory.go
  heartbeat/monitors/logger/logger.go
  heartbeat/monitors/stdfields/stdfields.go
  heartbeat/monitors/stdfields/stdfields_test.go
  heartbeat/monitors/wrappers/summarizer/summarizer.go
  heartbeat/monitors/wrappers/wrappers.go
  x-pack/heartbeat/cmd/import.go
  x-pack/heartbeat/include/list.go
  x-pack/heartbeat/monitors/api/api.go
  x-pack/heartbeat/monitors/browser/config.go
  x-pack/heartbeat/monitors/browser/sourcejob.go
  x-pack/heartbeat/monitors/browser/sourcejob_test.go
  x-pack/heartbeat/monitors/browser/synthexec/enrich.go
  x-pack/heartbeat/monitors/browser/synthexec/enrich_test.go
  x-pack/heartbeat/monitors/browser/synthexec/synthtypes.go
  x-pack/heartbeat/monitors/browser/synthexec/synthtypes_test.go
Due: Trigger Heartbeat, Trigger x-pack/heartbeat

Remove unnecessary if-guards around required node values. Reduce warning log interval from 10m to 1h. Add more tests for metric data and JSON shape.
  metricbeat/module/elasticsearch/security_stats/data.go
  metricbeat/module/elasticsearch/security_stats/data_test.go
  metricbeat/module/elasticsearch/security_stats/security_stats.go
Due: Trigger Metricbeat, Trigger x-pack/metricbeat

move pipeline disconnect to the start of the pipeline
  packetbeat/beater/packetbeat.go
  x-pack/osquerybeat/beater/osquerybeat.go
Due: Trigger x-pack/osquerybeat, Trigger x-pack/packetbeat, Trigger Packetbeat

change shutdown timeout on filebeat tests
  filebeat/tests/system/config/filebeat.yml.j2
Due: Trigger Filebeat, Trigger x-pack/filebeat

fix(heartbeat): satisfy golangci-lint on files touched by api monitor PR
  heartbeat/config/config.go
  heartbeat/monitors/factory.go
  heartbeat/monitors/logger/logger.go
  heartbeat/monitors/wrappers/summarizer/summarizer.go
  x-pack/heartbeat/monitors/browser/sourcejob.go
  x-pack/heartbeat/monitors/browser/synthexec/synthtypes.go
Due: Trigger Heartbeat, Trigger x-pack/heartbeat

This documented command line flag doesn't exist/isn't respected so the documentation is misleading
  docs/reference/auditbeat/command-line-options.md
Due: none

Added changelog fragment
  changelog/fragments/1779272432-remove-hostfs-cli-flag-doc.yaml
Due: none

Propagate osquery live-query space IDs
  changelog/fragments/1779275680-propagate-osquery-live-query-space-ids.yaml
  x-pack/osquerybeat/internal/pub/publisher.go
  x-pack/osquerybeat/internal/pub/publisher_test.go
Due: Trigger x-pack/osquerybeat

fix conflicts
  libbeat/testing/available_port.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

add missing import
  libbeat/testing/available_port.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

add test
  libbeat/processors/namespace.go
  libbeat/processors/namespace_test.go
  x-pack/otel/processor/beatprocessor/processor_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

merge conflicts
  libbeat/processors/add_kubernetes_metadata/kubernetes_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

[elastic-agent-libs] feat: remove deprecated LoggingWithTypedOutputs (#422)
  logp/configure/logging.go
Due: none

change team name
  catalog-info.yaml
Due: none

move clone out of beatprocessor
  libbeat/publisher/processing/default.go
  x-pack/otel/processor/beatprocessor/processor.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

implement review suggestions
  libbeat/outputs/kafka/kafka_integration_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

eventcache: pass pointers around
  libbeat/otel/eventcache/cache.go
  libbeat/otel/otelconsumer/otelconsumer.go
  x-pack/otel/processor/beatprocessor/processor.go
  x-pack/otel/processor/beatprocessor/processor_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Apply suggestion from @fr4nc1sc0-r4m0n
  catalog-info.yaml
Due: none

docs: update docs
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix: make update changes
  deploy/kubernetes/heartbeat-kubernetes.yaml
Due: Trigger Deploy/K8S

[Release] update version
  libbeat/version/version.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

[Release] update test environment
  metricbeat/docker-compose.yml
  testing/environments/latest.yml
  x-pack/metricbeat/docker-compose.yml
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Path conditions:
  Trigger Auditbeat: any of: auditbeat/**, .buildkite/auditbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Heartbeat: any of: heartbeat/**, .buildkite/heartbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Filebeat: any of: filebeat/**, .buildkite/filebeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/filebeat: any of: filebeat/**, x-pack/filebeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/dockerlogbeat: any of: x-pack/dockerlogbeat/**, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Metricbeat: any of: metricbeat/**, .buildkite/metricbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/metricbeat: any of: metricbeat/**, x-pack/metricbeat/**, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/winlogbeat: any of: winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Deploy/K8S: any of: deploy/kubernetes/**, metricbeat/module/kubernetes/**, .go-version, libbeat/docs/version.asciidoc, .buildkite/deploy/kubernetes/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Libbeat: any of: libbeat/**, .buildkite/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/libbeat: any of: x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .go-version, libbeat/**, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/otel: any of: x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .go-version, go.mod, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/auditbeat: any of: auditbeat/**, x-pack/auditbeat/**, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/heartbeat: any of: heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/packetbeat: any of: packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Winlogbeat: any of: winlogbeat/**, .buildkite/winlogbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Packetbeat: any of: packetbeat/**, .buildkite/packetbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
