Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

auditbeat:
  trigger: auditbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

heartbeat:
  trigger: heartbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

filebeat:
  trigger: filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: Upload beats-xpack-filebeat:
  label: ':pipeline: Upload beats-xpack-filebeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.filebeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: beats-xpack-dockerlogbeat:
  label: ':pipeline: beats-xpack-dockerlogbeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: beats-metricbeat:
  label: ':pipeline: beats-metricbeat'
  command: buildkite-agent pipeline upload .buildkite/metricbeat/pipeline.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: beats-xpack-metricbeat:
  label: ':pipeline: beats-xpack-metricbeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.metricbeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: beats-xpack-osquerybeat:
  label: ':pipeline: beats-xpack-osquerybeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.winlogbeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: beats-xpack-winlogbeat:
  label: ':pipeline: beats-xpack-winlogbeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.winlogbeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Fix typo in "store/set" operation name (#43837)
  libbeat/statestore/store.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

mod,x-pack/filebeat/input/cel: bump mito version to v1.18.0
  CHANGELOG.next.asciidoc
  NOTICE.txt
  docs/reference/filebeat/filebeat-input-cel.md
  go.mod
  go.sum
  x-pack/filebeat/input/cel/config.go
  x-pack/filebeat/input/cel/input.go
  x-pack/filebeat/input/cel/input_test.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Fix conflict and update NOTICE.txt
  NOTICE.txt
  go.mod
  go.sum
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

fix typo, more logs
  x-pack/filebeat/fbreceiver/receiver_test.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

more logs
  x-pack/filebeat/fbreceiver/receiver_test.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Improve the wmi beats module 42650 (#42663)
  docs/reference/metricbeat/metricbeat-metricset-windows-wmi.md
  docs/reference/metricbeat/metricbeat-module-windows.md
  metricbeat/metricbeat.reference.yml
  metricbeat/module/windows/_meta/config.reference.yml
  metricbeat/module/windows/_meta/config.yml
  metricbeat/module/windows/wmi/_meta/data.json
  metricbeat/module/windows/wmi/_meta/docs.asciidoc
  metricbeat/module/windows/wmi/config.go
  metricbeat/module/windows/wmi/config_test.go
  metricbeat/module/windows/wmi/utils.go
  metricbeat/module/windows/wmi/utils_test.go
  metricbeat/module/windows/wmi/wmi.go
  metricbeat/module/windows/wmi/wmi_test.go
  metricbeat/modules.d/windows.yml.disabled
  x-pack/metricbeat/metricbeat.reference.yml
Due: :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Improve the wmi beats module 42650 (#42663)
  docs/reference/metricbeat/metricbeat-metricset-windows-wmi.md
  metricbeat/docs/modules/windows.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/windows/_meta/config.reference.yml
  metricbeat/module/windows/_meta/config.yml
  metricbeat/module/windows/wmi/_meta/data.json
  metricbeat/module/windows/wmi/_meta/docs.asciidoc
  metricbeat/module/windows/wmi/config.go
  metricbeat/module/windows/wmi/config_test.go
  metricbeat/module/windows/wmi/utils.go
  metricbeat/module/windows/wmi/utils_test.go
  metricbeat/module/windows/wmi/wmi.go
  metricbeat/module/windows/wmi/wmi_test.go
  metricbeat/modules.d/windows.yml.disabled
  x-pack/metricbeat/metricbeat.reference.yml
Due: :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Update input-aws-cloudwatch.asciidoc
  x-pack/filebeat/docs/inputs/input-aws-cloudwatch.asciidoc
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Increase time until close for unifiedlogs test
  x-pack/filebeat/input/unifiedlogs/input_test.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

feat: bump go version to 1.23 (#42705)
  .buildkite/metricbeat/pipeline.yml
  .buildkite/scripts/packaging/packaging.sh
  .buildkite/scripts/qemu.sh
  .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml
  .go-version
  .golangci.yml
  CHANGELOG.next.asciidoc
  auditbeat/Dockerfile
  dev-tools/kubernetes/filebeat/Dockerfile.debug
  dev-tools/kubernetes/heartbeat/Dockerfile.debug
  dev-tools/kubernetes/metricbeat/Dockerfile.debug
  dev-tools/mage/crossbuild.go
  go.mod
  heartbeat/Dockerfile
  libbeat/docs/version.asciidoc
  metricbeat/Dockerfile
  metricbeat/module/http/_meta/Dockerfile
  metricbeat/module/nats/_meta/Dockerfile
  metricbeat/module/vsphere/_meta/Dockerfile
  packetbeat/Dockerfile
  x-pack/metricbeat/module/stan/_meta/Dockerfile
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Update CHANGELOG with new features and fixes
  CHANGELOG.next.asciidoc
Due: none

Fix conflicts
  dev-tools/mage/crossbuild.go
  libbeat/docs/version.asciidoc
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Fix toolchain
  go.mod
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Revert "Fix toolchain"
  go.mod
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

fix check-dev-tools
  .github/workflows/check-dev-tools.yml
Due: none

[Flaky Test] oteltest.CheckReceivers increase timeout (#43834)
  libbeat/otelbeat/oteltest/oteltest.go
  x-pack/filebeat/fbreceiver/receiver_test.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Bumping go version in missing places
  filebeat/Dockerfile
  libbeat/Dockerfile
  x-pack/functionbeat/Dockerfile
  x-pack/libbeat/Dockerfile
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Fix check-xpack-functionbeat
  .github/workflows/check-xpack-functionbeat.yml
Due: none

Split metric names by 20
  x-pack/metricbeat/module/azure/client_batch.go
  x-pack/metricbeat/module/azure/monitor_service.go
Due: :pipeline: beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

update mapped_pages (#43846)
  docs/reference/filebeat/file-identity.md
  docs/reference/filebeat/filebeat-input-unifiedlogs.md
  docs/reference/metricbeat/_metricsets_70.md
  docs/reference/metricbeat/exported-fields-benchmark.md
  docs/reference/metricbeat/exported-fields-openai.md
  docs/reference/metricbeat/metricbeat-metricset-benchmark-info.md
  docs/reference/metricbeat/metricbeat-metricset-openai-usage.md
  docs/reference/metricbeat/metricbeat-metricset-windows-wmi.md
  docs/reference/metricbeat/metricbeat-module-benchmark.md
  docs/reference/metricbeat/metricbeat-module-openai.md
  docs/release-notes/index.md
Due: none

Clarify support of Podman (8.x docs)
  metricbeat/docs/modules/docker.asciidoc
  metricbeat/module/docker/_meta/docs.asciidoc
Due: :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Update metricbeat/docs/modules/docker.asciidoc
  metricbeat/docs/modules/docker.asciidoc
Due: :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Update metricbeat/module/docker/_meta/docs.asciidoc
  metricbeat/module/docker/_meta/docs.asciidoc
Due: :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Clarify support of Podman (9.0+ docs)
  docs/reference/metricbeat/metricbeat-module-docker.md
Due: none

Add test for grace period
  filebeat/input/filestream/input.go
  filebeat/tests/integration/filestream_test.go
  filebeat/tests/integration/testdata/delete/eof.yml
Due: filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Clarify support of Podman (8.x docs) (#43863)
  metricbeat/docs/modules/docker.asciidoc
  metricbeat/module/docker/_meta/docs.asciidoc
Due: :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

update apm links (#43836)
  docs/reference/auditbeat/auditbeat-installation-configuration.md
  docs/reference/auditbeat/configuration-instrumentation.md
  docs/reference/filebeat/configuration-instrumentation.md
  docs/reference/filebeat/filebeat-installation-configuration.md
  docs/reference/heartbeat/configuration-heartbeat-options.md
  docs/reference/heartbeat/configuration-instrumentation.md
  docs/reference/heartbeat/heartbeat-installation-configuration.md
  docs/reference/libbeat/upgrading.md
  docs/reference/metricbeat/configuration-instrumentation.md
  docs/reference/metricbeat/metricbeat-installation-configuration.md
  docs/reference/packetbeat/configuration-instrumentation.md
  docs/reference/packetbeat/packetbeat-installation-configuration.md
  docs/reference/winlogbeat/configuration-instrumentation.md
  docs/reference/winlogbeat/winlogbeat-installation-configuration.md
Due: none

Add removing files after ingestion guide
  docs/reference/filebeat/delete-file-guide.md
  docs/reference/filebeat/filebeat-input-filestream.md
  docs/reference/filebeat/howto-guides.md
  docs/reference/toc.yml
  filebeat/tests/integration/testdata/delete/inactive.yml
Due: filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Typo, removed duplicate "includes"
  x-pack/filebeat/docs/inputs/input-cel.asciidoc
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Fix time parsing and add grace_period:0 on examples
  docs/reference/filebeat/delete-file-guide.md
  filebeat/tests/integration/filestream_test.go
Due: filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Path conditions:
  auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  filebeat: any of: filebeat/, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-filebeat: any of: filebeat/, x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-metricbeat: any of: metricbeat/, x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-winlogbeat: any of: winlogbeat/, x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  :pipeline: Upload deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/scripts, deploy/kubernetes/**, metricbeat/module/kubernetes/**, libbeat/docs/version.asciidoc
  :pipeline: Upload beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  :pipeline: Upload beats-xpack-libbeat: any of: libbeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-auditbeat: any of: auditbeat/, x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-xpack-heartbeat: any of: heartbeat/, x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: packetbeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-agentbeat: any of: auditbeat/, filebeat/, heartbeat/, metricbeat/, osquerybeat/, packetbeat/, x-pack/agentbeat/, x-pack/auditbeat/, x-pack/filebeat/, x-pack/heartbeat/, x-pack/metricbeat/, x-pack/osquerybeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.agentbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
