Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Path conditions:
  auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  filebeat: any of: filebeat/, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-filebeat: any of: filebeat/, x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-metricbeat: any of: metricbeat/, x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-winlogbeat: any of: winlogbeat/, x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  :pipeline: Upload deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/scripts, deploy/kubernetes/**, metricbeat/module/kubernetes/**, libbeat/docs/version.asciidoc
  :pipeline: Upload beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  :pipeline: Upload beats-xpack-libbeat: any of: libbeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-auditbeat: any of: auditbeat/, x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-xpack-heartbeat: any of: heartbeat/, x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: packetbeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-agentbeat: any of: auditbeat/, filebeat/, heartbeat/, metricbeat/, osquerybeat/, packetbeat/, x-pack/agentbeat/, x-pack/auditbeat/, x-pack/filebeat/, x-pack/heartbeat/, x-pack/metricbeat/, x-pack/osquerybeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.agentbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/

Update variable name for consistency
  dev-tools/packaging/templates/windows/install-service.ps1.tmpl
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Updated newline-character-required-eof.md
  docs/reference/filebeat/newline-character-required-eof.md
Due: none

Update libbeat/otelbeat/oteltranslate/outputs/elasticsearch/config_otel.go
  libbeat/otelbeat/oteltranslate/outputs/elasticsearch/config_otel.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

address review comments
  libbeat/otelbeat/oteltranslate/outputs/elasticsearch/config_otel.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Add Windows server 2025 to auditbeat and packetbeat CI pipelines
  .buildkite/auditbeat/auditbeat-pipeline.yml
  .buildkite/packetbeat/pipeline.packetbeat.yml
  .buildkite/x-pack/pipeline.xpack.auditbeat.yml
  .buildkite/x-pack/pipeline.xpack.packetbeat.yml
Due: auditbeat, :pipeline: Upload beats-xpack-auditbeat, beats-xpack-packetbeat, :pipeline: Upload beats-packetbeat

Add ws2025 known issue
  docs/release-notes/known-issues.md
Due: none

Add workaround
  winlogbeat/eventlog/wineventlog.go
  winlogbeat/eventlog/wineventlog_test.go
Due: :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-winlogbeat

Add config option to bypass the workaround
  winlogbeat/eventlog/config.go
  winlogbeat/eventlog/wineventlog.go
Due: :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-winlogbeat

Use encoded api key on es-exporter config (#44031)
  libbeat/otelbeat/beatconverter/beatconverter_test.go
  libbeat/otelbeat/oteltranslate/outputs/elasticsearch/config_otel.go
  libbeat/otelbeat/oteltranslate/outputs/elasticsearch/config_otel_test.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

[filebeat][azure-blob-storage] - Added input metrics with documentation updates and minor logging changes (#43954)
  CHANGELOG.next.asciidoc
  docs/reference/filebeat/filebeat-input-azure-blob-storage.md
  x-pack/filebeat/input/azureblobstorage/auth_test.go
  x-pack/filebeat/input/azureblobstorage/decoding_test.go
  x-pack/filebeat/input/azureblobstorage/input.go
  x-pack/filebeat/input/azureblobstorage/input_stateless.go
  x-pack/filebeat/input/azureblobstorage/input_test.go
  x-pack/filebeat/input/azureblobstorage/job.go
  x-pack/filebeat/input/azureblobstorage/metrics.go
  x-pack/filebeat/input/azureblobstorage/metrics_test.go
  x-pack/filebeat/input/azureblobstorage/scheduler.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Add Windows server 2025 to auditbeat and packetbeat CI pipelines (#44041)
  .buildkite/auditbeat/auditbeat-pipeline.yml
  .buildkite/packetbeat/pipeline.packetbeat.yml
  .buildkite/x-pack/pipeline.xpack.auditbeat.yml
  .buildkite/x-pack/pipeline.xpack.packetbeat.yml
Due: auditbeat, :pipeline: Upload beats-xpack-auditbeat, beats-xpack-packetbeat, :pipeline: Upload beats-packetbeat

otelconsumer: set log record observed timestamp (#43559)
  libbeat/outputs/otelconsumer/otelconsumer.go
  libbeat/outputs/otelconsumer/otelconsumer_test.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Apply suggestions from code review
  catalog-info.yaml
Due: none

catalog-info: run 7.17 DRA weekly (#44019)
  catalog-info.yaml
Due: none

Log the reader closed message at a lower level
  filebeat/input/filestream/input.go
Due: filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Add changelog entry
  CHANGELOG.next.asciidoc
Due: none

catalog-info: add missing scheduler id
  .buildkite/pipeline.yml
  catalog-info.yaml
Due: none

Add a note that `api_key` and `cloud.auth` are not related
  docs/reference/auditbeat/configure-cloud-id.md
  docs/reference/filebeat/configure-cloud-id.md
  docs/reference/heartbeat/configure-cloud-id.md
  docs/reference/metricbeat/configure-cloud-id.md
  docs/reference/packetbeat/configure-cloud-id.md
  docs/reference/winlogbeat/configure-cloud-id.md
Due: none

catalog-info: add missing scheduler id and validate catalog in the CI (#44052)
  .buildkite/pipeline.yml
  catalog-info.yaml
Due: none

visually check heartbeat, metricbeat, packetbeat, winlogbeat
  docs/reference/filebeat/understand-filebeat-logs.md
  docs/reference/heartbeat/understand-heartbeat-logs.md
  docs/reference/metricbeat/metricbeat-metricset-aws-dynamodb.md
  docs/reference/metricbeat/metricbeat-metricset-aws-ebs.md
  docs/reference/metricbeat/metricbeat-metricset-aws-elb.md
  docs/reference/metricbeat/metricbeat-metricset-aws-lambda.md
  docs/reference/metricbeat/metricbeat-metricset-aws-natgateway.md
  docs/reference/metricbeat/metricbeat-metricset-aws-sns.md
  docs/reference/metricbeat/metricbeat-metricset-aws-transitgateway.md
  docs/reference/metricbeat/metricbeat-metricset-aws-usage.md
  docs/reference/metricbeat/metricbeat-metricset-aws-vpn.md
  docs/reference/metricbeat/metricbeat-module-aws.md
  docs/reference/metricbeat/understand-metricbeat-logs.md
  docs/reference/packetbeat/customizing-discover.md
  docs/reference/packetbeat/kibana-queries-filters.md
  docs/reference/packetbeat/understand-packetbeat-logs.md
  docs/reference/winlogbeat/understand-winlogbeat-logs.md
  docs/reference/winlogbeat/winlogbeat-module-powershell.md
Due: none

Use ecloud variable
  docs/reference/auditbeat/configure-cloud-id.md
  docs/reference/filebeat/configure-cloud-id.md
  docs/reference/heartbeat/configure-cloud-id.md
  docs/reference/metricbeat/configure-cloud-id.md
  docs/reference/packetbeat/configure-cloud-id.md
  docs/reference/winlogbeat/configure-cloud-id.md
Due: none

fix remaining quickstarts
  docs/reference/heartbeat/heartbeat-installation-configuration.md
  docs/reference/metricbeat/metricbeat-installation-configuration.md
  docs/reference/packetbeat/packetbeat-installation-configuration.md
Due: none

Update docs/reference/auditbeat/auditbeat-installation-configuration.md
  docs/reference/auditbeat/auditbeat-installation-configuration.md
Due: none

further improvements
  libbeat/otelbeat/beatconverter/beatconverter.go
  libbeat/otelbeat/oteltranslate/outputs/elasticsearch/config_otel.go
  libbeat/outputs/otelconsumer/otelconsumer.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Add systemd to Filebeat Docker iamges
  dev-tools/packaging/templates/docker/Dockerfile.tmpl
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Add docs and release notes
  docs/reference/filebeat/filebeat-input-journald.md
  docs/release-notes/index.md
Due: none

Install systemd on Filebeat Docker images
  dev-tools/packaging/templates/docker/Dockerfile.tmpl
  docs/reference/filebeat/filebeat-input-journald.md
  docs/release-notes/index.md
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Add a note that `api_key` and `cloud.auth` are not related (#44053)
  docs/reference/auditbeat/configure-cloud-id.md
  docs/reference/filebeat/configure-cloud-id.md
  docs/reference/heartbeat/configure-cloud-id.md
  docs/reference/metricbeat/configure-cloud-id.md
  docs/reference/packetbeat/configure-cloud-id.md
  docs/reference/winlogbeat/configure-cloud-id.md
Due: none
