Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat, Trigger Agentbeat

Trigger Auditbeat:
  if: build.pull_request.id != null
  trigger: auditbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger Heartbeat:
  if: build.pull_request.id != null
  trigger: heartbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger Filebeat:
  if: build.pull_request.id != null
  trigger: filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger x-pack/filebeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger x-pack/dockerlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-dockerlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
  ...

Trigger Metricbeat:
  if: build.pull_request.id != null
  trigger: beats-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger x-pack/metricbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger x-pack/osquerybeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-osquerybeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger x-pack/winlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-winlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Fix more typos.
  x-pack/filebeat/otel/trace_test.go
Due: Trigger Agentbeat

Remove unnecessary temp var.
  x-pack/filebeat/input/cel/input.go
Due: Trigger Agentbeat

Fix handling of OLTP endpoint URLs so the SDK doesn't do it's own processing of env vars.
  x-pack/filebeat/otel/trace.go
  x-pack/filebeat/otel/trace_test.go
Due: Trigger Agentbeat

Update docs/reference/filebeat/filebeat-input-cel.md
  docs/reference/filebeat/filebeat-input-cel.md
Due: none

Have errorSpans and okSpans end spans as well when sentinel present.
  x-pack/filebeat/input/cel/input.go
Due: Trigger Agentbeat

Generate import path constant.
  x-pack/filebeat/input/cel/gen_import_path.sh
  x-pack/filebeat/input/cel/import_path.go
  x-pack/filebeat/input/cel/input.go
Due: Trigger Agentbeat

feat(gentables): improve sorting and add copyright header to generated files
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/examples/tables/generated/jumplists/types.go
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/examples/tables/generated/registry_windows.go
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/main.go
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/templates/shared_types.tmpl
Due: Trigger x-pack/osquerybeat, Trigger Agentbeat

refactor(gentables): rename toTitleCase function and enforce implementation_package requirement for tables
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/examples/README.md
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/examples/tables/sample_jumplists.yaml
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/examples/tables/sample_recent_files.yaml
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/examples/tables/sample_table.yaml
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/main.go
Due: Trigger x-pack/osquerybeat, Trigger Agentbeat

filebeat: Allow OTLP explicit bucket histograms via env var
  changelog/fragments/1770391563-allow-configuration-of-otlp-histogram-aggregation.yaml
  x-pack/filebeat/input/cel/cel_metrics.go
Due: Trigger Agentbeat

feat(gentables): add BOOLEAN type support in Go type mapping
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/examples/README.md
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/main.go
Due: Trigger x-pack/osquerybeat, Trigger Agentbeat

feat(osquerybeat): update elastic_browser_history table documentation and structure
  x-pack/osquerybeat/ext/osquery-extension/README.md
  x-pack/osquerybeat/ext/osquery-extension/docs/elastic_browser_history.md
  x-pack/osquerybeat/ext/osquery-extension/docs/tables/elastic_browser_history.md
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/generated/elastic_browser_history/elastic_browser_history.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/generated/registry_darwin.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/generated/registry_linux.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/generated/registry_windows.go
  x-pack/osquerybeat/ext/osquery-extension/specs/elastic_browser_history.yaml
Due: Trigger x-pack/osquerybeat, Trigger Agentbeat

feat(osquerybeat): refactor browser history parsing to use typed result structs
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/browserhistory.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/browserhistory_test.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/chromium.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/firefox.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/parser.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/result.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/safari.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/browserhistory/visit.go
Due: Trigger x-pack/osquerybeat, Trigger Agentbeat

refactor(osquerybeat): remove browser history plugin registration from all platforms
  x-pack/osquerybeat/ext/osquery-extension/main_darwin.go
  x-pack/osquerybeat/ext/osquery-extension/main_linux.go
  x-pack/osquerybeat/ext/osquery-extension/main_windows.go
Due: Trigger x-pack/osquerybeat, Trigger Agentbeat

add fragment
  changelog/fragments/1770600000-osquery-extension-gentables-and-elastic-browser-history.yaml
Due: none

fix(filebeat/cel): avoid counting degraded runs as success
  changelog/fragments/1770393750-fix-cel-input-counting-degraded-runs-as-success.yaml
  x-pack/filebeat/input/cel/cel_metrics_test.go
  x-pack/filebeat/input/cel/input.go
  x-pack/filebeat/otel/exporter_factory.go
Due: Trigger Agentbeat

Resolve conflicts
  filebeat/input/filestream/fswatch.go
Due: Trigger Agentbeat

Fix formatting
  filebeat/input/filestream/fswatch.go
Due: Trigger Agentbeat

address pr comment
  x-pack/filebeat/input/entityanalytics/provider/azuread/fetcher/graph/graph.go
Due: Trigger Agentbeat

48254-handle-string-array-responses added some tests. Do not allow string arrays outside of a chained configuration
  changelog/fragments/1769549888-allow-string-array-in-httpson-input.yaml
  x-pack/filebeat/input/httpjson/input_test.go
  x-pack/filebeat/input/httpjson/request.go
  x-pack/filebeat/input/httpjson/response.go
  x-pack/filebeat/input/httpjson/response_test.go
Due: Trigger Agentbeat

48254-handle-string-array-responses added changelog fragment
  changelog/fragments/1769549888-allow-string-array-in-httpson-input.yaml
Due: none

48254-handle-string-array-responses Allow HTTP response in httpjson input to be an array of strings. Wrap the array in a json map with key 'text'
  x-pack/filebeat/input/httpjson/input_test.go
  x-pack/filebeat/input/httpjson/response.go
  x-pack/filebeat/input/httpjson/response_test.go
Due: Trigger Agentbeat

48254-handle-string-array-responses Updated changelog fragment
  changelog/fragments/1769549888-allow-string-array-in-httpson-input.yaml
Due: none

48254-handle-string-array-responses linter and document fixes
  docs/reference/filebeat/filebeat-input-httpjson.md
  x-pack/filebeat/input/httpjson/response_test.go
Due: Trigger Agentbeat

48254-handle-string-array-responses formatting
  docs/reference/filebeat/filebeat-input-httpjson.md
  x-pack/filebeat/input/httpjson/input_test.go
  x-pack/filebeat/input/httpjson/request.go
  x-pack/filebeat/input/httpjson/response.go
  x-pack/filebeat/input/httpjson/response_test.go
Due: Trigger Agentbeat

48254-handle-string-array-responses formatting. Removed unused function
  x-pack/filebeat/input/httpjson/input_test.go
  x-pack/filebeat/input/httpjson/response.go
Due: Trigger Agentbeat

48254-handle-string-array-responses cleaned up language in documentation
  docs/reference/filebeat/filebeat-input-httpjson.md
Due: none

48254-handle-string-array-responses updated documentation. Changed from 'bug-fix' to 'enhancement'
  changelog/fragments/1769549888-allow-string-array-in-httpson-input.yaml
  docs/reference/filebeat/filebeat-input-httpjson.md
Due: none

x-pack/filebeat/input: improve log path sanitization for request trace logging (#48719)
  changelog/fragments/1768960063-st15454-httplog.yaml
  docs/reference/filebeat/filebeat-input-cel.md
  docs/reference/filebeat/filebeat-input-entity-analytics.md
  docs/reference/filebeat/filebeat-input-http_endpoint.md
  docs/reference/filebeat/filebeat-input-httpjson.md
  x-pack/filebeat/input/cel/config.go
  x-pack/filebeat/input/cel/input_test.go
  x-pack/filebeat/input/entityanalytics/provider/azuread/fetcher/graph/graph.go
  x-pack/filebeat/input/entityanalytics/provider/azuread/fetcher/graph/graph_test.go
  x-pack/filebeat/input/entityanalytics/provider/jamf/conf.go
  x-pack/filebeat/input/entityanalytics/provider/jamf/conf_test.go
  x-pack/filebeat/input/entityanalytics/provider/okta/conf.go
  x-pack/filebeat/input/entityanalytics/provider/okta/conf_test.go
  x-pack/filebeat/input/http_endpoint/config.go
  x-pack/filebeat/input/http_endpoint/config_test.go
  x-pack/filebeat/input/httpjson/config_request.go
  x-pack/filebeat/input/httpjson/input_test.go
  x-pack/filebeat/input/internal/httplog/roundtripper.go
  x-pack/filebeat/input/internal/httplog/roundtripper_test.go
  x-pack/filebeat/input/internal/httplog/testdata/outside_root/pin
  x-pack/filebeat/input/internal/httplog/testdata/root/outside_root
  x-pack/filebeat/input/internal/httplog/testdata/root/path/outside_root
Due: Trigger Agentbeat

update field descriptions
  docs/reference/metricbeat/exported-fields-iis.md
  x-pack/metricbeat/module/iis/application_pool/_meta/fields.yml
  x-pack/metricbeat/module/iis/fields.go
  x-pack/metricbeat/module/iis/webserver/_meta/fields.yml
  x-pack/metricbeat/module/iis/website/_meta/fields.yml
Due: Trigger x-pack/metricbeat, Trigger Agentbeat

Path conditions:
  Trigger Auditbeat: any of: .go-version, auditbeat/**, .buildkite/auditbeat/**, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Heartbeat: any of: .go-version, heartbeat/**, .buildkite/heartbeat/**, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Filebeat: any of: .go-version, filebeat/, .buildkite/filebeat/, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  Trigger x-pack/filebeat: any of: .go-version, filebeat/, x-pack/filebeat/, x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger x-pack/dockerlogbeat: any of: .go-version, x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/**, .buildkite/scripts/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Metricbeat: any of: .go-version, metricbeat/**, .buildkite/metricbeat/, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger x-pack/metricbeat: any of: .go-version, metricbeat/**, x-pack/metricbeat/**, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger x-pack/osquerybeat: any of: .go-version, x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger x-pack/winlogbeat: any of: .go-version, winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Deploy/K8S: any of: .go-version, .buildkite/deploy/kubernetes/**, .buildkite/hooks/**, .buildkite/scripts/**, deploy/kubernetes/**, metricbeat/module/kubernetes/**, libbeat/docs/version.asciidoc
  Trigger Libbeat: any of: .go-version, libbeat/**, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, testing/**
  Trigger x-pack/libbeat: any of: .go-version, libbeat/**, x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger x-pack/otel: any of: .go-version, x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, dev-tools/**, testing/**
  Trigger x-pack/auditbeat: any of: .go-version, auditbeat/**, x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, x-pack/libbeat/**
  Trigger x-pack/heartbeat: any of: .go-version, heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, x-pack/libbeat/**
  Trigger x-pack/packetbeat: any of: .go-version, packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, x-pack/libbeat/**
  Trigger Winlogbeat: any of: .go-version, winlogbeat/**, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Packetbeat: any of: .go-version, packetbeat/**, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Agentbeat: any of: .go-version, auditbeat/**, filebeat/**, heartbeat/**, metricbeat/**, osquerybeat/**, packetbeat/**, x-pack/agentbeat/**, x-pack/auditbeat/**, x-pack/filebeat/**, x-pack/heartbeat/**, x-pack/metricbeat/**, x-pack/osquerybeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.agentbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**
