Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Trigger Auditbeat:
  if: build.pull_request.id != null
  trigger: auditbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
      GITHUB_PR_LABELS: ${GITHUB_PR_LABELS}

Trigger Heartbeat:
  if: build.pull_request.id != null
  trigger: heartbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
      GITHUB_PR_LABELS: ${GITHUB_PR_LABELS}

Trigger Filebeat:
  if: build.pull_request.id != null
  trigger: filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
      GITHUB_PR_LABELS: ${GITHUB_PR_LABELS}

Trigger x-pack/filebeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/dockerlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-dockerlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger Metricbeat:
  if: build.pull_request.id != null
  trigger: beats-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/metricbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/osquerybeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-osquerybeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/winlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-winlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Call it ctx instead of spanCtx because there's only one.
  x-pack/filebeat/input/cel/input.go
Due: Trigger x-pack/filebeat

Make otelhttp.NewTransport use a given TracerProvider instead of picking up the global one (which is set automatically), which may not be correct (because there may be several).
  x-pack/filebeat/input/cel/cel_metrics.go
  x-pack/filebeat/input/cel/cel_metrics_test.go
  x-pack/filebeat/input/cel/input.go
Due: Trigger x-pack/filebeat

Fix typo.
  x-pack/filebeat/input/cel/doc.go
Due: Trigger x-pack/filebeat

Comment clarification - OTel span only in context for CEL so far.
  x-pack/filebeat/input/internal/httplog/roundtripper.go
Due: Trigger x-pack/filebeat

Godoc for NewTracerProvider.
  x-pack/filebeat/otel/trace.go
Due: Trigger x-pack/filebeat

Rename extraOpts to otelhttpOptions, use nil rather than []otelhttp.Option{}.
  x-pack/filebeat/input/cel/cel_metrics.go
  x-pack/filebeat/input/cel/cel_metrics_test.go
  x-pack/filebeat/input/cel/input.go
Due: Trigger x-pack/filebeat

Test trace.go.
  x-pack/filebeat/otel/trace.go
  x-pack/filebeat/otel/trace_test.go
Due: Trigger x-pack/filebeat

Update exporter_factor_test.go to match the changes made for "Tidy up GetExporterTypeFromEnv() for the case of metrics off, traces on".
  x-pack/filebeat/otel/exporter_factory_test.go
Due: Trigger x-pack/filebeat

gofumpt -w -extra ./x-pack/filebeat/otel/trace.go
  x-pack/filebeat/otel/trace.go
Due: Trigger x-pack/filebeat

SpanFromContext returns is always non-nil.
  x-pack/filebeat/otel/trace.go
Due: Trigger x-pack/filebeat

End execSpan before return.
  x-pack/filebeat/input/cel/input.go
Due: Trigger x-pack/filebeat

Remove dead code.
  x-pack/filebeat/input/internal/httplog/roundtripper.go
Due: Trigger x-pack/filebeat

Add knownSafeNames to redaction logic.
  docs/reference/filebeat/filebeat-input-cel.md
  x-pack/filebeat/otel/trace.go
  x-pack/filebeat/otel/trace_test.go
Due: Trigger x-pack/filebeat

Fix typo in changelog.
  changelog/fragments/1770046509-cel-otel-tracing.yaml
Due: none

One more error handling fix.
  x-pack/filebeat/input/cel/input.go
Due: Trigger x-pack/filebeat

x-pack/filebeat/input/cel: add span lifecycle tests
  x-pack/filebeat/input/cel/input.go
  x-pack/filebeat/input/cel/input_test.go
  x-pack/filebeat/input/cel/input_trace_test.go
Due: Trigger x-pack/filebeat

Add missing waitSpan.End().
  x-pack/filebeat/input/cel/input.go
Due: Trigger x-pack/filebeat

Make url.full a string attribute rather than a string slice attribute.
  x-pack/filebeat/otel/trace.go
Due: Trigger x-pack/filebeat

Fix not ending exec span for invalid response.
  x-pack/filebeat/input/cel/input.go
Due: Trigger x-pack/filebeat

Fix test for single string valued url.full.
  x-pack/filebeat/otel/trace_test.go
Due: Trigger x-pack/filebeat

Move tracer provider shutdown defer until after checking construction succeeded.
  x-pack/filebeat/input/cel/input.go
Due: Trigger x-pack/filebeat

Use the correct error before returning it.
  x-pack/filebeat/input/cel/input.go
Due: Trigger x-pack/filebeat

Guard to avoid an empty endpoint URL being transformed to a non-empty URL.
  x-pack/filebeat/otel/trace.go
Due: Trigger x-pack/filebeat

filebeat/cel: end trace span tests when root trace completes
  x-pack/filebeat/input/cel/input_trace_test.go
Due: Trigger x-pack/filebeat

Emphasize the requirement of OTEL_TRACES_EXPORTER=otlp in doc.
  x-pack/filebeat/input/cel/doc.go
Due: Trigger x-pack/filebeat

Update documentated release type and stack version.
  docs/reference/filebeat/filebeat-input-cel.md
Due: none

Tidy changelog entry.
  changelog/fragments/1770046509-cel-otel-tracing.yaml
Due: none

Make product lifecycle state be beta.
  docs/reference/filebeat/filebeat-input-cel.md
Due: none

fix conflicts
  go.mod
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Make Kill() wait for all goroutines before returning
  filebeat/input/journald/pkg/journalctl/journalctl.go
  filebeat/input/journald/pkg/journalctl/reader.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Ignore os.ErrProcessDone in Kill()
  filebeat/input/journald/pkg/journalctl/journalctl.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Remove dead "file already closed" special-casing in stdout reader
  filebeat/input/journald/pkg/journalctl/journalctl.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

greater store checkpoint, remove debug logs
  filebeat/beater/store.go
  filebeat/input/filestream/fswatch.go
  filebeat/input/filestream/logger.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Fix command completion test failure
  libbeat/tests/integration/cmd_completion_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Format file..
  libbeat/tests/integration/cmd_completion_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix invalid PR and issue links
  changelog/8.19.13.asciidoc
  changelog/8.19.13.yaml
Due: none

metricbeat beat stats metricset fetch failure_store metric
  changelog/fragments/1773425590-add-failure_store-metric-to-beats-stats-metricset.yaml
  docs/reference/metricbeat/exported-fields-beat.md
  metricbeat/module/beat/_meta/fields.yml
  metricbeat/module/beat/fields.go
  metricbeat/module/beat/stats/_meta/fields.yml
  metricbeat/module/beat/stats/_meta/test/stats.800.json
  metricbeat/module/beat/stats/data.go
Due: Trigger Metricbeat, Trigger x-pack/metricbeat

Path conditions:
  Trigger Auditbeat: any of: auditbeat/**, .buildkite/auditbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Heartbeat: any of: heartbeat/**, .buildkite/heartbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Filebeat: any of: filebeat/**, .buildkite/filebeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/filebeat: any of: filebeat/**, x-pack/filebeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/dockerlogbeat: any of: x-pack/dockerlogbeat/**, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Metricbeat: any of: metricbeat/**, .buildkite/metricbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/metricbeat: any of: metricbeat/**, x-pack/metricbeat/**, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/winlogbeat: any of: winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Deploy/K8S: any of: deploy/kubernetes/**, metricbeat/module/kubernetes/**, .go-version, libbeat/docs/version.asciidoc, .buildkite/deploy/kubernetes/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Libbeat: any of: libbeat/**, .buildkite/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/libbeat: any of: x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .go-version, libbeat/**, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/otel: any of: x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .go-version, go.mod, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/auditbeat: any of: auditbeat/**, x-pack/auditbeat/**, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/heartbeat: any of: heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/packetbeat: any of: packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Winlogbeat: any of: winlogbeat/**, .buildkite/winlogbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Packetbeat: any of: packetbeat/**, .buildkite/packetbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
