Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Path conditions:
  auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  filebeat: any of: filebeat/, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-filebeat: any of: filebeat/, x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-metricbeat: any of: metricbeat/, x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-winlogbeat: any of: winlogbeat/, x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  :pipeline: Upload deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/scripts, deploy/kubernetes/**, metricbeat/module/kubernetes/**, libbeat/docs/version.asciidoc
  :pipeline: Upload beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  :pipeline: Upload beats-xpack-libbeat: any of: libbeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-auditbeat: any of: auditbeat/, x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-xpack-heartbeat: any of: heartbeat/, x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: packetbeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-agentbeat: any of: auditbeat/, filebeat/, heartbeat/, metricbeat/, osquerybeat/, packetbeat/, x-pack/agentbeat/, x-pack/auditbeat/, x-pack/filebeat/, x-pack/heartbeat/, x-pack/metricbeat/, x-pack/osquerybeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.agentbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/

Disable flaky mssql tests (#43119)
  x-pack/metricbeat/module/mssql/test_mssql.py
  x-pack/metricbeat/module/sql/query/test_sql_mssql.py
Due: :pipeline: beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

make update
  deploy/kubernetes/metricbeat-kubernetes.yaml
  x-pack/metricbeat/metricbeat.reference.yml
Due: :pipeline: beats-xpack-metricbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-xpack-agentbeat

test: bind mount gomodcache to cache go dependencies (#41846)
  dev-tools/mage/integtest_docker.go
  dev-tools/mage/kubernetes/kind.go
  dev-tools/mage/kubernetes/kuberemote.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

add envs
  .buildkite/x-pack/pipeline.xpack.metricbeat.yml
  dev-tools/mage/integtest_docker.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

add envs
  dev-tools/mage/integtest_docker.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

add envs
  go.mod
  go.sum
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

x-pack/filebeat/input/azureblobstorage: prevent key logging in fetch operation (#43169)
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/azureblobstorage/client.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Fix flaky http_endpoint test (#43121)
  x-pack/filebeat/tests/system/test_http_endpoint.py
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

x-pack/filebeat/input/entityanalytics/provider/okta: publish DEPROVISIONED entities
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/entityanalytics/provider/okta/okta_test.go
  x-pack/filebeat/input/entityanalytics/provider/okta/statestore.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

test: try to cache buildkite dependencies across steps
  .buildkite/auditbeat/auditbeat-pipeline.yml
  dev-tools/mage/gotest.go
  dev-tools/mage/gotool/go.go
  dev-tools/mage/settings.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

ci: switch to cache plugin
  .buildkite/auditbeat/auditbeat-pipeline.yml
  dev-tools/mage/gotest.go
  dev-tools/mage/gotool/go.go
  dev-tools/mage/settings.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

ci: back to artifact plugin
  .buildkite/auditbeat/auditbeat-pipeline.yml
Due: auditbeat

ci: try this
  .buildkite/auditbeat/auditbeat-pipeline.yml
Due: auditbeat

ci: good
  .buildkite/auditbeat/auditbeat-pipeline.yml
Due: auditbeat

Remove functionbeat from DRA
  .buildkite/packaging.pipeline.yml
Due: none

Remove functionbeat from DRA (#43228)
  .buildkite/packaging.pipeline.yml
Due: none

feat(pod-prefix): extract Kubernetes Pod prefix
  metricbeat/module/kubernetes/util/pod_prefix_extractor.go
Due: :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-xpack-agentbeat

feat(pod-prefix): extrace Kubernetes Pod prefix
  metricbeat/module/kubernetes/pod/data.go
  metricbeat/module/kubernetes/state_pod/state_pod.go
Due: :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-xpack-agentbeat

[feat][fbreceiver] - enable http internal monitoring (#42886)
  NOTICE.txt
  go.mod
  go.sum
  libbeat/api/routes.go
  libbeat/beat/info.go
  libbeat/cmd/instance/beat.go
  x-pack/filebeat/fbreceiver/factory.go
  x-pack/filebeat/fbreceiver/receiver.go
  x-pack/filebeat/tests/integration/otel_test.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

initial commit
  libbeat/otelbeat/otelmap/otelmap.go
  libbeat/outputs/otelconsumer/otelconsumer.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

go.mod
  go.mod
  go.sum
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

notice
  NOTICE.txt
Due: none
