Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Path conditions:
  auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  filebeat: any of: filebeat/, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  beats-xpack-filebeat: any of: x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-metricbeat: any of: x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-winlogbeat: any of: x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/scripts, deploy/kubernetes/**, libbeat/docs/version.asciidoc
  beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  beats-xpack-libbeat: any of: x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-xpack-auditbeat: any of: x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-heartbeat: any of: x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/

[Release] update test environment
  metricbeat/docker-compose.yml
  testing/environments/latest.yml
  x-pack/metricbeat/docker-compose.yml
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Update metricbeat/docs/modules/windows.asciidoc
  metricbeat/docs/modules/windows.asciidoc
Due: beats-metricbeat

Update pre-command
  .buildkite/hooks/pre-command
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Update pipeline.xpack.packetbeat.yml
  .buildkite/x-pack/pipeline.xpack.packetbeat.yml
Due: beats-xpack-packetbeat

Fix config reference to generate correct doc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/windows/_meta/config.reference.yml
Due: beats-metricbeat

Update heartbeat-kubernetes.yaml
  deploy/kubernetes/heartbeat-kubernetes.yaml
Due: deploy-k8s

[Release] update test environment
  testing/environments/latest.yml
  x-pack/metricbeat/docker-compose.yml
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Update xpack metricbeat.reference.yml
  x-pack/metricbeat/metricbeat.reference.yml
Due: beats-xpack-metricbeat

[Release] update version
  libbeat/version/version.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

[Release] add-backport-next
  .mergify.yml
Due: none

docs: update docs
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Update .mergify.yml
  .mergify.yml
Due: none

Use centralized version qualifier
  .buildkite/packaging.pipeline.yml
  .buildkite/scripts/dra.sh
  .buildkite/scripts/packaging/prepare-release-manager.sh
  .buildkite/scripts/version_qualifier.sh
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

[Metricbeat] Windows Module add wmi metricset (#42017)
  .github/CODEOWNERS
  CHANGELOG.next.asciidoc
  NOTICE.txt
  go.mod
  go.sum
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/windows.asciidoc
  metricbeat/docs/modules/windows/wmi.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/list_common.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/windows/_meta/config.reference.yml
  metricbeat/module/windows/_meta/config.yml
  metricbeat/module/windows/fields.go
  metricbeat/module/windows/wmi/_meta/data.json
  metricbeat/module/windows/wmi/_meta/docs.asciidoc
  metricbeat/module/windows/wmi/_meta/fields.yml
  metricbeat/module/windows/wmi/config.go
  metricbeat/module/windows/wmi/config_test.go
  metricbeat/module/windows/wmi/doc.go
  metricbeat/module/windows/wmi/utils.go
  metricbeat/module/windows/wmi/utils_test.go
  metricbeat/module/windows/wmi/wmi.go
  metricbeat/module/windows/wmi/wmi_test.go
  metricbeat/modules.d/windows.yml.disabled
  x-pack/metricbeat/metricbeat.reference.yml
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

fix bug
  .buildkite/packaging.pipeline.yml
Due: none

revert defaults
  .buildkite/scripts/dra.sh
  .buildkite/scripts/packaging/prepare-release-manager.sh
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Use centralized version qualifier (#42503)
  .buildkite/packaging.pipeline.yml
  .buildkite/scripts/version_qualifier.sh
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

mergify: remove backport-8.x enforcement
  .mergify.yml
Due: none

Upgrade NodeJS to latest v18 LTS (#42478)
  dev-tools/packaging/templates/docker/Dockerfile.tmpl
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

chore: add linter that catches math/rand imports
  .golangci.yml
Due: none

Update changelog and tests
  CHANGELOG.next.asciidoc
  filebeat/module/system/syslog/test/debian-12.journal-expected.json
Due: filebeat

Write latency goes under histogram
  metricbeat/module/beat/stats/data.go
Due: beats-metricbeat

Added MaxOpenRequests to kafka output config
  libbeat/outputs/kafka/config.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Update fields.yml to include new exposed beats stats
  metricbeat/module/beat/fields.go
  metricbeat/module/beat/stats/_meta/fields.yml
Due: beats-metricbeat

[POC] Make journald matchers accept `+`
  filebeat/input/journald/pkg/journalfield/matcher.go
Due: filebeat

Add't updates for integ tests
  metricbeat/docs/fields.asciidoc
  metricbeat/module/beat/fields.go
  metricbeat/module/beat/stats/_meta/fields.yml
Due: beats-metricbeat

Update Journald fields to better match ECS (#42403)
  CHANGELOG.next.asciidoc
  filebeat/docs/inputs/input-journald.asciidoc
  filebeat/input/journald/input.go
  filebeat/input/journald/input_filtering_test.go
  filebeat/input/journald/input_parsers_test.go
  filebeat/input/journald/input_test.go
  filebeat/input/journald/pkg/journalfield/conv_test.go
  filebeat/input/journald/pkg/journalfield/default.go
  filebeat/input/journald/testdata/input-multiline-parser-events.json
  filebeat/input/journald/testdata/ndjson-parser.export
  filebeat/input/journald/testdata/ndjson-parser.journal.gz
  filebeat/module/system/auth/test/debian-12.journal-expected.json
  filebeat/module/system/syslog/test/debian-12.journal-expected.json
Due: filebeat
