Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat, Trigger Agentbeat

Trigger Auditbeat:
  if: build.pull_request.id != null
  trigger: auditbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger Heartbeat:
  if: build.pull_request.id != null
  trigger: heartbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger Filebeat:
  if: build.pull_request.id != null
  trigger: filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger x-pack/filebeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger x-pack/dockerlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-dockerlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
  ...

Trigger Metricbeat:
  if: build.pull_request.id != null
  trigger: beats-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger x-pack/metricbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger x-pack/osquerybeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-osquerybeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger x-pack/winlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-winlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Update AGENTS.md to avoid running the whole test suite
  AGENTS.md
Due: none

AI code
  .tmp-ai-io/bbolt-implementation-plan.md
  libbeat/statestore/backend/bbolt/registry.go
  libbeat/statestore/backend/bbolt/store_stub.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

AI Code step 2
  .tmp-ai-io/bbolt-implementation-plan.md
  libbeat/statestore/backend/bbolt/error.go
  libbeat/statestore/backend/bbolt/metadata.go
  libbeat/statestore/backend/bbolt/registry.go
  libbeat/statestore/backend/bbolt/store.go
  libbeat/statestore/backend/bbolt/store_stub.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Remove excess debug logging
  x-pack/filebeat/input/awss3/interfaces.go
  x-pack/filebeat/input/awss3/s3_input.go
  x-pack/filebeat/input/awss3/state.go
  x-pack/filebeat/input/awss3/states.go
Due: Trigger Agentbeat

Human reviews and improves AI code
  libbeat/statestore/backend/bbolt/metadata.go
  libbeat/statestore/backend/bbolt/store.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Refactoring states to include lexicographical* configuration
  x-pack/filebeat/input/awss3/s3_input.go
  x-pack/filebeat/input/awss3/s3_test.go
  x-pack/filebeat/input/awss3/states.go
  x-pack/filebeat/input/awss3/states_test.go
Due: Trigger Agentbeat

Add docs and changelog
  changelog/fragments/1767727700-feat:-Add-lexicographical-polling-mode-to-AWS-S3-input.yaml
  docs/reference/filebeat/filebeat-input-aws-s3.md
Due: none

AI Code step 3
  .tmp-ai-io/bbolt-implementation-plan.md
  filebeat/beater/store.go
  filebeat/config/config.go
  filebeat/testing/integration/container_test.go
  filebeat/tests/integration/filestream_gzip_test.go
  filebeat/tests/integration/filestream_test.go
  filebeat/tests/integration/filestream_truncation_test.go
  filebeat/tests/integration/store_test.go
  filebeat/tests/integration/testdata/take-over/happy-path-log-input.yml
  filebeat/tests/integration/testdata/take-over/happy-path.yml
  filebeat/tests/system/config/filebeat.yml.j2
  filebeat/tests/system/config/filebeat_inputs.yml.j2
  filebeat/tests/system/config/filebeat_modules.yml.j2
  filebeat/tests/system/config/filestream-fixup-id.yml.j2
  filebeat/tests/system/config/filestream-reload-not-duplicated-id.yml.j2
  x-pack/filebeat/fbreceiver/receiver_test.go
  x-pack/filebeat/tests/integration/registrydiagnostics_test.go
  x-pack/filebeat/tests/system/config/filebeat_modules.yml.j2
Due: Trigger Agentbeat

AI Debug web interface
  .tmp-ai-io/bbolt-debug-web-ui-plan.md
  ai-tasks/bbolt-debug.md
  ai-tasks/bbolt-registry.md
  filebeat/beater/debug/html.go
  filebeat/beater/debug/server.go
  filebeat/beater/filebeat.go
  filebeat/beater/store.go
  filebeat/config/config.go
  libbeat/statestore/backend/bbolt/registry.go
  libbeat/statestore/backend/bbolt/store.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat, Trigger Agentbeat

Fix UI
  filebeat/beater/debug/html.go
  filebeat/filebeat.yml
Due: Trigger Agentbeat

Syntax highlight
  filebeat/beater/debug/html.go
Due: Trigger Agentbeat

Configurable refresh
  filebeat/beater/debug/html.go
Due: Trigger Agentbeat

AI Code step 4, GC
  .tmp-ai-io/bbolt-implementation-plan.md
  libbeat/statestore/backend/bbolt/doc.go
  libbeat/statestore/backend/bbolt/gc.go
  libbeat/statestore/backend/bbolt/store.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

AI Code, simple integration tests
  filebeat/tests/integration/bbolt_registry_shutdown_test.go
Due: Trigger Agentbeat

Human reviews and improves AI code
  filebeat/tests/integration/bbolt_registry_shutdown_test.go
Due: Trigger Agentbeat

PR summary
  .tmp-ai-io/pr-bbolt-registry.md
Due: none

[Redis] Add the subexpiry field to the Redis INFO Keyspace (Redis ≥ 7.4) (#47971)
  changelog/fragments/1765367674-add-subexpiry-key-to-redis-keyspace-metrics.yaml
  docs/reference/metricbeat/exported-fields-redis.md
  docs/reference/metricbeat/metricbeat-metricset-redis-keyspace.md
  metricbeat/module/redis/_meta/supported-versions.yml
  metricbeat/module/redis/fields.go
  metricbeat/module/redis/keyspace/_meta/data.json
  metricbeat/module/redis/keyspace/_meta/fields.yml
  metricbeat/module/redis/keyspace/data.go
  metricbeat/module/redis/keyspace/data_test.go
  metricbeat/module/redis/keyspace/keyspace_integration_test.go
  metricbeat/module/redis/test_redis.py
Due: Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger Agentbeat

mage check/update
  filebeat/beater/debug/server.go
  filebeat/filebeat.yml
  libbeat/statestore/backend/bbolt/registry.go
  libbeat/statestore/backend/bbolt/store.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat, Trigger Agentbeat

make update
  metricbeat/module/redis/fields.go
Due: Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger Agentbeat

Remove unrelated files
  filebeat/tests/README.md
  filebeat/tests/Test_Modules.md
  x-pack/filebeat/tests/README.md
Due: Trigger Agentbeat

rename to please CI
  changelog/fragments/1767727700-lexicographical-polling-mode-to-AWS-S3.yaml
Due: none

Added handle error which exit the agent as a utilty method and refactored the code of agent shutdown in case of http errors it cant recover
  x-pack/metricbeat/module/autoops_es/metricset/cluster_info.go
  x-pack/metricbeat/module/autoops_es/metricset/handle_error_util.go
Due: Trigger x-pack/metricbeat, Trigger Agentbeat

Added the changelog file
  changelog/fragments/1767768061-autoops-agent-shutdown-on-non-recovering-http-error.yaml
  x-pack/metricbeat/module/autoops_es/metricset/cluster_info.go
  x-pack/metricbeat/module/autoops_es/metricset/handle_error_util.go
Due: Trigger x-pack/metricbeat, Trigger Agentbeat

Added elastic license info in the new util file
  x-pack/metricbeat/module/autoops_es/metricset/handle_error_util.go
Due: Trigger x-pack/metricbeat, Trigger Agentbeat

update versions
  docs/reference/metricbeat/metricbeat-metricset-prometheus-remote_write.md
  metricbeat/module/prometheus/remote_write/_meta/docs.md
  x-pack/metricbeat/module/prometheus/remote_write/_meta/docs.md
Due: Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger Agentbeat

[elastic-agent-system-metrics] Fetch per process swap memory data (linux) (#277)
  metric/system/process/process_linux_common.go
  metric/system/process/process_linux_test.go
  metric/system/process/process_types.go
  metric/system/process/testdata/proc/42/status
Due: none

increase available ram
  .buildkite/x-pack/pipeline.xpack.otel.yml
Due: Trigger x-pack/otel

delete unused func
  libbeat/asset/registry.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

rename ctx variable
  x-pack/libbeat/cmd/instance/beat.go
Due: Trigger x-pack/filebeat, Trigger x-pack/osquerybeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat

revert ram increase, bump storage again
  .buildkite/x-pack/pipeline.xpack.otel.yml
Due: Trigger x-pack/otel

Update project structure and automation
  AGENTS.md
Due: none

First agent rules
  AGENTS.md
Due: none

Add project structure
  AGENTS.md
Due: none

Add integration tests documentation
  filebeat/tests/README.md
  filebeat/tests/Test_Modules.md
  x-pack/filebeat/tests/README.md
Due: Trigger Agentbeat

Add documentation for Filebeat module's test
  filebeat/Test_Modules.md
Due: Trigger Agentbeat

wip: refactor test registry helpers
  filebeat/testhelpers/helper.go
  filebeat/testing/integration/container_test.go
  filebeat/tests/integration/filestream_gzip_test.go
  filebeat/tests/integration/filestream_test.go
  filebeat/tests/integration/filestream_truncation_test.go
Due: Trigger Agentbeat

Path conditions:
  Trigger Auditbeat: any of: .go-version, auditbeat/**, .buildkite/auditbeat/**, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Heartbeat: any of: .go-version, heartbeat/**, .buildkite/heartbeat/**, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Filebeat: any of: .go-version, filebeat/, .buildkite/filebeat/, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  Trigger x-pack/filebeat: any of: .go-version, filebeat/, x-pack/filebeat/, x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger x-pack/dockerlogbeat: any of: .go-version, x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/**, .buildkite/scripts/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Metricbeat: any of: .go-version, metricbeat/**, .buildkite/metricbeat/, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger x-pack/metricbeat: any of: .go-version, metricbeat/**, x-pack/metricbeat/**, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger x-pack/osquerybeat: any of: .go-version, x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger x-pack/winlogbeat: any of: .go-version, winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Deploy/K8S: any of: .go-version, .buildkite/deploy/kubernetes/**, .buildkite/hooks/**, .buildkite/scripts/**, deploy/kubernetes/**, metricbeat/module/kubernetes/**, libbeat/docs/version.asciidoc
  Trigger Libbeat: any of: .go-version, libbeat/**, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, testing/**
  Trigger x-pack/libbeat: any of: .go-version, libbeat/**, x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger x-pack/otel: any of: .go-version, x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, dev-tools/**, testing/**
  Trigger x-pack/auditbeat: any of: .go-version, auditbeat/**, x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, x-pack/libbeat/**
  Trigger x-pack/heartbeat: any of: .go-version, heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, x-pack/libbeat/**
  Trigger x-pack/packetbeat: any of: .go-version, packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, x-pack/libbeat/**
  Trigger Winlogbeat: any of: .go-version, winlogbeat/**, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Packetbeat: any of: .go-version, packetbeat/**, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Agentbeat: any of: .go-version, auditbeat/**, filebeat/**, heartbeat/**, metricbeat/**, osquerybeat/**, packetbeat/**, x-pack/agentbeat/**, x-pack/auditbeat/**, x-pack/filebeat/**, x-pack/heartbeat/**, x-pack/metricbeat/**, x-pack/osquerybeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.agentbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**
