Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

auditbeat:
  trigger: auditbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

heartbeat:
  trigger: heartbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

filebeat:
  trigger: filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-filebeat:
  trigger: beats-xpack-filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-dockerlogbeat:
  trigger: beats-xpack-dockerlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-metricbeat:
  trigger: beats-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-metricbeat:
  trigger: beats-xpack-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-osquerybeat:
  trigger: beats-xpack-osquerybeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-winlogbeat:
  trigger: beats-xpack-winlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Add latency metrics for logstash async output (#42565)
  libbeat/outputs/logstash/async.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

x-pack/filebeat/input/httpjson: add metrics for number of events and pages published (#42442)
  CHANGELOG.next.asciidoc
  x-pack/filebeat/docs/inputs/input-httpjson.asciidoc
  x-pack/filebeat/input/httpjson/input.go
  x-pack/filebeat/input/httpjson/metrics.go
  x-pack/filebeat/input/httpjson/request.go
  x-pack/filebeat/input/httpjson/request_test.go
Due: beats-xpack-filebeat

remove irrelevant changelog entries
  CHANGELOG.next.asciidoc
Due: none

add more godoc comments
  x-pack/libbeat/kv/bbolt/bbolt.go
Due: beats-xpack-filebeat, beats-xpack-osquerybeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat

add CHANGELOG-developer.next.asciidoc entry
  CHANGELOG-developer.next.asciidoc
Due: none

add horizontalpodautoscaler example metrics
  metricbeat/module/kubernetes/_meta/test/KSM/docs.plain
  metricbeat/module/kubernetes/_meta/test/KSM/ksm.v2.11.0.plain
  metricbeat/module/kubernetes/_meta/test/KSM/ksm.v2.12.0.plain
Due: beats-metricbeat

add horizontalpodautoscaler fields
  metricbeat/module/kubernetes/state_horizontalpodautoscaler/_meta/fields.yml
Due: beats-metricbeat

init horizontalpodautoscaler metricset
  metricbeat/module/kubernetes/state_horizontalpodautoscaler/state_horizontalpodautoscaler.go
  metricbeat/module/kubernetes/state_horizontalpodautoscaler/state_horizontalpodautoscaler_test.go
  metricbeat/module/kubernetes/util/kubernetes.go
Due: beats-metricbeat

rename hpa fields
  metricbeat/module/kubernetes/state_horizontalpodautoscaler/state_horizontalpodautoscaler.go
Due: beats-metricbeat

run metricset tests
  metricbeat/module/kubernetes/state_horizontalpodautoscaler/_meta/data.json
  metricbeat/module/kubernetes/state_horizontalpodautoscaler/_meta/test/ksm.v2.10.0.plain.expected
  metricbeat/module/kubernetes/state_horizontalpodautoscaler/_meta/test/ksm.v2.11.0.plain.expected
  metricbeat/module/kubernetes/state_horizontalpodautoscaler/_meta/test/ksm.v2.12.0.plain.expected
  metricbeat/module/kubernetes/state_horizontalpodautoscaler/_meta/testdata/docs.plain-expected.json
  metricbeat/module/kubernetes/state_horizontalpodautoscaler/_meta/testdata/ksm.v2.10.0.plain-expected.json
  metricbeat/module/kubernetes/state_horizontalpodautoscaler/_meta/testdata/ksm.v2.11.0.plain-expected.json
  metricbeat/module/kubernetes/state_horizontalpodautoscaler/_meta/testdata/ksm.v2.12.0.plain-expected.json
Due: beats-metricbeat

make update
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/docs/modules/kubernetes/state_horizontalpodautoscaler.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/list_docker.go
  metricbeat/module/kubernetes/fields.go
Due: beats-metricbeat

update field descriptions
  metricbeat/module/kubernetes/state_horizontalpodautoscaler/_meta/fields.yml
Due: beats-metricbeat

Check for metrics dimensions before matching two metrics together
  x-pack/metricbeat/module/azure/client_utils.go
Due: beats-xpack-metricbeat

make update
  metricbeat/docs/fields.asciidoc
  metricbeat/module/kubernetes/fields.go
Due: beats-metricbeat

rename Ttl to TTL to comply with styleguide
  x-pack/libbeat/kv/bbolt/bbolt.go
Due: beats-xpack-filebeat, beats-xpack-osquerybeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat

Remove experimental warning from journald input. (#42107)
  CHANGELOG.next.asciidoc
  filebeat/docs/inputs/input-journald.asciidoc
  filebeat/input/journald/input.go
Due: filebeat

add 2.10.0 metrics
  metricbeat/module/kubernetes/_meta/test/KSM/ksm.v2.10.0.plain
  metricbeat/module/kubernetes/state_horizontalpodautoscaler/_meta/test/ksm.v2.10.0.plain.expected
  metricbeat/module/kubernetes/state_horizontalpodautoscaler/_meta/testdata/ksm.v2.10.0.plain-expected.json
Due: beats-metricbeat

handle resource metadata watcher
  metricbeat/module/kubernetes/util/kubernetes.go
Due: beats-metricbeat

Update async.go for 8.17 version
  libbeat/outputs/logstash/async.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Update async.go sendevents for 8.17 version
  libbeat/outputs/logstash/async.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Fix conflict in CHANGELOG.next.asciidoc
  CHANGELOG.next.asciidoc
Due: none

clean up, add session maps to reaper, expand metrics
  x-pack/auditbeat/processors/sessionmd/add_session_metadata.go
  x-pack/auditbeat/processors/sessionmd/add_session_metadata_test.go
  x-pack/auditbeat/processors/sessionmd/config.go
  x-pack/auditbeat/processors/sessionmd/docs/add_session_metadata.asciidoc
  x-pack/auditbeat/processors/sessionmd/processdb/db.go
  x-pack/auditbeat/processors/sessionmd/processdb/db_test.go
  x-pack/auditbeat/processors/sessionmd/processdb/entry_leader_test.go
  x-pack/auditbeat/processors/sessionmd/processdb/metrics.go
  x-pack/auditbeat/processors/sessionmd/processdb/reaper.go
  x-pack/auditbeat/processors/sessionmd/procfs/procfs.go
  x-pack/auditbeat/processors/sessionmd/provider/procfsprovider/procfsprovider_test.go
Due: beats-xpack-auditbeat

fix tests
  x-pack/auditbeat/processors/sessionmd/processdb/db_test.go
Due: beats-xpack-auditbeat

mergify: support backport-active-branches and backport-active-minors
  .mergify.yml
Due: none

Revert "[8.18](backport #42107) Remove experimental warning from journald inp…"
  CHANGELOG.next.asciidoc
  filebeat/docs/inputs/input-journald.asciidoc
  filebeat/input/journald/input.go
Due: filebeat

fix tests
  x-pack/auditbeat/processors/sessionmd/provider/procfsprovider/procfsprovider_test.go
Due: beats-xpack-auditbeat

Journald reader: correctly handle journalctl restart
  CHANGELOG.next.asciidoc
  filebeat/input/journald/pkg/journalctl/reader.go
  filebeat/input/journald/pkg/journalctl/reader_test.go
Due: filebeat

[Journald] Add tests to ensure no data duplication on restart
  filebeat/tests/integration/journald_test.go
  filebeat/tests/integration/testdata/filebeat_journald.yml
Due: filebeat

Update go.mod
  filebeat/docs/go.mod
Due: filebeat

Update go.mod
  metricbeat/docs/go.mod
Due: beats-metricbeat

Path conditions:
  auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  filebeat: any of: filebeat/, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  beats-xpack-filebeat: any of: x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-metricbeat: any of: x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-winlogbeat: any of: x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/scripts, deploy/kubernetes/**, libbeat/docs/version.asciidoc
  beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  beats-xpack-libbeat: any of: x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-xpack-auditbeat: any of: x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-heartbeat: any of: x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
