Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: /agent/check-catalog-info.sh, :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

/agent/check-catalog-info.sh:
  command: /agent/check-catalog-info.sh
  agents:
    image: docker.elastic.co/ci-agent-images/pipelib:0.13.0@sha256:190464950de81cb3390bd5e07bb1cc171dd4a765c1ce5de58ebca476f9a6839f

:pipeline: Upload beats-auditbeat:
  label: ':pipeline: Upload beats-auditbeat'
  command: buildkite-agent pipeline upload .buildkite/auditbeat/auditbeat-pipeline.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: Upload beats-heartbeat:
  label: ':pipeline: Upload beats-heartbeat'
  command: buildkite-agent pipeline upload .buildkite/heartbeat/heartbeat-pipeline.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: Upload beats-filebeat:
  label: ':pipeline: Upload beats-filebeat'
  command: buildkite-agent pipeline upload .buildkite/filebeat/filebeat-pipeline.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: Upload beats-xpack-filebeat:
  label: ':pipeline: Upload beats-xpack-filebeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.filebeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: beats-xpack-dockerlogbeat:
  label: ':pipeline: beats-xpack-dockerlogbeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: Upload beats-metricbeat:
  label: ':pipeline: Upload beats-metricbeat'
  command: buildkite-agent pipeline upload .buildkite/metricbeat/pipeline.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: Upload beats-xpack-metricbeat:
  label: ':pipeline: Upload beats-xpack-metricbeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.metricbeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: Upload beats-xpack-osquerybeat:
  label: ':pipeline: Upload beats-xpack-osquerybeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.osquerybeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

fix: asdf issues with updatecli in the tool-versions (#45286)
  .github/workflows/bump-elastic-stack-snapshot.yml
  .github/workflows/bump-golang.yml
  .github/workflows/updatecli-compose.yml
  .updatecli-version
Due: none

do not set ntp as default metricset
  docs/reference/metricbeat/metricbeat-metricset-system-ntp.md
  metricbeat/module/system/ntp/ntp.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

update docs from 'host' -> 'hosts'
  docs/reference/metricbeat/metricbeat-metricset-system-ntp.md
  metricbeat/module/system/ntp/_meta/docs.md
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

report the offset in ns, not s
  docs/reference/metricbeat/exported-fields-system.md
  docs/reference/metricbeat/metricbeat-metricset-system-ntp.md
  metricbeat/module/system/fields.go
  metricbeat/module/system/ntp/_meta/data.json
  metricbeat/module/system/ntp/_meta/fields.yml
  metricbeat/module/system/ntp/config_test.go
  metricbeat/module/system/ntp/ntp.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

feat(etw): major refactor of ETW event processing with metadata caching
  x-pack/libbeat/reader/etw/config.go
  x-pack/libbeat/reader/etw/controller.go
  x-pack/libbeat/reader/etw/event.go
  x-pack/libbeat/reader/etw/metadata_cache.go
  x-pack/libbeat/reader/etw/metadata_cache_test.go
  x-pack/libbeat/reader/etw/property_parser.go
  x-pack/libbeat/reader/etw/property_parser_test.go
  x-pack/libbeat/reader/etw/provider.go
  x-pack/libbeat/reader/etw/provider_test.go
  x-pack/libbeat/reader/etw/session.go
  x-pack/libbeat/reader/etw/syscall_advapi32.go
  x-pack/libbeat/reader/etw/syscall_tdh.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat

refactor(etw): enhance event processing and improve data validation
  x-pack/filebeat/input/etw/config.go
  x-pack/filebeat/input/etw/input.go
  x-pack/filebeat/input/etw/input_test.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

update to revised definitions of standalone and unmanaged
  libbeat/beat/beat.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

switched default kafka version (in sarama client) to 2.1.0
  metricbeat/module/kafka/consumergroup/consumergroup.go
  metricbeat/module/kafka/partition/partition.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

fix unit tests
  metricbeat/module/system/ntp/ntp_test.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Fix comma
  docs/reference/metricbeat/metricbeat-metricset-windows-wmi.md
Due: none

Support both take over configurations (#45222)
  CHANGELOG.next.asciidoc
  docs/reference/filebeat/filebeat-input-filestream.md
  filebeat/input/filestream/config.go
  filebeat/input/filestream/config_test.go
  filebeat/input/filestream/input.go
  filebeat/input/filestream/internal/input-logfile/manager.go
  filebeat/input/filestream/internal/input-logfile/manager_test.go
  filebeat/input/filestream/prospector.go
  filebeat/input/v2/compat/compat_test.go
  filebeat/tests/integration/filestream_test.go
  filebeat/tests/integration/testdata/take-over/happy-path-log-input.yml
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Move event counting, improve length counting
  libbeat/esleg/eslegclient/bulkapi.go
  libbeat/esleg/eslegclient/bulkapi_mock_test.go
  libbeat/esleg/eslegclient/enc.go
  libbeat/esleg/eslegclient/enc_test.go
  libbeat/monitoring/report/elasticsearch/client.go
  libbeat/outputs/elasticsearch/client.go
  libbeat/outputs/elasticsearch/client_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Update post-dependabot.yml to add a team as a reviewer
  .github/workflows/post-dependabot.yml
Due: none

Move TCP and UDP clients to inputtest
  filebeat/input/inputtest/netInput.go
  filebeat/input/tcp/input_test.go
  filebeat/input/udp/input_test.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Fix integration tests
  libbeat/esleg/eslegclient/bulkapi_integration_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

use a two-phase shutdown to first close the monitors, and then the pipeline
  heartbeat/beater/heartbeat.go
Due: :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-xpack-heartbeat, :pipeline: Upload beats-xpack-agentbeat

fix ci
  libbeat/publisher/queue/memqueue/broker.go
  libbeat/publisher/queue/memqueue/queue_test.go
  packetbeat/beater/packetbeat.go
  winlogbeat/beater/winlogbeat.go
  x-pack/libbeat/autodiscover/providers/nomad/nomad_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

add kafka
  libbeat/outputs/kafka/kafka_integration_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

[elastic-agent-libs] User agent update (#328)
  useragent/useragent.go
  useragent/useragent_test.go
Due: none

Fix linter issues
  libbeat/esleg/eslegclient/bulkapi.go
  libbeat/esleg/eslegclient/enc_test.go
  libbeat/monitoring/report/elasticsearch/client.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

add kafka test
  libbeat/outputs/kafka/kafka_integration_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

fix test
  libbeat/outputs/kafka/kafka_integration_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

address comments
  dev-tools/mage/build.go
  x-pack/filebeat/magefile.go
  x-pack/metricbeat/magefile.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

remove duplicated publisher timeout
  heartbeat/beater/heartbeat.go
Due: :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-xpack-heartbeat, :pipeline: Upload beats-xpack-agentbeat

Apply suggestions from code review
  .buildkite/libbeat/pipeline.libbeat.yml
Due: :pipeline: Upload beats-libbeat

Only run requirefips unit tests on VM with provider
  .buildkite/libbeat/pipeline.libbeat.yml
Due: :pipeline: Upload beats-libbeat

Remove env var
  .buildkite/libbeat/pipeline.libbeat.yml
Due: :pipeline: Upload beats-libbeat

[beatreceivers] Introduce otel mode for metricbeat (#45145)
  dev-tools/mage/build.go
  libbeat/otelbeat/beatconverter/beatconverter.go
  libbeat/otelbeat/providers/mbprovider/mbprovider.go
  libbeat/otelbeat/providers/mbprovider/mbprovider_test.go
  libbeat/otelbeat/providers/providers.go
  libbeat/tests/integration/framework.go
  x-pack/filebeat/magefile.go
  x-pack/libbeat/common/otelbeat/otel.go
  x-pack/metricbeat/cmd/otelcmd_disabled.go
  x-pack/metricbeat/cmd/otelcmd_enabled.go
  x-pack/metricbeat/cmd/root.go
  x-pack/metricbeat/docker-compose.yml
  x-pack/metricbeat/magefile.go
  x-pack/metricbeat/metricbeat-otel.yml
  x-pack/metricbeat/tests/integration/otel_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Add integration test for TCP & UDP inputs
  filebeat/input/inputtest/netInput.go
  filebeat/input/tcp/input.go
  filebeat/input/udp/input.go
  filebeat/tests/integration/filebeat_test.go
  filebeat/tests/integration/netInputs_test.go
  filebeat/tests/integration/testdata/netInputs/tcp.yml
  filebeat/tests/integration/testdata/netInputs/udp.yml
  libbeat/tests/integration/framework.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

fix tests
  filebeat/input/tcp/input_test.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Add ASDF_PYTHON_VERSION
  .buildkite/libbeat/pipeline.libbeat.yml
Due: :pipeline: Upload beats-libbeat

otel: update filebeat integration tests to run in isolation
  x-pack/filebeat/tests/integration/otel_test.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

update user agent construction
  CHANGELOG.next.asciidoc
  go.mod
  go.sum
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

[WIP] Create input manager to handle pipeline workers
  filebeat/input/tcp/input.go
  filebeat/input/tcp/input_test.go
  filebeat/input/v2/input-concurrent/manager.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

fix: update more lint
  libbeat/autodiscover/providers/kubernetes/node.go
  libbeat/processors/add_host_metadata/add_host_metadata_test.go
  libbeat/tests/compose/compose.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Update parse_child_nodes_test.go
  x-pack/metricbeat/module/autoops_es/tasks_management/parse_child_nodes_test.go
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Path conditions:
  /agent/check-catalog-info.sh: any of: catalog-info.yaml
  :pipeline: Upload beats-auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-filebeat: any of: filebeat/, .buildkite/pipeline.yml, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-filebeat: any of: filebeat/, x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/pipeline.yml, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-metricbeat: any of: metricbeat/, x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-winlogbeat: any of: winlogbeat/, x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  :pipeline: Upload deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/pipeline.yml, .buildkite/scripts, deploy/kubernetes/**, metricbeat/module/kubernetes/**, libbeat/docs/version.asciidoc
  :pipeline: Upload beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  :pipeline: Upload beats-xpack-libbeat: any of: libbeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-auditbeat: any of: auditbeat/, x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-xpack-heartbeat: any of: heartbeat/, x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: packetbeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-agentbeat: any of: auditbeat/, filebeat/, heartbeat/, metricbeat/, osquerybeat/, packetbeat/, x-pack/agentbeat/, x-pack/auditbeat/, x-pack/filebeat/, x-pack/heartbeat/, x-pack/metricbeat/, x-pack/osquerybeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.agentbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
