Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Trigger Auditbeat:
  if: build.pull_request.id != null
  trigger: auditbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
      GITHUB_PR_LABELS: ${GITHUB_PR_LABELS}

Trigger Heartbeat:
  if: build.pull_request.id != null
  trigger: heartbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
      GITHUB_PR_LABELS: ${GITHUB_PR_LABELS}

Trigger Filebeat:
  if: build.pull_request.id != null
  trigger: filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
      GITHUB_PR_LABELS: ${GITHUB_PR_LABELS}

Trigger x-pack/filebeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/dockerlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-dockerlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger Metricbeat:
  if: build.pull_request.id != null
  trigger: beats-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/metricbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/osquerybeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-osquerybeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/winlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-winlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Fix conflicts
  go.mod
  go.sum
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Improve docs and use take_over.enabled
  filebeat/tests/integration/take_over_fallback_test.go
  filebeat/tests/integration/testdata/take-over-fallback/filestream-input.yml
Due: Trigger Filebeat, Trigger x-pack/filebeat

Allow TLS certificate hot-reload without restarting for server inputs
  changelog/fragments/1777589170-tls-cert-reload.yaml
  filebeat/inputsource/tcp/server.go
  go.mod
  go.sum
  libbeat/common/transport/tlsutil/certreload.go
  libbeat/common/transport/tlsutil/certreload_test.go
  metricbeat/helper/server/http/http.go
  x-pack/filebeat/input/http_endpoint/input.go
  x-pack/filebeat/input/lumberjack/server.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Remove manual CertReloader wiring; rely on LoadTLSServerConfig
  filebeat/inputsource/tcp/server.go
  go.mod
  go.sum
  libbeat/common/transport/tlsutil/certreload.go
  libbeat/common/transport/tlsutil/certreload_test.go
  metricbeat/helper/server/http/http.go
  x-pack/filebeat/input/http_endpoint/input.go
  x-pack/filebeat/input/lumberjack/server.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Update changelog summary to cover both server and client TLS
  changelog/fragments/1777589170-tls-cert-reload.yaml
Due: none

Remove plan files
  .tmp-ai-io/takeover-fallback-first-test-plan.md
  ai-tasks/TakeOver-Fallback.md
Due: none

PR Feedback
  x-pack/osquerybeat/ext/osquery-extension/docs/tables/elastic_ntfs_partitions.md
  x-pack/osquerybeat/ext/osquery-extension/docs/tables/elastic_ntfs_volumes.md
  x-pack/osquerybeat/ext/osquery-extension/pkg/ntfs/logger.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/ntfs/lru.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/ntfs/ntfs_session.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/ntfs/partition.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/ntfs/volume.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/ntfs/volume_reader.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/generated/ntfs/elastic_ntfs_partitions/elastic_ntfs_partitions.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/generated/ntfs/elastic_ntfs_volumes/elastic_ntfs_volumes.go
  x-pack/osquerybeat/ext/osquery-extension/specs/elastic_ntfs_partitions.yaml
  x-pack/osquerybeat/ext/osquery-extension/specs/elastic_ntfs_volumes.yaml
Due: Trigger x-pack/osquerybeat

Refactoring
  filebeat/tests/integration/take_over_fallback_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Remove assertFilesIngested
  filebeat/tests/integration/take_over_fallback_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

use atomics when setting logger
  x-pack/osquerybeat/ext/osquery-extension/pkg/ntfs/logger.go
Due: Trigger x-pack/osquerybeat

more refactoring
  filebeat/tests/integration/take_over_fallback_test.go
  filebeat/tests/integration/testdata/take-over-fallback/filestream-input.yml
  filebeat/tests/integration/testdata/take-over-fallback/log-input.yml
Due: Trigger Filebeat, Trigger x-pack/filebeat

Update elastic-agent-libs to include CA hot-reload (PR #419)
  changelog/fragments/1777589170-tls-cert-reload.yaml
  go.mod
  go.sum
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Deprecate ssl.restart_on_cert_change in favor of ssl.certificate_reload
  changelog/fragments/1746484800-deprecate-restart-on-cert-change.yaml
  libbeat/cmd/instance/beat.go
  libbeat/tests/integration/elasticsearch_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

test(filebeat): add unit tests for oktaTokenSource.Token() PEM and JSON paths
  x-pack/filebeat/input/cel/config_okta_auth_test.go
  x-pack/filebeat/input/httpjson/config_okta_auth_test.go
Due: Trigger x-pack/filebeat

fix(filebeat): address reviewer feedback on Okta auth refactoring
  changelog/fragments/1777549938-fix-okta-oauth2-pem-file-auth-token-refresh.yaml
  x-pack/filebeat/input/entityanalytics/provider/okta/oauth2.go
Due: Trigger x-pack/filebeat

x-pack/filebeat/input/streaming: apply configured timeout to OAuth2 token requests
  changelog/fragments/1777958918-49988-streaming.yaml
  x-pack/filebeat/input/http_endpoint/handler_test.go
  x-pack/filebeat/input/streaming/crowdstrike.go
  x-pack/filebeat/input/streaming/crowdstrike_ratelimit.go
  x-pack/filebeat/input/streaming/crowdstrike_test.go
Due: Trigger x-pack/filebeat

fix(filebeat/entityanalytics): hoist duplicated test constants to package level
  x-pack/filebeat/input/cel/config_okta_auth_test.go
  x-pack/filebeat/input/httpjson/config_okta_auth_test.go
Due: Trigger x-pack/filebeat

fix(filebeat/entityanalytics): remove redundant JWK assignment and add package test
  x-pack/filebeat/input/entityanalytics/provider/okta/oauth2.go
  x-pack/filebeat/input/entityanalytics/provider/okta/oauth2_test.go
Due: Trigger x-pack/filebeat

[bug] fix add_kubernetes_metadata not enriching inital data
  libbeat/processors/add_kubernetes_metadata/kubernetes.go
  libbeat/processors/add_kubernetes_metadata/kubernetes_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

add changelog
  changelog/fragments/1778052475-fix-k8s-processor.yaml
Due: none

Apply suggestions from code review
  x-pack/filebeat/module/zoom/webhook/_meta/fields.yml
Due: Trigger x-pack/filebeat

fix linter
  libbeat/processors/add_kubernetes_metadata/kubernetes.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

[elastic-agent-libs] fix(mapstr): DeepCloneUpdate must merge into map[string]interface{} destinations (#413)
  mapstr/deepcloneupdate_test.go
  mapstr/mapstr.go
Due: none

linter fixes
  x-pack/metricbeat/module/azure/client_batch_test.go
Due: Trigger x-pack/metricbeat

fix(filebeat/entityanalytics): gofmt oauth2.go struct field alignment
  x-pack/filebeat/input/entityanalytics/provider/okta/oauth2.go
Due: Trigger x-pack/filebeat

more linter fixes
  x-pack/metricbeat/module/azure/client_batch_test.go
Due: Trigger x-pack/metricbeat

documents
  changelog/fragments/1776335237-respect-publisher-host-config.yaml
Due: none

remove test
  libbeat/processors/add_kubernetes_metadata/kubernetes_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix: Safeguard closing nil channels in azure metrics module (#50498)
  changelog/fragments/1777989631-fix-azure-batch-client-panic-on-empty-resources.yaml
  x-pack/metricbeat/module/azure/client_batch.go
  x-pack/metricbeat/module/azure/client_batch_test.go
Due: Trigger x-pack/metricbeat

fix gosec lint
  libbeat/otel/otelconsumer/otelconsumer.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix accidental export
  x-pack/osquerybeat/ext/osquery-extension/pkg/ntfs/logger.go
Due: Trigger x-pack/osquerybeat

metricbeat/kubernetes: add CPU and memory limit metrics to pod and container metricsets
  changelog/fragments/1776417356-kubernetes-pod-container-requests.yaml
  docs/reference/metricbeat/exported-fields-kubernetes.md
  metricbeat/module/kubernetes/container/_meta/fields.yml
  metricbeat/module/kubernetes/container/container_test.go
  metricbeat/module/kubernetes/container/data.go
  metricbeat/module/kubernetes/fields.go
  metricbeat/module/kubernetes/pod/_meta/fields.yml
  metricbeat/module/kubernetes/pod/data.go
  metricbeat/module/kubernetes/pod/pod_test.go
Due: Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger Deploy/K8S

metricbeat/kubernetes: align pod and container request/limit field types with state_container
  docs/reference/metricbeat/exported-fields-kubernetes.md
  metricbeat/module/kubernetes/container/_meta/fields.yml
  metricbeat/module/kubernetes/fields.go
  metricbeat/module/kubernetes/pod/_meta/fields.yml
Due: Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger Deploy/K8S

metricbeat/kubernetes/pod: test pod-level limit and request sums across containers
  metricbeat/module/kubernetes/pod/pod_test.go
Due: Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger Deploy/K8S

Path conditions:
  Trigger Auditbeat: any of: auditbeat/**, .buildkite/auditbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Heartbeat: any of: heartbeat/**, .buildkite/heartbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Filebeat: any of: filebeat/**, .buildkite/filebeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/filebeat: any of: filebeat/**, x-pack/filebeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/dockerlogbeat: any of: x-pack/dockerlogbeat/**, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Metricbeat: any of: metricbeat/**, .buildkite/metricbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/metricbeat: any of: metricbeat/**, x-pack/metricbeat/**, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/winlogbeat: any of: winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Deploy/K8S: any of: deploy/kubernetes/**, metricbeat/module/kubernetes/**, .go-version, libbeat/docs/version.asciidoc, .buildkite/deploy/kubernetes/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Libbeat: any of: libbeat/**, .buildkite/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/libbeat: any of: x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .go-version, libbeat/**, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/otel: any of: x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .go-version, go.mod, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/auditbeat: any of: auditbeat/**, x-pack/auditbeat/**, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/heartbeat: any of: heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/packetbeat: any of: packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Winlogbeat: any of: winlogbeat/**, .buildkite/winlogbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Packetbeat: any of: packetbeat/**, .buildkite/packetbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
