Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Path conditions:
  Trigger Auditbeat: any of: auditbeat/**, .buildkite/auditbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Heartbeat: any of: heartbeat/**, .buildkite/heartbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Filebeat: any of: filebeat/**, .buildkite/filebeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/filebeat: any of: filebeat/**, x-pack/filebeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/dockerlogbeat: any of: x-pack/dockerlogbeat/**, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Metricbeat: any of: metricbeat/**, .buildkite/metricbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/metricbeat: any of: metricbeat/**, x-pack/metricbeat/**, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/winlogbeat: any of: winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Deploy/K8S: any of: deploy/kubernetes/**, metricbeat/module/kubernetes/**, .go-version, libbeat/docs/version.asciidoc, .buildkite/deploy/kubernetes/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Libbeat: any of: libbeat/**, .buildkite/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/libbeat: any of: x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .go-version, libbeat/**, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/otel: any of: x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .go-version, go.mod, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/auditbeat: any of: auditbeat/**, x-pack/auditbeat/**, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/heartbeat: any of: heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/packetbeat: any of: packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Winlogbeat: any of: winlogbeat/**, .buildkite/winlogbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Packetbeat: any of: packetbeat/**, .buildkite/packetbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**

libbeat/reader/auditd: capture raw audit records in coalesce mode
  changelog/fragments/1788751959-filestream-auditd-raw-message.yaml
  libbeat/reader/auditd/coalesce.go
  libbeat/reader/auditd/coalesce_test.go
  libbeat/reader/auditd/config.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

filestream: cache directory listings across inputs sharing the same base directory (#53136)
  changelog/fragments/1788982248-filestream-cache-directory-listings.yaml
  filebeat/input/filestream/dir_reader.go
  filebeat/input/filestream/dir_reader_test.go
  filebeat/input/filestream/environment_test.go
  filebeat/input/filestream/fscanner.go
  filebeat/input/filestream/fswatch.go
  filebeat/input/filestream/fswatch_bench_test.go
  filebeat/input/filestream/idle_footprint_test.go
  filebeat/input/filestream/input.go
  filebeat/input/filestream/input_test.go
  filebeat/input/filestream/prospector_creator.go
  filebeat/input/filestream/prospector_creator_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Moving the kubernetes ownership to obs-signals-metrics team
  .github/CODEOWNERS
Due: none

debug logs
  heartbeat/beater/heartbeat.go
Due: Trigger Heartbeat, Trigger x-pack/heartbeat

Moving the kubernetes ownership to obs-signals-metrics team (#53166)
  .github/CODEOWNERS
Due: none

Allow reading from the slabqueue without blocking (#53057)
  libbeat/publisher/pipeline/consumer.go
  libbeat/publisher/pipeline/consumer_test.go
  libbeat/publisher/queue/queue.go
  libbeat/publisher/queue/slabqueue/queue.go
  libbeat/publisher/queue/slabqueue/slabqueue_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

ci: update Kerberos fixture with stack snapshots
  .github/workflows/updatecli.d/bump-elastic-stack-snapshot.yml
Due: none

[gcp-pubsub] Add api_endpoint configuration option to support custom endpoints (#53080)
  changelog/fragments/1778600000-gcppubsub-api-endpoint.yaml
  docs/reference/filebeat/filebeat-input-gcp-pubsub.md
  x-pack/filebeat/_meta/config/filebeat.inputs.reference.xpack.yml.tmpl
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/input/gcppubsub/config.go
  x-pack/filebeat/input/gcppubsub/config_test.go
  x-pack/filebeat/input/gcppubsub/input.go
  x-pack/filebeat/input/gcppubsub/pubsub_test.go
  x-pack/filebeat/input/gcppubsub/testutil/testutil.go
Due: Trigger x-pack/filebeat

add the 9.5.4 Beats release notes
  changelog/9.5.4.yaml
  changelog/fragments/1784717886-drosiek-9088-hostname-env-override.yaml
  changelog/fragments/1784819509-autoops-es-ingest-volume-enriched-fields.yaml
  changelog/fragments/1786463939-honor-nth-weekday-byweekday-in-maintenance-windows.yaml
  changelog/fragments/1787086800-osquerybeat-recover-extension-ping-timeout.yaml
  changelog/fragments/1787783258-autodiscover-filter-list.yaml
  changelog/fragments/1787821145-filebeat-kafka-input-sarama-logger.yaml
  changelog/fragments/1788162891-httpjson-chain-pagination-cursor.yaml
  changelog/fragments/1788162892-crowdstrike-follow-all-feeds.yaml
  changelog/fragments/1788250398-kubernetes-enricher-watcher-deadlock.yaml
  changelog/fragments/1788253013-52902-entityanalytics.yaml
  changelog/fragments/1788703667-autoops-es-node-attributes.yaml
  changelog/fragments/1788782541-etw-input-status-reporting.yaml
  changelog/fragments/1788795811-autoops-flood-stage-frozen.yaml
  docs/release-notes/_snippets/9.5.4/breaking-changes.md
  docs/release-notes/_snippets/9.5.4/deprecations.md
  docs/release-notes/_snippets/9.5.4/index.md
  docs/release-notes/_snippets/breaking-changes/9.5.md
  docs/release-notes/_snippets/deprecations/9.5.md
  docs/release-notes/_snippets/index/9.5.md
Due: none

Update docs for version 9.4.7
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/heartbeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Update version to 9.4.8
  libbeat/version/version.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Update test environment for 9.4.7
  metricbeat/docker-compose.yml
  testing/environments/latest.yml
  x-pack/metricbeat/docker-compose.yml
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Add Beats 9.4.7 release notes
  changelog/9.4.7.yaml
  changelog/fragments/1779275680-propagate-osquery-live-query-space-ids.yaml
  changelog/fragments/1786463939-honor-nth-weekday-byweekday-in-maintenance-windows.yaml
  changelog/fragments/1786714344-packetbeat-http-hide-keywords-case-insensitive.yaml
  changelog/fragments/1787010547-npcap-log-installer-diagnostics.yaml
  changelog/fragments/1787214552-awss3-bucket-scoped-state-registry.yaml
  changelog/fragments/1787328794-update-go-to-1.26.7.yaml
  changelog/fragments/1787783258-autodiscover-filter-list.yaml
  changelog/fragments/1787808118-fix-packetbeat-tls-cassandra-parser-panics.yaml
  changelog/fragments/1788155659-osquerybeat-live-query-space-id.yaml
  changelog/fragments/1788162891-httpjson-chain-pagination-cursor.yaml
  changelog/fragments/1788162892-crowdstrike-follow-all-feeds.yaml
  changelog/fragments/1788250398-kubernetes-enricher-watcher-deadlock.yaml
  changelog/fragments/1788782541-etw-input-status-reporting.yaml
  docs/release-notes/_snippets/9.4.7/breaking-changes.md
  docs/release-notes/_snippets/9.4.7/deprecations.md
  docs/release-notes/_snippets/9.4.7/index.md
  docs/release-notes/_snippets/breaking-changes/9.4.md
  docs/release-notes/_snippets/deprecations/9.4.md
  docs/release-notes/_snippets/index/9.4.md
Due: none

Update docs version 9.5.4
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/heartbeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Validate PR entries
  changelog/9.5.4.yaml
  docs/release-notes/_snippets/9.5.4/index.md
Due: none

Create elasticsearchclient extension
  x-pack/otel/extension/elasticsearchclient/config.go
  x-pack/otel/extension/elasticsearchclient/extension.go
  x-pack/otel/extension/elasticsearchclient/extension_race_test.go
  x-pack/otel/extension/elasticsearchclient/extension_test.go
  x-pack/otel/extension/elasticsearchclient/factory.go
Due: Trigger x-pack/otel

libbeat/reader/auditd: capture raw audit records in coalesce mode (#53054)
  changelog/fragments/1788751959-filestream-auditd-raw-message.yaml
  libbeat/reader/auditd/coalesce.go
  libbeat/reader/auditd/coalesce_test.go
  libbeat/reader/auditd/config.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Accept interface instead of concrete type
  heartbeat/monitors/wrappers/monitorstate/esloader.go
Due: Trigger Heartbeat, Trigger x-pack/heartbeat

Add method to inject elasticsearchclient extension
  heartbeat/beater/heartbeat.go
  heartbeat/beater/heartbeat_test.go
Due: Trigger Heartbeat, Trigger x-pack/heartbeat

Wire elasticsearchclient extension into Heartbeat
  x-pack/heartbeat/hbreceiver/config.go
  x-pack/heartbeat/hbreceiver/config_test.go
  x-pack/heartbeat/hbreceiver/elasticsearch_client_test.go
  x-pack/heartbeat/hbreceiver/factory.go
  x-pack/libbeat/cmd/instance/receiver.go
  x-pack/libbeat/cmd/instance/receiver_test.go
Due: Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat

simplify tests
  heartbeat/beater/heartbeat_test.go
  x-pack/otel/extension/elasticsearchclient/extension_test.go
Due: Trigger Heartbeat, Trigger x-pack/otel, Trigger x-pack/heartbeat

Register the elasticsearchclient extension
  x-pack/otel/oteltestcol/collector.go
  x-pack/otel/oteltestcol/collector_test.go
Due: Trigger x-pack/otel

add changelog
  changelog/fragments/1789168980-restore-monitor-state-for-heartbeat-otel-receivers.yaml
Due: none

add CI failure analysis note (security canary)
  canary.md
Due: none

Fix lint violations in beat.go and add_host_metadata_test.go for 9.4
  libbeat/cmd/instance/beat.go
  libbeat/processors/add_host_metadata/add_host_metadata_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

docs: mark gcp-pubsub api_endpoint as available from 9.4
  docs/reference/filebeat/filebeat-input-gcp-pubsub.md
Due: none

Fix lint violations in beat.go and add_host_metadata_test.go for 8.19
  libbeat/cmd/instance/beat.go
  libbeat/processors/add_host_metadata/add_host_metadata.go
  libbeat/processors/add_host_metadata/add_host_metadata_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

docs: document gcp-pubsub api_endpoint in 8.19 AsciiDoc
  docs/reference/filebeat/filebeat-input-gcp-pubsub.md
  x-pack/filebeat/docs/inputs/input-gcp-pubsub.asciidoc
Due: Trigger x-pack/filebeat

auditbeat: adapt to quark 0.8 backend flags and since-boot times (#52623)
  NOTICE.txt
  changelog/fragments/1786630989-auditbeat-quark-0.8.yaml
  go.mod
  go.sum
  x-pack/auditbeat/module/system/process/quark_provider_linux.go
  x-pack/auditbeat/module/system/process/quark_provider_linux_test.go
  x-pack/auditbeat/processors/sessionmd/provider/kerneltracingprovider/kerneltracingprovider_linux.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Add missing MetricLogging default initialization for beat receivers
  x-pack/libbeat/cmd/instance/beat.go
Due: Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat

Update receiver tests to expect skipped metrics logging
  x-pack/filebeat/fbreceiver/receiver_test.go
  x-pack/metricbeat/mbreceiver/receiver_test.go
Due: Trigger x-pack/filebeat, Trigger x-pack/metricbeat
