Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Path conditions:
  auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  filebeat: any of: filebeat/, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  beats-xpack-filebeat: any of: x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-metricbeat: any of: x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-winlogbeat: any of: x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/scripts, deploy/kubernetes/**, libbeat/docs/version.asciidoc
  beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  beats-xpack-libbeat: any of: x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-xpack-auditbeat: any of: x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-heartbeat: any of: x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/

Fix error handling
  x-pack/metricbeat/module/azure/azure.go
  x-pack/metricbeat/module/azure/client.go
  x-pack/metricbeat/module/azure/client_utils.go
  x-pack/metricbeat/module/azure/monitor/client_helper.go
  x-pack/metricbeat/module/azure/monitor_service.go
  x-pack/metricbeat/module/azure/storage/client_helper.go
Due: beats-xpack-metricbeat

First unifiedlogs implementation
  x-pack/filebeat/input/default-inputs/inputs_darwin.go
  x-pack/filebeat/input/unifiedlogs/config.go
  x-pack/filebeat/input/unifiedlogs/input.go
  x-pack/filebeat/input/unifiedlogs/metrics.go
Due: beats-xpack-filebeat

[xpack][metricbeats][gcp] don't skip first value in histogram calculations
  x-pack/metricbeat/module/gcp/distribution.go
  x-pack/metricbeat/module/gcp/distribution_test.go
Due: beats-xpack-metricbeat

WIP
  x-pack/libbeat/management/managerV2.go
  x-pack/libbeat/management/managerV2_test.go
Due: beats-xpack-filebeat, beats-xpack-osquerybeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat

[elastic-agent-libs] [windows] - Introduce PdhGetRawCounterArrayW (#254)
  helpers/windows/pdh/pdh_query_windows.go
  helpers/windows/pdh/pdh_query_windows_test.go
  helpers/windows/pdh/pdh_windows.go
  helpers/windows/pdh/zpdh_windows.go
Due: none

Fix test
  x-pack/libbeat/management/managerV2.go
  x-pack/libbeat/management/managerV2_test.go
Due: beats-xpack-filebeat, beats-xpack-osquerybeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat

Assert reload count
  x-pack/libbeat/management/managerV2_test.go
Due: beats-xpack-filebeat, beats-xpack-osquerybeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat

Remove extra reload
  x-pack/libbeat/management/managerV2.go
Due: beats-xpack-filebeat, beats-xpack-osquerybeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat

Add comment
  x-pack/libbeat/management/managerV2_test.go
Due: beats-xpack-filebeat, beats-xpack-osquerybeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat

Add changelog
  CHANGELOG.next.asciidoc
Due: none

[WIP] Add registry to Filebeat's diagnostic
  filebeat/input/v2/compat/compat.go
Due: filebeat

Move the hook to a better place
  filebeat/beater/diagnostics.go
  filebeat/beater/filebeat.go
  filebeat/input/v2/compat/compat.go
Due: filebeat

Update users.asciidoc (#41780)
  libbeat/docs/security/users.asciidoc
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

feat: bump gokrb5 dependency to current major version (#41676)
  NOTICE.txt
  go.mod
  go.sum
  libbeat/common/transport/kerberos/client.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

feat: bump go-perf to fix compile errors on mips arch (#41763)
  NOTICE.txt
  go.mod
  go.sum
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

feat: drop unused gosnowflake replace directive
  go.mod
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

feat: replace go-mssqldb with upstream msft version
  NOTICE.txt
  go.mod
  go.sum
  metricbeat/module/consul/agent/data_integration_test.go
  x-pack/metricbeat/module/mssql/connection.go
  x-pack/metricbeat/module/mssql/performance/data_integration_test.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

go.mod - update to elastic/go-seccomp-bpf v1.5.0
  NOTICE.txt
  go.mod
  go.sum
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

lint: remove unused methods
  x-pack/metricbeat/module/mssql/performance/data_integration_test.go
Due: beats-xpack-metricbeat

Add integration tests
  filebeat/beater/diagnostics.go
  x-pack/filebeat/tests/integration/registrydiagnostics_test.go
Due: filebeat, beats-xpack-filebeat

feat: drop unused gosnowflake replace directive (#41802)
  go.mod
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Add support for region/zone for Vertex AI service in GCP module (#41551)
  CHANGELOG.next.asciidoc
  x-pack/metricbeat/module/gcp/constants.go
  x-pack/metricbeat/module/gcp/metrics/metrics_requester.go
  x-pack/metricbeat/module/gcp/metrics/metrics_requester_test.go
Due: beats-xpack-metricbeat

Address review comments
  x-pack/metricbeat/module/openai/usage/client.go
Due: beats-xpack-metricbeat

Update loggingconfig.asciidoc
  libbeat/docs/loggingconfig.asciidoc
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Update testing.asciidoc
  docs/devguide/testing.asciidoc
Due: none

go.mod - update to elastic/go-seccomp-bpf v1.5.0 (#41559)
  NOTICE.txt
  go.mod
  go.sum
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Add build tag
  x-pack/filebeat/tests/integration/registrydiagnostics_test.go
Due: beats-xpack-filebeat

Remove temporary file
  filebeat/beater/diagnostics.go
  filebeat/beater/filebeat.go
Due: filebeat

fix returning errors
  filebeat/beater/diagnostics.go
Due: filebeat

[elastic-agent-autodiscover] Update catalog-info file with correct system property (#112)
  catalog-info.yaml
Due: none

[elastic-agent-system-metrics] Update catalog-info file with correct system property (#193)
  catalog-info.yaml
Due: none

Improve error handling and fix lint issues
  filebeat/beater/diagnostics.go
  filebeat/input/v2/compat/compat.go
  x-pack/filebeat/tests/integration/registrydiagnostics_test.go
Due: filebeat, beats-xpack-filebeat

[libbeat] fix: aws & openstack metadata conflict in add_cloud_metadata processor (#41636)
  CHANGELOG.next.asciidoc
  libbeat/processors/add_cloud_metadata/docs/add_cloud_metadata.asciidoc
  libbeat/processors/add_cloud_metadata/provider_alibaba_cloud.go
  libbeat/processors/add_cloud_metadata/provider_aws_ec2.go
  libbeat/processors/add_cloud_metadata/provider_azure_vm.go
  libbeat/processors/add_cloud_metadata/provider_digital_ocean.go
  libbeat/processors/add_cloud_metadata/provider_google_gce.go
  libbeat/processors/add_cloud_metadata/provider_hetzner_cloud.go
  libbeat/processors/add_cloud_metadata/provider_openstack_nova.go
  libbeat/processors/add_cloud_metadata/provider_tencent_cloud.go
  libbeat/processors/add_cloud_metadata/providers.go
  libbeat/processors/add_cloud_metadata/providers_test.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat
