Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Path conditions:
  Trigger Auditbeat: any of: auditbeat/**, .buildkite/auditbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Heartbeat: any of: heartbeat/**, .buildkite/heartbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Filebeat: any of: filebeat/**, .buildkite/filebeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/filebeat: any of: filebeat/**, x-pack/filebeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/dockerlogbeat: any of: x-pack/dockerlogbeat/**, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Metricbeat: any of: metricbeat/**, .buildkite/metricbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/metricbeat: any of: metricbeat/**, x-pack/metricbeat/**, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/winlogbeat: any of: winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Deploy/K8S: any of: deploy/kubernetes/**, metricbeat/module/kubernetes/**, .go-version, libbeat/docs/version.asciidoc, .buildkite/deploy/kubernetes/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Libbeat: any of: libbeat/**, .buildkite/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/libbeat: any of: x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .go-version, libbeat/**, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/otel: any of: x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .go-version, go.mod, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/auditbeat: any of: auditbeat/**, x-pack/auditbeat/**, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/heartbeat: any of: heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/packetbeat: any of: packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Winlogbeat: any of: winlogbeat/**, .buildkite/winlogbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Packetbeat: any of: packetbeat/**, .buildkite/packetbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**

filebeat/channel: silence errcheck on existing type assertion
  filebeat/channel/runner_mock_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

filebeat: clean up changelog fragments for share-input-processors
  changelog/fragments/1778571866-filebeat-share-input-processors.yaml
  changelog/fragments/1778603451-filebeat-processor-errors-eager.yaml
Due: none

filebeat/channel: forward SetStatusReporter through wrapper
  filebeat/channel/runner.go
  filebeat/channel/runner_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

filebeat: changelog fragment for eager processor error surfacing
  changelog/fragments/1778603451-filebeat-processor-errors-eager.yaml
Due: none

x-pack/filebeat: TestPipelineConnectionErrorFailsInput now expects FAILED for filestream and aws-s3
  x-pack/filebeat/tests/integration/managerV2_test.go
Due: Trigger x-pack/filebeat

filebeat: forward SetOnce through runner wrapper so --once reaches legacy *input.Runner
  filebeat/beater/crawler.go
  filebeat/channel/runner.go
  filebeat/channel/runner_test.go
  filebeat/input/input.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

chore: update OTel Collector dependencies to `v0.152.0`/`v1.58.0`
  go.mod
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

[elastic-agent-libs] feat(logp): add Logger.WithLazy for deferred field encoding (#420)
  logp/logger.go
  logp/logger_test.go
Due: none

bk: sparse checkout for loading bk pipelines
  catalog-info.yaml
Due: none

fix(azure): address review feedback on lookback feature
  changelog/fragments/1747093200-azure-monitor-lookback.yaml
  x-pack/metricbeat/module/azure/.gitignore
  x-pack/metricbeat/module/azure/_meta/config.reference.yml
  x-pack/metricbeat/module/azure/_meta/docs.md
  x-pack/metricbeat/module/azure/_meta/shared-azure.asciidoc
  x-pack/metricbeat/module/azure/azure_test.go
  x-pack/metricbeat/module/azure/cursor/doc.go
Due: Trigger x-pack/metricbeat

fix: correct typos in Metricbeat and Packetbeat runtime messages
  metricbeat/module/windows/wmi/wmi.go
  packetbeat/protos/protos.go
Due: Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/packetbeat, Trigger Packetbeat

oteltest: speed up CheckReceivers tests by disabling default queue & start delays (#50643)
  x-pack/auditbeat/abreceiver/receiver_test.go
  x-pack/filebeat/fbreceiver/receiver_test.go
  x-pack/otel/oteltest/oteltest.go
Due: Trigger x-pack/filebeat, Trigger x-pack/otel, Trigger x-pack/auditbeat

Fix merge conflicts
  libbeat/publisher/queue/diskqueue/queue_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Autodiscover: pass paths through builders instead of global paths (#49537)
  filebeat/autodiscover/builder/hints/logs.go
  filebeat/autodiscover/builder/hints/logs_test.go
  filebeat/beater/filebeat.go
  heartbeat/autodiscover/builder/hints/monitors.go
  heartbeat/beater/heartbeat.go
  libbeat/autodiscover/autodiscover.go
  libbeat/autodiscover/autodiscover_test.go
  libbeat/autodiscover/builder.go
  libbeat/autodiscover/builder_test.go
  libbeat/autodiscover/provider.go
  libbeat/autodiscover/providers/docker/docker.go
  libbeat/autodiscover/providers/docker/docker_integration_test.go
  libbeat/autodiscover/providers/jolokia/jolokia.go
  libbeat/autodiscover/providers/kubernetes/config_test.go
  libbeat/autodiscover/providers/kubernetes/kubernetes.go
  metricbeat/autodiscover/builder/hints/metrics.go
  metricbeat/beater/metricbeat.go
  x-pack/libbeat/autodiscover/providers/aws/ec2/provider.go
  x-pack/libbeat/autodiscover/providers/aws/elb/provider.go
  x-pack/libbeat/autodiscover/providers/nomad/nomad.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Fix backport conflicts
  libbeat/publisher/queue/diskqueue/queue_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Fix cherry-pick conflict in autodiscover paths backport
  filebeat/autodiscover/builder/hints/logs.go
  filebeat/beater/filebeat.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

github-actions: run UTs and ITs for x-pack/filebeat
  .github/workflows/x-pack-filebeat.yml
Due: none

small fix
  filebeat/input/filestream/prospector.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

add comment
  filebeat/tests/integration/filestream_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

improve changelog
  changelog/fragments/1778513575-prevent-stale-filestream-global-registry-state-migration.yaml
Due: none

minor changes
  .github/actions/unit-test/action.yml
  .github/workflows/x-pack-filebeat.yml
  .github/workflows/xpack-filebeat-macos-unit-tests.yml
Due: none

continue-on-error to support arm64 for now
  .github/actions/unit-test/action.yml
Due: none

apply review suggestions
  libbeat/reader/readjson/docker_json_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Stop docker watcher in docker autodiscover (#50578)
  libbeat/autodiscover/providers/docker/docker.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix conflicts
  x-pack/auditbeat/abreceiver/receiver_test.go
Due: Trigger x-pack/auditbeat

Update filebeat/tests/integration/take_over_fallback_test.go
  filebeat/tests/integration/take_over_fallback_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

docs: register security_stats metricset page in toc.yml
  docs/reference/toc.yml
Due: none

docs: replace "e.g." with "for example" per Vale style guide
  docs/reference/metricbeat/exported-fields-elasticsearch.md
  metricbeat/module/elasticsearch/_meta/fields.yml
  metricbeat/module/elasticsearch/fields.go
Due: Trigger Metricbeat, Trigger x-pack/metricbeat

metricbeat/elasticsearch: clean up pre-existing lint issues
  metricbeat/module/elasticsearch/elasticsearch_integration_test.go
Due: Trigger Metricbeat, Trigger x-pack/metricbeat

migrate monitoring tests from python to go
  .buildkite/libbeat/pipeline.libbeat.yml
  libbeat/magefile.go
  libbeat/tests/integration/monitoring_test.go
  libbeat/tests/system/base.py
  libbeat/tests/system/idxmgmt.py
  libbeat/tests/system/test_monitoring.py
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Fix flakiness on TestQueueDoesNotReplayLastEventAfterRestart
  libbeat/publisher/queue/diskqueue/queue_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

add dependencies
  .github/actions/unit-test/action.yml
Due: none

fix duplicated
  .github/workflows/x-pack-filebeat.yml
Due: none

ensure all files in testdata/ directories use LF line endings across all platforms. This will fix the test failure on Windows ARM64.
  .gitattributes
Due: none
