Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: /agent/check-catalog-info.sh, :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Path conditions:
  /agent/check-catalog-info.sh: any of: catalog-info.yaml
  :pipeline: Upload beats-auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-filebeat: any of: filebeat/, .buildkite/pipeline.yml, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-filebeat: any of: filebeat/, x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/pipeline.yml, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-metricbeat: any of: metricbeat/, x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-winlogbeat: any of: winlogbeat/, x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  :pipeline: Upload deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/pipeline.yml, .buildkite/scripts, deploy/kubernetes/**, metricbeat/module/kubernetes/**, libbeat/docs/version.asciidoc
  :pipeline: Upload beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  :pipeline: Upload beats-xpack-libbeat: any of: libbeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-auditbeat: any of: auditbeat/, x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-xpack-heartbeat: any of: heartbeat/, x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: packetbeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-agentbeat: any of: auditbeat/, filebeat/, heartbeat/, metricbeat/, osquerybeat/, packetbeat/, x-pack/agentbeat/, x-pack/auditbeat/, x-pack/filebeat/, x-pack/heartbeat/, x-pack/metricbeat/, x-pack/osquerybeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.agentbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/

lint: remove unused imports
  heartbeat/monitors/wrappers/wrappers_test.go
Due: :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-xpack-heartbeat, :pipeline: Upload beats-xpack-agentbeat

lint: remove unused imports
  libbeat/monitoring/report/log/log_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Update libbeat/otelbeat/helper.go
  libbeat/otelbeat/helper.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

comments
  libbeat/otelbeat/helper.go
  x-pack/libbeat/common/otelbeat/inspect.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

reorder probes
  auditbeat/module/file_integrity/kprobes/probes_fsnotify_parent.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-agentbeat

Remove region var through cli flag
  .buildkite/scripts/ech.sh
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Skip flaky test TestFilebeatOTelMultipleReceiversE2E (#45825)
  x-pack/filebeat/tests/integration/otel_test.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Enable Otel support in BuildSystemTestBinary (#45824)
  CHANGELOG-developer.next.asciidoc
  x-pack/filebeat/magefile.go
  x-pack/metricbeat/magefile.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

clean up error
  metricbeat/scripts/mage/docs_collector.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

feat: add status reporting to CloudWatch (#45679)
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/awscloudwatch/cloudwatch.go
  x-pack/filebeat/input/awscloudwatch/cloudwatch_worker.go
  x-pack/filebeat/input/awscloudwatch/input.go
  x-pack/filebeat/input/awscloudwatch/state_reporter.go
  x-pack/filebeat/input/awscloudwatch/state_reporter_test.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Fix merge conflicts
  filebeat/input/net/tcp/input.go
  filebeat/input/net/udp/input.go
  filebeat/input/netmetrics/netmetrics_test.go
  filebeat/input/netmetrics/tcp.go
  filebeat/input/netmetrics/udp.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Fix lint warnings
  filebeat/input/v2/compat/compat_test.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Update CHANGELOG.next.asciidoc
  CHANGELOG.next.asciidoc
Due: none

Skip Auditbeat flaky test Test_Monitor/TestNew (#45833)
  auditbeat/module/file_integrity/kprobes/monitor_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-agentbeat

disable embedded specs
  auditbeat/module/file_integrity/kprobes/verifier.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-agentbeat

add 9.1.1 release notes
  docs/release-notes/breaking-changes.md
  docs/release-notes/index.md
Due: none

[elastic-agent-libs] [monitoring] Add ClearOnVisitHistogram to adapter for go-metrics (#330)
  monitoring/adapter/go-metrics-wrapper.go
  monitoring/adapter/go-metrics.go
  monitoring/adapter/go-metrics_test.go
  monitoring/adapter/histogram.go
Due: none

Apply suggestions from code review
  docs/reference/filebeat/processor-parse-aws-vpc-flow-log.md
Due: none

Rename functions and move some around
  filebeat/input/filestream/legacy_metrics_integration_test.go
  filebeat/tests/integration/crawler_test.go
  filebeat/tests/integration/filestream_delete_scale_test.go
  filebeat/tests/integration/filestream_delete_test.go
  filebeat/tests/integration/filestream_gzip_test.go
  filebeat/tests/integration/filestream_test.go
  filebeat/tests/integration/filestream_truncation_test.go
  filebeat/tests/integration/input_reload_test.go
  filebeat/tests/integration/journald_test.go
  filebeat/tests/integration/setup_pipelines_test.go
  filebeat/tests/integration/store_test.go
  libbeat/tests/integration/README.md
  libbeat/tests/integration/base_test.go
  libbeat/tests/integration/ca_pinning_test.go
  libbeat/tests/integration/dashboard_test.go
  libbeat/tests/integration/datagenerator.go
  libbeat/tests/integration/elasticsearch.go
  libbeat/tests/integration/elasticsearch_test.go
  libbeat/tests/integration/framework.go
  libbeat/tests/integration/http_test.go
  libbeat/tests/integration/kafka_test.go
  libbeat/tests/integration/meta_test.go
  libbeat/tests/integration/template_test.go
  x-pack/filebeat/tests/integration/input_metrics_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Manually override STACK_VERSION for ECH deployment provisioning
  .buildkite/scripts/custom_fips_ech_test.sh
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

x-pack/filebeat/input/httpjson: allow template termination without logging error
  CHANGELOG.next.asciidoc
  docs/reference/filebeat/filebeat-input-httpjson.md
  x-pack/filebeat/input/httpjson/request.go
  x-pack/filebeat/input/httpjson/value_tpl.go
  x-pack/filebeat/input/httpjson/value_tpl_test.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

address pr comment
  docs/reference/filebeat/filebeat-input-httpjson.md
Due: none

Revert "Manually override STACK_VERSION for ECH deployment provisioning"
  .buildkite/scripts/custom_fips_ech_test.sh
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Update CHANGELOG.asciidoc
  CHANGELOG.asciidoc
Due: none

Update console_test.go
  libbeat/processors/script/javascript/module/console/console_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

print error message instead of pointer address
  x-pack/libbeat/outputs/otelconsumer/otelconsumer.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat

feat(parse_aws_vpc_flow_log): Add support for v6-v8 fields (#45746)
  CHANGELOG.next.asciidoc
  docs/reference/filebeat/processor-parse-aws-vpc-flow-log.md
  x-pack/filebeat/processors/aws_vpcflow/docs/parse_aws_vpc_flow_log.asciidoc
  x-pack/filebeat/processors/aws_vpcflow/mapping.go
  x-pack/filebeat/processors/aws_vpcflow/testdata/aws-vpc-flow-logs.yml
  x-pack/filebeat/processors/aws_vpcflow/testdata/v6-fields-ecs.golden.json
  x-pack/filebeat/processors/aws_vpcflow/testdata/v6-fields-ecs_and_original.golden.json
  x-pack/filebeat/processors/aws_vpcflow/testdata/v6-fields-original.golden.json
  x-pack/filebeat/processors/aws_vpcflow/testdata/v7-fields-ecs.golden.json
  x-pack/filebeat/processors/aws_vpcflow/testdata/v7-fields-ecs_and_original.golden.json
  x-pack/filebeat/processors/aws_vpcflow/testdata/v7-fields-original.golden.json
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

lint
  x-pack/libbeat/common/otelbeat/inspect.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat

Render data values in xml renderer. (#44132)
  CHANGELOG.next.asciidoc
  winlogbeat/sys/wineventlog/renderer.go
Due: :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-winlogbeat

Update Docker base image in docs to Red Hat UBI 9 minimal
  docs/reference/auditbeat/running-on-docker.md
  docs/reference/filebeat/running-on-docker.md
  docs/reference/heartbeat/running-on-docker.md
  docs/reference/metricbeat/running-on-docker.md
  docs/reference/packetbeat/running-on-docker.md
Due: none

make check
  metricbeat/include/list_init.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

replace sanitized string even when it is escaped
  x-pack/metricbeat/module/sql/query/query.go
  x-pack/metricbeat/module/sql/query/query_test.go
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat
