Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat, Trigger Agentbeat

Trigger Auditbeat:
  if: build.pull_request.id != null
  trigger: auditbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger Heartbeat:
  if: build.pull_request.id != null
  trigger: heartbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger Filebeat:
  if: build.pull_request.id != null
  trigger: filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger x-pack/filebeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger x-pack/dockerlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-dockerlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
  ...

Trigger Metricbeat:
  if: build.pull_request.id != null
  trigger: beats-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger x-pack/metricbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger x-pack/osquerybeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-osquerybeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Trigger x-pack/winlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-winlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env: BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST} BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH} GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

agent instructions and docs instructions
  .cursor/rules/agents-doc.mdc
  AGENTS.md
Due: none

Add aws authentication method documentation
  docs/reference/filebeat/filebeat-input-cel.md
  docs/reference/filebeat/filebeat-input-httpjson.md
Due: none

Update docs/reference/filebeat/filebeat-input-cel.md
  docs/reference/filebeat/filebeat-input-cel.md
Due: none

remove links
  docs/reference/filebeat/filebeat-input-cel.md
  docs/reference/filebeat/filebeat-input-httpjson.md
Due: none

Update docs/reference/filebeat/filebeat-input-httpjson.md
  docs/reference/filebeat/filebeat-input-httpjson.md
Due: none

agents.md
  AGENTS.md
Due: none

wip: refactor test registry helpers
  filebeat/testhelpers/helper.go
  filebeat/testing/integration/container_test.go
  filebeat/tests/integration/filestream_gzip_test.go
  filebeat/tests/integration/filestream_test.go
  filebeat/tests/integration/filestream_truncation_test.go
Due: Trigger Agentbeat

WIP: Ai refactor, not reviewed
  filebeat/input/filestream/fswatch_integration_test.go
  filebeat/input/filestream/input_integration_test.go
  filebeat/testhelpers/log_generator.go
  filebeat/testing/integration/fields_test.go
  filebeat/testing/integration/log_generator.go
  filebeat/testing/integration/sample_test.go
  filebeat/tests/integration/cache_processor_test.go
  filebeat/tests/integration/crawler_test.go
  filebeat/tests/integration/filebeat_test.go
  filebeat/tests/integration/filestream_delete_scale_test.go
  filebeat/tests/integration/filestream_delete_test.go
  filebeat/tests/integration/filestream_other_test.go
  filebeat/tests/integration/filestream_test.go
  filebeat/tests/integration/filestream_truncation_test.go
  filebeat/tests/integration/input_reload_test.go
  filebeat/tests/integration/log_run_as_filestream_test.go
  filebeat/tests/integration/store_test.go
  filebeat/tests/integration/translate_ldap_attribute_test.go
Due: Trigger Agentbeat

AI Code: Fix python test
  filebeat/tests/system/test_registrar.py
Due: Trigger Agentbeat

fix/race-condition-cel-metrics Fixed a race condition in exporter_factory.go GetExporter. Wrote a test to catch race condition then fixed the condition
  x-pack/filebeat/otel/exporter_factory.go
  x-pack/filebeat/otel/exporter_factory_test.go
Due: Trigger Agentbeat

fix/race-condition-cel-metrics added changelog fragment
  changelog/fragments/1764199697-fix-race-condition-exporter-factory.yaml
Due: none

docs: update docs
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix: make update changes
  deploy/kubernetes/heartbeat-kubernetes.yaml
Due: Trigger Deploy/K8S

[Release] update test environment
  metricbeat/docker-compose.yml
  testing/environments/latest.yml
  x-pack/metricbeat/docker-compose.yml
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat, Trigger Agentbeat

[Release] update version
  libbeat/version/version.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Path conditions:
  Trigger Auditbeat: any of: .go-version, auditbeat/**, .buildkite/auditbeat/**, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Heartbeat: any of: .go-version, heartbeat/**, .buildkite/heartbeat/**, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Filebeat: any of: .go-version, filebeat/, .buildkite/filebeat/, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  Trigger x-pack/filebeat: any of: .go-version, filebeat/, x-pack/filebeat/, x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger x-pack/dockerlogbeat: any of: .go-version, x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/**, .buildkite/scripts/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Metricbeat: any of: .go-version, metricbeat/**, .buildkite/metricbeat/, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger x-pack/metricbeat: any of: .go-version, metricbeat/**, x-pack/metricbeat/**, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger x-pack/osquerybeat: any of: .go-version, x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger x-pack/winlogbeat: any of: .go-version, winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Deploy/K8S: any of: .go-version, .buildkite/deploy/kubernetes/**, .buildkite/hooks/**, .buildkite/scripts/**, deploy/kubernetes/**, metricbeat/module/kubernetes/**, libbeat/docs/version.asciidoc
  Trigger Libbeat: any of: .go-version, libbeat/**, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, testing/**
  Trigger x-pack/libbeat: any of: .go-version, libbeat/**, x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger x-pack/otel: any of: .go-version, x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, dev-tools/**, testing/**
  Trigger x-pack/auditbeat: any of: .go-version, auditbeat/**, x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, x-pack/libbeat/**
  Trigger x-pack/heartbeat: any of: .go-version, heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, x-pack/libbeat/**
  Trigger x-pack/packetbeat: any of: .go-version, packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, x-pack/libbeat/**
  Trigger Winlogbeat: any of: .go-version, winlogbeat/**, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Packetbeat: any of: .go-version, packetbeat/**, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  Trigger Agentbeat: any of: .go-version, auditbeat/**, filebeat/**, heartbeat/**, metricbeat/**, osquerybeat/**, packetbeat/**, x-pack/agentbeat/**, x-pack/auditbeat/**, x-pack/filebeat/**, x-pack/heartbeat/**, x-pack/metricbeat/**, x-pack/osquerybeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.agentbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**
