Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

auditbeat:
  trigger: auditbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

heartbeat:
  trigger: heartbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

filebeat:
  trigger: filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-filebeat:
  trigger: beats-xpack-filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-dockerlogbeat:
  trigger: beats-xpack-dockerlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-metricbeat:
  trigger: beats-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-metricbeat:
  trigger: beats-xpack-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-osquerybeat:
  trigger: beats-xpack-osquerybeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-winlogbeat:
  trigger: beats-xpack-winlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Address lint Waring's
  filebeat/input/journald/config.go
  filebeat/input/journald/environment_test.go
  filebeat/input/journald/input.go
  filebeat/input/journald/input_test.go
  filebeat/input/journald/pkg/journalctl/mode.go
  filebeat/input/journald/pkg/journalctl/reader.go
  filebeat/input/journald/pkg/journalfield/matcher.go
Due: filebeat

Refactor/clean up code
  filebeat/input/journald/config.go
  filebeat/input/journald/input.go
  filebeat/input/journald/input_filtering_test.go
  filebeat/input/journald/input_test.go
  filebeat/input/journald/pkg/journalctl/reader.go
  filebeat/input/journald/pkg/journalfield/default_other.go
  filebeat/input/journald/pkg/journalfield/matcher.go
  filebeat/input/journald/pkg/journalfield/matcher_test.go
  filebeat/input/journald/testdata/input-multiline-parser-events.json
Due: filebeat

Add changelog
  CHANGELOG-developer.next.asciidoc
  CHANGELOG.next.asciidoc
Due: none

Update reference files
  filebeat/filebeat.reference.yml
  x-pack/filebeat/filebeat.reference.yml
Due: filebeat, beats-xpack-filebeat

Unblocks `Next` if cancel is cancelled and add documentation
  filebeat/input/journald/pkg/journalctl/reader.go
Due: filebeat

Gracefully terminate input and use map[string]any for events
  filebeat/input/journald/input.go
  filebeat/input/journald/pkg/journalctl/reader.go
  filebeat/input/journald/pkg/journalfield/conv.go
  filebeat/input/journald/pkg/journalfield/conv_test.go
Due: filebeat

Add tests for reading entries with non-string data
  filebeat/input/journald/pkg/journalctl/reader_test.go
  filebeat/input/journald/pkg/journalctl/testdata/coredump.json
Due: filebeat

Handle case where the message is not a string
  filebeat/input/journald/input.go
  filebeat/input/journald/input_test.go
  filebeat/input/journald/journalReadMock_test.go
  filebeat/input/journald/pkg/journalctl/reader_test.go
  filebeat/input/journald/pkg/journalctl/testdata/corner-cases.json
Due: filebeat

Improve documentation
  filebeat/input/journald/input.go
  filebeat/input/journald/pkg/journalctl/reader.go
Due: filebeat

update changelog
  CHANGELOG.next.asciidoc
Due: none

format/update files
  filebeat/input/journald/input.go
  filebeat/input/journald/journalReadMock_test.go
  filebeat/input/journald/pkg/journalctl/reader_test.go
Due: filebeat

Better log errors
  filebeat/input/journald/input.go
  filebeat/input/journald/pkg/journalctl/reader.go
Due: filebeat

Implement review suggestions
  filebeat/input/journald/pkg/journalctl/reader.go
Due: filebeat

Fix error handling when journalctl
  filebeat/input/journald/pkg/journalctl/reader.go
Due: filebeat

Add mention about journalctl to the documentation
  filebeat/docs/inputs/input-journald.asciidoc
Due: filebeat

fix type mismatch in test
  filebeat/input/journald/pkg/journalctl/reader_test.go
Due: filebeat

Fix issue with timestamp comparison on tests.
  filebeat/input/journald/input_test.go
Due: filebeat

Improve seek since times to avoid issues on different hosts
  filebeat/input/journald/input_filtering_test.go
Due: filebeat

Add build tags to mock file
  filebeat/input/journald/journalReadMock_test.go
Due: filebeat

Add debug logs to tests
  filebeat/input/journald/input_filtering_test.go
Due: filebeat

Fix race condition on Close
  filebeat/input/journald/pkg/journalctl/reader.go
Due: filebeat

fix broken since timestamp
  filebeat/input/journald/input_filtering_test.go
  filebeat/input/journald/pkg/journalctl/reader.go
Due: filebeat

Add Ubuntu 2204 to Vagrant
  Vagrantfile
Due: none

Improve docs and fix typos
  CHANGELOG.next.asciidoc
  filebeat/input/journald/pkg/journalctl/reader.go
Due: filebeat

Add log stating it can take a while to shutdown journald
  filebeat/input/journald/pkg/journalctl/reader.go
Due: filebeat

Add syscalls required to call journalctl
  libbeat/common/seccomp/policy_linux_386.go
  libbeat/common/seccomp/policy_linux_amd64.go
  libbeat/common/seccomp/seccomp-profiler-allow.txt
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Pick the right value from range loop
  x-pack/filebeat/input/azureeventhub/decoder_test.go
  x-pack/filebeat/input/azureeventhub/v2_input.go
Due: beats-xpack-filebeat

Run seccomp tests on Aarch64
  libbeat/tests/system/test_seccomp.py
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

x-pack/filebeat/input/{websocket=>streaming}: rename package (#40421)
  CHANGELOG-developer.next.asciidoc
  filebeat/docs/filebeat-options.asciidoc
  x-pack/agentbeat/agentbeat.spec.yml
  x-pack/filebeat/docs/inputs/input-streaming.asciidoc
  x-pack/filebeat/input/default-inputs/inputs_other.go
  x-pack/filebeat/input/streaming/cel.go
  x-pack/filebeat/input/streaming/config.go
  x-pack/filebeat/input/streaming/config_test.go
  x-pack/filebeat/input/streaming/input.go
  x-pack/filebeat/input/streaming/input_manager.go
  x-pack/filebeat/input/streaming/input_test.go
  x-pack/filebeat/input/streaming/metrics.go
  x-pack/filebeat/input/streaming/redact.go
  x-pack/filebeat/input/streaming/redact_test.go
  x-pack/filebeat/input/streaming/websocket.go
Due: filebeat, beats-xpack-filebeat

in progress
  x-pack/filebeat/input/awss3/acks.go
  x-pack/filebeat/input/awss3/sqs_input.go
  x-pack/filebeat/input/awss3/sqs_s3_event.go
Due: beats-xpack-filebeat

fix seccomp
  x-pack/auditbeat/module/system/package/package.go
  x-pack/auditbeat/module/system/package/package_linux_test.go
  x-pack/auditbeat/seccomp_linux.go
Due: beats-xpack-auditbeat

Fix code review.
  x-pack/elastic-agent/pkg/agent/application/upgrade/rollback.go
  x-pack/elastic-agent/pkg/agent/application/upgrade/service.go
  x-pack/elastic-agent/pkg/agent/application/upgrade/service_windows.go
  x-pack/elastic-agent/pkg/agent/application/upgrade/upgrade.go
Due: none

Upgrade azure-eventhub to the new Event Hub SDK (#39796)
  NOTICE.txt
  go.mod
  go.sum
  x-pack/filebeat/input/azureeventhub/README.md
  x-pack/filebeat/input/azureeventhub/config.go
  x-pack/filebeat/input/azureeventhub/config_test.go
  x-pack/filebeat/input/azureeventhub/decoder.go
  x-pack/filebeat/input/azureeventhub/decoder_test.go
  x-pack/filebeat/input/azureeventhub/input.go
  x-pack/filebeat/input/azureeventhub/input_test.go
  x-pack/filebeat/input/azureeventhub/metrics.go
  x-pack/filebeat/input/azureeventhub/metrics_test.go
  x-pack/filebeat/input/azureeventhub/sanitization_test.go
  x-pack/filebeat/input/azureeventhub/v1_input.go
  x-pack/filebeat/input/azureeventhub/v1_input_test.go
  x-pack/filebeat/input/azureeventhub/v2_input.go
  x-pack/filebeat/input/azureeventhub/v2_migration.go
  x-pack/filebeat/module/azure/activitylogs/config/azure-eventhub.yml
  x-pack/filebeat/module/azure/activitylogs/manifest.yml
  x-pack/filebeat/module/azure/auditlogs/config/azure-eventhub.yml
  x-pack/filebeat/module/azure/auditlogs/manifest.yml
  x-pack/filebeat/module/azure/platformlogs/config/azure-eventhub.yml
  x-pack/filebeat/module/azure/platformlogs/manifest.yml
  x-pack/filebeat/module/azure/signinlogs/config/azure-eventhub.yml
  x-pack/filebeat/module/azure/signinlogs/manifest.yml
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

[vSphere][ResourcePool]: - Add new Metricset - add/update docs - add unit tests - local testing
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/vsphere.asciidoc
  metricbeat/docs/modules/vsphere/resourcepool.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/list_common.go
  metricbeat/module/vsphere/fields.go
  metricbeat/module/vsphere/resourcepool/_meta/data.json
  metricbeat/module/vsphere/resourcepool/_meta/docs.asciidoc
  metricbeat/module/vsphere/resourcepool/_meta/fields.yml
  metricbeat/module/vsphere/resourcepool/data.go
  metricbeat/module/vsphere/resourcepool/data_test.go
  metricbeat/module/vsphere/resourcepool/resourcepool.go
  metricbeat/module/vsphere/resourcepool/resourcepool_test.go
Due: beats-metricbeat

update changelog entry
  CHANGELOG.next.asciidoc
Due: none

add changelog entry
  CHANGELOG.next.asciidoc
Due: none

metricbeat: mage update
  metricbeat/docs/fields.asciidoc
  metricbeat/module/vsphere/fields.go
Due: beats-metricbeat

golangci-lint fix
  metricbeat/module/vsphere/resourcepool/data.go
  metricbeat/module/vsphere/resourcepool/resourcepool.go
Due: beats-metricbeat

Path conditions:
  auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  filebeat: any of: filebeat/, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  beats-xpack-filebeat: any of: x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-metricbeat: any of: x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-winlogbeat: any of: x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/scripts, deploy/kubernetes/**, libbeat/docs/version.asciidoc
  beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  beats-xpack-libbeat: any of: x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-xpack-auditbeat: any of: x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-heartbeat: any of: x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
