Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Path conditions:
  Trigger Auditbeat: any of: auditbeat/**, .buildkite/auditbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Heartbeat: any of: heartbeat/**, .buildkite/heartbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Filebeat: any of: filebeat/**, .buildkite/filebeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/filebeat: any of: filebeat/**, x-pack/filebeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/dockerlogbeat: any of: x-pack/dockerlogbeat/**, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Metricbeat: any of: metricbeat/**, .buildkite/metricbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/metricbeat: any of: metricbeat/**, x-pack/metricbeat/**, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/winlogbeat: any of: winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Deploy/K8S: any of: deploy/kubernetes/**, metricbeat/module/kubernetes/**, .go-version, libbeat/docs/version.asciidoc, .buildkite/deploy/kubernetes/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Libbeat: any of: libbeat/**, .buildkite/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/libbeat: any of: x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .go-version, libbeat/**, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/otel: any of: x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .go-version, go.mod, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/auditbeat: any of: auditbeat/**, x-pack/auditbeat/**, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/heartbeat: any of: heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/packetbeat: any of: packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Winlogbeat: any of: winlogbeat/**, .buildkite/winlogbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Packetbeat: any of: packetbeat/**, .buildkite/packetbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**

Remove unnecessary changes from 8.19 backport of #50300
  dev-tools/packaging/package_test.go
  filebeat/input/journald/pkg/journalctl/chroot_test.go
  filebeat/tests/integration/autodiscover_test.go
  filebeat/tests/integration/chroot_test.go
  go.mod
  go.sum
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Implements a custom queue that works better for beatreceivers.
  libbeat/otel/otelconsumer/otelconsumer.go
  libbeat/otel/otelconsumer/otelconsumer_test.go
  libbeat/publisher/event.go
  libbeat/publisher/pipeline/consumer.go
  libbeat/publisher/pipeline/consumer_test.go
  libbeat/publisher/pipeline/output_otel.go
  libbeat/publisher/pipeline/output_otel_test.go
  libbeat/publisher/pipeline/pipeline.go
  libbeat/publisher/pipeline/ttl_batch.go
  libbeat/publisher/pipeline/ttl_batch_test.go
  libbeat/publisher/queue/otelqueue/batch.go
  libbeat/publisher/queue/otelqueue/benchmark_test.go
  libbeat/publisher/queue/otelqueue/otelqueue.go
  libbeat/publisher/queue/otelqueue/otelqueue_test.go
  libbeat/publisher/queue/otelqueue/pool.go
  libbeat/publisher/queue/otelqueue/producer.go
  libbeat/publisher/queue/otelqueue/queue.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Remove Markdown SSL docs not applicable to 8.19 branch
  docs/reference/auditbeat/configuration-ssl.md
  docs/reference/filebeat/configuration-ssl.md
  docs/reference/heartbeat/configuration-ssl.md
  docs/reference/packetbeat/configuration-ssl.md
  docs/reference/winlogbeat/configuration-ssl.md
Due: none

Fix deprecated macro syntax: deprecated[ -> deprecated:[
  libbeat/docs/shared-ssl-config.asciidoc
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix(osquerybeat): align RRULE query defaults with pack config
  x-pack/osquerybeat/_meta/config/beat.reference.yml.tmpl
  x-pack/osquerybeat/beater/osquerybeat.go
  x-pack/osquerybeat/beater/recurrence_query_handler.go
  x-pack/osquerybeat/beater/recurrence_query_handler_test.go
  x-pack/osquerybeat/internal/config/osquery.go
  x-pack/osquerybeat/internal/config/pack_schedule.go
  x-pack/osquerybeat/internal/config/pack_schedule_test.go
  x-pack/osquerybeat/internal/scheduler/scheduler.go
  x-pack/osquerybeat/internal/scheduler/scheduler_test.go
  x-pack/osquerybeat/osquerybeat.reference.yml
Due: Trigger x-pack/osquerybeat

Simplify
  filebeat/beater/crawler.go
  filebeat/channel/runner.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

[ci][packaging] Update `vault-docker-login` plugin to v0.8.0 (#51014)
  .buildkite/auditbeat/auditbeat-pipeline.yml
  .buildkite/filebeat/filebeat-pipeline.yml
  .buildkite/heartbeat/heartbeat-pipeline.yml
  .buildkite/metricbeat/pipeline.yml
  .buildkite/packaging.pipeline.yml
  .buildkite/packetbeat/pipeline.packetbeat.yml
  .buildkite/winlogbeat/pipeline.winlogbeat.yml
  .buildkite/x-pack/pipeline.xpack.auditbeat.yml
  .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml
  .buildkite/x-pack/pipeline.xpack.filebeat.yml
  .buildkite/x-pack/pipeline.xpack.heartbeat.yml
  .buildkite/x-pack/pipeline.xpack.metricbeat.yml
  .buildkite/x-pack/pipeline.xpack.osquerybeat.yml
  .buildkite/x-pack/pipeline.xpack.packetbeat.yml
  .buildkite/x-pack/pipeline.xpack.winlogbeat.yml
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

update
  docs/reference/metricbeat/metricbeat-metricset-containerd-blkio.md
  docs/reference/metricbeat/metricbeat-metricset-containerd-memory.md
  docs/reference/metricbeat/metricbeat-metricset-dropwizard-collector.md
  docs/reference/metricbeat/metricbeat-metricset-istio-citadel.md
  docs/reference/metricbeat/metricbeat-metricset-istio-galley.md
  docs/reference/metricbeat/metricbeat-metricset-istio-mesh.md
  docs/reference/metricbeat/metricbeat-metricset-istio-mixer.md
  docs/reference/metricbeat/metricbeat-metricset-istio-pilot.md
  docs/reference/metricbeat/metricbeat-metricset-kubernetes-apiserver.md
  docs/reference/metricbeat/metricbeat-metricset-kubernetes-controllermanager.md
  docs/reference/metricbeat/metricbeat-metricset-kubernetes-proxy.md
  docs/reference/metricbeat/metricbeat-metricset-kubernetes-scheduler.md
  docs/reference/metricbeat/metricbeat-metricset-openmetrics-collector.md
  docs/reference/metricbeat/metricbeat-metricset-php_fpm-process.md
  docs/reference/metricbeat/metricbeat-metricset-prometheus-collector.md
  docs/reference/metricbeat/metricbeat-metricset-rabbitmq-connection.md
Due: none

filebeat: add integration tests for per-input shared processors
  filebeat/tests/integration/input_processors_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

revert heartbeat change
  heartbeat/beater/heartbeat.go
Due: Trigger Heartbeat, Trigger x-pack/heartbeat

address doc comments
  docs/reference/winlogbeat/configuration-winlogbeat-options.md
Due: none

Simpler log checks
  filebeat/tests/integration/input_processors_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

winlogbeat: fix XML rendering on Windows arm64
  changelog/fragments/1780393903-fix-winlog-xml-rendering-on-windows-arm64.yaml
  winlogbeat/sys/wineventlog/wineventlog_windows.go
  winlogbeat/sys/wineventlog/wineventlog_windows_test.go
Due: Trigger x-pack/winlogbeat, Trigger Winlogbeat

feat(libbeat): add nooteloutput build tag to libbeat (#50853)
  libbeat/publisher/pipeline/output_nootel.go
  libbeat/publisher/pipeline/output_otel.go
  libbeat/publisher/pipeline/output_otel_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

adjust naming and TODO
  filebeat/input/filestream/fswatch.go
  filebeat/input/filestream/input.go
  filebeat/input/filestream/prospector.go
  filebeat/input/filestream/prospector_test.go
  filebeat/input/filestream/short_fingerprint_index.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

clean up
  filebeat/input/filestream/fswatch.go
  filebeat/input/filestream/prospector_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

add proper implementation of isFloatWholeNumber
  libbeat/otel/otelmap/otelmap.go
  libbeat/otel/otelmap/otelmap_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Respect setup.pipelines.enabled for pipeline loading
  changelog/fragments/1780401583-respect-setup-pipelines-enabled.yaml
  filebeat/beater/filebeat.go
  libbeat/beat/beat.go
  libbeat/beat/beat_test.go
  packetbeat/beater/packetbeat.go
  winlogbeat/beater/winlogbeat.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

migrate libbeat monitoring tests from python to go (#50177)
  .buildkite/libbeat/pipeline.libbeat.yml
  libbeat/magefile.go
  libbeat/tests/integration/monitoring_test.go
  libbeat/tests/system/base.py
  libbeat/tests/system/idxmgmt.py
  libbeat/tests/system/test_monitoring.py
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Fix typos
  filebeat/input/filestream/internal/input-logfile/fswatch.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

check for ssl enabled, add tests for precedence
  x-pack/otel/extension/beatsauthextension/authenticator.go
  x-pack/otel/extension/beatsauthextension/authenticator_test.go
Due: Trigger x-pack/otel

remove changelog for internal component
  changelog/fragments/1778260473-beatsauth-cert-reload.yaml
Due: none

remove unused func
  libbeat/otel/otelconsumer/otelconsumer_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

libbeat/publisher/queue/memqueue: use per-producer response channel (#50976)
  libbeat/publisher/queue/memqueue/produce.go
  libbeat/publisher/queue/memqueue/produce_test.go
  libbeat/publisher/queue/memqueue/queue_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Draft implementation plan
  .tmp-ai-io/filestream-harvester-metrics-36653-implementation-plan.md
Due: none
