Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Path conditions:
  auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  filebeat: any of: filebeat/, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-filebeat: any of: filebeat/, x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-metricbeat: any of: metricbeat/, x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-winlogbeat: any of: winlogbeat/, x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  :pipeline: Upload deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/scripts, deploy/kubernetes/**, metricbeat/module/kubernetes/**, libbeat/docs/version.asciidoc
  :pipeline: Upload beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  :pipeline: Upload beats-xpack-libbeat: any of: libbeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-auditbeat: any of: auditbeat/, x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-xpack-heartbeat: any of: heartbeat/, x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: packetbeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-agentbeat: any of: auditbeat/, filebeat/, heartbeat/, metricbeat/, osquerybeat/, packetbeat/, x-pack/agentbeat/, x-pack/auditbeat/, x-pack/filebeat/, x-pack/heartbeat/, x-pack/metricbeat/, x-pack/osquerybeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.agentbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/

Re-add version variables
  docs/docset.yml
  docs/reference/auditbeat/auditbeat-installation-configuration.md
  docs/reference/filebeat/filebeat-installation-configuration.md
  docs/reference/heartbeat/heartbeat-installation-configuration.md
  docs/reference/metricbeat/metricbeat-installation-configuration.md
  docs/reference/packetbeat/packetbeat-installation-configuration.md
Due: none

Run make check
  NOTICE.txt
Due: none

Update golangci-lint to the latest V1 release: `v1.64.8`
  .github/workflows/golangci-lint.yml
Due: none

Remove duplicated function after merge
  filebeat/tests/integration/filestream_test.go
Due: filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

remove redirects
  docs/redirects.yml
Due: none

add libbeat/output & libbeat/template
  libbeat/cmd/test/output.go
  libbeat/idxmgmt/client_handler.go
  libbeat/idxmgmt/idxmgmt.go
  libbeat/idxmgmt/lifecycle/es_client_handler.go
  libbeat/idxmgmt/lifecycle/file_client_handler.go
  libbeat/mock/mockbeat.go
  libbeat/outputs/console/console.go
  libbeat/outputs/console/console_test.go
  libbeat/outputs/discard/discard.go
  libbeat/outputs/elasticsearch/bulk_test.go
  libbeat/outputs/elasticsearch/client.go
  libbeat/outputs/elasticsearch/client_integration_test.go
  libbeat/outputs/elasticsearch/client_proxy_test.go
  libbeat/outputs/elasticsearch/client_test.go
  libbeat/outputs/elasticsearch/elasticsearch.go
  libbeat/outputs/fileout/file.go
  libbeat/outputs/kafka/client.go
  libbeat/outputs/kafka/config_test.go
  libbeat/outputs/kafka/kafka.go
  libbeat/outputs/kafka/kafka_integration_test.go
  libbeat/outputs/kafka/partition_test.go
  libbeat/outputs/logstash/async.go
  libbeat/outputs/logstash/async_test.go
  libbeat/outputs/logstash/client_test.go
  libbeat/outputs/logstash/common_test.go
  libbeat/outputs/logstash/deadlock_test.go
  libbeat/outputs/logstash/logstash_integration_test.go
  libbeat/outputs/logstash/logstash_test.go
  libbeat/outputs/logstash/sync.go
  libbeat/outputs/logstash/window_test.go
  libbeat/outputs/otelconsumer/otelconsumer.go
  libbeat/outputs/otelconsumer/otelconsumer_test.go
  libbeat/outputs/redis/client.go
  libbeat/outputs/redis/redis.go
  libbeat/outputs/redis/redis_test.go
  libbeat/outputs/util_test.go
  libbeat/template/load.go
  libbeat/template/load_integration_test.go
  libbeat/template/load_test.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

fix tests
  libbeat/outputs/logstash/sync_test.go
  libbeat/outputs/redis/redis_integration_test.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Add missing install steps (#43386)
  docs/docset.yml
  docs/reference/auditbeat/auditbeat-installation-configuration.md
  docs/reference/auditbeat/running-on-docker.md
  docs/reference/auditbeat/setup-repositories.md
  docs/reference/filebeat/filebeat-installation-configuration.md
  docs/reference/filebeat/running-on-docker.md
  docs/reference/filebeat/setup-repositories.md
  docs/reference/heartbeat/heartbeat-installation-configuration.md
  docs/reference/heartbeat/running-on-docker.md
  docs/reference/heartbeat/setup-repositories.md
  docs/reference/metricbeat/metricbeat-installation-configuration.md
  docs/reference/metricbeat/running-on-docker.md
  docs/reference/metricbeat/setup-repositories.md
  docs/reference/packetbeat/packetbeat-installation-configuration.md
  docs/reference/packetbeat/running-on-docker.md
  docs/reference/packetbeat/setup-repositories.md
  docs/reference/winlogbeat/winlogbeat-installation-configuration.md
Due: none

docs/reference/filebeat/cel: document resource.proxy_url and update example syntax (#43474)
  docs/reference/filebeat/filebeat-input-cel.md
Due: none

pr changes
  filebeat/input/v2/compat/compat.go
  filebeat/input/v2/input-cursor/input.go
  filebeat/input/v2/input.go
  libbeat/beat/info.go
  libbeat/monitoring/inputmon/input.go
  libbeat/monitoring/inputmon/input_test.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

x-pack/filebeat/docs/inputs/cel: document resource.proxy_url and update example syntax
  x-pack/filebeat/docs/inputs/input-cel.asciidoc
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

add doc
  libbeat/monitoring/inputmon/input.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Resolve merge conflicts in CHANGELOG.asciidoc
  CHANGELOG.asciidoc
Due: none

Add release notes for version 9.0.0-beta1
  libbeat/docs/release.asciidoc
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

add libbeat/dashboards & libbeat/cfgfile
  filebeat/beater/crawler.go
  filebeat/beater/filebeat.go
Due: filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

add libbeat/dashboards & libbeat/cfgfile
  heartbeat/beater/heartbeat.go
  libbeat/autodiscover/autodiscover.go
  libbeat/cfgfile/glob_manager.go
  libbeat/cfgfile/glob_manager_test.go
  libbeat/cfgfile/glob_watcher.go
  libbeat/cfgfile/glob_watcher_test.go
  libbeat/cfgfile/list.go
  libbeat/cfgfile/list_test.go
  libbeat/cfgfile/reload.go
  libbeat/dashboards/dashboards.go
  libbeat/dashboards/kibana_loader.go
  metricbeat/beater/metricbeat.go
  packetbeat/beater/packetbeat.go
  packetbeat/beater/reloader.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

fix lint
  filebeat/beater/filebeat.go
  filebeat/cmd/modules.go
  metricbeat/beater/metricbeat.go
  metricbeat/cmd/modules.go
  metricbeat/cmd/test/modules.go
  metricbeat/mb/module/configuration.go
Due: filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

add libbeat/persistentcache
  x-pack/libbeat/common/cloudfoundry/cache.go
  x-pack/libbeat/common/cloudfoundry/cache_test.go
  x-pack/libbeat/persistentcache/persistentcache.go
  x-pack/libbeat/persistentcache/persistentcache_test.go
  x-pack/libbeat/persistentcache/store_test.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat

mage check
  libbeat/autodiscover/autodiscover.go
  libbeat/autodiscover/autodiscover_test.go
  libbeat/cfgfile/glob_manager_test.go
  libbeat/cfgfile/glob_watcher_test.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

mage check
  filebeat/beater/filebeat.go
  heartbeat/beater/heartbeat.go
  metricbeat/beater/metricbeat.go
Due: heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: Upload beats-xpack-heartbeat, :pipeline: Upload beats-xpack-agentbeat

Add CHANGELOG-developer.next.asciidoc entry.
  CHANGELOG-developer.next.asciidoc
Due: none

Misc review responses.
  x-pack/filebeat/input/o365audit/auth/cert.go
  x-pack/filebeat/input/o365audit/config.go
  x-pack/filebeat/input/o365audit/contentblob.go
  x-pack/filebeat/input/o365audit/listblobs.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Use propagated context when getting a token.
  x-pack/filebeat/input/o365audit/auth/auth.go
  x-pack/filebeat/input/o365audit/input.go
  x-pack/filebeat/input/o365audit/poll/poll.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Fix for linter.
  x-pack/filebeat/input/o365audit/auth/cert.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Update NOTICE.txt.
  NOTICE.txt
Due: none

Make it sleep for real.
  x-pack/filebeat/input/o365audit/poll/poll.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Remove the direct dependency on github.com/Azure/go-autorest/autorest/adal.
  go.mod
  x-pack/filebeat/input/o365audit/auth/auth.go
  x-pack/filebeat/input/o365audit/auth/cert.go
  x-pack/filebeat/input/o365audit/auth/secret.go
  x-pack/filebeat/input/o365audit/contentblob.go
  x-pack/filebeat/input/o365audit/listblobs.go
  x-pack/filebeat/input/o365audit/poll/poll.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Update version.asciidoc
  libbeat/docs/version.asciidoc
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

feat(fips): disable kvm module in fips mode (#43480)
  metricbeat/module/kvm/dommemstat/doc.go
  metricbeat/module/kvm/dommemstat/dommemstat.go
  metricbeat/module/kvm/dommemstat/dommemstat_test.go
  metricbeat/module/kvm/status/doc.go
  metricbeat/module/kvm/status/status.go
  metricbeat/module/kvm/status/status_test.go
Due: :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Fix merge conflicts
  docs/docset.yml
Due: none

Remove direct dependency on Azure/go-autorest/autorest/adal (#42959)
  CHANGELOG-developer.next.asciidoc
  NOTICE.txt
  go.mod
  x-pack/filebeat/input/o365audit/auth/auth.go
  x-pack/filebeat/input/o365audit/auth/cert.go
  x-pack/filebeat/input/o365audit/auth/secret.go
  x-pack/filebeat/input/o365audit/config.go
  x-pack/filebeat/input/o365audit/contentblob.go
  x-pack/filebeat/input/o365audit/input.go
  x-pack/filebeat/input/o365audit/listblobs.go
  x-pack/filebeat/input/o365audit/poll/poll.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat
