Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Trigger Auditbeat:
  if: build.pull_request.id != null
  trigger: auditbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
      GITHUB_PR_LABELS: ${GITHUB_PR_LABELS}

Trigger Heartbeat:
  if: build.pull_request.id != null
  trigger: heartbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
      GITHUB_PR_LABELS: ${GITHUB_PR_LABELS}

Trigger Filebeat:
  if: build.pull_request.id != null
  trigger: filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
      GITHUB_PR_LABELS: ${GITHUB_PR_LABELS}

Trigger x-pack/filebeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/dockerlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-dockerlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger Metricbeat:
  if: build.pull_request.id != null
  trigger: beats-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/metricbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/osquerybeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-osquerybeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/winlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-winlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Context
  filebeat/input/net/tcp/input_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Remove cast
  heartbeat/monitors/active/http/http_test.go
Due: Trigger Heartbeat, Trigger x-pack/heartbeat

comments
  heartbeat/monitors/active/tcp/tcp_test.go
  libbeat/tests/integration/framework.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

filebeat/filestream: use t.Logf instead of fmt.Printf in integration test
  filebeat/tests/integration/filestream_fingerprint_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

filebeat/filestream: fix lint and a test-mock data race in prospector_test
  filebeat/input/filestream/prospector_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

filebeat/filestream: fix fingerprint.offset typo in reference config
  filebeat/_meta/config/filebeat.inputs.reference.yml.tmpl
  filebeat/filebeat.reference.yml
  x-pack/filebeat/filebeat.reference.yml
Due: Trigger Filebeat, Trigger x-pack/filebeat

Enable status reporting for heartbeat receiver (#51406)
  heartbeat/beater/heartbeat.go
  heartbeat/beater/heartbeat_test.go
  x-pack/heartbeat/hbreceiver/status_test.go
Due: Trigger Heartbeat, Trigger x-pack/heartbeat

add the 8.19.18 Beats release notes
  changelog/8.19.18.asciidoc
  changelog/8.19.18.yaml
  changelog/fragments/1770015799-fix-max-body-bytes-functionality-and-documentation.yaml
  changelog/fragments/1774301037-id6318-director-httpjson.yaml
  changelog/fragments/1781012000-metricbeat-mongodb-collstats-aggregation.yaml
  changelog/fragments/1781135498-fix-websocket-reconnect-context-cancellation.yaml
  changelog/fragments/1781492627-fix-websocket-shutdown-read-hang.yaml
  changelog/fragments/1781494902-50867-cel.yaml
  changelog/fragments/1781519050-fix-missing-state-service-storageclass-events.yaml
  changelog/fragments/1781605073-fix-filestream-cursormeta-data-race.yaml
  changelog/fragments/1781772093-heartbeat-http-tls-with-redirects.yaml
  changelog/fragments/1782162059-s11759-cel-httpjson.yaml
  changelog/fragments/1782163090-strip-sensitive-headers-cross-origin-redirect.yaml
  changelog/fragments/1782164854-crowdstrike-streaming-validate-resource-origins.yaml
  changelog/fragments/1782166371-http_endpoint-constant-time-auth.yaml
  changelog/fragments/1782231377-fix-panic-with-logging.metrics.period-is-0.yaml
  changelog/fragments/1782276173-fix-tracer-path-validation.yaml
  changelog/fragments/1782287808-fix-kafka-output-publish-close-race.yaml
  changelog/fragments/1782382102-go-lumber-v0.2.0.yaml
Due: none

fix path separator
  x-pack/osquerybeat/magefile.go
Due: Trigger x-pack/osquerybeat

remove duplicate entries
  changelog/8.19.18.asciidoc
  changelog/8.19.18.yaml
Due: none

skip tests on windows that require es docker image
  x-pack/osquerybeat/magefile.go
  x-pack/osquerybeat/tests/integration/otel_test.go
Due: Trigger x-pack/osquerybeat

Apply suggestions from code review
  docs/release-notes/_snippets/9.3.7/index.md
Due: none

osquery extension: serialize integer zero values as "0" in table output
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/examples/README.md
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/examples/docs/tables/sample_custom_table.md
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/examples/docs/tables/sample_jumplists.md
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/examples/docs/tables/sample_recent_files.md
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/examples/docs/views/sample_combined_resources.md
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/examples/tables/generated/jumplists/sample_jumplists/sample_jumplists.go
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/examples/tables/generated/jumplists/sample_recent_files/sample_recent_files.go
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/examples/tables/generated/registry_darwin.go
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/examples/tables/generated/registry_linux.go
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/examples/tables/generated/registry_windows.go
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/examples/tables/generated/sample_custom_table/sample_custom_table.go
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/examples/views/generated/registry_darwin.go
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/examples/views/generated/registry_linux.go
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/examples/views/generated/registry_windows.go
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/examples/views/generated/sample_combined_resources/sample_combined_resources.go
  x-pack/osquerybeat/ext/osquery-extension/cmd/gentables/templates/table.tmpl
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/generated/amcache/elastic_amcache_application/elastic_amcache_application.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/generated/amcache/elastic_amcache_application_file/elastic_amcache_application_file.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/generated/amcache/elastic_amcache_application_shortcut/elastic_amcache_application_shortcut.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/generated/amcache/elastic_amcache_device_pnp/elastic_amcache_device_pnp.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/generated/amcache/elastic_amcache_driver_binary/elastic_amcache_driver_binary.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/generated/amcache/elastic_amcache_driver_package/elastic_amcache_driver_package.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/generated/elastic_browser_history/elastic_browser_history.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/generated/elastic_file_analysis/elastic_file_analysis.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/generated/elastic_host_groups/elastic_host_groups.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/generated/elastic_host_processes/elastic_host_processes.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/generated/elastic_host_users/elastic_host_users.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/generated/jumplists/elastic_jumplists/elastic_jumplists.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/generated/ntfs/elastic_ntfs_file/elastic_ntfs_file.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/generated/ntfs/elastic_ntfs_partitions/elastic_ntfs_partitions.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/generated/ntfs/elastic_ntfs_volumes/elastic_ntfs_volumes.go
Due: Trigger x-pack/osquerybeat

fix glibc issue
  dev-tools/packaging/templates/docker/Dockerfile.tmpl
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

ci: include `.go-version` file as trigger for linter
  .github/workflows/golangci-lint.yml
Due: none

ci: include `.go-version` file as trigger for linter (#51625)
  .github/workflows/golangci-lint.yml
Due: none

Only trigger linter on Go changes
  .github/workflows/golangci-lint.yml
Due: none

only trigger linter on Go changes
  .github/workflows/golangci-lint.yml
Due: none

Implement review suggestions
  filebeat/input/filestream/fswatch.go
  filebeat/input/filestream/prospector.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Implement review suggestions
  filebeat/input/filestream/prospector.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

handle early status in tests
  x-pack/osquerybeat/osqreceiver/receiver_test.go
  x-pack/osquerybeat/tests/integration/receiver_test.go
  x-pack/otel/oteltest/oteltest.go
  x-pack/packetbeat/pbreceiver/receiver_test.go
Due: Trigger x-pack/osquerybeat, Trigger x-pack/otel, Trigger x-pack/packetbeat

osquery/elastic_ntfs_file: fix WHERE ads = 0 returning no rows
  x-pack/osquerybeat/ext/osquery-extension/pkg/ntfs/file.go
  x-pack/osquerybeat/ext/osquery-extension/pkg/tables/generated/ntfs/elastic_ntfs_file/elastic_ntfs_file.go
  x-pack/osquerybeat/ext/osquery-extension/specs/elastic_ntfs_file.yaml
Due: Trigger x-pack/osquerybeat

added changelog fragment
  changelog/fragments/1782770011-fix-ads-column.yaml
Due: none

[filebeat] Add consumer-group and network timeout options to the Kafka input (#51173)
  changelog/fragments/1781034715-filebeat-kafka-input-consumer-timeouts.yaml
  docs/reference/filebeat/filebeat-input-kafka.md
  docs/reference/filebeat/filebeat-reference-yml.md
  filebeat/_meta/config/filebeat.inputs.reference.yml.tmpl
  filebeat/filebeat.reference.yml
  filebeat/input/kafka/config.go
  filebeat/input/kafka/config_test.go
  x-pack/filebeat/filebeat.reference.yml
Due: Trigger Filebeat, Trigger x-pack/filebeat

use logptest.NewTestingLogger
  heartbeat/autodiscover/builder/hints/monitors_test.go
  heartbeat/beater/heartbeat_test.go
  heartbeat/config/config_test.go
  heartbeat/monitors/active/http/checkjson_test.go
  heartbeat/monitors/active/http/http_test.go
  heartbeat/monitors/active/icmp/icmp_test.go
  heartbeat/monitors/active/tcp/helpers_test.go
  heartbeat/monitors/active/tcp/tls_test.go
  heartbeat/monitors/factory_test.go
  heartbeat/monitors/mocks_test.go
  heartbeat/monitors/monitor_test.go
  heartbeat/monitors/pipeline_test.go
  heartbeat/monitors/task_test.go
  heartbeat/monitors/wrappers/monitorstate/esloader_test.go
  heartbeat/monitors/wrappers/monitorstate/testutil_test.go
  heartbeat/monitors/wrappers/monitorstate/tracker_test.go
  heartbeat/monitors/wrappers/summarizer/summarizer_test.go
  heartbeat/monitors/wrappers/wrappers_test.go
  heartbeat/scheduler/schedjob_test.go
  heartbeat/scheduler/scheduler_test.go
  heartbeat/tracer/tracer_test.go
Due: Trigger Heartbeat, Trigger x-pack/heartbeat

remove global loggers from packetbeat
  packetbeat/sniffer/decoders.go
  packetbeat/sniffer/decoders_test.go
Due: Trigger x-pack/packetbeat, Trigger Packetbeat

remove global loggers from packetbeat
  filebeat/input/net/testutil/testutil.go
  packetbeat/beater/install_npcap.go
  packetbeat/beater/install_npcap_test.go
  packetbeat/beater/packetbeat.go
  packetbeat/beater/processor.go
  packetbeat/config/agent.go
  packetbeat/config/agent_test.go
  packetbeat/config/config.go
  packetbeat/config/config_test.go
  packetbeat/decoder/decoder.go
  packetbeat/decoder/decoder_test.go
  packetbeat/flows/counters.go
  packetbeat/flows/flowid.go
  packetbeat/flows/flowid_test.go
  packetbeat/flows/flows.go
  packetbeat/flows/flows_test.go
  packetbeat/flows/table.go
  packetbeat/flows/worker.go
  packetbeat/flows/worker_test.go
  packetbeat/module/pipeline.go
  x-pack/filebeat/tests/integration/otel_tcp_udp_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/packetbeat, Trigger Packetbeat

remove more
  packetbeat/sniffer/afpacket_linux.go
  packetbeat/sniffer/afpacket_nonlinux.go
  packetbeat/sniffer/sniffer.go
Due: Trigger x-pack/packetbeat, Trigger Packetbeat

remove more
  packetbeat/beater/processor.go
Due: Trigger x-pack/packetbeat, Trigger Packetbeat

fix test
  packetbeat/flows/worker.go
  packetbeat/sniffer/afpacket_linux.go
  packetbeat/sniffer/afpacket_nonlinux.go
Due: Trigger x-pack/packetbeat, Trigger Packetbeat

fix test
  packetbeat/flows/flows_test.go
  packetbeat/flows/worker.go
Due: Trigger x-pack/packetbeat, Trigger Packetbeat

fix: prevent Filebeat from replaying events after a clean shutdown (#51517)
  changelog/fragments/1782376956-fix-filebeat-duplicating-events-after-a-normal-shutdown-caused-by-a-race-in-the-registrar.yaml
  filebeat/registrar/migrate_bench_test.go
  filebeat/registrar/registrar.go
  filebeat/registrar/registrar_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

chore: migrate golangci-lint from gomodguard to gomodguard_v2
  .golangci.yml
Due: none

packetbeat/procs changes
  packetbeat/module/pipeline.go
  packetbeat/procs/procs.go
  packetbeat/procs/procs_linux.go
  packetbeat/procs/procs_linux_test.go
  packetbeat/procs/procs_test.go
  x-pack/filebeat/tests/integration/otel_tcp_udp_test.go
Due: Trigger x-pack/filebeat, Trigger x-pack/packetbeat, Trigger Packetbeat

Path conditions:
  Trigger Auditbeat: any of: auditbeat/**, .buildkite/auditbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Heartbeat: any of: heartbeat/**, .buildkite/heartbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Filebeat: any of: filebeat/**, .buildkite/filebeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/filebeat: any of: filebeat/**, x-pack/filebeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/dockerlogbeat: any of: x-pack/dockerlogbeat/**, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Metricbeat: any of: metricbeat/**, .buildkite/metricbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/metricbeat: any of: metricbeat/**, x-pack/metricbeat/**, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/winlogbeat: any of: winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Deploy/K8S: any of: deploy/kubernetes/**, metricbeat/module/kubernetes/**, .go-version, libbeat/docs/version.asciidoc, .buildkite/deploy/kubernetes/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Libbeat: any of: libbeat/**, .buildkite/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/libbeat: any of: x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .go-version, libbeat/**, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/otel: any of: x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .go-version, go.mod, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/auditbeat: any of: auditbeat/**, x-pack/auditbeat/**, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/heartbeat: any of: heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/packetbeat: any of: packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Winlogbeat: any of: winlogbeat/**, .buildkite/winlogbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Packetbeat: any of: packetbeat/**, .buildkite/packetbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
