Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Trigger Auditbeat:
  if: build.pull_request.id != null
  trigger: auditbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
      GITHUB_PR_LABELS: ${GITHUB_PR_LABELS}

Trigger Heartbeat:
  if: build.pull_request.id != null
  trigger: heartbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
      GITHUB_PR_LABELS: ${GITHUB_PR_LABELS}

Trigger Filebeat:
  if: build.pull_request.id != null
  trigger: filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
      GITHUB_PR_LABELS: ${GITHUB_PR_LABELS}

Trigger x-pack/filebeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/dockerlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-dockerlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger Metricbeat:
  if: build.pull_request.id != null
  trigger: beats-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/metricbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/osquerybeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-osquerybeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/winlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-winlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Use time.Since and add bytes per second to benchmark.
  libbeat/publisher/pipeline/stress/stress_test.go
  libbeat/publisher/queue/slabqueue/benchmark_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Fix Release to handle out of order batch acks.
  libbeat/publisher/queue/slabqueue/batch.go
  libbeat/publisher/queue/slabqueue/slabqueue_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

merge conflicts
  libbeat/processors/add_kubernetes_metadata/kubernetes_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

chore(synthetics): bump npm to 11.14.1 (#50859)
  changelog/fragments/1779396482-heartbeat-bump-npm-11.14.1.yaml
  dev-tools/packaging/templates/docker/Dockerfile.tmpl
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix: clear typos 'defauling' -> 'defaulting' and 'choosen' -> 'chosen' (#50279)
  docs/reference/filebeat/exported-fields-zoom.md
  docs/reference/filebeat/filebeat-module-fortinet.md
  docs/reference/filebeat/filebeat-module-juniper.md
  docs/reference/filebeat/filebeat-module-sophos.md
  libbeat/idxmgmt/lifecycle/file_client_handler.go
  x-pack/filebeat/module/fortinet/_meta/docs.md
  x-pack/filebeat/module/juniper/_meta/docs.md
  x-pack/filebeat/module/sophos/_meta/docs.md
  x-pack/filebeat/module/zoom/fields.go
  x-pack/filebeat/module/zoom/webhook/_meta/fields.yml
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Apply suggestion from @mcapell
  dev-tools/packaging/templates/docker/Dockerfile.tmpl
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix: conflict
  dev-tools/packaging/templates/docker/Dockerfile.tmpl
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

feat(azure): add Module interface and ModuleBuilder with shared cursor registry
  x-pack/metricbeat/module/azure/azure.go
  x-pack/metricbeat/module/azure/module.go
Due: Trigger x-pack/metricbeat

feat(azure): add lookback_window config option (default 10m)
  x-pack/metricbeat/module/azure/config.go
Due: Trigger x-pack/metricbeat

feat(azure): extend calculateTimespan() with optional lookbackStart parameter
  x-pack/metricbeat/module/azure/azure.go
  x-pack/metricbeat/module/azure/azure_test.go
  x-pack/metricbeat/module/azure/client.go
  x-pack/metricbeat/module/azure/client_batch.go
Due: Trigger x-pack/metricbeat

feat(azure): add MetricSet cursor fields, computeLookbackStart, updateCursor, Close
  x-pack/metricbeat/module/azure/azure.go
  x-pack/metricbeat/module/azure/azure_cursor_test.go
Due: Trigger x-pack/metricbeat

feat(azure): wire lookbackStart through fetch, fetchBatch, and metric collection
  x-pack/metricbeat/module/azure/azure.go
  x-pack/metricbeat/module/azure/client.go
  x-pack/metricbeat/module/azure/client_batch.go
  x-pack/metricbeat/module/azure/client_batch_test.go
  x-pack/metricbeat/module/azure/client_test.go
  x-pack/metricbeat/module/azure/client_utils.go
Due: Trigger x-pack/metricbeat

feat(azure): add cursor package with state key generation
  x-pack/metricbeat/module/azure/cursor/doc.go
  x-pack/metricbeat/module/azure/cursor/key.go
  x-pack/metricbeat/module/azure/cursor/key_test.go
Due: Trigger x-pack/metricbeat

feat(azure): add cursor store with libbeat statestore persistence
  x-pack/metricbeat/module/azure/cursor/store.go
  x-pack/metricbeat/module/azure/cursor/store_test.go
Due: Trigger x-pack/metricbeat

refactor(azure): defer timespan/criteria computation until after NeedsUpdate check
  x-pack/metricbeat/module/azure/client.go
  x-pack/metricbeat/module/azure/client_batch.go
Due: Trigger x-pack/metricbeat

docs+fix(azure): document lookback_window and warn on module assertion failure
  x-pack/metricbeat/module/azure/_meta/config.reference.yml
  x-pack/metricbeat/module/azure/_meta/config.yml
  x-pack/metricbeat/module/azure/_meta/docs.md
  x-pack/metricbeat/module/azure/_meta/shared-azure.asciidoc
  x-pack/metricbeat/module/azure/azure.go
Due: Trigger x-pack/metricbeat

fix(azure): include period, latency, and resource filters in cursor key
  x-pack/metricbeat/module/azure/azure.go
  x-pack/metricbeat/module/azure/cursor/key.go
  x-pack/metricbeat/module/azure/cursor/key_test.go
Due: Trigger x-pack/metricbeat

fix(azure): address review feedback on lookback feature
  changelog/fragments/1747093200-azure-monitor-lookback.yaml
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/azure/.gitignore
  x-pack/metricbeat/module/azure/_meta/config.reference.yml
  x-pack/metricbeat/module/azure/_meta/docs.md
  x-pack/metricbeat/module/azure/_meta/shared-azure.asciidoc
  x-pack/metricbeat/module/azure/azure.go
  x-pack/metricbeat/module/azure/azure_test.go
  x-pack/metricbeat/module/azure/config.go
  x-pack/metricbeat/module/azure/cursor/doc.go
  x-pack/metricbeat/module/azure/module.go
  x-pack/metricbeat/modules.d/azure.yml.disabled
Due: Trigger x-pack/metricbeat

fix(azure): key cursor by namespaces and resource-listing filters
  x-pack/metricbeat/module/azure/azure.go
  x-pack/metricbeat/module/azure/cursor/key.go
  x-pack/metricbeat/module/azure/cursor/key_test.go
Due: Trigger x-pack/metricbeat

revert inputs files
  x-pack/filebeat/input/default-inputs/inputs_aix.go
  x-pack/filebeat/input/default-inputs/inputs_darwin.go
  x-pack/filebeat/input/default-inputs/inputs_other.go
  x-pack/filebeat/input/default-inputs/inputs_windows.go
Due: Trigger x-pack/filebeat

revert inputs files
  x-pack/filebeat/input/default-inputs/inputs.go
Due: Trigger x-pack/filebeat

Add agent processor for policy transforms and unit test
  heartbeat/monitors/stdfields/unnest.go
  x-pack/heartbeat/cmd/root.go
  x-pack/heartbeat/cmd/root_test.go
  x-pack/heartbeat/cmd/testdata/http.out.json
  x-pack/heartbeat/cmd/testdata/icmp.out.json
  x-pack/heartbeat/cmd/testdata/simple-browser.out.json
  x-pack/heartbeat/cmd/testdata/tcp.out.json
  x-pack/heartbeat/heartbeat.yml
Due: Trigger Heartbeat, Trigger x-pack/heartbeat

Reset local files
  x-pack/heartbeat/heartbeat.yml
Due: Trigger x-pack/heartbeat

Remove redundant config validation
  filebeat/beater/store.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Mark the OTel storage support as a preview
  docs/reference/filebeat/configuration-general-options.md
  docs/reference/filebeat/filebeat-reference-yml.md
  filebeat/_meta/config/filebeat.global.reference.yml.tmpl
  filebeat/filebeat.reference.yml
  x-pack/filebeat/filebeat.reference.yml
Due: Trigger Filebeat, Trigger x-pack/filebeat

Add more preview warnings
  docs/reference/filebeat/configuration-general-options.md
  docs/reference/filebeat/filebeat-reference-yml.md
  filebeat/_meta/config/filebeat.global.reference.yml.tmpl
  filebeat/filebeat.reference.yml
  x-pack/filebeat/filebeat.reference.yml
Due: Trigger Filebeat, Trigger x-pack/filebeat

fix test
  x-pack/filebeat/tests/integration/otel_cel_test.go
  x-pack/filebeat/tests/integration/otel_gcppubsub_test.go
Due: Trigger x-pack/filebeat

add cel test
  x-pack/filebeat/tests/integration/otel_cel_test.go
  x-pack/filebeat/tests/integration/otel_gcppubsub_test.go
Due: Trigger x-pack/filebeat

[iis][windows] Adds cpu number information to IIS module and Windows perfmon dataset (#48637)
  changelog/fragments/1769821387-iis-add-cpu-number-information.yaml
  docs/reference/metricbeat/exported-fields-iis.md
  docs/reference/metricbeat/metricbeat-metricset-iis-application_pool.md
  docs/reference/metricbeat/metricbeat-metricset-iis-webserver.md
  docs/reference/metricbeat/metricbeat-metricset-iis-website.md
  metricbeat/module/windows/perfmon/perfmon.go
  x-pack/metricbeat/module/iis/application_pool/_meta/data.json
  x-pack/metricbeat/module/iis/application_pool/_meta/fields.yml
  x-pack/metricbeat/module/iis/application_pool/application_pool.go
  x-pack/metricbeat/module/iis/fields.go
  x-pack/metricbeat/module/iis/webserver/_meta/data.json
  x-pack/metricbeat/module/iis/webserver/_meta/fields.yml
  x-pack/metricbeat/module/iis/website/_meta/data.json
  x-pack/metricbeat/module/iis/website/_meta/fields.yml
Due: Trigger Metricbeat, Trigger x-pack/metricbeat

[add_docker_metadata] Retry connecting to Docker (#50595)
  auditbeat/auditbeat.reference.yml
  changelog/fragments/1778617667-retry-add_docker_metadata.yaml
  docs/reference/auditbeat/add-docker-metadata.md
  docs/reference/filebeat/add-docker-metadata.md
  docs/reference/heartbeat/add-docker-metadata.md
  docs/reference/metricbeat/add-docker-metadata.md
  docs/reference/winlogbeat/add-docker-metadata.md
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  libbeat/_meta/config/processors.reference.yml.tmpl
  libbeat/processors/add_docker_metadata/add_docker_metadata.go
  libbeat/processors/add_docker_metadata/add_docker_metadata_test.go
  libbeat/processors/add_docker_metadata/config.go
  libbeat/processors/add_docker_metadata/docs/add_docker_metadata.asciidoc
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/filebeat/filebeat.reference.yml
  x-pack/heartbeat/heartbeat.reference.yml
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/osquerybeat/osquerybeat.reference.yml
  x-pack/packetbeat/packetbeat.reference.yml
  x-pack/winlogbeat/winlogbeat.reference.yml
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Add changelog
  heartbeat/monitors/stdfields/unnest.go
Due: Trigger Heartbeat, Trigger x-pack/heartbeat

Add changelog v2
  changelog/fragments/1780569515-hb-normalize-input-processors.yaml
Due: none

Fix some lint issues.
  libbeat/publisher/queue/slabqueue/pool.go
  libbeat/publisher/queue/slabqueue/recycle_test.go
  libbeat/publisher/queue/slabqueue/slabqueue_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix: disable TLS certificate hot-reload by default on 8.19 patch branch
  libbeat/cmd/instance/beat.go
  libbeat/outputs/elasticsearch/config.go
  libbeat/outputs/kafka/config.go
  libbeat/outputs/logstash/config.go
  libbeat/outputs/redis/config.go
  x-pack/otel/extension/beatsauthextension/authenticator.go
  x-pack/otel/oteltranslate/tls_otel.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Path conditions:
  Trigger Auditbeat: any of: auditbeat/**, .buildkite/auditbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Heartbeat: any of: heartbeat/**, .buildkite/heartbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Filebeat: any of: filebeat/**, .buildkite/filebeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/filebeat: any of: filebeat/**, x-pack/filebeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/dockerlogbeat: any of: x-pack/dockerlogbeat/**, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Metricbeat: any of: metricbeat/**, .buildkite/metricbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/metricbeat: any of: metricbeat/**, x-pack/metricbeat/**, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/winlogbeat: any of: winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Deploy/K8S: any of: deploy/kubernetes/**, metricbeat/module/kubernetes/**, .go-version, libbeat/docs/version.asciidoc, .buildkite/deploy/kubernetes/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Libbeat: any of: libbeat/**, .buildkite/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/libbeat: any of: x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .go-version, libbeat/**, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/otel: any of: x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .go-version, go.mod, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/auditbeat: any of: auditbeat/**, x-pack/auditbeat/**, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/heartbeat: any of: heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/packetbeat: any of: packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Winlogbeat: any of: winlogbeat/**, .buildkite/winlogbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Packetbeat: any of: packetbeat/**, .buildkite/packetbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
