Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

auditbeat:
  trigger: auditbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

heartbeat:
  trigger: heartbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

filebeat:
  trigger: filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: Upload beats-xpack-filebeat:
  label: ':pipeline: Upload beats-xpack-filebeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.filebeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: beats-xpack-dockerlogbeat:
  label: ':pipeline: beats-xpack-dockerlogbeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: beats-metricbeat:
  label: ':pipeline: beats-metricbeat'
  command: buildkite-agent pipeline upload .buildkite/metricbeat/pipeline.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

:pipeline: beats-xpack-metricbeat:
  label: ':pipeline: beats-xpack-metricbeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.metricbeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: beats-xpack-osquerybeat:
  label: ':pipeline: beats-xpack-osquerybeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.winlogbeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

:pipeline: beats-xpack-winlogbeat:
  label: ':pipeline: beats-xpack-winlogbeat'
  command: buildkite-agent pipeline upload .buildkite/x-pack/pipeline.xpack.winlogbeat.yml
  env:
  - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
  - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

feat: turn docs folders into go modules
  docs/go.mod
  filebeat/docs/go.mod
Due: filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

cleanup
  libbeat/otelbeat/oteltranslate/outputs/elasticsearch/config_otel.go
  libbeat/outputs/otelconsumer/otelconsumer.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

docs: update docs
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

fix: make update changes
  deploy/kubernetes/heartbeat-kubernetes.yaml
Due: :pipeline: Upload deploy-k8s

[Release] update test environment
  metricbeat/docker-compose.yml
  testing/environments/latest.yml
  x-pack/metricbeat/docker-compose.yml
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

[Release] update version
  libbeat/version/version.go
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

feat: turn docs folders into go modules (#44157)
  docs/go.mod
  filebeat/docs/go.mod
Due: filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

docs: Close changelog for 8.17.6
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

otel(tests): fix BenchmarkFactory for beats receivers (#44127)
  x-pack/filebeat/fbreceiver/receiver_test.go
  x-pack/metricbeat/mbreceiver/receiver_test.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Update CHANGELOG.asciidoc
  CHANGELOG.asciidoc
Due: none

docs: Close changelog for 8.18.1
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

pin mage version in k8s pipeline
  .buildkite/deploy/kubernetes/deploy-k8s-pipeline.yml
Due: :pipeline: Upload deploy-k8s

Remove FIPS inidicator from annotation (#44148)
  .buildkite/libbeat/pipeline.libbeat.yml
Due: :pipeline: Upload beats-libbeat

Fix failing libbeat unit test pipeline
  .buildkite/libbeat/pipeline.libbeat.yml
Due: :pipeline: Upload beats-libbeat

docs: Close changelog for 9.0.1
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Due: auditbeat, heartbeat, filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: beats-metricbeat, :pipeline: beats-xpack-metricbeat, :pipeline: beats-xpack-osquerybeat, :pipeline: beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Skip broken auditbeat system ebpf tests
  auditbeat/tests/system/test_file_integrity.py
Due: auditbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-agentbeat

Fix failing libbeat unit test pipeline (#44173)
  .buildkite/libbeat/pipeline.libbeat.yml
Due: :pipeline: Upload beats-libbeat

Add 9.0.1 Release Notes
  docs/docset.yml
  docs/release-notes/breaking-changes.md
  docs/release-notes/deprecations.md
  docs/release-notes/index.md
Due: none

Skip broken auditbeat system ebpf tests (#44175)
  auditbeat/tests/system/test_file_integrity.py
Due: auditbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-agentbeat

add comment
  docs/release-notes/deprecations.md
Due: none

Update deploy/kubernetes/metricbeat/README.md
  deploy/kubernetes/metricbeat/README.md
Due: :pipeline: Upload deploy-k8s

Path conditions:
  auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  filebeat: any of: filebeat/, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-filebeat: any of: filebeat/, x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-metricbeat: any of: metricbeat/, x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-winlogbeat: any of: winlogbeat/, x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  :pipeline: Upload deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/scripts, deploy/kubernetes/**, metricbeat/module/kubernetes/**, libbeat/docs/version.asciidoc
  :pipeline: Upload beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  :pipeline: Upload beats-xpack-libbeat: any of: libbeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-auditbeat: any of: auditbeat/, x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-xpack-heartbeat: any of: heartbeat/, x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: packetbeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-agentbeat: any of: auditbeat/, filebeat/, heartbeat/, metricbeat/, osquerybeat/, packetbeat/, x-pack/agentbeat/, x-pack/auditbeat/, x-pack/filebeat/, x-pack/heartbeat/, x-pack/metricbeat/, x-pack/osquerybeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.agentbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
