Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Trigger Auditbeat:
  if: build.pull_request.id != null
  trigger: auditbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
      GITHUB_PR_LABELS: ${GITHUB_PR_LABELS}

Trigger Heartbeat:
  if: build.pull_request.id != null
  trigger: heartbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
      GITHUB_PR_LABELS: ${GITHUB_PR_LABELS}

Trigger Filebeat:
  if: build.pull_request.id != null
  trigger: filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
      GITHUB_PR_LABELS: ${GITHUB_PR_LABELS}

Trigger x-pack/filebeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/dockerlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-dockerlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger Metricbeat:
  if: build.pull_request.id != null
  trigger: beats-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/metricbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/osquerybeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-osquerybeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

Trigger x-pack/winlogbeat:
  if: build.pull_request.id != null
  trigger: beats-xpack-winlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
      BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
      BUILDKITE_PULL_REQUEST_BASE_BRANCH: ${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
  ...

fix: make Azure billing usage and forecast windows configurable
  changelog/fragments/1784719246-azure-billing-configurable-lookback-window.yaml
  docs/reference/metricbeat/metricbeat-metricset-azure-billing.md
  docs/reference/metricbeat/metricbeat-module-azure.md
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/azure/_meta/config.reference.yml
  x-pack/metricbeat/module/azure/_meta/config.yml
  x-pack/metricbeat/module/azure/billing/_meta/docs.md
  x-pack/metricbeat/module/azure/billing/billing.go
  x-pack/metricbeat/module/azure/billing/billing_test.go
  x-pack/metricbeat/module/azure/billing/client_test.go
  x-pack/metricbeat/module/azure/billing/data_test.go
  x-pack/metricbeat/module/azure/config.go
  x-pack/metricbeat/modules.d/azure.yml.disabled
Due: Trigger x-pack/metricbeat

fix conflicts
  heartbeat/autodiscover/builder/hints/monitors_test.go
  libbeat/processors/add_kubernetes_metadata/kubernetes.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix imports
  libbeat/processors/actions/detect_mime_type_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix conflicts
  heartbeat/autodiscover/builder/hints/monitors_test.go
  libbeat/autodiscover/providers/kubernetes/node.go
  libbeat/processors/add_kubernetes_metadata/kubernetes.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

remove extra backported test functions
  x-pack/libbeat/cmd/instance/receiver_test.go
Due: Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat

fix ci
  .buildkite/deploy/kubernetes/scripts/setup-k8s-env.sh
  .buildkite/metricbeat/pipeline.yml
  dev-tools/mage/kubernetes/kind.go
  dev-tools/mage/kubernetes/kind_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

add nolint
  heartbeat/autodiscover/builder/hints/monitors_test.go
Due: Trigger Heartbeat, Trigger x-pack/heartbeat

Add comment
  .buildkite/deploy/kubernetes/deploy-k8s-pipeline.yml
Due: Trigger Deploy/K8S

unset godebug=140
  dev-tools/mage/kubernetes/kind.go
  dev-tools/mage/kubernetes/kind_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix lint
  packetbeat/beater/processor.go
  packetbeat/config/config.go
Due: Trigger x-pack/packetbeat, Trigger Packetbeat

add "nolint" directives to fix violations
  heartbeat/autodiscover/builder/hints/monitors_test.go
  libbeat/processors/add_docker_metadata/add_docker_metadata.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Update release notes 9.3.8 to match the descriptions for 9.4.4 (#52177)
  docs/release-notes/_snippets/9.3.8/index.md
Due: none

remove unnecessary backported test code
  x-pack/libbeat/cmd/instance/receiver_test.go
Due: Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat

osquerybeat e2e test of process and otel runtimes
  x-pack/osquerybeat/beater/osquery_runner.go
  x-pack/osquerybeat/beater/osquerybeat.go
  x-pack/osquerybeat/beater/otel_status.go
  x-pack/osquerybeat/docker-compose.yml
  x-pack/osquerybeat/internal/config/config.go
  x-pack/osquerybeat/internal/distro/distro.go
  x-pack/osquerybeat/internal/install/bundled/install.go
  x-pack/osquerybeat/internal/install/bundled/install_test.go
  x-pack/osquerybeat/internal/osqd/osqueryd.go
  x-pack/osquerybeat/internal/osqdcli/client.go
  x-pack/osquerybeat/internal/zip/zip.go
  x-pack/osquerybeat/magefile.go
  x-pack/osquerybeat/osqreceiver/receiver_test.go
  x-pack/osquerybeat/tests/integration/integration_test.go
  x-pack/osquerybeat/tests/integration/otel_test.go
  x-pack/osquerybeat/tests/integration/receiver_test.go
  x-pack/otel/oteltest/oteltest.go
  x-pack/otel/status/reporter_test.go
Due: Trigger x-pack/osquerybeat, Trigger x-pack/otel

handle early status in tests
  x-pack/osquerybeat/osqreceiver/receiver_test.go
  x-pack/osquerybeat/tests/integration/receiver_test.go
  x-pack/otel/oteltest/oteltest.go
  x-pack/packetbeat/pbreceiver/receiver_test.go
Due: Trigger x-pack/osquerybeat, Trigger x-pack/otel, Trigger x-pack/packetbeat

skip tests on windows that require es docker image
  x-pack/osquerybeat/magefile.go
  x-pack/osquerybeat/tests/integration/otel_test.go
Due: Trigger x-pack/osquerybeat

fix path separator
  x-pack/osquerybeat/magefile.go
Due: Trigger x-pack/osquerybeat

fix glibc issue
  dev-tools/packaging/templates/docker/Dockerfile.tmpl
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

improve name for osquery ARM zip archive SHA256
  x-pack/osquerybeat/internal/distro/distro.go
Due: Trigger x-pack/osquerybeat

deal with deleted MustAvailableTCP4Port function
  x-pack/osquerybeat/tests/integration/otel_test.go
  x-pack/osquerybeat/tests/integration/receiver_test.go
Due: Trigger x-pack/osquerybeat

feat: add `detect_mime_type` processor to OTel Beat processor (#52131)
  x-pack/otel/processor/beatprocessor/README.md
  x-pack/otel/processor/beatprocessor/processor.go
  x-pack/otel/processor/beatprocessor/processor_test.go
Due: Trigger x-pack/otel

feat: add `drop_fields` processor to OTel Beat processor
  x-pack/otel/processor/beatprocessor/README.md
  x-pack/otel/processor/beatprocessor/processor.go
  x-pack/otel/processor/beatprocessor/processor_test.go
Due: Trigger x-pack/otel

fix some linter issues
  x-pack/osquerybeat/beater/osquerybeat.go
  x-pack/osquerybeat/internal/osqd/osqueryd.go
  x-pack/osquerybeat/internal/osqdcli/client.go
Due: Trigger x-pack/osquerybeat

more linter fixes
  x-pack/osquerybeat/beater/osquerybeat.go
Due: Trigger x-pack/osquerybeat

account for scheduled profile queries in test
  x-pack/osquerybeat/osqreceiver/receiver_test.go
Due: Trigger x-pack/osquerybeat

feat: add `drop_fields` processor to OTel Beat processor (#52221)
  x-pack/otel/processor/beatprocessor/README.md
  x-pack/otel/processor/beatprocessor/processor.go
  x-pack/otel/processor/beatprocessor/processor_test.go
Due: Trigger x-pack/otel

Resolve conflicts
  x-pack/otel/processor/beatprocessor/README.md
  x-pack/otel/processor/beatprocessor/processor.go
  x-pack/otel/processor/beatprocessor/processor_test.go
Due: Trigger x-pack/otel

Fix merge whitespace
  x-pack/otel/processor/beatprocessor/README.md
Due: Trigger x-pack/otel

workaround missing FIPS ECH snapshot
  .buildkite/scripts/custom_fips_ech_test.sh
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

more linter fixes
  x-pack/osquerybeat/internal/osqdcli/client.go
Due: Trigger x-pack/osquerybeat

Path conditions:
  Trigger Auditbeat: any of: auditbeat/**, .buildkite/auditbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Heartbeat: any of: heartbeat/**, .buildkite/heartbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Filebeat: any of: filebeat/**, .buildkite/filebeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/filebeat: any of: filebeat/**, x-pack/filebeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/dockerlogbeat: any of: x-pack/dockerlogbeat/**, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Metricbeat: any of: metricbeat/**, .buildkite/metricbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/metricbeat: any of: metricbeat/**, x-pack/metricbeat/**, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/winlogbeat: any of: winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Deploy/K8S: any of: deploy/kubernetes/**, metricbeat/module/kubernetes/**, .go-version, libbeat/docs/version.asciidoc, .buildkite/deploy/kubernetes/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Libbeat: any of: libbeat/**, .buildkite/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/libbeat: any of: x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .go-version, libbeat/**, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/otel: any of: x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .go-version, go.mod, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/auditbeat: any of: auditbeat/**, x-pack/auditbeat/**, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/heartbeat: any of: heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/packetbeat: any of: packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Winlogbeat: any of: winlogbeat/**, .buildkite/winlogbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Packetbeat: any of: packetbeat/**, .buildkite/packetbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
