Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Path conditions:
  auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  filebeat: any of: filebeat/, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  beats-xpack-filebeat: any of: x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-metricbeat: any of: x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-winlogbeat: any of: x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/scripts, deploy/kubernetes/**, libbeat/docs/version.asciidoc
  beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  beats-xpack-libbeat: any of: x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-xpack-auditbeat: any of: x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-heartbeat: any of: x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/

Add basic auth support
  metricbeat/module/aerospike/_meta/config.reference.yml
  metricbeat/module/aerospike/_meta/config.yml
  metricbeat/module/aerospike/aerospike.go
Due: beats-metricbeat

Add basic auth configuration tests
  metricbeat/module/aerospike/aerospike_test.go
Due: beats-metricbeat

Revert "Create nil cgroups reader for processor, improve error handling (#41198)"
  filebeat/autodiscover/defaults_aix.go
  libbeat/processors/add_docker_metadata/add_docker_metadata.go
  libbeat/processors/add_process_metadata/add_process_metadata.go
  libbeat/processors/add_process_metadata/add_process_metadata_test.go
  libbeat/processors/add_process_metadata/gosigar_cid_provider.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Create nil cgroups reader for processor, improve error handling (#41198)
  libbeat/processors/add_docker_metadata/add_docker_metadata.go
  libbeat/processors/add_process_metadata/add_process_metadata.go
  libbeat/processors/add_process_metadata/add_process_metadata_test.go
  libbeat/processors/add_process_metadata/gosigar_cid_provider.go
  libbeat/processors/cgroups.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Add property InfoPolicy to the Metricset
  metricbeat/module/aerospike/namespace/namespace.go
Due: beats-metricbeat

De-duplicate pipeline steps in system.auth module (#41229)
  filebeat/module/system/auth/ingest/common.yml
  filebeat/module/system/auth/ingest/entrypoint.yml
  filebeat/module/system/auth/ingest/files.yml
  filebeat/module/system/auth/ingest/journald.yml
  filebeat/module/system/auth/manifest.yml
Due: filebeat

Use context to client worker cancellation
  libbeat/publisher/pipeline/client_worker.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Run Mage update in x-pack module
  x-pack/metricbeat/metricbeat.reference.yml
Due: beats-xpack-metricbeat

Add line in CHANGELOG.next.asciidoc
  CHANGELOG.next.asciidoc
Due: none

Rework implementation into something mockable
  auditbeat/module/auditd/audit_linux.go
  auditbeat/module/auditd/audit_linux_test.go
  auditbeat/module/auditd/golden_files_test.go
Due: auditbeat

Remove extra stuff
  auditbeat/module/auditd/audit_linux.go
Due: auditbeat

Add version and modifier to the output
  deploy/kubernetes/Makefile
Due: deploy-k8s

Appease the linter
  auditbeat/module/auditd/audit_linux_test.go
Due: auditbeat

revise approach to use modification times to decide publication
  x-pack/filebeat/input/entityanalytics/provider/activedirectory/activedirectory.go
  x-pack/filebeat/input/entityanalytics/provider/jamf/jamf.go
  x-pack/filebeat/input/entityanalytics/provider/jamf/jamf_test.go
  x-pack/filebeat/input/entityanalytics/provider/jamf/statestore.go
Due: beats-xpack-filebeat

address pr comments
  x-pack/filebeat/input/internal/private/private.go
Due: beats-xpack-filebeat

CODEOWNERS refactor
  .github/CODEOWNERS
Due: none

finish config/doc updates, address review comments
  go.mod
  go.sum
  x-pack/filebeat/_meta/config/filebeat.inputs.reference.xpack.yml.tmpl
  x-pack/filebeat/docs/inputs/input-aws-s3.asciidoc
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/input/awss3/acks.go
  x-pack/filebeat/input/awss3/config.go
  x-pack/filebeat/input/awss3/config_test.go
  x-pack/filebeat/input/awss3/input_benchmark_test.go
  x-pack/filebeat/input/awss3/input_integration_test.go
  x-pack/filebeat/input/awss3/s3_input.go
  x-pack/filebeat/input/awss3/s3_objects.go
  x-pack/filebeat/input/awss3/sqs_input.go
  x-pack/filebeat/input/awss3/sqs_test.go
  x-pack/filebeat/module/aws/cloudtrail/config/aws-s3.yml
  x-pack/filebeat/module/aws/cloudtrail/manifest.yml
  x-pack/filebeat/module/aws/s3access/config/aws-s3.yml
  x-pack/filebeat/module/aws/s3access/manifest.yml
  x-pack/filebeat/module/aws/vpcflow/config/input.yml
  x-pack/filebeat/module/aws/vpcflow/manifest.yml
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

remove helper that was replaced with shared lib
  libbeat/common/fifo/fifo.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

make check
  x-pack/filebeat/filebeat.reference.yml
Due: beats-xpack-filebeat

re-correct doc yml
  x-pack/filebeat/module/aws/_meta/config.yml
Due: beats-xpack-filebeat

make check again
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/modules.d/aws.yml.disabled
Due: beats-xpack-filebeat

update changelog
  CHANGELOG.next.asciidoc
Due: none

make update
  NOTICE.txt
Due: none

Update quark flags
  x-pack/auditbeat/processors/sessionmd/provider/modernprovider/modernprovider_linux.go
Due: beats-xpack-auditbeat

Use published elastic/go-quark
  NOTICE.txt
  dev-tools/notice/overrides.json
  go.mod
  go.sum
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Update metadata.go
  x-pack/metricbeat/module/gcp/metrics/compute/metadata.go
Due: beats-xpack-metricbeat

Update metadata.go
  x-pack/metricbeat/module/gcp/metrics/cloudsql/metadata.go
Due: beats-xpack-metricbeat

fix lint
  metricbeat/module/vsphere/resourcepool/data_test.go
Due: beats-metricbeat

Update NOTICE.txt to contain updated information on aerospike-client library
  NOTICE.txt
Due: none

Run mage check to fix build
  metricbeat/docs/modules/aerospike.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/modules.d/aerospike.yml.disabled
Due: beats-metricbeat

x-pack/filebeat/input/internal/private: add support for marked redaction (#41212)
  CHANGELOG-developer.next.asciidoc
  x-pack/filebeat/input/internal/private/private.go
  x-pack/filebeat/input/internal/private/private_test.go
Due: beats-xpack-filebeat

Check result of type conversions
  auditbeat/module/auditd/audit_linux_test.go
  auditbeat/module/auditd/golden_files_test.go
Due: auditbeat

Re-enable TestGroup_Go and fix flaky behavior (#41230)
  filebeat/input/filestream/internal/task/group_test.go
Due: filebeat

Fix Metricbeat k8s metadata sometimes not being present at startup
  CHANGELOG.next.asciidoc
  metricbeat/module/kubernetes/util/kubernetes.go
  metricbeat/module/kubernetes/util/kubernetes_test.go
Due: beats-metricbeat

Switch K8s tests to Wolfi by default and make it configurable (#41222)
  deploy/kubernetes/Makefile
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/auditbeat/auditbeat-daemonset.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/filebeat/filebeat-daemonset.yaml
  deploy/kubernetes/heartbeat-kubernetes.yaml
  deploy/kubernetes/heartbeat/heartbeat-deployment.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  deploy/kubernetes/metricbeat/metricbeat-daemonset.yaml
Due: deploy-k8s

Update auditbeat-kubernetes.yaml
  deploy/kubernetes/auditbeat-kubernetes.yaml
Due: deploy-k8s
