Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

auditbeat:
  trigger: auditbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

heartbeat:
  trigger: heartbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

filebeat:
  trigger: filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-filebeat:
  trigger: beats-xpack-filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-dockerlogbeat:
  trigger: beats-xpack-dockerlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-metricbeat:
  trigger: beats-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-metricbeat:
  trigger: beats-xpack-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-osquerybeat:
  trigger: beats-xpack-osquerybeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-winlogbeat:
  trigger: beats-xpack-winlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

[filebeat][gcs] - Added support for retry config (#41862)
  CHANGELOG.next.asciidoc
  x-pack/filebeat/docs/inputs/input-gcs.asciidoc
  x-pack/filebeat/input/gcs/config.go
  x-pack/filebeat/input/gcs/input.go
  x-pack/filebeat/input/gcs/input_stateless.go
  x-pack/filebeat/input/gcs/input_test.go
  x-pack/filebeat/input/gcs/mock/mock.go
  x-pack/filebeat/input/gcs/types.go
Due: beats-xpack-filebeat

Delete CHANGELOG.asciidoc
  CHANGELOG.asciidoc
Due: none

conflicts
  x-pack/auditbeat/module/system/process/gosysinfo_provider.go
  x-pack/auditbeat/module/system/process/process.go
Due: beats-xpack-auditbeat

Address review comments
  x-pack/metricbeat/module/openai/usage/_meta/data.json
  x-pack/metricbeat/module/openai/usage/config.go
  x-pack/metricbeat/module/openai/usage/schema.go
  x-pack/metricbeat/module/openai/usage/usage.go
  x-pack/metricbeat/module/openai/usage/usage_integration_test.go
Due: beats-xpack-metricbeat

Add more dummy data
  x-pack/metricbeat/module/openai/usage/usage_integration_test.go
Due: beats-xpack-metricbeat

Better prealloc
  x-pack/metricbeat/module/openai/usage/usage.go
Due: beats-xpack-metricbeat

Add first unit tests
  x-pack/filebeat/input/unifiedlogs/input.go
  x-pack/filebeat/input/unifiedlogs/input_test.go
Due: beats-xpack-filebeat

Revert "Delete CHANGELOG.asciidoc"
  CHANGELOG.asciidoc
Due: none

fix changelog
  CHANGELOG.asciidoc
Due: none

Update CHANGELOG.asciidoc
  CHANGELOG.asciidoc
Due: none

Update CHANGELOG.next.asciidoc
  CHANGELOG.next.asciidoc
Due: none

throw error for unsupported config
  libbeat/otelcommon/components.go
  libbeat/otelcommon/converters/beatconverter.go
  libbeat/otelcommon/oteltranslate/tls_otel.go
  libbeat/outputs/elasticsearch/config_otel.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

update PR id
  CHANGELOG.next.asciidoc
Due: none

Add support for podman metrics
  metricbeat/docs/modules/docker.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/docker/_meta/config.reference.yml
  metricbeat/module/docker/_meta/config.yml
  metricbeat/module/docker/config.go
  metricbeat/module/docker/cpu/cpu.go
  metricbeat/module/docker/diskio/diskio.go
  metricbeat/module/docker/docker.go
  metricbeat/module/docker/memory/memory.go
  metricbeat/module/docker/network/network.go
  metricbeat/module/docker/network_summary/network_summary.go
  metricbeat/modules.d/docker.yml.disabled
Due: beats-metricbeat

wip tests
  x-pack/filebeat/input/unifiedlogs/input_test.go
  x-pack/filebeat/input/unifiedlogs/testdata/test.logarchive.tar.gz
Due: beats-xpack-filebeat

linter issues and documentation
  libbeat/otelcommon/converters/beatconverter.go
  libbeat/outputs/elasticsearch/config_otel.go
  x-pack/filebeat/cmd/otel.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Extract existing functionality to okta.RateLimiter.
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/okta.go
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/okta_test.go
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/ratelimiter.go
  x-pack/filebeat/input/entityanalytics/provider/okta/okta.go
  x-pack/filebeat/input/entityanalytics/provider/okta/okta_test.go
Due: beats-xpack-filebeat

Move related logging into okta.RateLimiter.
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/okta.go
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/ratelimiter.go
Due: beats-xpack-filebeat

Address some feedback.
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/okta.go
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/okta_test.go
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/ratelimiter_test.go
Due: beats-xpack-filebeat

Stop requests until reset when x-rate-limit-remaining is zero.
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/ratelimiter.go
Due: beats-xpack-filebeat

Use okta.RateLimiter rather than *okta.RateLimiter.
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/okta.go
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/okta_test.go
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/ratelimiter.go
  x-pack/filebeat/input/entityanalytics/provider/okta/okta.go
  x-pack/filebeat/input/entityanalytics/provider/okta/okta_test.go
Due: beats-xpack-filebeat

Revert some more changes made for the linter.
  x-pack/filebeat/input/entityanalytics/provider/okta/okta.go
Due: beats-xpack-filebeat

Add CHANGELOG.next.asciidoc entry.
  CHANGELOG.next.asciidoc
Due: none

Test RateLimiter.
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/ratelimiter_test.go
Due: beats-xpack-filebeat

Reverted another change that was for the linter.
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/okta_test.go
Due: beats-xpack-filebeat

Revert a change that was for the linter.
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/okta.go
Due: beats-xpack-filebeat

Use a separate rate.Limiter per endpoint.
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/okta.go
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/okta_test.go
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/ratelimiter.go
Due: beats-xpack-filebeat

Fix lint errors.
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/okta.go
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/okta_test.go
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/ratelimiter_test.go
  x-pack/filebeat/input/entityanalytics/provider/okta/okta.go
Due: beats-xpack-filebeat

For lint error: check instead of defer.
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/okta.go
Due: beats-xpack-filebeat

Rename unexported method get() to limiter().
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/ratelimiter.go
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/ratelimiter_test.go
Due: beats-xpack-filebeat

[elastic-agent-libs] Initialize the interval trigger (#259)
  file/helper_other.go
  file/rotator_test.go
  file/trigger.go
  file/trigger_test.go
Due: none

Resolve rebase error.
  CHANGELOG.next.asciidoc
Due: none

x-pack update
  x-pack/metricbeat/metricbeat.reference.yml
Due: beats-xpack-metricbeat

Fix linter error
  metricbeat/module/docker/docker.go
Due: beats-metricbeat

3.6.0 versio change
  metricbeat/module/kafka/_meta/run.sh
Due: beats-metricbeat

invoke m.Run on TestMain
  filebeat/autodiscover/builder/hints/logs_test.go
  filebeat/processor/add_kubernetes_metadata/matchers_test.go
  metricbeat/autodiscover/appender/kubernetes/token/token_test.go
  metricbeat/autodiscover/builder/hints/metrics_test.go
Due: filebeat, beats-metricbeat

add metricbeat benchmark module (#41801)
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/benchmark.asciidoc
  metricbeat/docs/modules/benchmark/info.asciidoc
  metricbeat/docs/modules_list.asciidoc
  x-pack/metricbeat/include/list.go
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/benchmark/_meta/config.yml
  x-pack/metricbeat/module/benchmark/_meta/docs.asciidoc
  x-pack/metricbeat/module/benchmark/_meta/fields.yml
  x-pack/metricbeat/module/benchmark/doc.go
  x-pack/metricbeat/module/benchmark/fields.go
  x-pack/metricbeat/module/benchmark/info/_meta/data.json
  x-pack/metricbeat/module/benchmark/info/_meta/docs.asciidoc
  x-pack/metricbeat/module/benchmark/info/_meta/fields.yml
  x-pack/metricbeat/module/benchmark/info/config.go
  x-pack/metricbeat/module/benchmark/info/config_test.go
  x-pack/metricbeat/module/benchmark/info/info.go
  x-pack/metricbeat/module/benchmark/info/info_test.go
  x-pack/metricbeat/modules.d/benchmark.yml.disabled
Due: beats-metricbeat, beats-xpack-metricbeat

Add known issues for Filebeat 8.14.0 (#41882)
  CHANGELOG.asciidoc
Due: none

Path conditions:
  auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  filebeat: any of: filebeat/, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  beats-xpack-filebeat: any of: x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-metricbeat: any of: x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-winlogbeat: any of: x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/scripts, deploy/kubernetes/**, libbeat/docs/version.asciidoc
  beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  beats-xpack-libbeat: any of: x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-xpack-auditbeat: any of: x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-heartbeat: any of: x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
