Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

auditbeat:
  trigger: auditbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

heartbeat:
  trigger: heartbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

filebeat:
  trigger: filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-filebeat:
  trigger: beats-xpack-filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-dockerlogbeat:
  trigger: beats-xpack-dockerlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-metricbeat:
  trigger: beats-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-metricbeat:
  trigger: beats-xpack-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-osquerybeat:
  trigger: beats-xpack-osquerybeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-winlogbeat:
  trigger: beats-xpack-winlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

resolve conflicts
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/okta_test.go
Due: beats-xpack-filebeat

x-pack/filebeat/processor/decode_cef: Updated go generate configs for the latest regel version
  x-pack/filebeat/processors/decode_cef/cef/cef.go
Due: beats-xpack-filebeat

x-pack/filebeat/processor/decode_cef: Added Unit test
  x-pack/filebeat/processors/decode_cef/decode_cef.go
  x-pack/filebeat/processors/decode_cef/decode_cef_test.go
Due: beats-xpack-filebeat

x-pack/filebeat/processor/decode_cef: Allow hyphen and added test for that
  x-pack/filebeat/processors/decode_cef/cef/cef.rl
  x-pack/filebeat/processors/decode_cef/cef/cef_test.go
Due: beats-xpack-filebeat

x-pack/filebeat/processor/decode_cef: Added log in sample test file.
  x-pack/filebeat/processors/decode_cef/testdata/samples.log
  x-pack/filebeat/processors/decode_cef/testdata/samples.log.golden.json
Due: beats-xpack-filebeat

x-pack/filebeat/processor/decode_cef: Fixed vetting errors by removing 'Unreachable code' from generated go files.
  x-pack/filebeat/processors/decode_cef/cef/parser.go
  x-pack/filebeat/processors/decode_cef/cef/parser_recover.go
Due: beats-xpack-filebeat

x-pack/filebeat/processor/decode_cef: Generated new parser files
  x-pack/filebeat/processors/decode_cef/cef/.gitignore
  x-pack/filebeat/processors/decode_cef/cef/parser.go
  x-pack/filebeat/processors/decode_cef/cef/parser_recover.go
Due: beats-xpack-filebeat

x-pack/filebeat/processor/decode_cef: Added changelog entry
  CHANGELOG-developer.next.asciidoc
  CHANGELOG.next.asciidoc
Due: none

x-pack/filebeat/processors/decode_cef: Regenerate files using ragel v6.10
  x-pack/filebeat/processors/decode_cef/cef/.gitignore
  x-pack/filebeat/processors/decode_cef/cef/cef.go
  x-pack/filebeat/processors/decode_cef/cef/parser.go
  x-pack/filebeat/processors/decode_cef/cef/parser_recover.go
Due: beats-xpack-filebeat

x-pack/filebeat/processor/decode_cef: Remove entry from CHANGELOG-developer.next
  CHANGELOG-developer.next.asciidoc
Due: none

fix: use ErrorIs
  metricbeat/module/system/process/process_test.go
  metricbeat/module/system/process_summary/process_summary_test.go
Due: beats-metricbeat

fix: use ErrorIsf
  metricbeat/module/system/process/process_test.go
  metricbeat/module/system/process_summary/process_summary_test.go
Due: beats-metricbeat

[CI] Set Buildkite retries to 1
  .buildkite/auditbeat/auditbeat-pipeline.yml
Due: auditbeat

add data collection
  metricbeat/module/vsphere/datastore/_meta/data.json
  metricbeat/module/vsphere/datastore/_meta/fields.yml
  metricbeat/module/vsphere/datastore/data.go
  metricbeat/module/vsphere/datastore/datastore.go
Due: beats-metricbeat

update changelog
  CHANGELOG.next.asciidoc
Due: none

update datacollection
  metricbeat/module/vsphere/datastore/datastore.go
Due: beats-metricbeat

update fields.yml
  metricbeat/module/vsphere/datastore/_meta/fields.yml
Due: beats-metricbeat

fix: truncated file size compare
  filebeat/input/log/input.go
Due: filebeat

linter...
  x-pack/auditbeat/module/system/package/package_linux_test.go
Due: beats-xpack-auditbeat

tinker with CI packges
  .github/workflows/golangci-lint.yml
Due: none

more linter tinkering
  x-pack/auditbeat/module/system/package/package.go
  x-pack/auditbeat/module/system/package/rpm_linux.go
Due: beats-xpack-auditbeat

[metricbeat] - Allow metricsets to report their status via v2 protocol (#40400)
  CHANGELOG.next.asciidoc
  NOTICE.txt
  go.mod
  go.sum
  metricbeat/helper/http_test.go
  metricbeat/mb/mb.go
  metricbeat/mb/module/runner.go
  metricbeat/mb/module/runner_group.go
  metricbeat/mb/module/wrapper.go
  metricbeat/mb/testing/modules.go
  metricbeat/module/elasticsearch/node_stats/data_test.go
  metricbeat/module/system/process/process.go
  metricbeat/module/system/process/process_test.go
  metricbeat/module/system/process_summary/process_summary.go
  metricbeat/module/system/process_summary/process_summary_test.go
  metricbeat/module/system/test_system.py
  x-pack/libbeat/management/tests/mbtest/system/process_integration_test.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

docs: Close changelog for 8.15.0
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Update CHANGELOG.asciidoc
  CHANGELOG.asciidoc
Due: none

use a common ack helper in s3 and sqs
  x-pack/filebeat/input/awss3/acks.go
  x-pack/filebeat/input/awss3/interfaces.go
  x-pack/filebeat/input/awss3/s3.go
  x-pack/filebeat/input/awss3/s3_input.go
  x-pack/filebeat/input/awss3/sqs_acks.go
  x-pack/filebeat/input/awss3/sqs_input.go
  x-pack/filebeat/input/awss3/sqs_s3_event.go
Due: beats-xpack-filebeat

cleanup
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/auditbeat/module/system/_meta/config.yml.tmpl
  x-pack/auditbeat/module/system/package/package.go
  x-pack/auditbeat/module/system/package/package_linux_test.go
  x-pack/auditbeat/module/system/package/package_test.go
Due: beats-xpack-auditbeat

deref pointer
  x-pack/auditbeat/module/system/package/package.go
Due: beats-xpack-auditbeat

[syslog] Fix handling of escaped characters in structured data
  CHANGELOG.next.asciidoc
  libbeat/reader/syslog/message_test.go
  libbeat/reader/syslog/parser/rfc5424.rl
  libbeat/reader/syslog/rfc5424_gen.go
  libbeat/reader/syslog/rfc5424_test.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

changelog
  CHANGELOG.next.asciidoc
Due: none

update the field mappings
  metricbeat/module/vsphere/host/_meta/data.json
  metricbeat/module/vsphere/host/_meta/fields.yml
  metricbeat/module/vsphere/host/data.go
  metricbeat/module/vsphere/host/host.go
Due: beats-metricbeat

mage update
  metricbeat/docs/fields.asciidoc
  metricbeat/module/vsphere/fields.go
Due: beats-metricbeat

golanlint-ci fix
  metricbeat/module/vsphere/host/data.go
Due: beats-metricbeat

fix linting issues
  metricbeat/module/vsphere/host/data.go
Due: beats-metricbeat

Apply suggestions from code review
  CHANGELOG.asciidoc
Due: none

add more UTs
  metricbeat/module/vsphere/host/_meta/fields.yml
  metricbeat/module/vsphere/host/host_test.go
Due: beats-metricbeat

crossbuild: optional target platform
  dev-tools/mage/crossbuild.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

simplify
  dev-tools/mage/crossbuild.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

replace with UseHostPlatform
  dev-tools/mage/crossbuild.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

export to function
  dev-tools/mage/crossbuild.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Path conditions:
  auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  filebeat: any of: filebeat/, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  beats-xpack-filebeat: any of: x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-metricbeat: any of: x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-winlogbeat: any of: x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/scripts, deploy/kubernetes/**, libbeat/docs/version.asciidoc
  beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  beats-xpack-libbeat: any of: x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-xpack-auditbeat: any of: x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-heartbeat: any of: x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
