Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

auditbeat:
  trigger: auditbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

heartbeat:
  trigger: heartbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

filebeat:
  trigger: filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-filebeat:
  trigger: beats-xpack-filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-dockerlogbeat:
  trigger: beats-xpack-dockerlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-metricbeat:
  trigger: beats-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-metricbeat:
  trigger: beats-xpack-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-osquerybeat:
  trigger: beats-xpack-osquerybeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-winlogbeat:
  trigger: beats-xpack-winlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

resolve strip based on target platform
  dev-tools/mage/crossbuild.go
  x-pack/osquerybeat/magefile.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Add metrics_count to Prometheus module
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/prometheus.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/prometheus/_meta/config.epr.yml
  metricbeat/module/prometheus/_meta/config.yml
  metricbeat/module/prometheus/_meta/fields.yml
  metricbeat/module/prometheus/collector/collector.go
  metricbeat/module/prometheus/collector/config.go
  metricbeat/module/prometheus/fields.go
  metricbeat/module/prometheus/remote_write/config.go
  metricbeat/module/prometheus/remote_write/data.go
  metricbeat/module/prometheus/remote_write/remote_write.go
  metricbeat/modules.d/prometheus.yml.disabled
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/prometheus/_meta/config.yml
  x-pack/metricbeat/module/prometheus/remote_write/data.go
  x-pack/metricbeat/module/prometheus/remote_write/remote_write_test.go
  x-pack/metricbeat/modules.d/prometheus.yml.disabled
Due: beats-metricbeat, beats-xpack-metricbeat

removed regex validation
  libbeat/outputs/kafka/config.go
  libbeat/outputs/kafka/config_test.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

updated changelog
  CHANGELOG.next.asciidoc
Due: none

update test files
  metricbeat/module/vsphere/datastore/_meta/data.json
  metricbeat/module/vsphere/datastore/data_test.go
  metricbeat/module/vsphere/datastore/datastore.go
  metricbeat/module/vsphere/datastore/datastore_test.go
  metricbeat/module/vsphere/fields.go
Due: beats-metricbeat

filebeat: add docker image name field to journald input
  filebeat/docs/inputs/input-journald.asciidoc
  filebeat/input/journald/pkg/journalfield/default.go
Due: filebeat

Add a tracer to send devigned/tab logs to logp
  x-pack/filebeat/input/azureeventhub/tracer.go
Due: beats-xpack-filebeat

Fix case where message contains square brackets
  libbeat/reader/syslog/parser/rfc5424.rl
  libbeat/reader/syslog/rfc5424_gen.go
  libbeat/reader/syslog/rfc5424_test.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Update NOTICE.txt and other chores
  NOTICE.txt
  go.mod
  x-pack/filebeat/include/list.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Address linter complaints
  x-pack/filebeat/input/azureeventhub/tracer.go
Due: beats-xpack-filebeat

fixup! fix: Allow use of valid Port 0
  libbeat/processors/communityid/communityid_test.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Cleanup and add comments
  x-pack/filebeat/input/azureeventhub/tracer.go
Due: beats-xpack-filebeat

Adjust so 7.17 agent starts latest watcher.
  x-pack/elastic-agent/pkg/agent/application/paths/common.go
  x-pack/elastic-agent/pkg/agent/application/upgrade/service.go
  x-pack/elastic-agent/pkg/agent/application/upgrade/service_darwin.go
  x-pack/elastic-agent/pkg/agent/application/upgrade/service_windows.go
Due: none

More cleanup and comments
  x-pack/filebeat/input/azureeventhub/tracer.go
Due: beats-xpack-filebeat

Add changelog entry.
  CHANGELOG.next.asciidoc
Due: none

[WIP] Reading journal file with journalctl
  filebeat/input/journald/config.go
  filebeat/input/journald/environment_test.go
  filebeat/input/journald/input.go
  filebeat/input/journald/input_test.go
  filebeat/input/journald/pkg/journalread/reader.go
  libbeat/common/seccomp/policy_linux_amd64.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Add test to ensure events are in the same format
  filebeat/input/journald/input_test.go
  filebeat/input/journald/testdata/input-multiline-parser-events.json
Due: filebeat

Commit new reader
  filebeat/input/journald/pkg/journalctl/reader.go
Due: filebeat

Improve tests
  filebeat/input/journald/input_test.go
Due: filebeat

Set missing fields
  filebeat/input/journald/input_test.go
  filebeat/input/journald/pkg/journalctl/reader.go
Due: filebeat

Add test for matchers
  filebeat/filebeat.reference.yml
  filebeat/input/journald/input_test.go
Due: filebeat

Add fork/exec syscalls
  libbeat/common/seccomp/policy_linux_386.go
  libbeat/common/seccomp/policy_linux_amd64.go
  libbeat/common/seccomp/seccomp-profiler-allow.txt
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Add cursor and since support
  filebeat/input/journald/input.go
  filebeat/input/journald/pkg/journalctl/reader.go
Due: filebeat

fix seek options
  filebeat/input/journald/pkg/journalctl/reader.go
Due: filebeat

remove withjournald build tag
  filebeat/input/journald/config.go
  filebeat/input/journald/config_test.go
  filebeat/input/journald/environment_test.go
  filebeat/input/journald/input.go
  filebeat/input/journald/input_filtering_test.go
  filebeat/input/journald/input_parsers_test.go
  filebeat/input/journald/input_stub.go
  filebeat/input/journald/input_test.go
  filebeat/input/journald/pkg/journalctl/reader.go
  filebeat/scripts/mage/build.go
  x-pack/agentbeat/magefile.go
Due: filebeat

Add Debian 11 and 12 in the Vagrant file
  Vagrantfile
Due: none

fix reference
  filebeat/filebeat.reference.yml
  filebeat/input/journald/pkg/journalread/reader.go
Due: filebeat

Add units, identifiers and small refactoring
  filebeat/filebeat.reference.yml
  filebeat/input/journald/input.go
  filebeat/input/journald/input_test.go
  filebeat/input/journald/pkg/journalctl/reader.go
Due: filebeat

Remove `journalread` and simplify seek mode
  filebeat/docs/inputs/input-journald.asciidoc
  filebeat/input/journald/config.go
  filebeat/input/journald/config_test.go
  filebeat/input/journald/environment_test.go
  filebeat/input/journald/input.go
  filebeat/input/journald/pkg/journalctl/mode.go
  filebeat/input/journald/pkg/journalctl/mode_test.go
  filebeat/input/journald/pkg/journalctl/reader.go
  filebeat/input/journald/pkg/journalread/reader.go
Due: filebeat

Remove references to `github.com/coreos/go-systemd/v22/sdjournal`
  filebeat/input/journald/input.go
  filebeat/input/journald/pkg/journalctl/reader.go
  filebeat/input/journald/pkg/journalfield/conv_test.go
  filebeat/input/journald/pkg/journalfield/default.go
  filebeat/input/journald/pkg/journalfield/matcher_test.go
Due: filebeat

fix constants
  filebeat/input/journald/input_test.go
  filebeat/input/journald/pkg/journalfield/default.go
Due: filebeat

comment out failing tests
  filebeat/input/journald/input_filtering_test.go
Due: filebeat

Fix seek/cursor tests
  filebeat/input/journald/environment_test.go
  filebeat/input/journald/input_filtering_test.go
  filebeat/input/journald/pkg/journalctl/reader.go
Due: filebeat

Disable include_matches AND and OR conditions
  filebeat/input/journald/pkg/journalfield/matcher.go
  filebeat/input/journald/pkg/journalfield/matcher_test.go
Due: filebeat

filter and test by transport, unit and facility
  filebeat/input/journald/input.go
  filebeat/input/journald/input_test.go
  filebeat/input/journald/pkg/journalctl/reader.go
Due: filebeat

remove un-used fields from config
  filebeat/input/journald/config.go
Due: filebeat

remove un-used config options
  filebeat/input/journald/config.go
  filebeat/input/journald/input.go
Due: filebeat

update 7.x compatibility and tests
  filebeat/input/journald/config.go
  filebeat/input/journald/config_test.go
Due: filebeat

Path conditions:
  auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  filebeat: any of: filebeat/, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  beats-xpack-filebeat: any of: x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-metricbeat: any of: x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-winlogbeat: any of: x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/scripts, deploy/kubernetes/**, libbeat/docs/version.asciidoc
  beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  beats-xpack-libbeat: any of: x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-xpack-auditbeat: any of: x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-heartbeat: any of: x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
