Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Path conditions:
  auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  filebeat: any of: filebeat/, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  beats-xpack-filebeat: any of: x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-metricbeat: any of: x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-winlogbeat: any of: x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/scripts, deploy/kubernetes/**, libbeat/docs/version.asciidoc
  beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  beats-xpack-libbeat: any of: x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-xpack-auditbeat: any of: x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-heartbeat: any of: x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/

[elastic-agent-libs] Add Close method to logp.Logger (#205)
  NOTICE.txt
  go.mod
  go.sum
  logp/core.go
  logp/core_linux_test.go
  logp/core_test.go
  logp/core_windows_test.go
  logp/eventlog_windows.go
  logp/logger.go
  logp/selective.go
  logp/syslog_unix.go
  logp/typedloggercore.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Remove extra line in changelog next
  CHANGELOG.next.asciidoc
Due: none

fix loop variable scope
  x-pack/filebeat/input/awss3/acks.go
  x-pack/filebeat/input/awss3/s3_input.go
Due: beats-xpack-filebeat

add issue link
  x-pack/filebeat/input/httpjson/metrics_test.go
Due: beats-xpack-filebeat

x-pack/filebeat/input/httpjson: skip flakey test on windows (#39678)
  CHANGELOG-developer.next.asciidoc
  x-pack/filebeat/input/httpjson/metrics_test.go
Due: beats-xpack-filebeat

Apply suggestions from code review
  CHANGELOG.next.asciidoc
  libbeat/statestore/backend/memlog/store_test.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Remove verbose debug logs from acker (#39672)
  CHANGELOG-developer.next.asciidoc
  filebeat/beater/acker.go
Due: filebeat

Apply suggestions from code review
  .github/workflows/bump-golang.yml
  .github/workflows/updatecli.d/bump-elastic-stack-snapshot.yml
Due: none

updatecli: use `GITHUB_ACTOR` (#39668)
  .github/workflows/updatecli.d/bump-golang-7.17.yml
  .github/workflows/updatecli.d/bump-golang.yml
Due: none

github-actions: use GitHub secrets (#39646)
  .github/workflows/bump-elastic-stack-snapshot.yml
  .github/workflows/bump-golang.yml
  .github/workflows/notify-stalled-snapshots.yml
Due: none

apllied style fixes fro xpack/auditbeat pipeline (#39663)
  .buildkite/x-pack/pipeline.xpack.auditbeat.yml
Due: beats-xpack-auditbeat

updated xpack/libbeat pipeline (#39642)
  .buildkite/x-pack/pipeline.xpack.libbeat.yml
Due: beats-xpack-libbeat

resolved conflicts and updated steps
  .buildkite/x-pack/pipeline.xpack.libbeat.yml
Due: beats-xpack-libbeat

fixed identation
  .buildkite/x-pack/pipeline.xpack.libbeat.yml
Due: beats-xpack-libbeat

Updated changelog
  CHANGELOG.next.asciidoc
Due: none

Fixed spacing between headers
  CHANGELOG.next.asciidoc
Due: none

ennabled win tests
  .buildkite/x-pack/pipeline.xpack.heartbeat.yml
Due: beats-xpack-heartbeat

Cleanup
  x-pack/metricbeat/module/aws/terraform.tf
Due: beats-xpack-metricbeat

updated main pipeline
  .buildkite/pipeline.yml
Due: none

Keep nghttp2 up to date explicitly.
  dev-tools/packaging/templates/docker/Dockerfile.tmpl
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

updated main pipeline (#39693)
  .buildkite/pipeline.yml
Due: none

working on tests
  libbeat/outputs/elasticsearch/client_test.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Fix DB instance type
  .buildkite/x-pack/pipeline.xpack.metricbeat.yml
  x-pack/metricbeat/module/aws/terraform.tf
Due: beats-xpack-metricbeat, beats-xpack-osquerybeat

let the system/process metricset monitor a single PID (#39620)
  NOTICE.txt
  go.mod
  go.sum
  metricbeat/module/system/process/config.go
  metricbeat/module/system/process/process.go
  metricbeat/module/system/process/process_test.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Update x-pack/metricbeat/module/statsd/server/data.go
  x-pack/metricbeat/module/statsd/server/data.go
Due: beats-xpack-metricbeat

use separate endpoint resolver for SQS
  x-pack/filebeat/input/awss3/input.go
Due: beats-xpack-filebeat

Skip Flaky test - packetbeat/route TestDefault
  packetbeat/route/route_test.go
Due: beats-packetbeat

[CI] Metricbeat: set AWS region to terraform.tf (#39675)
  .buildkite/x-pack/pipeline.xpack.metricbeat.yml
  x-pack/metricbeat/module/aws/terraform.tf
Due: beats-xpack-metricbeat, beats-xpack-osquerybeat
