Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: /agent/check-catalog-info.sh, :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Path conditions:
  /agent/check-catalog-info.sh: any of: catalog-info.yaml
  :pipeline: Upload beats-auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-filebeat: any of: filebeat/, .buildkite/pipeline.yml, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-filebeat: any of: filebeat/, x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/pipeline.yml, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-metricbeat: any of: metricbeat/, x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-winlogbeat: any of: winlogbeat/, x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  :pipeline: Upload deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/pipeline.yml, .buildkite/scripts, deploy/kubernetes/**, metricbeat/module/kubernetes/**, libbeat/docs/version.asciidoc
  :pipeline: Upload beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  :pipeline: Upload beats-xpack-libbeat: any of: libbeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-auditbeat: any of: auditbeat/, x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-xpack-heartbeat: any of: heartbeat/, x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: packetbeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-agentbeat: any of: auditbeat/, filebeat/, heartbeat/, metricbeat/, osquerybeat/, packetbeat/, x-pack/agentbeat/, x-pack/auditbeat/, x-pack/filebeat/, x-pack/heartbeat/, x-pack/metricbeat/, x-pack/osquerybeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.agentbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/

fix linter failure
  x-pack/libbeat/cmd/instance/beat.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat

[elastic-agent-system-metrics] perf: avoid unnecessary IO in InstanceCPUReporter (#237)
  report/report.go
Due: none

[FIPS] Disable Microsoft Go telemetry
  dev-tools/mage/fips-settings.yaml
  dev-tools/packaging/package_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Add CHANGELOG entry
  CHANGELOG.next.asciidoc
Due: none

update default config files
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/sql/_meta/config.yml
  x-pack/metricbeat/modules.d/sql.yml.disabled
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

remove ssl key passpharse (it is not supported)
  x-pack/metricbeat/module/sql/query/dsn.go
  x-pack/metricbeat/module/sql/query/dsn_test.go
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

update configs
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/sql/_meta/config.yml
  x-pack/metricbeat/modules.d/sql.yml.disabled
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Remove the "stopping" status
  x-pack/filebeat/input/azureeventhub/v2_input.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

allow deprecated logp.ConfigureWithCore
  x-pack/libbeat/cmd/instance/beat.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat

Remove asciidoc references (#44859)
  docs/reference/metricbeat/metricbeat-module-kubernetes.md
Due: none

fixed issue for 'Root level readerConfig no longer respected'
  x-pack/filebeat/input/azureblobstorage/config.go
  x-pack/filebeat/input/azureblobstorage/input.go
  x-pack/filebeat/input/azureblobstorage/input_test.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Fix conflicts
  go.mod
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

[metricbeat][kafka] fix panic when fetching consumergroup member assignments (#44576)
  CHANGELOG.next.asciidoc
  metricbeat/module/kafka/broker.go
  metricbeat/module/kafka/broker_test.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

fix broken merge
  go.mod
  go.sum
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

updated changelog
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/azureblobstorage/input.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

make notice
  NOTICE.txt
  go.sum
Due: none

increase test coverage for 'meraki' package
  x-pack/metricbeat/module/meraki/config_test.go
  x-pack/metricbeat/module/meraki/reporter.go
  x-pack/metricbeat/module/meraki/reporter_test.go
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

add ntp metricset to system module
  go.mod
  go.sum
  metricbeat/include/list_common.go
  metricbeat/module/system/ntp/config.go
  metricbeat/module/system/ntp/config_test.go
  metricbeat/module/system/ntp/ntp.go
  metricbeat/module/system/ntp/ntp_test.go
  metricbeat/module/system/ntp/patch.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

docs: remove todod and convert remaining docs to markdown (#44802)
  auditbeat/module/auditd/_meta/docs.asciidoc
  auditbeat/module/auditd/_meta/docs.md
  auditbeat/scripts/docs_collector.py
  docs/reference/auditbeat/auditbeat-dataset-system-host.md
  docs/reference/auditbeat/auditbeat-dataset-system-package.md
  docs/reference/auditbeat/auditbeat-dataset-system-process.md
  docs/reference/auditbeat/auditbeat-dataset-system-user.md
  docs/reference/auditbeat/auditbeat-modules.md
  x-pack/auditbeat/module/system/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/_meta/docs.md
  x-pack/auditbeat/module/system/host/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/host/_meta/docs.md
  x-pack/auditbeat/module/system/login/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/login/_meta/docs.md
  x-pack/auditbeat/module/system/package/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/package/_meta/docs.md
  x-pack/auditbeat/module/system/process/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/process/_meta/docs.md
  x-pack/auditbeat/module/system/socket/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/socket/_meta/docs.md
  x-pack/auditbeat/module/system/user/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/user/_meta/docs.md
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-agentbeat

Improve error handling and move 'finished' logic
  filebeat/input/filestream/input.go
  filebeat/input/filestream/internal/input-logfile/cursor.go
Due: :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

[metricbeat] [mongodb] increase default polling interval `period` 10s -> 60s (#44781)
  CHANGELOG.next.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/mongodb/_meta/config.reference.yml
  metricbeat/module/mongodb/_meta/config.yml
  metricbeat/modules.d/mongodb.yml.disabled
  x-pack/metricbeat/metricbeat.reference.yml
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

Update CHANGELOG.next.asciidoc
  CHANGELOG.next.asciidoc
Due: none

add output listener
  libbeat/beat/pipeline.go
  libbeat/publisher/event.go
  libbeat/publisher/event_test.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

create and pass forward a PipelineOutputListener
  libbeat/publisher/pipeline/client.go
  libbeat/publisher/pipeline/pipeline.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

wip -wip
  go.mod
  go.sum
  libbeat/outputs/fileout/file.go
  libbeat/outputs/kafka/clinet_test.go
  libbeat/outputs/kafka/kafka.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

make kafka output client compile
  libbeat/outputs/kafka/client.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

refactor output metrics
  libbeat/outputs/console/console.go
  libbeat/outputs/discard/discard.go
  libbeat/outputs/elasticsearch/client.go
  libbeat/outputs/fileout/file.go
  libbeat/outputs/kafka/client.go
  libbeat/outputs/logstash/async.go
  libbeat/outputs/logstash/sync.go
  libbeat/outputs/metrics.go
  libbeat/outputs/observer.go
  libbeat/outputs/redis/client.go
  libbeat/publisher/pipeline/client.go
  libbeat/publisher/pipeline/stress/out.go
  x-pack/libbeat/outputs/otelconsumer/otelconsumer.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat
