Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Path conditions:
  Trigger Auditbeat: any of: auditbeat/**, .buildkite/auditbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Heartbeat: any of: heartbeat/**, .buildkite/heartbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Filebeat: any of: filebeat/**, .buildkite/filebeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/filebeat: any of: filebeat/**, x-pack/filebeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/dockerlogbeat: any of: x-pack/dockerlogbeat/**, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Metricbeat: any of: metricbeat/**, .buildkite/metricbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/metricbeat: any of: metricbeat/**, x-pack/metricbeat/**, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/winlogbeat: any of: winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Deploy/K8S: any of: deploy/kubernetes/**, metricbeat/module/kubernetes/**, .go-version, libbeat/docs/version.asciidoc, .buildkite/deploy/kubernetes/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Libbeat: any of: libbeat/**, .buildkite/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/libbeat: any of: x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .go-version, libbeat/**, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/otel: any of: x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .go-version, go.mod, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/auditbeat: any of: auditbeat/**, x-pack/auditbeat/**, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/heartbeat: any of: heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/packetbeat: any of: packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Winlogbeat: any of: winlogbeat/**, .buildkite/winlogbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Packetbeat: any of: packetbeat/**, .buildkite/packetbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**

simplify code
  filebeat/input/filestream/internal/input-logfile/store_cache.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Add changelog entry
  changelog/fragments/1785856472-filestream-share-otel-registry-state.yaml
Due: none

Apply suggestions from code review
  docs/release-notes/_snippets/9.5.0/index.md
Due: none

prevent data race when logging
  filebeat/input/filestream/internal/input-logfile/store_cache.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

improvements and fixes
  filebeat/config/config.go
  filebeat/input/filestream/internal/input-logfile/manager.go
  filebeat/input/filestream/internal/input-logfile/store_cache.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

x-pack/metricbeat/module/azure: fix authentication on sovereign clouds (#52175)
  changelog/fragments/1784669312-azure-sovereign-cloud-audience.yaml
  docs/reference/metricbeat/metricbeat-module-azure.md
  x-pack/metricbeat/module/azure/_meta/docs.md
  x-pack/metricbeat/module/azure/billing/service.go
  x-pack/metricbeat/module/azure/billing/service_test.go
  x-pack/metricbeat/module/azure/cloud_config.go
  x-pack/metricbeat/module/azure/cloud_config_test.go
  x-pack/metricbeat/module/azure/config.go
  x-pack/metricbeat/module/azure/monitor_service.go
Due: Trigger x-pack/metricbeat

x-pack/metricbeat/module/azure: fix authentication on sovereign clouds (#52175)
  changelog/fragments/1784669312-azure-sovereign-cloud-audience.yaml
  x-pack/metricbeat/module/azure/_meta/docs.md
  x-pack/metricbeat/module/azure/billing/service.go
  x-pack/metricbeat/module/azure/billing/service_test.go
  x-pack/metricbeat/module/azure/cloud_config.go
  x-pack/metricbeat/module/azure/cloud_config_test.go
  x-pack/metricbeat/module/azure/config.go
  x-pack/metricbeat/module/azure/monitor_service.go
Due: Trigger x-pack/metricbeat

Use proper version
  metricbeat/docker-compose.yml
  testing/environments/latest.yml
  x-pack/metricbeat/docker-compose.yml
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Improve logging
  filebeat/input/filestream/internal/input-logfile/store_cache.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

[Chore] Single source of truth for the golangci-lint version (#52415)
  .github/workflows/golangci-lint.yml
  .golangci-lint-version
  NOTICE.txt
  go.mod
  go.sum
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Fix struct tags
  filebeat/config/config.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

use noop logger for testing
  filebeat/input/filestream/internal/input-logfile/store_cache_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Fix StoreTest
  filebeat/tests/integration/store_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

respond to feedback
  x-pack/osquerybeat/beater/osquerybeat.go
  x-pack/osquerybeat/internal/config/config.go
Due: Trigger x-pack/osquerybeat

Fix lint.
  filebeat/input/v2/input-cursor/manager_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Address review feedback on footprint benchmarks
  x-pack/filebeat/fbreceiver/receiver_footprint_bench_test.go
Due: Trigger x-pack/filebeat

Fix code review.
  changelog/fragments/1785500000-filestream-shared-harvester-scheduler.yaml
  filebeat/input/filestream/internal/input-logfile/engine.go
  filebeat/input/filestream/internal/input-logfile/engine_cotenancy_test.go
  filebeat/input/filestream/internal/input-logfile/harvester_runner.go
  filebeat/input/filestream/internal/input-logfile/harvester_runner_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Remove the process-wide cap as it can block other inputs.
  filebeat/input/filestream/internal/input-logfile/engine.go
  filebeat/input/filestream/internal/input-logfile/engine_cotenancy_test.go
  filebeat/input/filestream/internal/input-logfile/harvester_runner.go
  filebeat/input/filestream/internal/input-logfile/harvester_runner_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

refactor/cleanup the waker
  filebeat/input/filestream/internal/input-logfile/engine.go
  filebeat/input/filestream/internal/input-logfile/engine_cotenancy_test.go
  filebeat/input/filestream/internal/input-logfile/harvester_runner.go
  filebeat/input/filestream/internal/input-logfile/harvester_runner_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Add benchmarks for per-receiver goroutine and memory footprint (#52364)
  x-pack/filebeat/fbreceiver/receiver_footprint_bench_test.go
Due: Trigger x-pack/filebeat

input-cursor: open the registry store only when an input needs it (#52385)
  changelog/fragments/1785600000-input-cursor-lazy-store.yaml
  filebeat/input/v2/input-cursor/manager.go
  filebeat/input/v2/input-cursor/manager_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Apply suggestion from @belimawr
  x-pack/filebeat/tests/integration/otel_filebeat_input_test.go
Due: Trigger x-pack/filebeat

Address review comments
  x-pack/filebeat/input/entityanalytics/provider/activedirectory/equivalence_test.go
  x-pack/filebeat/input/entityanalytics/provider/activedirectory/testactivedirectory/testactivedirectory.go
  x-pack/filebeat/input/entityanalytics/provider/jamf/equivalence_test.go
  x-pack/filebeat/input/entityanalytics/provider/jamf/jamf_test.go
  x-pack/filebeat/input/entityanalytics/provider/okta/equivalence_test.go
  x-pack/filebeat/tests/integration/otel_filebeat_input_test.go
Due: Trigger x-pack/filebeat

Address feedback
  docs/reference/filebeat/file-identity.md
  docs/reference/filebeat/filebeat-input-filestream.md
  docs/reference/filebeat/filebeat-reference-yml.md
  filebeat/_meta/config/filebeat.inputs.reference.yml.tmpl
  filebeat/filebeat.reference.yml
  filebeat/input/filestream/config_test.go
  filebeat/input/filestream/identifier.go
  filebeat/input/filestream/input.go
  filebeat/input/filestream/prospector_creator.go
  filebeat/input/filestream/prospector_creator_test.go
  filebeat/input/logv2/convert.go
  filebeat/input/logv2/convert_test.go
  filebeat/input/logv2/testdata/filestream-all.json
  x-pack/filebeat/filebeat.reference.yml
Due: Trigger Filebeat, Trigger x-pack/filebeat

filestream: derive scanner fingerprinting from the file identity
  changelog/fragments/1784532691-filestream-deprecate-scanner-fingerprint-enabled.yaml
  docs/reference/filebeat/file-identity.md
  docs/reference/filebeat/filebeat-input-filestream.md
  docs/reference/filebeat/filebeat-reference-yml.md
  filebeat/_meta/config/filebeat.inputs.reference.yml.tmpl
  filebeat/filebeat.reference.yml
  filebeat/input/filestream/config_test.go
  filebeat/input/filestream/fscanner.go
  filebeat/input/filestream/identifier.go
  filebeat/input/filestream/identifier_fingerprint.go
  filebeat/input/filestream/input.go
  filebeat/input/filestream/input_test.go
  filebeat/input/filestream/prospector_creator.go
  filebeat/input/filestream/prospector_creator_test.go
  filebeat/tests/integration/cache_processor_test.go
  x-pack/filebeat/filebeat.reference.yml
Due: Trigger Filebeat, Trigger x-pack/filebeat

Improve docs
  docs/reference/filebeat/file-identity.md
  docs/reference/filebeat/filebeat-input-filestream.md
Due: none
