Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

auditbeat:
  trigger: auditbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

heartbeat:
  trigger: heartbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

filebeat:
  trigger: filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-filebeat:
  trigger: beats-xpack-filebeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-dockerlogbeat:
  trigger: beats-xpack-dockerlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-metricbeat:
  trigger: beats-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-metricbeat:
  trigger: beats-xpack-metricbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-osquerybeat:
  trigger: beats-xpack-osquerybeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

beats-xpack-winlogbeat:
  trigger: beats-xpack-winlogbeat
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Revert revert
  x-pack/filebeat/input/httpjson/input_test.go
Due: beats-xpack-filebeat

x-pack/filebeat/input/cel: make http functions always available
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/cel/config.go
  x-pack/filebeat/input/cel/input.go
Due: beats-xpack-filebeat

[winlogbeat] Add handling for missing event data types in the experimental API (#40684)
  CHANGELOG.next.asciidoc
  winlogbeat/sys/strings.go
  winlogbeat/sys/strings_test.go
  winlogbeat/sys/strings_windows.go
  winlogbeat/sys/wineventlog/syscall_windows.go
  winlogbeat/sys/zsyscall_windows.go
  winlogbeat/sys/zsyscall_windows_test.go
Due: beats-winlogbeat

override endpoint to etric client
  metricbeat/docs/modules/gcp.asciidoc
  x-pack/metricbeat/module/gcp/_meta/docs.asciidoc
  x-pack/metricbeat/module/gcp/metrics/metricset.go
Due: beats-metricbeat, beats-xpack-metricbeat

[kibana] support api_key (#40360)
  metricbeat/docs/modules/kibana.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/kibana/_meta/config-xpack.yml
  metricbeat/module/kibana/_meta/config.reference.yml
  metricbeat/module/kibana/_meta/config.yml
  metricbeat/module/kibana/cluster_actions/cluster_actions.go
  metricbeat/module/kibana/cluster_rules/cluster_rules.go
  metricbeat/module/kibana/config.go
  metricbeat/module/kibana/kibana.go
  metricbeat/module/kibana/metricset.go
  metricbeat/module/kibana/node_actions/node_actions.go
  metricbeat/module/kibana/node_rules/node_rules.go
  metricbeat/module/kibana/settings/settings.go
  metricbeat/module/kibana/stats/stats.go
  metricbeat/module/kibana/status/status.go
  metricbeat/modules.d/kibana-xpack.yml.disabled
  metricbeat/modules.d/kibana.yml.disabled
  x-pack/metricbeat/metricbeat.reference.yml
Due: beats-metricbeat, beats-xpack-metricbeat

Chore: update packaging pipeline to run automatically on 8.x branch
  .buildkite/packaging.pipeline.yml
Due: none

Chore: update packaging pipeline to run automatically on 8.x branch (#40915)
  .buildkite/packaging.pipeline.yml
Due: none

updated BUILDKITE_COMMIT validation
  dev-tools/mage/module_changeset.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

libbeat/processors/replace: fix zero string replacement validation (#40751)
  CHANGELOG.next.asciidoc
  libbeat/processors/actions/replace.go
  libbeat/processors/actions/replace_test.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

add missing pr number
  CHANGELOG.next.asciidoc
Due: none

Update packaging.pipeline.yml
  .buildkite/packaging.pipeline.yml
Due: none

clean up old Jenkins resources
  .buildkite/aws-tests-pipeline.yml
  .buildkite/x-pack/pipeline.xpack.filebeat.yml
  .buildkite/x-pack/pipeline.xpack.heartbeat.yml
  .ci/jobs/beats-release-changelog.yml
  .ci/jobs/beats-release-minor-major-project.yml
  .ci/jobs/beats-release-minor-major.yml
  .ci/jobs/beats-release-patch-project.yml
  .ci/jobs/beats-release-patch.yml
  .ci/jobs/beats-schedule-daily.yml
  .ci/jobs/beats-schedule-weekly.yml
  .ci/jobs/beats-test-infra.yml
  .ci/jobs/beats-tester-bc.yml
  .ci/jobs/beats.yml
  .ci/jobs/build-it-docker-images.yml
  .ci/jobs/folders.yml
  .ci/jobs/packaging.yml
  .github/paths-labeller.yml
  Jenkinsfile
  Jenkinsfile.yml
  README.md
  dev-tools/common.bash
  dev-tools/find_pr_jenkins_jobs.sh
  dev-tools/jenkins_ci.sh
  dev-tools/jenkins_intake.sh
  dev-tools/jenkins_release.sh
  docs/devguide/terraform.asciidoc
  filebeat/scripts/jenkins/unit-test.sh
  x-pack/filebeat/Jenkinsfile.yml
  x-pack/metricbeat/Jenkinsfile.yml
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

config and changelog
  CHANGELOG.next.asciidoc
  metricbeat/docs/modules/gcp.asciidoc
  x-pack/metricbeat/module/gcp/_meta/config.yml
  x-pack/metricbeat/modules.d/gcp.yml.disabled
Due: beats-metricbeat, beats-xpack-metricbeat

clean up groovy scripts and other .ci resources
  .buildkite/x-pack/pipeline.xpack.heartbeat.yml
  .ci/beats-tester-bc.groovy
  .ci/beats-tester.groovy
  .ci/build-docker-images.groovy
  .ci/ironbank-validation.groovy
  .ci/jobs/beats-tester.yml
  .ci/jobs/defaults.yml
  .ci/jobs/ironbank-validation.yml
  .ci/packaging.groovy
  .ci/packer_cache.sh
  .ci/schedule-daily.groovy
  .ci/schedule-weekly.groovy
  .ci/scripts/generate_build_table.py
  .editorconfig
  libbeat/.gitignore
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

doc
  x-pack/metricbeat/metricbeat.reference.yml
Due: beats-xpack-metricbeat

Add debug logs
  libbeat/tests/compose/wrapper.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

[elastic-agent-system-metrics] github-action: use oblt-actions/git/setup (#180)
  .github/workflows/bump-golang.yml
Due: none

resolved comments
  CHANGELOG.next.asciidoc
  metricbeat/docs/modules/gcp.asciidoc
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/gcp/_meta/config.yml
  x-pack/metricbeat/module/gcp/metrics/metricset.go
  x-pack/metricbeat/modules.d/gcp.yml.disabled
Due: beats-metricbeat, beats-xpack-metricbeat

[filebeat] Fix long filepaths in diagnostics exceeding max path limits on Windows (#40909)
  CHANGELOG.next.asciidoc
  filebeat/input/v2/compat/compat.go
  filebeat/input/v2/input-cursor/input.go
  filebeat/input/v2/input.go
  x-pack/filebeat/input/cel/input.go
  x-pack/filebeat/input/cel/input_test.go
  x-pack/filebeat/input/entityanalytics/provider/jamf/jamf.go
  x-pack/filebeat/input/entityanalytics/provider/okta/okta.go
  x-pack/filebeat/input/http_endpoint/input.go
  x-pack/filebeat/input/httpjson/input.go
  x-pack/filebeat/input/httpjson/input_test.go
Due: filebeat, beats-xpack-filebeat

fix: mark module as healthy if metrics are partially filled for single processes
  metricbeat/module/system/process/process.go
Due: beats-metricbeat

lint fix
  x-pack/metricbeat/module/gcp/metrics/metricset.go
Due: beats-xpack-metricbeat

[AWS CloudWatch Metrics] Record previous endTime to use for next collection period (#40870)
  CHANGELOG-developer.next.asciidoc
  x-pack/metricbeat/module/aws/billing/billing.go
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch.go
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch_test.go
  x-pack/metricbeat/module/aws/utils.go
  x-pack/metricbeat/module/aws/utils_test.go
Due: beats-xpack-metricbeat

x-pack/filebeat/input/cel: make http functions always available (#40912)
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/cel/config.go
  x-pack/filebeat/input/cel/input.go
Due: beats-xpack-filebeat

update codeowner
  .github/CODEOWNERS
Due: none

address pr comment
  x-pack/filebeat/input/streaming/crowdstrike.go
Due: beats-xpack-filebeat

x-pack/filebeat/input/streaming: add falcon hose stream follower
  CHANGELOG.next.asciidoc
  x-pack/filebeat/docs/inputs/input-streaming.asciidoc
  x-pack/filebeat/input/streaming/config.go
  x-pack/filebeat/input/streaming/crowdstrike.go
  x-pack/filebeat/input/streaming/crowdstrike_test.go
  x-pack/filebeat/input/streaming/input.go
Due: beats-xpack-filebeat

use quark package
  .gitmodules
  go.mod
  go.sum
  x-pack/auditbeat/processors/sessionmd/provider/modernprovider/modernprovider.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Update beats-ci references in README
  README.md
Due: none

simplified state checkpoint calculation
  x-pack/filebeat/input/azureblobstorage/scheduler.go
Due: beats-xpack-filebeat

updated changelog
  CHANGELOG-developer.next.asciidoc
Due: none

Path conditions:
  auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  filebeat: any of: filebeat/, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  beats-xpack-filebeat: any of: x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-metricbeat: any of: x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-winlogbeat: any of: x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/scripts, deploy/kubernetes/**, libbeat/docs/version.asciidoc
  beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  beats-xpack-libbeat: any of: x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-xpack-auditbeat: any of: x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-heartbeat: any of: x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
