Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: /agent/check-catalog-info.sh, :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Path conditions:
  /agent/check-catalog-info.sh: any of: catalog-info.yaml
  :pipeline: Upload beats-auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-filebeat: any of: filebeat/, .buildkite/pipeline.yml, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-filebeat: any of: filebeat/, x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/pipeline.yml, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-metricbeat: any of: metricbeat/, x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, .buildkite/deploy/docker/docker-compose.yml, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  :pipeline: Upload beats-xpack-winlogbeat: any of: winlogbeat/, x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  :pipeline: Upload deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/pipeline.yml, .buildkite/scripts, deploy/kubernetes/**, metricbeat/module/kubernetes/**, libbeat/docs/version.asciidoc
  :pipeline: Upload beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  :pipeline: Upload beats-xpack-libbeat: any of: libbeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-auditbeat: any of: auditbeat/, x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-xpack-heartbeat: any of: heartbeat/, x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: packetbeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  :pipeline: Upload beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  :pipeline: Upload beats-xpack-agentbeat: any of: auditbeat/, filebeat/, heartbeat/, metricbeat/, osquerybeat/, packetbeat/, x-pack/agentbeat/, x-pack/auditbeat/, x-pack/filebeat/, x-pack/heartbeat/, x-pack/metricbeat/, x-pack/osquerybeat/, x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.agentbeat.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/

address comments
  libbeat/outputs/kafka/client.go
  libbeat/outputs/kafka/config.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

address comments
  libbeat/outputs/kafka/client.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Update x-pack/libbeat/common/otelbeat/otel.go
  x-pack/libbeat/common/otelbeat/otel.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat

remove irrelevant changelog entry
  CHANGELOG.next.asciidoc
Due: none

Removed old code
  metricbeat/module/elasticsearch/index_summary/data.go
  metricbeat/module/elasticsearch/index_summary/data_test.go
  metricbeat/module/elasticsearch/index_summary/index_summary.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

move docs to asciidoc
  docs/reference/filebeat/filebeat-input-cel.md
  x-pack/filebeat/docs/inputs/input-cel.asciidoc
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

address pr comment
  x-pack/filebeat/input/o365audit/input.go
  x-pack/filebeat/input/o365audit/poll/poll.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

x-pack/filebeat/input/o365audit: add fleet health status reporting
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/o365audit/contentblob.go
  x-pack/filebeat/input/o365audit/contentblob_test.go
  x-pack/filebeat/input/o365audit/input.go
  x-pack/filebeat/input/o365audit/input_test.go
  x-pack/filebeat/input/o365audit/listblobs.go
  x-pack/filebeat/input/o365audit/listblobs_test.go
  x-pack/filebeat/input/o365audit/poll/poll.go
  x-pack/filebeat/input/o365audit/schema.go
  x-pack/filebeat/input/o365audit/subscribe.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Using just new code
  metricbeat/module/elasticsearch/index_summary/_meta/test/node_stats_empty.json
  metricbeat/module/elasticsearch/index_summary/data.go
  metricbeat/module/elasticsearch/index_summary/data_test.go
  metricbeat/module/elasticsearch/index_summary/index_summary.go
  metricbeat/module/elasticsearch/testing.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

address review comments
  libbeat/otelbeat/providers/fbprovider/fbprovider.go
  libbeat/otelbeat/providers/fbprovider/fbprovider_test.go
  libbeat/otelbeat/providers/mbprovider/mbprovider.go
  libbeat/otelbeat/providers/mbprovider/mbprovider_test.go
  libbeat/otelbeat/providers/providers.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Fixing imports
  metricbeat/module/elasticsearch/index_summary/index_summary.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

removed reviewers from dependabot.yml (#45085)
  .github/dependabot.yml
Due: none

x-pack/filebeat/input/entityanalytics: Add fleet health status reporting (#45152)
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/entityanalytics/provider/activedirectory/activedirectory.go
  x-pack/filebeat/input/entityanalytics/provider/azuread/azure.go
  x-pack/filebeat/input/entityanalytics/provider/jamf/jamf.go
  x-pack/filebeat/input/entityanalytics/provider/okta/okta.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

Deploy pubsub emulator container for agentbeat tests
  x-pack/agentbeat/docker-compose.yml
Due: :pipeline: Upload beats-xpack-agentbeat

fix ci
  x-pack/libbeat/common/otelbeat/otel.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat

[metricbeat/openmetrics, metricbeat/prometheus] histogram values of zero are filtered out on non-amd64 platforms (#44750)
  CHANGELOG.next.asciidoc
  metricbeat/helper/openmetrics/metric.go
  metricbeat/helper/prometheus/metric.go
  metricbeat/helper/prometheus/textparse.go
  metricbeat/helper/prometheus/textparse_test.go
  metricbeat/module/openmetrics/collector/_meta/testdata/openmetrics-with-naninf.plain
  metricbeat/module/openmetrics/collector/_meta/testdata/openmetrics-with-naninf.plain-expected.json
  metricbeat/module/openmetrics/collector/collector_test.go
  metricbeat/module/openmetrics/collector/data.go
  metricbeat/module/prometheus/collector/collector_test.go
  metricbeat/module/prometheus/collector/data.go
  x-pack/metricbeat/module/prometheus/collector/data.go
  x-pack/metricbeat/module/prometheus/collector/histogram.go
  x-pack/metricbeat/module/prometheus/collector/histogram_test.go
  x-pack/metricbeat/module/prometheus/remote_write/data.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

add test
  x-pack/metricbeat/magefile.go
  x-pack/metricbeat/tests/integration/otel_test.go
Due: :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

[docs][metricbeat] - remove asciidoc and add markdown (#44947)
  docs/reference/metricbeat/metricbeat-metricset-gcp-dataproc.md
  docs/reference/metricbeat/metricbeat-metricset-kafka-broker.md
  docs/reference/metricbeat/metricbeat-metricset-kafka-consumer.md
  docs/reference/metricbeat/metricbeat-metricset-kafka-producer.md
  docs/reference/metricbeat/metricbeat-metricset-nats-route.md
  docs/reference/metricbeat/metricbeat-metricset-nats-routes.md
  docs/reference/metricbeat/metricbeat-metricset-nats-stats.md
  docs/reference/metricbeat/metricbeat-metricset-nats-subscriptions.md
  docs/reference/metricbeat/metricbeat-metricset-windows-wmi.md
  docs/reference/metricbeat/metricbeat-module-gcp.md
  docs/reference/metricbeat/metricbeat-module-kubernetes.md
  docs/reference/metricbeat/metricbeat-module-meraki.md
  docs/reference/metricbeat/metricbeat-module-nats.md
  docs/reference/metricbeat/metricbeat-module-sql.md
  docs/reference/metricbeat/metricbeat-module-windows.md
  docs/reference/metricbeat/metricbeat-modules.md
  metricbeat/module/kafka/_meta/docs.asciidoc
  metricbeat/module/kafka/broker/_meta/docs.asciidoc
  metricbeat/module/kafka/broker/_meta/docs.md
  metricbeat/module/kafka/consumer/_meta/docs.asciidoc
  metricbeat/module/kafka/consumer/_meta/docs.md
  metricbeat/module/kafka/producer/_meta/docs.asciidoc
  metricbeat/module/kafka/producer/_meta/docs.md
  metricbeat/module/kubernetes/state_horizontalpodautoscaler/_meta/docs.md
  metricbeat/module/kubernetes/state_horizontalpodautoscaler/_meta/test/ksm.v2.15.0.plain.expected
  metricbeat/module/kubernetes/state_horizontalpodautoscaler/_meta/testdata/ksm.v2.15.0.plain-expected.json
  metricbeat/module/nats/_meta/docs.md
  metricbeat/module/nats/jetstream/_meta/docs.md
  metricbeat/module/windows/wmi/_meta/docs.md
  x-pack/metricbeat/module/azure/_meta/docs.asciidoc
  x-pack/metricbeat/module/gcp/_meta/docs.asciidoc
  x-pack/metricbeat/module/gcp/_meta/docs.md
  x-pack/metricbeat/module/meraki/network_health/_meta/docs.md
  x-pack/metricbeat/module/mssql/_meta/docs.asciidoc
  x-pack/metricbeat/module/sql/_meta/docs.md
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload deploy-k8s, :pipeline: Upload beats-xpack-agentbeat

[docs][filebeat] convert remaining docs to markdown (#44858)
  x-pack/filebeat/module/azure/_meta/docs.asciidoc
  x-pack/filebeat/module/azure/_meta/docs.md
  x-pack/filebeat/module/o365/_meta/docs.asciidoc
  x-pack/filebeat/module/o365/_meta/docs.md
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

update
  docs/reference/filebeat/filebeat-module-azure.md
  docs/reference/filebeat/filebeat-module-o365.md
Due: none

update
  docs/reference/metricbeat/metricbeat-metricset-windows-wmi.md
Due: none

toc
  docs/reference/metricbeat/metricbeat-metricset-kubernetes-state_horizontalpodautoscaler.md
  docs/reference/metricbeat/metricbeat-metricset-meraki-network_health.md
  docs/reference/metricbeat/metricbeat-metricset-nats-jetstream.md
  docs/reference/toc.yml
Due: none

Use existing constants (#45053)
  filebeat/input/v2/loader.go
  filebeat/input/v2/loader_test.go
  libbeat/common/mode_fips.go
  libbeat/common/mode_nofips.go
Due: :pipeline: Upload beats-auditbeat, :pipeline: Upload beats-heartbeat, :pipeline: Upload beats-filebeat, :pipeline: Upload beats-xpack-filebeat, :pipeline: beats-xpack-dockerlogbeat, :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-osquerybeat, :pipeline: Upload beats-xpack-winlogbeat, :pipeline: Upload beats-libbeat, :pipeline: Upload beats-xpack-libbeat, :pipeline: Upload beats-xpack-auditbeat, :pipeline: Upload beats-xpack-heartbeat, beats-xpack-packetbeat, :pipeline: Upload beats-winlogbeat, :pipeline: Upload beats-packetbeat, :pipeline: Upload beats-xpack-agentbeat

Bulk section is optional
  metricbeat/module/elasticsearch/index_summary/_meta/test/expected_event_7.17_v2.json
  metricbeat/module/elasticsearch/index_summary/_meta/test/expected_event_xpack_7.17_v2.json
  metricbeat/module/elasticsearch/index_summary/data.go
Due: :pipeline: Upload beats-metricbeat, :pipeline: Upload beats-xpack-metricbeat, :pipeline: Upload beats-xpack-agentbeat

use separate indexes per test
  x-pack/filebeat/tests/integration/otel_test.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat

[oteltest][fbreceiver]: skip TestMultipleReceivers (#45147)
  x-pack/filebeat/fbreceiver/receiver_test.go
Due: :pipeline: Upload beats-xpack-filebeat, :pipeline: Upload beats-xpack-agentbeat
