Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Path conditions:
  auditbeat: any of: auditbeat/, .buildkite/auditbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  heartbeat: any of: heartbeat/, .buildkite/heartbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  filebeat: any of: filebeat/, .buildkite/filebeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools, libbeat/**, testing/**
  beats-xpack-filebeat: any of: x-pack/filebeat/, x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.filebeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-dockerlogbeat: any of: x-pack/dockerlogbeat/, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, .buildkite/hooks/, .buildkite/scripts, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-metricbeat: any of: metricbeat/, .buildkite/metricbeat/, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-metricbeat: any of: x-pack/metricbeat/, x-pack/libbeat/common/aws, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, .buildkite/scripts/**, .buildkite/hooks/**, libbeat/**, x-pack/libbeat/**, go.mod, pytest.ini, dev-tools/, libbeat/**, testing/**
  beats-xpack-winlogbeat: any of: x-pack/winlogbeat/, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**
  deploy-k8s: any of: .buildkite/deploy/kubernetes/**, .buildkite/hooks/, .buildkite/scripts, deploy/kubernetes/**, libbeat/docs/version.asciidoc
  beats-libbeat: any of: libbeat/, .buildkite/libbeat/pipeline.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, testing/
  beats-xpack-libbeat: any of: x-pack/libbeat/, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-xpack-auditbeat: any of: x-pack/auditbeat/, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-heartbeat: any of: x-pack/heartbeat/, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-xpack-packetbeat: any of: x-pack/packetbeat/, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/, x-pack/libbeat/
  beats-winlogbeat: any of: winlogbeat/, .buildkite/winlogbeat/pipeline.winlogbeat.yml, .buildkite/scripts, .buildkite/hooks, go.mod, pytest.ini, dev-tools/, libbeat/, testing/
  beats-packetbeat: any of: packetbeat/, .buildkite/packetbeat/pipeline.packetbeat.yml, .buildkite/scripts/, .buildkite/hooks/, go.mod, pytest.ini, dev-tools/, libbeat/, testing/

Known issue 8.15.x field limit reached on Metricbeat
  CHANGELOG.asciidoc
Due: none

[AWS] [EC2] enrich events with EC2 tags with add_cloud_metadata processor (#41477)
  CHANGELOG.next.asciidoc
  libbeat/processors/add_cloud_metadata/docs/add_cloud_metadata.asciidoc
  libbeat/processors/add_cloud_metadata/provider_aws_ec2.go
  libbeat/processors/add_cloud_metadata/provider_aws_ec2_test.go
  libbeat/processors/add_cloud_metadata/providers.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

added macos steps to concurrency groups
  .buildkite/auditbeat/auditbeat-pipeline.yml
  .buildkite/filebeat/filebeat-pipeline.yml
  .buildkite/heartbeat/heartbeat-pipeline.yml
  .buildkite/metricbeat/pipeline.yml
  .buildkite/packetbeat/pipeline.packetbeat.yml
  .buildkite/x-pack/pipeline.xpack.auditbeat.yml
  .buildkite/x-pack/pipeline.xpack.filebeat.yml
  .buildkite/x-pack/pipeline.xpack.heartbeat.yml
  .buildkite/x-pack/pipeline.xpack.metricbeat.yml
  .buildkite/x-pack/pipeline.xpack.osquerybeat.yml
  .buildkite/x-pack/pipeline.xpack.packetbeat.yml
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-packetbeat

docs: Close changelog for 8.16.0
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Update catalog-info file with correct system property
  catalog-info.yaml
Due: none

Update CHANGELOG.asciidoc
  CHANGELOG.asciidoc
Due: none

flip case statements in 'metricsetWrapper.handleFetchError()'
  metricbeat/mb/module/wrapper.go
Due: beats-metricbeat

added concurrency groups
  .buildkite/auditbeat/auditbeat-pipeline.yml
  .buildkite/filebeat/filebeat-pipeline.yml
  .buildkite/heartbeat/heartbeat-pipeline.yml
  .buildkite/metricbeat/pipeline.yml
  .buildkite/packetbeat/pipeline.packetbeat.yml
  .buildkite/x-pack/pipeline.xpack.auditbeat.yml
  .buildkite/x-pack/pipeline.xpack.filebeat.yml
  .buildkite/x-pack/pipeline.xpack.heartbeat.yml
  .buildkite/x-pack/pipeline.xpack.metricbeat.yml
  .buildkite/x-pack/pipeline.xpack.osquerybeat.yml
  .buildkite/x-pack/pipeline.xpack.packetbeat.yml
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-packetbeat

use math/rand/v2
  filebeat/input/v2/compat/compat.go
Due: filebeat

log getDevicePerformanceScores errors
  x-pack/metricbeat/module/meraki/device_health/device_health.go
  x-pack/metricbeat/module/meraki/device_health/devices.go
Due: beats-xpack-metricbeat

add changelog entry
  CHANGELOG.next.asciidoc
Due: none

fix PR id
  CHANGELOG.next.asciidoc
Due: none

update elastic-agent-system-metrics (#41524)
  NOTICE.txt
  go.mod
  go.sum
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

jenkins: remove references to the Jenkins pipelines and old packaging
  .ci/scripts/docker-services-cleanup.sh
  .ci/scripts/get-vendor-dependencies.sh
  .ci/scripts/install-docker-compose.sh
  .ci/scripts/install-docker-services.sh
  .ci/scripts/install-go.bat
  .ci/scripts/install-go.sh
  .ci/scripts/install-kind.sh
  .ci/scripts/install-kubectl.sh
  .ci/scripts/install-tools.bat
  .ci/scripts/install-tools.sh
  .ci/scripts/kind-setup.sh
  .ci/scripts/minikube-setup.sh
  .ci/scripts/pre_archive_test.py
  .ci/scripts/prepare-release-manager.sh
  Makefile
  auditbeat/Jenkinsfile.yml
  deploy/kubernetes/Jenkinsfile.yml
  dev-tools/common.bash
  dev-tools/run_with_go_ver
  filebeat/Jenkinsfile.yml
  heartbeat/Jenkinsfile.yml
  libbeat/Jenkinsfile.yml
  metricbeat/Jenkinsfile.yml
  packetbeat/Jenkinsfile.yml
  winlogbeat/Jenkinsfile.yml
  x-pack/agentbeat/Jenkinsfile.yml
  x-pack/auditbeat/Jenkinsfile.yml
  x-pack/dockerlogbeat/Jenkinsfile.yml
  x-pack/functionbeat/Jenkinsfile.yml
  x-pack/heartbeat/Jenkinsfile.yml
  x-pack/libbeat/Jenkinsfile.yml
  x-pack/osquerybeat/Jenkinsfile.yml
  x-pack/packetbeat/Jenkinsfile.yml
  x-pack/winlogbeat/Jenkinsfile.yml
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, deploy-k8s, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Select ingest pipeline by input.type and small fixes
  filebeat/module/system/auth/ingest/entrypoint.yml
  filebeat/module/system/auth/ingest/journald.yml
  filebeat/module/system/syslog/ingest/entrypoint.yml
  filebeat/module/system/syslog/ingest/journald.yml
  filebeat/module/system/syslog/test/debian-12.journal-expected.json
Due: filebeat

add events of different sizes
  libbeat/esleg/eslegclient/enc.go
  libbeat/internal/testutil/util.go
  libbeat/outputs/elasticsearch/client_test.go
  libbeat/processors/actions/lowercase_test.go
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

go.mod changes
  go.mod
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

fix merge conflicts
  go.mod
  go.sum
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-xpack-dockerlogbeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-winlogbeat, beats-libbeat, beats-xpack-libbeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-winlogbeat, beats-packetbeat

Format embedded messages in the experimental api
  CHANGELOG.next.asciidoc
  winlogbeat/sys/wineventlog/metadata_store.go
  winlogbeat/sys/wineventlog/renderer.go
  winlogbeat/sys/wineventlog/renderer_test.go
  winlogbeat/sys/wineventlog/testdata/4738.evtx
  winlogbeat/sys/wineventlog/util_test.go
Due: beats-winlogbeat

Safer assert
  winlogbeat/sys/wineventlog/publisher_metadata.go
Due: beats-winlogbeat

Change ResourceConfigurations.Metrics to a map
  x-pack/metricbeat/module/azure/azure.go
  x-pack/metricbeat/module/azure/client.go
  x-pack/metricbeat/module/azure/resources.go
Due: beats-xpack-metricbeat

Test exp api include xml with same test suite
  winlogbeat/eventlog/wineventlog_test.go
  winlogbeat/sys/wineventlog/renderer.go
Due: beats-winlogbeat

Check for nil metadata
  winlogbeat/sys/wineventlog/metadata_store.go
Due: beats-winlogbeat

Support of servicelabel config
  x-pack/metricbeat/module/gcp/metrics/_meta/docs.asciidoc
  x-pack/metricbeat/module/gcp/metrics/metrics_requester.go
  x-pack/metricbeat/module/gcp/metrics/metrics_requester_test.go
  x-pack/metricbeat/module/gcp/metrics/metricset.go
Due: beats-xpack-metricbeat

[chore][metricbeat/test_diskio]: fix CI failure (#41580)
  metricbeat/module/system/test_system.py
  metricbeat/tests/system/metricbeat.py
Due: beats-metricbeat

Update x-pack/metricbeat/module/meraki/device_health/devices.go
  x-pack/metricbeat/module/meraki/device_health/devices.go
Due: beats-xpack-metricbeat

added macos steps to concurrency groups (#41616)
  .buildkite/auditbeat/auditbeat-pipeline.yml
  .buildkite/filebeat/filebeat-pipeline.yml
  .buildkite/heartbeat/heartbeat-pipeline.yml
  .buildkite/metricbeat/pipeline.yml
  .buildkite/packetbeat/pipeline.packetbeat.yml
  .buildkite/x-pack/pipeline.xpack.auditbeat.yml
  .buildkite/x-pack/pipeline.xpack.filebeat.yml
  .buildkite/x-pack/pipeline.xpack.heartbeat.yml
  .buildkite/x-pack/pipeline.xpack.metricbeat.yml
  .buildkite/x-pack/pipeline.xpack.osquerybeat.yml
  .buildkite/x-pack/pipeline.xpack.packetbeat.yml
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-packetbeat

added concurrency groups (#41619)
  .buildkite/auditbeat/auditbeat-pipeline.yml
  .buildkite/filebeat/filebeat-pipeline.yml
  .buildkite/heartbeat/heartbeat-pipeline.yml
  .buildkite/metricbeat/pipeline.yml
  .buildkite/packetbeat/pipeline.packetbeat.yml
  .buildkite/x-pack/pipeline.xpack.auditbeat.yml
  .buildkite/x-pack/pipeline.xpack.filebeat.yml
  .buildkite/x-pack/pipeline.xpack.heartbeat.yml
  .buildkite/x-pack/pipeline.xpack.metricbeat.yml
  .buildkite/x-pack/pipeline.xpack.osquerybeat.yml
  .buildkite/x-pack/pipeline.xpack.packetbeat.yml
Due: auditbeat, heartbeat, filebeat, beats-xpack-filebeat, beats-metricbeat, beats-xpack-metricbeat, beats-xpack-osquerybeat, beats-xpack-auditbeat, beats-xpack-heartbeat, beats-xpack-packetbeat, beats-packetbeat

Packaging pipeline mem bump
  .buildkite/packaging.pipeline.yml
Due: none

Add changelog entry
  CHANGELOG.next.asciidoc
Due: none

Disable some branch checks to test on PR
  .buildkite/packaging.pipeline.yml
Due: none

Reenable branch checks
  .buildkite/packaging.pipeline.yml
Due: none

Packaging pipeline mem bump (#41633)
  .buildkite/packaging.pipeline.yml
Due: none

Update changelog
  CHANGELOG.next.asciidoc
Due: none

Add test cases for Access Point ARN
  x-pack/filebeat/input/awss3/config_test.go
  x-pack/filebeat/input/awss3/input_integration_test.go
Due: beats-xpack-filebeat
