Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Deploy/K8S, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Path conditions:
  Trigger Auditbeat: any of: auditbeat/**, .buildkite/auditbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Heartbeat: any of: heartbeat/**, .buildkite/heartbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Filebeat: any of: filebeat/**, .buildkite/filebeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/filebeat: any of: filebeat/**, x-pack/filebeat/**, .buildkite/x-pack/pipeline.xpack.filebeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/dockerlogbeat: any of: x-pack/dockerlogbeat/**, .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Metricbeat: any of: metricbeat/**, .buildkite/metricbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/metricbeat: any of: metricbeat/**, x-pack/metricbeat/**, .buildkite/x-pack/pipeline.xpack.metricbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**, .buildkite/deploy/docker/docker-compose.yml
  Trigger x-pack/osquerybeat: any of: x-pack/osquerybeat/**, .buildkite/x-pack/pipeline.xpack.osquerybeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/winlogbeat: any of: winlogbeat/**, x-pack/winlogbeat/**, .buildkite/x-pack/pipeline.xpack.winlogbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Deploy/K8S: any of: deploy/kubernetes/**, metricbeat/module/kubernetes/**, .go-version, libbeat/docs/version.asciidoc, .buildkite/deploy/kubernetes/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Libbeat: any of: libbeat/**, .buildkite/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/libbeat: any of: x-pack/libbeat/**, .buildkite/x-pack/pipeline.xpack.libbeat.yml, .go-version, libbeat/**, go.mod, pytest.ini, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/otel: any of: x-pack/otel/**, .buildkite/x-pack/pipeline.xpack.otel.yml, .go-version, go.mod, dev-tools/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/auditbeat: any of: auditbeat/**, x-pack/auditbeat/**, .buildkite/x-pack/pipeline.xpack.auditbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/heartbeat: any of: heartbeat/**, x-pack/heartbeat/**, .buildkite/x-pack/pipeline.xpack.heartbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger x-pack/packetbeat: any of: packetbeat/**, x-pack/packetbeat/**, .buildkite/x-pack/pipeline.xpack.packetbeat.yml, x-pack/libbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Winlogbeat: any of: winlogbeat/**, .buildkite/winlogbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Packetbeat: any of: packetbeat/**, .buildkite/packetbeat/**, .go-version, go.mod, pytest.ini, dev-tools/**, libbeat/**, testing/**, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**

moved test file generation
  filebeat/testing/integration/base_test.go
  filebeat/testing/integration/crawler_test.go
  filebeat/testing/integration/files.go
  filebeat/testing/integration/input_test.go
  filebeat/testing/integration/json_test.go
  filebeat/testing/integration/log_generator.go
  filebeat/testing/integration/processors_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

remove time.Sleep tests
  filebeat/testing/integration/crawler_test.go
  filebeat/testing/integration/input_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

remove WaitUntil
  filebeat/testing/integration/crawler_test.go
  filebeat/testing/integration/input_test.go
  filebeat/testing/integration/wait.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

fix formatting
  filebeat/testing/integration/crawler_test.go
  filebeat/testing/integration/input_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Only start the registrar when needed instead of always.
  filebeat/beater/channels.go
  filebeat/beater/filebeat.go
  filebeat/input/runnerfactory.go
  filebeat/registrar/registrar.go
  filebeat/registrar/registrar_lazy_test.go
Due: Trigger Filebeat, Trigger x-pack/filebeat

Enable authentication in tests using Docker compose
  metricbeat/docker-compose.yml
  metricbeat/module/kibana/mtest/testing.go
  metricbeat/module/kibana/stats/stats_integration_test.go
  x-pack/metricbeat/docker-compose.yml
Due: Trigger Metricbeat, Trigger x-pack/metricbeat

Filebeat remove python phase 1 (#52524)
  filebeat/testing/integration/base_test.go
  filebeat/testing/integration/config.go
  filebeat/testing/integration/crawler_test.go
  filebeat/testing/integration/helper.go
  filebeat/testing/integration/input_test.go
  filebeat/testing/integration/json_test.go
  filebeat/testing/integration/log_generator.go
  filebeat/testing/integration/processors_test.go
  filebeat/tests/system/test_base.py
  filebeat/tests/system/test_crawler.py
  filebeat/tests/system/test_input.py
  filebeat/tests/system/test_json.py
  filebeat/tests/system/test_processors.py
Due: Trigger Filebeat, Trigger x-pack/filebeat

add string type to event.created conversion (#52604)
  libbeat/otel/otelconsumer/otelconsumer.go
  libbeat/otel/otelconsumer/otelconsumer_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Fix healthcheck for ES and get_version in python tests
  metricbeat/docker-compose.yml
  metricbeat/module/kibana/test_kibana.py
Due: Trigger Metricbeat, Trigger x-pack/metricbeat

add changelog fragment
  changelog/fragments/1786744713-updatecli_main_bump-golang-version.yaml
Due: none

fix PR URL
  changelog/fragments/1786744713-updatecli_main_bump-golang-version.yaml
Due: none

Fix more python tests
  metricbeat/module/kibana/test_kibana.py
Due: Trigger Metricbeat, Trigger x-pack/metricbeat

Add known issue for Filestream take over
  CHANGELOG.asciidoc
  changelog/8.19.10.asciidoc
  changelog/8.19.11.asciidoc
  changelog/8.19.12.asciidoc
  changelog/8.19.13.asciidoc
  changelog/8.19.14.asciidoc
  changelog/8.19.15.asciidoc
  changelog/8.19.16.asciidoc
  changelog/8.19.17.asciidoc
  changelog/8.19.18.asciidoc
  changelog/8.19.19.asciidoc
  changelog/8.19.20.asciidoc
  changelog/8.19.6.asciidoc
  changelog/8.19.7.asciidoc
  changelog/8.19.8.asciidoc
  changelog/8.19.9.asciidoc
Due: none

Embed Elasticsearch test credentials in Docker image
  metricbeat/docker-compose.yml
  metricbeat/module/elasticsearch/_meta/Dockerfile
Due: Trigger Metricbeat, Trigger x-pack/metricbeat

Add changelog fragment for user facing typo fixes
  changelog/fragments/1786875657-fix-user-facing-typos-52449.yaml
Due: none

Add changelog fragment for docs and validation typo fixes
  changelog/fragments/1786875800-fix-docs-typos-51579.yaml
Due: none

filebeat: correct the outdated README description and doc links (#52636)
  filebeat/README.md
Due: Trigger Filebeat, Trigger x-pack/filebeat

Add sections to RFC comment
  libbeat/processors/translate_ldap_attribute/ldap_sspi_cbt_windows.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

packetbeat: make HTTP hide_keywords matching case-insensitive
  changelog/fragments/1786714344-packetbeat-http-hide-keywords-case-insensitive.yaml
  docs/reference/packetbeat/packetbeat-http-options.md
  packetbeat/protos/http/http.go
  packetbeat/protos/http/http_test.go
Due: Trigger x-pack/packetbeat, Trigger Packetbeat

Add authentication to the missing compose and tests
  metricbeat/docker-compose.yml
  metricbeat/module/elasticsearch/elasticsearch_integration_test.go
  metricbeat/module/elasticsearch/test_elasticsearch.py
  metricbeat/tests/system/test_base.py
  x-pack/metricbeat/docker-compose.yml
Due: Trigger Metricbeat, Trigger x-pack/metricbeat

fix merge conflicts
  libbeat/otel/otelconsumer/otelconsumer.go
  libbeat/otel/otelconsumer/otelconsumer_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

mage update
  metricbeat/module/elasticsearch/test_elasticsearch.py
Due: Trigger Metricbeat, Trigger x-pack/metricbeat

fix merge conflicts
  libbeat/otel/otelconsumer/otelconsumer.go
  libbeat/otel/otelconsumer/otelconsumer_test.go
  x-pack/libbeat/outputs/otelconsumer/otelconsumer.go
  x-pack/libbeat/outputs/otelconsumer/otelconsumer_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

[Heartbeat] Add allowScripts to generated browser project package.json
  changelog/fragments/1786990556-heartbeat-project-allow-scripts.yaml
  x-pack/heartbeat/monitors/browser/source/project.go
  x-pack/heartbeat/monitors/browser/source/project_package_json_test.go
Due: Trigger x-pack/heartbeat

add support for `raw_index` mapping for otelconsumer
  libbeat/otel/otelconsumer/otelconsumer.go
  libbeat/otel/otelconsumer/otelconsumer_test.go
  x-pack/filebeat/tests/integration/otel_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

add changelog
  changelog/fragments/1786994745-otelconsumer-propogate-raw_index.yaml
Due: none

Fix merge conflicts
  metricbeat/docker-compose.yml
  testing/environments/latest.yml
  x-pack/metricbeat/docker-compose.yml
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix conflicts
  NOTICE.txt
  go.mod
  go.sum
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/otel, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

fix linter issue
  x-pack/filebeat/tests/integration/otel_test.go
Due: Trigger x-pack/filebeat

Fix disk queue fill metrics int overflow
  libbeat/publisher/queue/diskqueue/core_loop.go
  libbeat/publisher/queue/diskqueue/metrics_blackbox_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Run only one iteration and move test to another file
  libbeat/publisher/queue/diskqueue/core_loop_test.go
  libbeat/publisher/queue/diskqueue/metrics_blackbox_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

Add changelog and known issue entries
  changelog/fragments/1786996795-fix-disk-queue-fill-metrics-after-blocked-publishes.yaml
  docs/release-notes/known-issues.md
Due: none

make check
  libbeat/publisher/queue/diskqueue/core_loop_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

switch when raw_index check is applied
  libbeat/otel/otelconsumer/otelconsumer.go
  x-pack/filebeat/tests/integration/otel_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat

packetbeat/npcap: log installer diagnostics on failure
  changelog/fragments/1787010547-npcap-log-installer-diagnostics.yaml
  packetbeat/npcap/npcap.go
Due: Trigger x-pack/packetbeat, Trigger Packetbeat

add support for `raw_index` mapping for otelconsumer (#52662)
  changelog/fragments/1786994745-otelconsumer-propogate-raw_index.yaml
  libbeat/otel/otelconsumer/otelconsumer.go
  libbeat/otel/otelconsumer/otelconsumer_test.go
  x-pack/filebeat/tests/integration/otel_test.go
Due: Trigger Auditbeat, Trigger Heartbeat, Trigger Filebeat, Trigger x-pack/filebeat, Trigger x-pack/dockerlogbeat, Trigger Metricbeat, Trigger x-pack/metricbeat, Trigger x-pack/osquerybeat, Trigger x-pack/winlogbeat, Trigger Libbeat, Trigger x-pack/libbeat, Trigger x-pack/auditbeat, Trigger x-pack/heartbeat, Trigger x-pack/packetbeat, Trigger Winlogbeat, Trigger Packetbeat
